/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

@import url("../../../icons/DefaultStylesheet.css");
@import url("control/DefaultStylesheet.css");
@import url("sidebar/DefaultStylesheet.css");
@import url("UIPopupAction/DefaultStylesheet.css");
@import url("UIDrivesBrowser/DefaultStylesheet.css");
@import url("UIJCRExplorer/DefaultStylesheet.css");

.UIPageDesktop .UIJCRExplorerPortlet {
  overflow: hidden;
}

.UIWindow .UIJCRExplorerPortlet {
	border: none;
	margin: auto;
}

.UIJCRExplorerPortlet {
	border: 1px solid #b7b7b7;
	margin: 5px;
	background: white;
}

.UIJCRExplorerPortlet .LeftCotainer {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 240px;
}

.UIJCRExplorerPortlet .RightCotainer {
	margin-left: 224px; /* orientation=lt */
	margin-right: 224px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UIFormGrid {
	width: 100%;
}

.UIJCRExplorerPortlet .UIPreferencesForm {
  width: 500px;
  padding: 15px;
  border: none;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIPageIterator {
	width: auto;
	padding-right: 10px; /* orientation=lt */
	padding-left: 10px; /* orientation=rt */
	margin: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.UIJCRExplorerPortlet .UITabPane .UIFormWithTitle .HorizontalLayout {
	border: 1px solid #b7b7b7;
	border-top: none;
}

.UIVersionTreeList {
  margin: 6px 0px 16px 0px;
}

.UIVersionTreeList .UITrees {
	border: none;
}

.UIVersionTreeList .ItemIcon {
  width: 16px; height: 16px;
  margin: 3px auto 0px;
}

.UIVersionTreeList .UIGrid .EvenRow {
  background: #F5F5F5;
}

.UIVersionTreeList .UIGrid .OddRow {
  background: #F0F0F0;
}

.UIVersionTreeList .UIGrid td {
  padding: 0px 0px 0px 7px;
}

.UIVersionTreeList .UITrees .Node {
  padding-top: 0px;
  height: 23px;
}

.UIVersionTreeList .UIGrid .FieldLabel {
  width: 100px;
}

.UIVersionTreeList .UIGrid .SelectRow {
  background: #cedeed;
  font-weight: bold;
}

.UIVersionTreeList .UITrees .Node .ExpandIcon {
  height: 20px;
  background-position: left bottom; /* orientation=lt */
  background-position: right bottom; /* orientation=rt */
  line-height: 24px;
}

.UIVersionTreeList .UITrees .Node .CollapseIcon {
  height: 20px;
  background-position: left bottom; /* orientation=lt */
  background-position: right bottom; /* orientation=rt */
  line-height: 24px;
}

.UIPublicationContainer .State input.radio {
	margin: 0px 7px;
}

.UIPublicationContainer .UIFormGrid .FieldLabel {
  width: 100px;
  padding: 6px 6px 6px 16px;
  text-align: left; /* orientation=lt */
  text-align: right; /* orientation=rt */
}

/*******************************UIDocumentFormController****************************************/

.UIDocumentFormController {
	padding: 10px;
}

.EditFormController {
	padding: 10px;
}
