/**
 * Created by The eXo Platform SAS
 * Modified : Vu Duy Tu
 *          duytucntt@gmail.com
 * DEC 26, 2006
 * version: $Id$
 **/
 
.UICBSearchForm { 
  background: #efefef;
  border: solid 1px #b7b7b7 ;
  margin: 2px 0px 5px 0px;  
}

.UICBSearchForm .SearchIcon {
  float: left;
  width: 24px; height: 24px;
  background: url('/eXoResources/icons/24x24/DefaultSkin/QuickSearch.gif') no-repeat ;
  margin-left: 10px;
}

.UICBSearchForm .SearchLabel {
  float: left;
  font-size: 11px; font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.UICBSearchForm form{
  margin: 0px; padding: 0px;
}

.UICBSearchForm .HorizontalLayout {
  height: 25px; line-height: 20px;
  border: solid 2px #ffffff ;
  padding: 3px 0px 2px 0px;
}

.UICBSearchForm .HorizontalLayout .FieldContainer {
  float:left;
}

.UICBSearchForm .HorizontalLayout .Input {
  padding-left: 5px;
  margin: 0px;
}

.UICBSearchForm .HorizontalLayout label {
  float:left;
	text-align: right; font-size: 11px;
	margin: 0px 5px 0px 10px; 
}

.UICBSearchForm .HorizontalLayout .Nolabel {
  float:left;
  width: 0px ;
	text-align: left;
	margin: 0px 0px ;
}

.UICBSearchForm a {
  font-size: 12px; color: black;
}

.UICBSearchForm a:hover{
  color: blue;
}

.UICBSearchForm select {
  width: 90px;
  padding-left: 4px;
}