/**
 * Created by The eXo Platform SAS
 * Modified : Vu Duy Tu
 *          duytucntt@gmail.com
 * DEC 26, 2006
 * version: $Id$
 **/
 
 
.UICBSearchForm {
  
  border: solid 1px #b7b7b7 ;
  background: #efefef;
  margin: 2px 0px 5px 0px;  
}

.UICBSearchForm .HorizontalLayout .FieldContainer a{
  color: #058ee6;
  font-size: 11px; font-weight: bold;
}

.UICBSearchForm .HorizontalLayout .FieldContainer a:hover{
  text-decoration: underline;
}

.UICBSearchForm .SearchIcon {
 float: left;
 width: 24px; height: 24px;
 margin-left: 10px;
 background: url('../DefaultSkin/background/CBSearchButton.gif') no-repeat ;
}

.UICBSearchForm form{
  margin: 0px;
  padding: 0px;
}

.UICBSearchForm .HorizontalLayout {
  border: solid 2px #ffffff ;
  padding: 3px 0px 2px 0px;
  line-height: 20px;
  height: 25px;
}

.UICBSearchForm .HorizontalLayout .FieldContainer {
  float:left;
}

.UICBSearchForm .HorizontalLayout .Input {
  padding-left: 5px;
  margin: 0px;
}

.UICBSearchForm .HorizontalLayout label {
  float:left;
	text-align: right;
	margin-right: 5px; margin-left: 10px;
	font-size: 11px;
}

.UICBSearchForm .HorizontalLayout .Nolabel {
  float:left;
  width: 0px ;
	text-align: left;
	margin: 0px 0px ;
}

.UICBSearchForm select {
  padding-left: 4px;
  width: 90px;
}