/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

@import url("../../../icons/DefaultStylesheet.css");
@import url("../../../ExoEditor/MyEditor.css");

.UIPageDesktop .UIDialogPortlet {
  overflow: hidden;
}

.UIDialogPortlet .UIFormWithTitle {
  margin-top: 0px;
  margin-bottom: 0px;
} 

.UIDialogPortlet .UITree .TreeContainer .NodeSelected {
  height: 20px ; line-height: 20px;
  font-weight: bold; font-size: 11px;
  background: #8eeaaf ;
}

.UIDialogPortlet .UIFormWithTitle .HorizontalLayout .FieldContainer .MultiValueContainer {
  margin-bottom: 10px ;
  margin-left: 140px ;
}

.UIPopupMessages .UIAction {
  width: 100px;
}

.UIDialogPortlet .UIAction {
	width: 165px;
	padding-left: 20px;
}

.UIDialogPortlet .UITabPane .TabPaneContent {
  width: 97%;
  margin: auto;
}

.UIDialogPortlet .TabPaneContent .UITabContentContainer {
  border: none;
}

.UIDialogPortlet .TabPaneContent .UITabContentContainer label{
  width: 150px;
}

.UIDialogPortlet .UITabContentContainer .FieldContainer{
  margin: auto;
}

.UIDialogPortlet .UIFormWithTitle {
  border: 1px solid #e1e1e1;
  width: auto;
}

.UIDialogPortlet .UIFormWithTitle .HorizontalLayout {
  padding-bottom: 10px;
}

.UIDialogPortlet .UIEditModeDocumentType {
  padding-bottom: 3px; 
}

.UIDialogPortlet .UIEditModeDocumentType label{
  width: 200px;
  text-align: right;
}

.UIDialogPortlet .UIFormWithTitle .FieldContainer label {
  padding: 0px 3px 0px 0px;
}

.UIDialogPortlet .UIFormWithTitle .UIAction {
  padding: 12px 0px 0px 65px;
}

.UIDialogPortlet .TabPaneContent .UIFormWithTitle {
  width: auto;
}

.UIDialogPortlet .TabPaneContent {
  margin: 5px;
}