/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

@import url("../../../icons/DefaultStylesheet.css");
@import url("../../../ExoEditor/MyEditor.css");

.UIPageDesktop .UIDialogPortlet {
  overflow: hidden;
}

.UIDialogPortlet .UIFormWithTitle {
  margin-top: 0px;
  margin-bottom: 0px;
} 

.UIDialogPortlet .UITree .TreeContainer .NodeSelected {
  height: 20px ; line-height: 20px;
  font-weight: bold; font-size: 11px;
  background: #8eeaaf ;
}

.UIDialogPortlet .UIFormWithTitle .HorizontalLayout .FieldContainer .MultiValueContainer {
  margin-bottom: 10px ;
  margin-left: 158px ;
}

.UIDialogPortlet .UITabPane .TabPaneContent .WorkingAreaWithHelp .UITabContentContainer  {
  border: none;
}

.UIPopupMessages .UIAction {
  width: 100px;
}

.UIDialogPortlet .UIAction {
	width: 165px;
	padding-left: 20px;
}

.UIDialogPortlet .UITabPane .TabPaneContent {
  width: 600px;
  margin: auto;
  padding-top: 10px;
}

.UIDialogPortlet .TabPaneContent .UITabContentContainer {
  border: none;
}

.UIDialogPortlet .TabPaneContent .UITabContentContainer label{
  width: 150px;
}

.UIDialogPortlet .UITabContentContainer .FieldContainer{
  margin: auto;
}

.UIDialogPortlet .UIFormWithTitle {
  width: 650px;
  margin: 15px auto;
}

.UIDialogPortlet .UIFormWithTitle .FieldContainer input {
	border: solid 1px #b7b7b7;
	padding-left: 3px;
}

.UIDialogPortlet .UIFormWithTitle .FieldContainer select {
	border: solid 1px #b7b7b7;
	padding-left: 3px;
}

.UIDialogPortlet .UIFormWithTitle .FieldContainer textarea {
	border: solid 1px #b7b7b7;
	padding: 3px;
}

.UIDialogPortlet .UIFormWithTitle .FieldContainer .UploadIframe {
  margin-left: 9px;
}

.UIDialogPortlet .UIFormWithTitle .FieldContainer .ProgressBarFrame {
  margin: auto;
	width: 600px;
	padding: 0px;
}

.UIDialogPortlet .UIFormWithTitle .FieldContainer .ProgressBarFrame .SelectFileLabel{
  padding: 0px 3px 0px 0px;
  width: 130px;
  margin-right: 5px;
}

.UIDialogPortlet .UIFormWithTitle .FieldContainer .SelectFileFrame {
	margin: auto;
	width: 600px;
}

.UIDialogPortlet .UIFormWithTitle .FieldContainer .SelectFileFrame .SelectFileLabel {
  padding: 0px;
  width: 130px;
  margin-right: 5px;
}

.UIDialogPortlet .UIFormWithTitle .FieldContainer .MyEditor{
  margin-left: 7px;
}

.UIDialogPortlet .UIFormWithTitle .HorizontalLayout {
  padding-bottom: 10px;
}

.UIDialogPortlet .UIEditModeConfiguration .UIFormWithTitle .HorizontalLayout {
  width: 500px;
  margin: auto;
  border: none;
}

.UIDialogPortlet .UIEditModeConfiguration .UIFormWithTitle .FieldContainer label {
  width: 120px;
}

.UIDialogPortlet .UIEditModeConfiguration .UIFormWithTitle .HorizontalLayout .UIAction {
  padding-top: 10px;
}

.UIDialogPortlet .UIJCRBrowser {
  padding: 10px 0px 0px 10px;
}

.UIDialogPortlet .UIJCRBrowser .InnerExplorerTree .UITree .TreeContainer {
  border: none;
} 

.UIDialogPortlet .UIEditModeDocumentType {
  padding-bottom: 3px; 
}

.UIDialogPortlet .UIEditModeDocumentType label{
  width: 200px;
  text-align: right;
}

.UIDialogPortlet .UIFormWithTitle .FieldContainer label {
  padding: 0px 3px 0px 0px;
}

.UIDialogPortlet .UIFormWithTitle .UIAction {
  padding: 12px 0px 0px 0px;
}

.UIDialogPortlet .TabPaneContent .UIFormWithTitle {
  width: auto;
}

.UIDialogPortlet .TabPaneContent {
  margin: 5px;
}

.UIDialogPortlet .UIForm .HorizontalLayout .UIFormInputSet {
  padding-bottom: 0px;
}
