/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

/*############################## -- Begin UIJCRExplorer -- ##############################*/
.UIJCRExplorerPortlet .UIJCRExplorer {
  border: solid 1px #aeaeae;
  background: white;
  width: 99.8%; /* Bug on IE */
}

.UIJCRExplorerPortlet .UIJCRExplorer .Separator {
  width: 2px;
  background: url('DefaultSkin/background/LineDecorator2x1.gif') repeat-y center center;
}

/*############################## -- End UIJCRExplorer -- ##############################*/

.UIJCRExplorerPortlet .WorkingAreaWithHelp {
  width: 97%;
  margin: 0px auto;
}

.UIJCRExplorerPortlet .UIFormWithTitle {
  width: 95%;
  margin: 15px auto;
  border: solid 1px #b7b7b7;
}

.UIJCRExplorerPortlet .WorkingAreaWithHelp .UIFormWithTitle {
  width: 99.6%;
  margin: 0px auto;
  background: #efefef;
  border: solid 1px #B7B7B7;
  border-top: none;
}

.UIJCRExplorerPortlet .UICompareExactlyForm .UIFormWithTitle {
  margin: 0px auto;
  background: #efefef;
  border: solid 1px #939393;
  width: 97%;
  margin: 10px 0px 10px 5px;
}

.UIJCRExplorerPortlet .UIFormGrid input {
  padding-left: 3px;
  border: solid 1px #b7b7b7;
}

.UIJCRExplorerPortlet .UIFormGrid textarea {
  padding: 3px;
  border: solid 1px #b7b7b7;
}

.UIJCRExplorerPortlet .UIFormGrid select {
  padding-left: 3px;
  border: solid 1px #b7b7b7;
}

.UIJCRExplorerPortlet .UIFormGrid .FieldComponent .ActionIcon {
  margin: 0px 5px;
}

.UIJCRExplorerPortlet .UITabPane .WorkingAreaWithHelp .UITabContentContainer .UITabContent  {
	border: none;
}

.UIJCRExplorerPortlet .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td {
 	padding: 4px 8px 4px 0px;
}

.UIJCRExplorerPortlet .UIForm .HorizontalLayout .UIFormInputSet {
	width: 100%;
}
/*############################## -- Begin UIDocumentWorkspace -- ##############################*/

.UIJCRExplorerPortlet .UIListView .UIGridControl {
  float: left;      
  font-size: 11px ;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl th {
  line-height: 19px;
  text-align: left;
  font-size: 11px ;
  padding: 0px 10px;
  border: solid 1px #b7b7b7;
  border-top: none; border-left: none;
  font-weight: normal;
  background: url('DefaultSkin/background/ThGridRepeatBg1x19.gif') repeat-x center;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl .OverHeader {
  background: url('DefaultSkin/background/OverThGridRepeatBg1x19.gif') repeat-x center;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl td {
  line-height: 24px;
  padding: 0px 5px;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl .HeaderLabel {
  float: left;
  font-size: 11px ;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl .SortButton {
  float: left;
  margin: 2px 5px 0px 2px;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl .Icon16x16 {
  float: left;
  margin: 3px 5px 0px 2px;
  width: 16px; height: 16px;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl .NodeLabel {
  padding-left: 5px;
  color: #058ee9;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl .NodeLabel a {
  color: #0766e7;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl .NodeLabel a:hover{
  color: #fb8404;
}

/*############################## -- Begin MenuPopup -- ##############################*/

.UIJCRExplorerPortlet  .UIActionListContainer .UIFormWithTitle  {
  margin: 10px auto;
  width: 95%;
  border: none;
}

.UIJCRExplorerPortlet  .UIActionListContainer .UIFormGrid input {
  float: left;
}

.UIJCRExplorerPortlet .UIMenuPopup {
  height: 23px;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent {
  border: solid 1px #6a6a6b;
  background-color: white;
  width: 150px;
  position: absolute;
  display: none;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .SelectContentContainer {
  border: solid 1px #b7b7b7;
  background-color: #f4f4f4;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .NormalItem {
  clear: both;
  line-height: 30px;
  cursor: pointer;
  margin-bottom: 2px;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .SelectedItem {
  clear: both;
  line-height: 30px;
  cursor: pointer;
  margin-bottom: 2px;
  background: #d6ddef;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .SelectedNav {
  line-height: 30px;
  cursor: pointer;
  margin-bottom: 2px;
  background: #d6ddef;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .ItemIcon {
  float: left;
  margin: 6px 6px 3px 6px;
  width: 16px;
  height:16px;
}

.UIJCRExplorerPortlet .UIUploadContent .ItemIcon {
  float: left;
  width: 16px;
  height:16px;
  margin: 0px 6px 3px 6px;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .ItemLabel {
  font-size: 11px;
  margin-left: 10px;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .SeparatorLine {
  margin: 5px;
  background: #919192;
  height: 1px;
}

.UIJCRExplorerPortlet .UIMenuPopup .SubMenu {
  margin-left: 130px ;
  background: #ffffff ;
}

.UIJCRExplorerPortlet .UIMenuPopup .MenuItemContainer {
  padding-left: 10px ;
}
/*############################## -- End UIMenuPopup   -- ##############################*/
.UIJCRExplorerPortlet .UIThumbnailsView {
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconsContainer {
  width: auto;
  margin: auto;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconBox {
  margin: 15px;
  float: left;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconContainer {
  width: 80px;
  height: 70px;
  border: solid 1px #eeeeee;
  background: #f8f8f8;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIcon {
  width: 50px;
  height: 50px;
  margin: 9px auto 0px auto;
}

.UIJCRExplorerPortlet .UIThumbnailsView .Icon48x48 {
  width: 48px;
  height: 48px;
  margin: auto;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconLabel {
  text-align:center;
  width: 80px;
  line-height: 18px;
  font-size: 11px;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconLabel a {
  color: #000000;
  text-align:center;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconLabel a:hover {
  color: blue;
}

/*############################## -- End UIThumbnailsView -- ##############################*/

.UIJCRExplorerPortlet .UIJCRExplorer .UISearchContainer .UITabPane .UIGrid td {
	padding: 4px 3px 0px 5px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UISearchContainer .UITabContent .UISearchResult {
	width: 97%;
	margin: auto;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIDocumentWorkspace .UISearchResult {
	padding: 10px;
}

/*############################## -- BEGIN UIDocumentInfo -- ##############################*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIDocumentWorkspace .TitleBG {
	height: 18px;
  background: url('/ecm/skin/images/event/EventFrameBG.gif') repeat-x;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIDocumentWorkspace .HeaderBG {
  background: url('/ecm/skin/images/event/EventFrameBG.gif') repeat-x; 
  margin-bottom: 1px;
  padding: 0px 5px 0px 5px; 
  height: 18px;
  border: solid 1px #bdbdbd;
  border-bottom: none;
}

/*############################## -- END UIDocumentInfo -- ##############################*/

/*===========================Folder Form=====================*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIFolderForm {
	padding: 10px 0px;
	width: 560px;
	margin: auto;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIFolderForm .UIAction{
	width: 160px;
}

/*===========================DocumentFormController=====================*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIDocumentFormController {
	padding: 10px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIDocumentFormController .UIAction {
	width: 150px;
	padding: 12px 70px 10px 0px;
}

.UIJCRExplorerPortlet .UIDocumentFormController .TabPaneContent .UITabContentContainer {
  border: none;
}

.UIJCRExplorerPortlet .UIDocumentFormController .UIFormWithTitle {
  margin-top: 5px;
  background: #efefef;
}

.UIJCRExplorerPortlet .UIDocumentFormController .TabPaneContent .UIFormWithTitle {
  width: auto;
}

.UIJCRExplorerPortlet .UIDocumentFormController .TabPaneContent {
  margin: 5px;
}

.UIJCRExplorerPortlet .UIDocumentFormController .UIFormUploadInput .ProgressBarFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIJCRExplorerPortlet .UIDocumentFormController .UIFormUploadInput .SelectFileFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIJCRExplorerPortlet .UIDocumentFormController .UIFormUploadInput .FileName {
	width: 230px;	
	overflow: hidden;
}

.UIJCRExplorerPortlet .UITabPane .TabPaneContent .WorkingAreaWithHelp .UITabContentContainer {
  border: solid 1px #939393;
  border-top: none;
}

.UIJCRExplorerPortlet .UIDocumentFormController .UITabPane .TabPaneContent .WorkingAreaWithHelp .UITabContentContainer {
  border: none;
  background: #efefef;
}

.UIJCRExplorerPortlet .WorkingAreaWithHelp .UIFormWithTitle .HorizontalLayout .UITabContentContainer {
  border: none;
  background: #efefef;
}

.UIJCRExplorerPortlet .UIDocumentFormController .UITabPane .WorkingAreaWithHelp .UITabContentContainer td.FieldLabel {
  width: 160px;
}

.UIJCRExplorerPortlet .UIDocumentFormController .UITabPane .WorkingAreaWithHelp .UITabContentContainer .UIAction {
  width: 150px;
	padding: 12px 0px 10px 20px;
}

/*=============================UIWatchDocumentForm=======================*/

.UIJCRExplorerPortlet .UIWatchDocumentForm {
  padding: 10px 0px;
  width: 550px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIWatchDocumentForm .FormContainer {
  width: 450px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIWatchDocumentForm .UIAction {
  width: 160px;
  padding-left: 30px;
}

/*=============================UITaggingForm=======================*/

.UIJCRExplorerPortlet .UITaggingForm {
  padding: 10px 0px;
  width: 550px;
  margin: auto;
}

.UIJCRExplorerPortlet .UITaggingForm .UIAction {
  width: 170px;
  padding: 0px 0px 8px 10px;
}

/*==================================UIMultiLanguageForm==============================*/

.UIJCRExplorerPortlet .UIMultiLanguageForm .UIFormWithTitle .HorizontalLayout  {
  border: none;
}

.UIJCRExplorerPortlet .UIMultiLanguageForm .FormContainer {
  width: 500px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIMultiLanguageForm .UIAction {
  width: 240px;
  padding-left: 30px;
}

/*==================================UIVoteForm==============================*/

.UIJCRExplorerPortlet .UIVoteForm {
  padding: 8px;
}

.UIJCRExplorerPortlet .VoteFormContainer {
	padding-top: 8px;
  background: #f4f4f4 ;
  border: 1px solid #e1e1e1 ;
}

.UIJCRExplorerPortlet .VoteFormContainer .UIRatingInfoContainer {
  background: white ;
  width: 145px;
  padding: 2px 15px;
}

.UIJCRExplorerPortlet .UIVoteForm .NormalVote {
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIVoteForm .UIAction {
  width: 80px;
  padding-left: 13px;
}

/*===============================UILanguageTypeForm===================================*/

.UIJCRExplorerPortlet .UIAddLanguageContainer .UIAction {
  padding-left: 20px;
}

.UIJCRExplorerPortlet .UIAddLanguageContainer .UITabPane .TabPaneContent .WorkingAreaWithHelp .UITabContentContainer {
  border: none;
  background: #efefef;
}

.UIJCRExplorerPortlet .UIAddLanguageContainer .WorkingAreaWithHelp .UIFormWithTitle {
  width: auto;
  border: solid 1px #939393;
  border-top: none;
}

.UIJCRExplorerPortlet .UIAddLanguageContainer .UIUploadManager .UITabPane .TabPaneContent .WorkingAreaWithHelp .UITabContentContainer {
  border: solid 1px #939393;
  border-top: none;
}

.UIJCRExplorerPortlet .UIAddLanguageContainer .UIUploadManager .FormContainer .UIFormGrid{
  width: 500px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIAddLanguageContainer .UIUploadManager .UIFormWithTitle {
	border: none;
}

.UIJCRExplorerPortlet .UIAddLanguageContainer .UIFormWithTitle {
	border: solid 1px #939393;
}

.UIJCRExplorerPortlet .UIAddLanguageContainer .UILanguageTypeForm .UIFormWithTitle {
	border: solid 1px #939393;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.UIJCRExplorerPortlet .UIAddLanguageContainer .UILanguageTypeForm .UIFormWithTitle .UIFormGrid {
	width: 500px;
	margin: auto;
}

/*=============================UICommentForm=======================*/

.UIJCRExplorerPortlet .UICommentForm  {
  padding: 10px;
}

.UIJCRExplorerPortlet .UICommentForm .UIAction {
  width: 160px;
  padding-right: 50px;
}

/*================================UISimpleSearch=================================*/

.UIJCRExplorerPortlet .UISimpleSearch .HorizontalLayout .UIAction {
  width: 355px;
}

.UIJCRExplorerPortlet .UISimpleSearch .FormContainer {
  width: 500px;
  margin: auto;
}

/*================================UIJCRAdvancedSearch=================================*/

.UIJCRExplorerPortlet .UIJCRAdvancedSearch .FormContainer {
  width: 550px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIJCRAdvancedSearch .HorizontalLayout .UIAction {
  width: 220px;
}

.UIJCRExplorerPortlet .UIJCRAdvancedSearch .HorizontalLayout textarea {
  padding: 3px;
}

/*================================UIConstraintsForm=================================*/

.UIJCRExplorerPortlet .UIConstraintsForm .HorizontalLayout .UIAction {
  width: 160px;
  padding-left: 15px;
}

/*================================UIMetadataSelectForm=================================*/

.UIJCRExplorerPortlet .UIMetadataSelectForm {
	width: 95%;
	margin: 10px auto;
}

.UIJCRExplorerPortlet .UIMetadataSelectForm  .UIAction {
	width: 150px;
	padding-right: 100px;
}

/*================================UINodeTypeSelectForm=================================*/

.UIJCRExplorerPortlet .UISearchContainer .UINodeTypeSelectForm {
	width: 95%;
	margin: 10px auto;
}

.UIJCRExplorerPortlet .UISearchContainer .UINodeTypeSelectForm  .UIAction {
	width: 150px;
}

.UIJCRExplorerPortlet .UISearchContainer .UISelectPropertyForm {
	padding: 10px;
}
/*================================UIActivateVersion=================================*/

.UIJCRExplorerPortlet .UIActivateVersion .UIAction {
  width: 120px;
  padding-left: 30px;
}

/*================================UIActionContainer=================================*/

.UIJCRExplorerPortlet .UIActionContainer .UIGroupMembershipSelector .MembershipSelector .OverflowContainer{
  border: solid 1px #b7b7b7;
  border-top: none;
}

.UIJCRExplorerPortlet .UIActionContainer .UIJCRBrowser{
  padding: 10px 0px 10px 10px;
}

.UIJCRExplorer .UIActionContainer .UIJCRBrowser .UIWorkspaceList {
	padding-bottom: 8px ;
}

.UIJCRExplorer .UIActionContainer .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle {
	border: solid 1px white;
	width: 553px;
	margin: 0px;
}

.UIJCRExplorer .UIActionContainer .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .UIForm {
	padding: 1px;
	border: solid 1px #B1B0B0;
}

.UIJCRExplorer .UIActionContainer .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .HorizontalLayout {
	background: white;
}

.UIJCRExplorer .UIPopupWindow .UIActionContainer .UIJCRBrowser .UIWorkspaceList .FieldLabel{
	width: 100px;
}

.UIJCRExplorerPortlet .UIActionContainer  {
	border: none;
}

.UIJCRExplorerPortlet .UIActionContainer .UIFormWithTitle  {
	border: none;
}

.UIJCRExplorerPortlet .UIActionContainer .UIFormWithTitle .UIAction {
  width: 140px;
  padding-left: 15px;
}

.UIJCRExplorerPortlet .UIActionContainer .UIFormWithTitle .UIFormGrid input {
  float: left;
}

/*================================UIActionList=================================*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionList .UIAction {
  padding-left: 20px;
}

/*================================UIPropertyForm=================================*/

.UIJCRExplorerPortlet .UIPropertyForm .FieldComponent	.MultiValueContainer {
  overflow: hidden;
}

.UIJCRExplorerPortlet .UIPropertyForm .HorizontalLayout .UIFormGrid {
  width: 500px;	
  margin: auto;
}

.UIJCRExplorerPortlet .UIPropertyForm .HorizontalLayout .UIAction {
  width: 160px;	
  padding-right: 15px;
}

/*================================.UIExportNode=================================*/

.UIJCRExplorerPortlet .UIExportNode {
  padding: 10px 0px;
}

.UIJCRExplorerPortlet .UIExportNode .UIFormGrid {
  width: 400px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIExportNode .HorizontalLayout .UIAction {
  width: 160px;
}

.UIJCRExplorerPortlet .UIExportNode .UIForm .HorizontalLayout {
  border: none;
}

.UIJCRExplorerPortlet .UIExportNode .UIFormWithTitle {
  border: solid 1px #b7b7b7;
}

/*================================.UIImportNode=================================*/

.UIJCRExplorerPortlet .UIImportNode {
  padding: 10px 0px;
}

.UIJCRExplorerPortlet .UIImportNode .HorizontalLayout .UIAction {
  width: 160px;
  padding-right: 110px;
}

.UIJCRExplorerPortlet .UIImportNode .UIForm .HorizontalLayout {
  border: none;
}

.UIJCRExplorerPortlet .UIImportNode .UIFormWithTitle {
  border: solid 1px #b7b7b7;
}

/*================================UIReferencesList=================================*/

.UIJCRExplorerPortlet .UIReferencesList {
  padding: 10px;
}

.UIJCRExplorerPortlet .UIReferencesList .UIPageIterator {
  width: 98%;
}

/*================================UIPermissionManager=================================*/

.UIJCRExplorerPortlet .UIPermissionManager {
  width: 95%;
  margin: auto;
  padding-top: 10px;
}

.UIJCRExplorerPortlet .UIPermissionManager .UIGroupMembershipSelector .MembershipTitle {
	border: none;
  border-bottom: solid 1px #b7b7b7;
}

.UIJCRExplorerPortlet .UIPermissionManager .UIFormWithTitle {
  padding-bottom: 10px;
  border: none;
}

.UIJCRExplorerPortlet .UIPermissionManager .UIPermissionInfo {
  padding-bottom: 8px;
}

.UIJCRExplorerPortlet .UIPermissionManager .UIFormWithTitle .HorizontalLayout .FormContainer {
  padding: 0px;
  border: none;
}

/*================================DecoratorBoxNested=================================*/

.UIJCRExplorerPortlet .UIPropertyTab .UIGrid .Icon16x16{
  margin-right: 3px;
}

.UIJCRExplorerPortlet .UIPropertyTab .UIAction {
  width: 160px ;
}

.UIJCRExplorerPortlet .UIPropertyTab .MultiValue {
  width: 70px;
  margin: auto;
}
/*===========================UIUploadForm====================*/

.UIJCRExplorerPortlet .UIUploadManager .UIExternalMetadataForm {
  padding: 10px;
}

.UIJCRExplorerPortlet .UIUploadManager .WorkingAreaWithHelp .UIFormWithTitle {
  border: none;
}

.UIJCRExplorerPortlet .UIUploadManager .UIUploadForm .ProgressBarFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIJCRExplorerPortlet .UIUploadManager .UIUploadForm .SelectFileFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIJCRExplorerPortlet .UIUploadManager .UIUploadForm .FileName {
	width: 230px;	
	overflow: hidden;
}

.UIJCRExplorerPortlet .UIUploadManager .UIAction {
  width: 170px;
}

.UIJCRExplorerPortlet .UIUploadManager .WorkingAreaWithHelp {
  width: 100%;
}

.UIJCRExplorerPortlet .UIPopupWindow .UIWindowContent .Content .UIUploadManager .UITabPane {
  width: 98%;
  padding: 0px;
}

/*================================UINodeTypeInfo=================================*/

.UIJCRExplorerPortlet .UIGrid .OddRow {
  background: #fbfbfb;
}

.UIJCRExplorerPortlet .UIGrid tr {
  background: #f3f3f3;
}

/*=================================UITabContentContainer==============================*/

.UIJCRExplorerPortlet .UITabContentContainer .UITabContent .UIActionViewContainer .UIGrid td {
  border-top: solid 1px #cccccc;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIJCRBrowser .ExplorerTree .UITree {
  border: solid 1px #ABBCCA;
}

.UIJCRExplorer .UIPermissionManager .UIGroupMembershipSelector .UITree {
  float: left;
  border: solid 1px #b7b7b7;
}

.UIJCRExplorer .UIGroupMembershipSelector {
	width: 92%;
	margin: auto;
	padding: 10px 0px;
}

.UIJCRExplorer .UIGroupMembershipSelector .MembershipSelector .OverflowContainer .Icon16x16{
	float: left;
	margin: 4px 3px 0px 3px;
}

.UIJCRExplorer .UIGroupMembershipSelector .MembershipSelector .OverflowContainer {
	border: none;
	background: none;
	overflow: hidden;
}

.UIJCRExplorer .UIPermissionManager .UIGroupMembershipSelector .MembershipSelector {
	border: solid 1px #b7b7b7;
}

/*=================================UICategoryManager==============================*/

.UIJCRExplorer .UIWorkspaceList .UIFormGrid select{
	width: 100px;
}

.UIJCRExplorer .UICategoryManager .UIJCRBrowser .UIWorkspaceList {
	padding-bottom: 8px ;
	width: 556px;
}

.UIJCRExplorer .UICategoryManager .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle {
	border: solid 1px white;
}

.UIJCRExplorer .UICategoryManager .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .UIForm {
	padding: 1px;
	border: solid 1px #B1B0B0;
}

.UIJCRExplorer .UICategoryManager .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .HorizontalLayout {
	background: white;
}

.UIJCRExplorer .UIPopupWindow .UICategoryManager .UIJCRBrowser .UIWorkspaceList .FieldLabel{
	width: 100px;
}

.UIJCRExplorer .UICategoryManager .UIAction{
	width: 70px;
}

.UIJCRExplorer .UIRelationManager .UIAction{
	width: 70px;
}

.UIJCRExplorer .UIRelationManager .UIJCRBrowser .UIWorkspaceList {
	padding-bottom: 8px ;
	width: 556px;
}

.UIJCRExplorer .UIRelationManager .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle {
	border: solid 1px white;
}

.UIJCRExplorer .UIRelationManager .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .UIForm {
	padding: 1px;
	border: solid 1px #B1B0B0;
}

.UIJCRExplorer .UIRelationManager .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .HorizontalLayout {
	background: white;
}

.UIJCRExplorer .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .UIFormGrid {
	margin: 0px;
}

.UIJCRExplorer .UIPopupWindow .UIRelationManager .UIJCRBrowser .UIWorkspaceList .FieldLabel{
	width: 100px;
}

.UIJCRExplorer .UIRenameForm {
	padding: 10px;
}

.UIJCRExplorer .UIRenameForm .FormContainer {
	width: 500px;
	margin: auto;
}

.UIJCRExplorer .UIRenameForm .UIAction{
	width: 160px;
}

.UIJCRExplorer  .WorkKofax .UIGrid {
	border-top: none;
}

.UIJCRExplorer .WorkKofax .UIGrid td{
	border-top: solid 1px #cccccc;
	line-height: 26px;
}

/*====================================UIActivateVersion==================================*/

.UIJCRExplorer .UIActivateVersion {
	border: solid 1px #b7b7b7;
	margin: 10px;
}
/*======================================================================*/

.UIJCRExplorerPortlet .UIConstraintsForm .UIFormWithTitle {
  background:#EFEFEF none repeat scroll 0%;
  border: 1px solid #b7b7b7;
  margin-top: 5px;
  padding-left: 5px;
  width:98.8%;
}
/*====================================UISavedQuery==================================*/

.UIJCRExplorer .UISavedQuery {
	padding: 10px;
}

.EmptyGrid {
  width: 100px ;
  padding: 5px 0px 10px 0px;
  font-style: italic;
  margin: auto;
}
/*############################## -- End UIDocumentWorkspace -- ##############################*/