/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

/*############################## -- Begin UIJCRExplorer -- ##############################*/
.UIJCRExplorerPortlet .UIJCRExplorer {
  background: white;
  width: 99.9%; /*  Bug on IE */
}

.UIJCRExplorerPortlet .UIFormWithTitle{
  width: 95%;
}

.UIJCRExplorerPortlet .UIFormWithTitle .FieldContainer select {
  border: solid 1px #b7b7b7;
  padding-left: 3px;
}

.UIJCRExplorerPortlet .UIFormWithTitle .FieldContainer textarea {
  border: solid 1px #b7b7b7;
  padding: 3px;
}

.UIJCRExplorerPortlet .UIFormWithTitle .FieldContainer input {
  padding-left: 3px;
  border: solid 1px #b7b7b7;
}

.UIJCRExplorerPortlet .UIJCRExplorer .Separator {
  width: 2px;
  background: url('DefaultSkin/background/LineDecorator2x1.gif') repeat-y center center;
}

.UIJCRExplorerPortlet .UIJCRExplorer .NormalBg42x30 {
  width: 42px;
  height: 30px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .OverBg42x30 {
  width: 42px;
  height: 30px;
  background: url('DefaultSkin/background/SelectedBackground42x30.gif') no-repeat center center;
}

.UIJCRExplorerPortlet .UIJCRExplorer .SelectedBg42x30 {
  width: 42px;
  height: 30px;
  background: url('DefaultSkin/background/SelectedBackground42x30.gif') no-repeat center center;
}

/*############################## -- End UIJCRExplorer -- ##############################*/
/*############################## -- Begin UIDocumentWorkspace -- ##############################*/
.UIJCRExplorerPortlet .UIListView {
}

.UIJCRExplorerPortlet .UIListView .UIGridControl {
  float: left;      
  font-size: 11px ;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl th {
  line-height: 20px;
  text-align: left;
  font-size: 12px ;
  padding: 0px 10px;
  border: solid 1px #9fa8cb;
  font-weight: normal;
  background: url('DefaultSkin/background/ThGridRepeatBg1x20.gif') repeat-x center;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl td {
  line-height: 28px;
  padding: 0px 5px;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl .OverHeader {
  background: url('DefaultSkin/background/OverThGridRepeatBg1x20.gif') repeat-x center;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl .HeaderLabel {
  float: left;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl .SortButton {
  float: left;
  margin: 2px 5px 0px 2px;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl .Icon16x16 {
  float: left;
  margin: 3px 5px 0px 2px;
  width: 16px; height: 16px;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl .NodeLabel {
  padding-left: 5px;
  color: #058ee9;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl .NodeLabel a {
  color: #0766e7;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl .NodeLabel a:hover{
  color: #fb8404;
}

/*############################## -- Begin MenuPopup -- ##############################*/

.UIJCRExplorerPortlet .UIMenuPopup {
  height: 23px;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent {
  border: solid 1px #6a6a6b;
  background-color: white;
  width: 150px;
  position: absolute;
  display: none;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .SelectContentContainer {
  border: solid 1px #b7b7b7;
  background-color: #f4f4f4;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .NormalItem {
  clear: both;
  line-height: 30px;
  cursor: pointer;
  margin-bottom: 2px;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .SelectedItem {
  clear: both;
  line-height: 30px;
  cursor: pointer;
  margin-bottom: 2px;
  background: #d6ddef;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .SelectedNav {
  line-height: 30px;
  cursor: pointer;
  margin-bottom: 2px;
  background: #d6ddef;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .ItemIcon {
  float: left;
  margin: 6px 6px 3px 6px;
  width: 16px;
  height:16px;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .ItemLabel {
  font-size: 11px;
  margin-left: 10px;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .SeparatorLine {
  margin: 5px;
  background: #919192;
  height: 1px;
}

.UIJCRExplorerPortlet .UIMenuPopup .SubMenu {
  margin-left: 130px ;
  background: #ffffff ;
}

.UIJCRExplorerPortlet .UIMenuPopup .MenuItemContainer {
  padding-left: 10px ;
}
/*############################## -- End UIMenuPopup   -- ##############################*/
.UIJCRExplorerPortlet .UIThumbnailsView {
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconsContainer {
  width: auto;
  margin: auto;
  float: left;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconBox {
  margin: 15px 30px 15px 30px;
  float: left;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconContainer {
  width: 100px;
  height: 90px;
  border: solid 1px #e0e0e0;
  background: #f5f5f5;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIcon {
  width: 64px;
  height: 64px;
  margin: 20px auto 0px auto;
}

.UIJCRExplorerPortlet .UIThumbnailsView .Icon48x48 {
  width: 48px;
  height: 48px;
  margin: auto;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconLabel {
  text-align:center;
  width: 100px;
  height:22px; line-height: 24px; vertical-align: middle;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionLabel {
  text-align:center;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconLabel a {
  color: #000000;
  text-align:center;
  width:100px;
  margin:auto;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconLabel a:hover {
  color: blue;
  text-align:center;
  width:100px;
  margin:auto;
  cursor: pointer;
}

/*############################## -- End UIThumbnailsView -- ##############################*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIDocumentWorkspace .UISearchResult table {
  width: 99.z%;
}

.UIJCRExplorer .UISearchResult .UIGrid .ActionContainer {
  width: 60px ;
}

/*############################## -- BEGIN UIDocumentInfo -- ##############################*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIDocumentWorkspace .TitleBG {
	background:url('DefaultSkin/background/TitleBG.gif') repeat-x ; 
	height: 20px; 
	border-bottom: 1px solid #a3abb6; 
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIDocumentWorkspace .HeaderBG {
  background:url('DefaultSkin/background/HeaderBG.gif') ;   
  
  margin-bottom:1px;
  padding: 0px 5px 0px 5px; 
  border: solid 1px #a3abb6 ;
}


/*############################## -- END UIDocumentInfo -- ##############################*/

/*===========================Folder Form=====================*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIFolderForm .UIAction{
	width: 170px;
	padding-left: 35px;
}

/*===========================DocumentFormController=====================*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIDocumentFormController .UIAction {
	width: 170px;
	padding-left: 55px;
}

.UIJCRExplorerPortlet .UIDocumentFormController .UITabPane .TabPaneContent {
  width: 97%;
  margin: auto;
}

.UIJCRExplorerPortlet .UIDocumentFormController .TabPaneContent .UITabContentContainer {
  border: none;
}

.UIJCRExplorerPortlet .UIDocumentFormController .UIFormWithTitle {
  border: 1px solid #e1e1e1;
}

.UIJCRExplorerPortlet .UIDocumentFormController .UISelectDocumentForm {
  padding-bottom: 3px; 
}

.UIJCRExplorerPortlet .UIDocumentFormController {
 	padding: 13px 0px;
}

/*===========================TabContainer====================*/

.UIJCRExplorerPortlet .UIPopupMessages .TabsContainer {
  margin: auto;
}

/*===========================UIUploadForm====================*/

.UIJCRExplorerPortlet .UIUploadManager {
  padding: 10px;
}

.UIJCRExplorerPortlet .UIUploadManager .UIAction {
  width: 170px;
  padding-right: 60px;
}

/*=============================UIWatchDocumentForm=======================*/

.UIJCRExplorerPortlet .UIWatchDocumentForm {
  padding: 10px;
}

.UIJCRExplorerPortlet .UIWatchDocumentForm .UIAction {
  width: 180px;
  padding-left: 10px;
}

/*=============================UITaggingForm=======================*/

.UIJCRExplorerPortlet .UITaggingForm {
  padding: 10px;
}
  
.UIJCRExplorerPortlet .UITaggingForm .UIAction {
  width: 180px;
}
  
/*==================================UIMultiLanguageForm==============================*/

.UIJCRExplorerPortlet .UIMultiLanguageForm .UIFormWithTitle .HorizontalLayout  {
  border: none;
}

.UIJCRExplorerPortlet .UIMultiLanguageForm .UIFormWithTitle .FieldContainer {
  width: 500px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIMultiLanguageForm .UIFormWithTitle .FieldContainer select {
  width: 260px;
  border: solid 1px #b7b7b7;
}

.UIJCRExplorerPortlet .UIMultiLanguageForm .UIAction {
  width: 260px;
  margin: auto;
  padding-left: 90px;
}

.UIJCRExplorerPortlet .UIAddLanguageContainer .UIUploadForm .UIFormWithTitle {
  border-top: solid 1px #b7b7b7;
}

.UIJCRExplorerPortlet .UIAddLanguageContainer .UILanguageTypeForm .UIFormWithTitle {
  padding-bottom: 8px;
  border-top: solid 1px #b7b7b7;
}

.UIJCRExplorerPortlet .UIAddLanguageContainer .UIFormWithTitle {
  border-top: none;
}

.UIJCRExplorerPortlet .UIAddLanguageContainer .UILanguageTypeForm .UIFormWithTitle {
  border-bottom: none;
}

.UIJCRExplorerPortlet .UIAddLanguageContainer .UIFormWithTitle .FieldContainer label {
  width: 120px;
  padding-right: 5px;
}

.UIJCRExplorerPortlet .UIAddLanguageContainer .UIFormWithTitle .FieldContainer .MyEditor {
  margin-left: 7px;
}

/*================================UIPropertyForm=================================*/

.UIJCRExplorerPortlet .UIPropertyForm .HorizontalLayout .UIAction {
  width: 170px;	
  padding-right: 15px;
}

.UIJCRExplorerPortlet .UIPropertyForm .HorizontalLayout a {
  margin: 2px 5px 0px 5px;
}

/*==================================UIVoteForm==============================*/

.UIJCRExplorerPortlet .UIVoteForm {
  padding: 8px;
}

.UIJCRExplorerPortlet .VoteFormContainer {
	padding-top: 8px;
  background: #f4f4f4 ;
  border: 1px solid #e1e1e1 ;
}

.UIJCRExplorerPortlet .VoteFormContainer .UIRatingInfoContainer {
  background: white ;
  width: 145px;
  padding: 2px 15px;
}

.UIJCRExplorerPortlet .UIVoteForm .UIAction {
  width: 85px;
}

/*===============================UILanguageTypeForm===================================*/

.UIJCRExplorerPortlet .UIAddLanguageContainer .UIAction {
  width: 170px;
  padding-left: 15px;
}

/*=============================UICommentForm=======================*/

.UIJCRExplorerPortlet .UICommentForm  {
  padding: 10px;
}

.UIJCRExplorerPortlet .UICommentForm .UIAction {
  width: 170px;
  padding-right: 20px;
}

/*================================UISimpleSearch=================================*/

.UIJCRExplorerPortlet .UISimpleSearch .FieldContainer {
  width: 500px;
  margin: auto;
}

.UIJCRExplorerPortlet .UISimpleSearch .HorizontalLayout .FieldContainer {
  padding-top: 8px;
}

.UIJCRExplorerPortlet .UISimpleSearch .HorizontalLayout .UIAction {
  width: 370px;
  padding-right: 120px;
}

.UIJCRExplorerPortlet .UISimpleSearch .HorizontalLayout .UIFormInputSet {
  padding-bottom: 0px;
}

/*================================UIJCRAdvancedSearch=================================*/

.UIJCRExplorerPortlet .UIJCRAdvancedSearch .HorizontalLayout .FieldContainer {
  width: 500px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIJCRAdvancedSearch .HorizontalLayout .FieldContainer label {
  width: 130px;
}

.UIJCRExplorerPortlet .UIJCRAdvancedSearch .HorizontalLayout .UIAction {
  width: 250px;
  padding-right: 180px;
}

.UIJCRExplorerPortlet .UIJCRAdvancedSearch .HorizontalLayout textarea {
  padding: 3px;
}

/*================================UIMetadataSelectForm=================================*/

.UIJCRExplorerPortlet .UIMetadataSelectForm .UIFormWithTitle {
	width: 93%;
	margin: auto;
}

.UIJCRExplorerPortlet .UIMetadataSelectForm .UIFormWithTitle .FieldContainer {
	width: 500px;
	margin: auto;
}

.UIJCRExplorerPortlet .UIMetadataSelectForm .FieldContainer label {
	width: 200px;
}

.UIJCRExplorerPortlet .UIMetadataSelectForm .UIFormWithTitle .UIAction {
	width: 160px;
	padding: 15px 0px;
}

/*================================UIConstraintsForm=================================*/

.UIJCRExplorerPortlet .UIConstraintsForm .HorizontalLayout .UIAction {
  width: 170px;
  padding-left: 50px;
}

/*================================UIActivateVersion=================================*/

.UIJCRExplorerPortlet .UIActivateVersion .UIAction {
  width: 120px;
  padding-left: 50px;
}

/*================================UIActionContainer=================================*/

.UIJCRExplorerPortlet .UIActionContainer .UIActionTypeForm .UIFormWithTitle {
  border-bottom: none;
  padding-bottom: 8px;
}

.UIJCRExplorerPortlet  .UIActionContainer .UIActionTypeForm label {
  width: 170px;
}

.UIJCRExplorerPortlet .UIActionContainer .UIFormWithTitle .UIAction {
  width: 170px;
  padding-left: 15px;
}

.UIJCRExplorerPortlet .UIActionContainer .UIFormWithTitle .FieldContainer {
  overflow: hidden;
  width: 98%;
}

.UIJCRExplorerPortlet .UIActionContainer .UIFormWithTitle .FieldContainer input {
  float: left;
}

/*================================UIActionList=================================*/

.UIJCRExplorerPortlet .UIActionList .UIAction {
  padding-left: 20px;
}

/*================================UIPropertyForm=================================*/

.UIJCRExplorerPortlet .UIPropertyForm .UIFormWithTitle {
  width: 500px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIPropertyForm .UIFormWithTitle .UIAction {
  width: 70px;	
  padding-left: 30px;
}

/*================================.UIExportNode=================================*/

.UIJCRExplorerPortlet .UIExportNode {
  padding: 10px 0px;
}

.UIJCRExplorerPortlet .UIExportNode .HorizontalLayout .FieldContainer {
  overflow: hidden;
}

.UIJCRExplorerPortlet .UIExportNode .HorizontalLayout input  {
  width: 15px; height: 15px;
  margin: 0px;
  padding: 2px 0px;
} 

.UIJCRExplorerPortlet .UIExportNode .FieldContainer .nodePath {
  margin-left: 5px;
}

.UIJCRExplorerPortlet .UIExportNode .HorizontalLayout input.checkbox  {
  margin-left: 5px ;
} 

.UIJCRExplorerPortlet .UIExportNode .HorizontalLayout .UIAction {
  width: 170px;
  padding-right: 100px;
}

.UIJCRExplorerPortlet .UIExportNode .FieldContainer .MultiRadioInput .radio {
  width: 20px;
  margin-left: 0px;
  float: none;
  border: none;
}
/*================================.UIImportNode=================================*/

.UIJCRExplorerPortlet .UIImportNode {
  padding: 10px 0px;
}

.UIJCRExplorerPortlet .UIImportNode .HorizontalLayout input  {
  width: 15px; height: 15px;
  margin: 0px;
  padding:  2px 0px;
} 

.UIJCRExplorerPortlet .UIImportNode .HorizontalLayout input.checkbox  {
  margin-left: 2px ;
} 

.UIJCRExplorerPortlet .UIImportNode .HorizontalLayout .UIAction {
  width: 170px;
  padding-right: 100px;
}

.UIJCRExplorerPortlet .UIImportNode .FieldContainer .nodePath {
  margin-left: 5px;
}

/*================================.UIReferencesList=================================*/

.UIJCRExplorerPortlet .UIReferencesList {
  padding: 10px;
}

.UIJCRExplorerPortlet .UIReferencesList .UIPageIterator {
  width: 98%;
}

/*================================UIPermissionManager=================================*/
.UIJCRExplorerPortlet .UIPermissionManager {
  padding: 10px;
}

.UIJCRExplorerPortlet .UIPermissionManager .UIPageIterator {
  width: 100%;
}

.UIJCRExplorerPortlet .UIPermissionManager .UIPermissionInfo {
  padding-bottom: 8px;
}

.UIJCRExplorerPortlet .UIPermissionManager .UIFormInputSetWithAction .FieldContainer {
  width: 98%;
  overflow: hidden;
}

.UIJCRExplorerPortlet .UIPermissionManager .UIFormInputSetWithAction .FieldContainer input {
  float: left;
}

/*================================UIViewMetadataManager=================================*/

.UIJCRExplorerPortlet .UIViewMetadataManager .UIAction {
  width: 170px;
}

/*================================UINodeTypeInfo=================================*/

.UIJCRExplorerPortlet .UIGrid tr {
}

.UIJCRExplorerPortlet .UIGrid td {
  border: solid 1px #cfcfcf;
}

.UIJCRExplorerPortlet .UIForm .HorizontalLayout .FieldContainer .UIFormMultiValueInputSet  {
	float: left ;
	margin: 2px 10px 0px 5px ;
}

.UIJCRExplorerPortlet .UIJCRBrowser .InnerExplorerTree .UITree .TreeContainer  {
	border: none;
}

/*=================================UIActionListContainer==============================*/

.UIJCRExplorerPortlet  .UIActionListContainer .UIFormWithTitle  {
  margin: 10px auto;
}

.UIJCRExplorer .UIPermissionManager .UIGroupMembershipSelector .UIBreadcumbs{
  margin-bottom: 8px;
}

.UIJCRExplorer .UIPermissionManager .UIGroupMembershipSelector .UITree {
  float: left;
  border: solid 1px #b7b7b7;
}
.UIJCRExplorer .UIGroupMembershipSelector .MembershipSelector .OverflowContainer .Icon16x16{
	float: left;
	margin: 4px 3px 0px 3px;
}

.UIJCRExplorer .UIPermissionManager .UIGroupMembershipSelector .MembershipTitle{
	border: none;
	border-bottom: solid 1px #b7b7b7;
}

.UIJCRExplorer .UIGroupMembershipSelector .MembershipSelector .OverflowContainer {
	border: none;
	background: none;
}

.UIJCRExplorer .UIPermissionManager .UIGroupMembershipSelector .MembershipSelector {
	border: solid 1px #b7b7b7;
}

/*=================================UICategoryManager==============================*/

.UIJCRExplorer .UICategoryManager .UIAction {
	width: 80px;
}

.UIJCRExplorer .UIRelationManager .UIAction {
	width: 80px;
}
/*############################## -- End UIDocumentWorkspace -- ##############################*/