/**
 * Created by The eXo Platform SARL
 * Modifile : Vu Duy Tu
 *           duytucntt@gmail.com
 * December 08, 2006
 * version: $Id$
 */

/*############################## -- Begin UIJCRExplorer -- ##############################*/
.UIJCRExplorerPortlet .UIJCRExplorer {
  background: white;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIRelationManager .UIAction {
	width: 85px;
}

.UIJCRExplorerPortlet .WorkingAreaWithHelp .UIFormWithTitle {
	width: auto;
	padding: 10px;
}

.UIJCRExplorerPortlet .UIFormWithTitle {
  margin: 10px auto;
  border: 1px solid #8D919D;
  width: 95%;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionContainer .UIFormWithTitle {
	border: none;	
	padding: 10px 0px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionContainer .UIActionTypeForm .UIFormWithTitle {
	border: 1px solid #BEC1C7;	
}

.UIJCRExplorerPortlet .UIFormGrid .FieldComponent .ActionIcon {
  margin: 0px 5px;
}

.UIJCRExplorerPortlet .DecoratorMiddle {
	background: url('VistaSkin/background/JCRExplorerBG2x2.png') repeat ;
}

.UIJCRExplorerPortlet .UIFormWithTitle .FieldContainer input {
  padding-left: 3px;
  border: 1px solid #b7b7b7;
}

.UIJCRExplorerPortlet .UIJCRExplorer .Separator {
  width: 2px;  
  background: url('DefaultSkin/background/LineDecorator2x1.gif') repeat-y center center;
}

.UIJCRExplorerPortlet .Execute16x16Icon {
	margin-top: 3px;
}

/*############################## -- End UIJCRExplorer -- ##############################*/

/*############################## -- Begin UIDocumentWorkspace -- ##############################*/
.UIJCRExplorerPortlet .UIListView {
}

.UIJCRExplorerPortlet .UIListView .UIGridControl {
  float: left;      
}

.UIJCRExplorerPortlet .UIListView .UIGridControl a { 
  color: #2e61b6;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl th {
  line-height: 22px; text-align: left; 
  font-weight: normal;
  background: url('VistaSkin/background/ThGridRepeatBg1x22.png') repeat-x center;
  border-bottom: solid 1px #d8d8d6; border-right: solid 1px #b0b0b0;
  padding: 0px 10px;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl td {
  line-height: 30px;
  padding: 0px 2px;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl .OverHeader {
  background: url('VistaSkin/background/OverThGridRepeatBg1x22.png') repeat-x center;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl .HeaderLabel {
  float: left;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl .SortButton {
  float: left;
  margin: 2px 5px;
}

.UIJCRExplorerPortlet .UIListView .UIGridControl .Icon16x16 {
  float: left;
  width: 22px; height: 22px;
  margin: 5px;
}
/*############################## -- Begin MenuPopup -- ##############################*/

.UIJCRExplorerPortlet .UIMenuPopup {
  height: 23px;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent {
  width: 150px;
  background-color: white;
  border: solid 1px #6a6a6b;
  padding: 1px;
  position: absolute;
  display: none;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .NormalItem {
  line-height: 30px;
  cursor: pointer;
  clear: both;
  margin-bottom: 2px;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .SelectedItem {
  line-height: 30px;
  background: #d6ddef;
  clear: both;
  cursor: pointer;
  margin-bottom: 2px;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .SelectedNav {
  line-height: 30px;
  background: #d6ddef;
  cursor: pointer;
  margin-bottom: 2px;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .ItemIcon {
  float: left;
  width: 16px; height: 16px;
  margin: 6px 3px 3px 3px;
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .ItemLabel {
}

.UIJCRExplorerPortlet .UIMenuPopup .UISelectContent .SeparatorLine {
  height: 1px;
  margin: 5px;
  background: #919192;
}

.UIJCRExplorerPortlet .UIMenuPopup .SubMenu {
  background: #ffffff ;
  margin-left: 130px ;
}

.UIJCRExplorerPortlet .UIMenuPopup .MenuItemContainer {
  padding-left: 10px ;
}
/*############################## -- End UIMenuPopup   -- ##############################*/
.UIJCRExplorerPortlet .UIThumbnailsView {
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconsContainer {
  float: left;
  width: auto;
  margin: auto;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconBox {
  float: left;
  margin: 15px 30px 15px 30px;
  background: url('VistaSkin/background/FolderLeft12x96.png') no-repeat top left;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconContainer {
  background: url('VistaSkin/background/FolderRight12x96.png') no-repeat top right;
  width: 100px; height: 96px;
  margin-left: 12px;
  padding: 0px 12px 0px 0px ;
}

.UIJCRExplorerPortlet .UIThumbnailsView .NodeLabel {
  background: url('VistaSkin/background/FolderMiddle1x96.png') repeat-x top;
  height: 96px;
  margin: 0px;
  padding-top: 20px;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIcon {
  width: 64px; height: 64px;
  margin: 0px auto;
}

.UIJCRExplorerPortlet .UIThumbnailsView .Icon48x48 {
  width: 48px; height: 64px;
  margin: auto;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconLabel {
  width: 100px; 
  height:30px; 
  line-height: 24px; vertical-align: middle;
  text-align:center;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionLabel {
  text-align:center;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconLabel a {
  width:100px;
  color: #000000; text-align:center;
  margin:auto;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIThumbnailsView .ActionIconLabel a:hover {
  width:100px;
  color: blue; text-align:center;
  margin:auto;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIThumbnailsView .UIMenuPopup .UISelectContent {
  width: 150px;
  background-color: white;
  border: solid 1px #6a6a6b;
  position: absolute;
  display: none;
}
/*############################## -- End UIThumbnailsView -- ##############################*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIDocumentWorkspace .UISearchResult table {
  width: 99.6%;
}

.UIJCRExplorerPortlet .ActionButton {
  width: auto;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIFolderForm .UIAction {
	width: 185px;
	padding-top: 12px;
}

/*############################## -- BEGIN UIDocumentInfo -- ##############################*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIFormWithTitle label {
	width: 87px;
	line-height: 20px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIRenameForm .UIAction {
	width: 180px;
	padding-left: 100px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIRenameForm .FormContainer {
	width: 400px;
	margin: auto;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIUploadManager .FormContainer {
	width: 400px;
	margin: auto;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIExternalMetadataForm .FormContainer {
	width: 300px;
	margin: auto;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UITaggingForm .FormContainer {
	width: 400px;
	margin: auto;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIMultiLanguageForm .FormContainer {
	width: 400px;
	margin: auto;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UILanguageTypeForm .UIFormGrid {
	margin: auto;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UICommentForm .UIFormGrid {
	width: 400px;
	margin: auto;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UISimpleSearch .FormContainer {
	width: 450px;
	margin: auto;
}

.UIJCRExplorerPortlet .UISearchContainer .UISelectPropertyForm .UIAction {
	width: 180px;
	padding-left: 30px;
}

.UIJCRExplorerPortlet .UISearchContainer .UINodeTypeSelectForm .UIAction {
	width: 180px;
	padding-left: 30px;
}

.UIJCRExplorerPortlet .UIConstraintsForm .UIFormWithTitle  {
	margin: 10px auto;
	border: solid 1px #b7b7b7;
	padding: 5px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIDocumentWorkspace .TitleBG {
	height: 20px; 
	background: url('VistaSkin/background/TitleBG1x20.png') repeat-x ; 
	border-bottom: 1px solid #a3abb6; 
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIDocumentWorkspace .HeaderBG {
  background: url('VistaSkin/background/HeaderBG.gif') ;   
  margin-bottom: 1px;
  padding: 0px 5px; 
  border: solid 1px #a3abb6 ;
}

/*############################## -- END UIDocumentInfo -- ##############################*/

/*############################## -- BEGIN UIFolderForm -- ##############################*/
.UIJCRExplorerPortlet .ActionContainer {
	 width: auto;
	 margin: auto;
}

.UIJCRExplorerPortlet .UIGrid .ActionContainer a {
	 width: 24px; height: 24px;

}

.UIJCRExplorerPortlet .UIJCRExplorer .UIFolderForm .FieldContainer {
	width: 500px;
	margin: auto;
}


/*############################## -- END UIFolderForm -- ##############################*/

/*===========================DocumentFormController=====================*/

.UIJCRExplorerPortlet .UIDocumentFormController {
 	padding: 13px 0px;
}

.UIJCRExplorerPortlet .UIDocumentFormController .UIFormWithTitle {
	width: 611px;
}

.UIJCRExplorerPortlet .UIDocumentFormController .UITabPane .UIFormWithTitle {
	width: auto;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIDocumentFormController .UIAction {
	width: 185px;
	padding-left: 20px;
}

.UIJCRExplorerPortlet .UIDocumentFormController .UIFormWithTitle .HorizontalLayout {
  padding: 10px;
}

.UIJCRExplorerPortlet .UIDocumentFormController .UISelectDocumentForm {
  padding-bottom: 3px; 
}

.UIJCRExplorerPortlet .UIDocumentFormController .UIFormWithTitle .UIAction {
  padding-top: 12px;
}

.UIJCRExplorerPortlet .UIDocumentFormController .UIFormWithTitle .UIFormGrid {
	width: 550px;
	margin: 10px auto;	
}

.UIJCRExplorerPortlet .UIDocumentFormController .UIFormWithTitle .UIFormGrid .FieldLabel{
	width: 140px;
}

.UIJCRExplorerPortlet .UIDocumentFormController .TabPaneContent {
  margin: 5px;
}

.UIJCRExplorerPortlet .UIDocumentFormController .HorizontalLayout .FieldContainer .MultiValueContainer {
  margin-left: 198px;
}

/*===========================UIUploadForm====================*/

.UIJCRExplorerPortlet .UIUploadForm .UIAction {
  width: 185px;
  padding-left: 15px;
}

.UIJCRExplorerPortlet .UIUploadForm .FileNameLabel {
  overflow: hidden ;
  line-height: 20px;
}

.UIJCRExplorerPortlet .UIUploadForm .UIFormWithTitle .UploadIframe {
  margin-left: 6px;
}

.UIJCRExplorerPortlet .UIUploadForm .FieldContainer .SelectFileFrame {
  width: 480px;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 0px;
}

.UIJCRExplorerPortlet .UIUploadForm .FieldContainer .SelectFileFrame .SelectFileLabel {
  width: 110px;
  margin: 0px;
}

.UIJCRExplorerPortlet .UIUploadForm .FieldContainer .SelectFileFrame .FileNameLabel {
  padding: 0px 0px 0px 5px;
  width: 180px;
  font-weight: bold;
  line-height: 12px; 
}

.UIJCRExplorerPortlet .UIUploadForm .FieldContainer .ProgressBarFrame {
  width: 480px;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 0px;
}

.UIJCRExplorerPortlet .UIUploadForm .FieldContainer .ProgressBarFrame .SelectFileLabel {
  width: 120px;
  margin: 0px;
}

.UIJCRExplorerPortlet .ProgressBarFrame {
	margin: 0px;
	width: 320px;
}

.UIJCRExplorerPortlet .SelectFileFrame {
	margin: 0px;
	width: 320px;
}

.UIJCRExplorerPortlet .FileNameLabel {
	overflow: hidden;
}

/*=============================UIWatchDocumentForm=======================*/
.UIJCRExplorerPortlet .UIWatchDocumentForm .FieldContainer {
  width: 480px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIWatchDocumentForm .UIAction {
  width: 185px;
}

/*=============================UITaggingForm=======================*/

.UIJCRExplorerPortlet .UITaggingForm .FieldContainer {
  width: 480px;
  margin: 0px auto;
}

.UIJCRExplorerPortlet .UITaggingForm .UIAction {
  width: 205px;
  padding: 0px 0px 8px 10px;
}

/*==================================UIMultiLanguageForm==============================*/

.UIJCRExplorerPortlet .UIMultiLanguageForm .UIFormWithTitle .HorizontalLayout  {
  border: none;
}

.UIJCRExplorerPortlet .UIMultiLanguageForm .UIAction {
  width: 295px;
  padding-left: 100px;
}

/*==================================UIVoteForm==============================*/

.UIJCRExplorerPortlet .UIVoteForm {
  padding: 8px;
}

.UIJCRExplorerPortlet .VoteFormContainer {
	padding-top: 8px;
  background: #f4f4f4 ;
  border: 1px solid #e1e1e1 ;
}

.UIJCRExplorerPortlet .VoteFormContainer .UIRatingInfoContainer {
  background: white ;
  width: 145px;
  padding: 2px 15px;
}

.UIJCRExplorerPortlet .UIVoteForm .NormalVote {
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIVoteForm .UIAction {
  width: 95px;
  padding-left: 6px;
}

/*===============================UILanguageTypeForm===================================*/

.UIJCRExplorerPortlet .UIAddLanguageContainer .UIAction {
  width: 180px;
  padding-left: 15px;
}

.UIJCRExplorerPortlet .UIAddLanguageContainer .UIUploadContainer .UIAction {
  width: 230px;
  padding-left: 15px;
}
/*=============================UICommentForm=======================*/

.UIJCRExplorerPortlet .UICommentForm .FieldContainer input {
  border: solid 1px #b7b7b7;
}

.UIJCRExplorerPortlet .UICommentForm .UIAction {
  width: 180px;
  padding-left: 10px;
}

/*================================UISimpleSearch=================================*/

.UIJCRExplorerPortlet .UISimpleSearch .HorizontalLayout .UIAction {
  width: 430px;
  padding-left: 20px;
}

.UIJCRExplorerPortlet .UISimpleSearch .HorizontalLayout .UIFormInputSet {
  padding-bottom: 0px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIDocumentWorkspace .UISearchResult {
	width: 97%;
	margin: 10px auto;
}

/*================================UIJCRAdvancedSearch=================================*/

.UIJCRExplorerPortlet .UIJCRAdvancedSearch {
  width: 550px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIJCRAdvancedSearch .UIAction {
  width: 275px;
}

.UIJCRExplorerPortlet .UIMetadataSelectForm {
  width: 500px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIMetadataSelectForm .UIAction {
  width: 190px;
}

/*================================UIConstraintsForm=================================*/

.UIJCRExplorerPortlet .UIConstraintsForm .HorizontalLayout .UIAction {
  width: 160px;
  padding-left: 15px;
}

/*================================UIActivateVersion=================================*/

.UIJCRExplorerPortlet .UIActivateVersion .UIAction {
  width: 120px;
  padding-left: 30px;
}

/*================================UIActionContainer=================================*/

.UIJCRExplorerPortlet .UIActionContainer .UIActionTypeForm {
  padding-bottom: 8px;
}

.UIJCRExplorerPortlet .UIActionContainer .UIFormWithTitle .UIAction {
  width: 185px;
  padding-left: 15px;
}

.UIJCRExplorerPortlet .UIActionContainer .UIFormWithTitle input {
  float: left;
}

/*================================UIActionList=================================*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionList .UIAction {
  padding-left: 15px;
}

/*================================UIPropertyForm=================================*/

.UIJCRExplorerPortlet .UIPropertyForm .UIFormWithTitle {
  width: 500px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIPropertyForm .UIFormWithTitle .UIAction {
  width: 60px;	
  padding-left: 15px;
}

/*================================.UIExportNode=================================*/

.UIJCRExplorerPortlet .UIExportNode {
  padding: 15px 0px;
}

.UIJCRExplorerPortlet .UIExportNode .UIFormWithTitle {
	border: none;
}

.UIJCRExplorerPortlet .UIExportNode .HorizontalLayout .UIAction {
  width: 190px;
  padding-left: 15px;
}

/*================================.UIImportNode=================================*/

.UIJCRExplorerPortlet .UIImportNode {
  padding: 15px 0px;
}

.UIJCRExplorerPortlet .UIImportNode .UIFormWithTitle {
	border: none;
}

.UIJCRExplorerPortlet .UIImportNode .SelectFileFrame  {
	margin: 0px;
}

.UIJCRExplorerPortlet .UIImportNode .HorizontalLayout {
	padding: 12px;
}

.UIJCRExplorerPortlet .UIImportNode .HorizontalLayout .UIAction {
  width: 200px;
  padding-left: 35px;
}

/*================================UIReferencesList=================================*/

.UIJCRExplorerPortlet .UIReferencesList {
  padding: 10px;
}

.UIJCRExplorerPortlet .UIReferencesList .UIPageIterator {
  width: 98%;
}

/*================================UIPermissionManager=================================*/
.UIJCRExplorerPortlet .UIPermissionManager {
  padding: 10px;
}

.UIJCRExplorerPortlet .UIPermissionManager .UIPageIterator {
  width: 100%;
}

.UIJCRExplorerPortlet .UIPermissionManager .UIPermissionInfo {
  padding-bottom: 8px;
}

.UIJCRExplorerPortlet .UIPermissionManager .UIPermissionForm {
	width: auto;
	padding: 30px;
}

.UIJCRExplorerPortlet .UIPermissionManager .UIGroupMembershipSelector {
	padding: 10px;
}

.UIJCRExplorer .UIPermissionManager .UIGroupMembershipSelector .GroupSelector {
	border: 1px solid #b7b7b7;
}

.UIJCRExplorer .UIPermissionManager .UIGroupMembershipSelector .MembershipTitle {
	border: none;
	border-bottom: 1px solid #b7b7b7;
}

.UIJCRExplorer .UIPermissionManager .UIGroupMembershipSelector .MembershipSelector {
	border: solid 1px #b7b7b7;
	background: white;
	height: 206px;
}

.UIJCRExplorer .UIPermissionManager .UIGroupMembershipSelector .UITree {
  float: left;
  border: none;
}

.UIJCRExplorer .UIPermissionManager .UIGroupMembershipSelector .UITree .TreeContainer {
	height: 173px;
}

.UIJCRExplorer .UIPermissionManager .UIGroupMembershipSelector .UITree .TreeLevelContainer {
	padding: 7px 0px 10px 7px;
}

.UIJCRExplorer .UIPermissionManager .UIGroupMembershipSelector .MembershipSelector .OverflowContainer {
	border: none;
	height: auto;
}

.UIJCRExplorer .UIGroupMembershipSelector .MembershipSelector .OverflowContainer .Icon16x16{
	float: left;
	margin: 4px 3px 0px 3px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIFormGrid .permission input {
	float: left;
}
/*================================DecoratorBoxNested=================================*/

.UIJCRExplorerPortlet .UINodeTypeInfo {
  padding: 8px;
}

/*================================UIPropertyTab=================================*/

.UIJCRExplorerPortlet .UIPropertyTab .UIGrid .Icon16x16 {
  margin-right: 3px;
}

.UIJCRExplorerPortlet .UIPropertyTab .UIAction {
  width: 190px ;
  padding-left: 30px;
}

.UIJCRExplorerPortlet .UIPropertyTab .MultiValue {
  width: 80px;
  margin: auto;
}

/*================================UINodeTypeInfo=================================*/

.UIJCRExplorerPortlet .UIGrid .OddRow {
  background: #fbfbfb;
}

.UIJCRExplorerPortlet .UIGrid tr {
  background: #f3f3f3;
}

/*=================================UITabContentContainer==============================*/

.UIJCRExplorerPortlet .UITabContentContainer .UITabContent .UIActionViewContainer .UIGrid td {
  border-top: solid 1px #cccccc;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIJCRBrowser {
	margin: 10px auto 0px auto;
	padding: 0px 6px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIJCRBrowser .UITreeList {
	padding-top: 2px;
	margin-left: 236px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIJCRBrowser .UITreeList .UIGrid {
	width: 100%;
	margin: 0px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIJCRBrowser .ExplorerTree .UITree {
  border: solid 1px #c9c9c9;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIJCRBrowser .UIFormGrid td.FieldLabel {
	width: 70px;
}

.UIJCRExplorer .UIJCRBrowser .UIFormWithTitle{
	padding: 3px;
}

.UIJCRExplorerPortlet .UIPropertyForm .FieldComponent .MultiValueContainer  {
	overflow: hidden;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIPropertyForm .AddNewNodeIcon {
	margin: 0px 3px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIPropertyForm .UIAction {
	width: 80px;
}

/*=================================UICategoryManager==============================*/

.UIJCRExplorer .UICategoryManager {
	overflow: auto;
}

.UIJCRExplorer .UICategoryManager .UIAction {
	width: 70px;
}


/*=================================UIRelationManager==============================*/

.UIJCRExplorer .UIRelationManager {
	overflow: auto;
}

/*=================================UILabelForm==============================*/

.UIJCRExplorer .UICategoryManager .UIAction {
	width: 70px;
}

.UIJCRExplorerPortlet .WorkingAreaWithHelp {
  width: 97%;
  margin: 8px auto;
}

/*====================================UISavedQuery==================================*/

.UIJCRExplorer .UISavedQuery {
	padding: 10px;
}

.UIJCRExplorerPortlet  .UIActionListContainer .UIFormWithTitle  {
  margin: 10px auto;
  width: 95%;
  border: none;
  padding: 0px;
}
.UIJCRExplorerPortlet  .UIActionListContainer .UIFormWithTitle .UIAction {
  width: 180px;
  padding-right: 50px;
}

.UIJCRExplorerPortlet  .UIActionListContainer .UIFormGrid input {
  float: left;
}
/*############################## -- End UIDocumentWorkspace -- ##############################*/

.UIJCRExplorerPortlet  .UIPopupWindow .UIPropertyForm .UIFormGrid {
	width: 500px;
	margin: auto;
}
