/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

@import url("../../../icons/DefaultStylesheet.css");
@import url("control/DefaultStylesheet.css");
@import url("sidebar/DefaultStylesheet.css");
@import url("UIPopupAction/DefaultStylesheet.css");
@import url("UIDrivesBrowser/DefaultStylesheet.css");
@import url("UIJCRExplorer/DefaultStylesheet.css");

.UIPageDesktop .UIJCRExplorerPortlet {
  overflow: hidden;
}

.UIWindow .UIJCRExplorerPortlet {
	border: none;
	margin: 0px auto;
	width: auto;
}

.UIJCRExplorerPortlet {
	border: 1px solid #b7b7b7;
	width: 98%;
	margin: 10px auto;
}

.UIJCRExplorerPortlet .UIGrid .ActionContainer a {
	float: left;
}

.UIJCRExplorerPortlet .UIPreferencesForm {
  width: 500px;
  padding: 15px;
  border: none;
}

