/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

@import url("../../../icons/MacStylesheet.css");
@import url("control/MacStylesheet.css");
@import url("sidebar/MacStylesheet.css");
@import url("UIPopupAction/MacStylesheet.css");
@import url("UIDrivesBrowser/MacStylesheet.css");
@import url("UIJCRExplorer/MacStylesheet.css");
@import url("../../../ExoEditor/MyEditor.css");

.UIPageDesktop .UIJCRExplorerPortlet {
  overflow: hidden;
}

.UIJCRExplorerPortlet .UIFormWithTitle {
  margin-top: 0px;
  margin-bottom: 0px;
} 

.UIJCRExplorerPortlet .UITree .TreeContainer .NodeSelected {
  height: 20px ; line-height: 20px;
  font-weight: bold; font-size: 11px;
  background: #8eeaaf ;
}

.UIJCRExplorerPortlet .UIPreferencesForm  {
  width: 500px;
  margin: 10px auto;
}

.UIJCRExplorerPortlet .UIPreferencesForm .FormContainer .UIAction {
  padding-left: 40px;
}

