/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

@import url("../../../icons/MacStylesheet.css");
@import url("control/MacStylesheet.css");
@import url("sidebar/MacStylesheet.css");
@import url("UIPopupAction/MacStylesheet.css");
@import url("UIDrivesBrowser/MacStylesheet.css");
@import url("UIJCRExplorer/MacStylesheet.css");
@import url("../../../ExoEditor/MyEditor.css");

.UIPageDesktop .UIJCRExplorerPortlet {
  overflow: hidden;
}

.UIWindow .UIJCRExplorerPortlet {
	border: none;
	margin: 0px auto;
	width: auto;
}

.UIJCRExplorerPortlet {
	background: white;
	border: 1px solid #b7b7b7;
	margin: 10px auto;
	width: 98%;
}

.UIJCRExplorerPortlet .UITree .TreeContainer .NodeSelected {
  height: 20px ; line-height: 20px;
  font-weight: bold; font-size: 11px;
}

.UIJCRExplorerPortlet .UIPreferencesForm  {
  width: 500px;
  margin: 10px auto;
  border: none;
}