/**
 * Created by The eXo Platform SARL
 * Modifile : Vu Duy Tu
 *           duytucntt@gmail.com
 * December 08, 2006
 * version: $Id$
 */

@import url("../../../icons/VistaStylesheet.css");
@import url("control/VistaStylesheet.css");
@import url("sidebar/VistaStylesheet.css");
@import url("UIPopupAction/VistaStylesheet.css");
@import url("UIDrivesBrowser/VistaStylesheet.css");
@import url("UIJCRExplorer/VistaStylesheet.css");
@import url("../../../ExoEditor/MyEditor.css");

.UIJCRExplorerPortlet {}

.UIJCRExplorerPortlet .UIPreferencesForm .ActionButton {
  width: 80px;
}

.UIJCRExplorerPortlet .UITree .TreeContainer .NodeSelected {
  font-weight: bold; 
}

.UIJCRExplorerPortlet .UIFormWithTitle .FieldContainer .MultiValueContainer .AddNewNodeIcon  {
  float: left;
  margin: 3px 5px 0px 5px;
}

.UIJCRExplorerPortlet .UIPreferencesForm  {
  width: 500px;
  padding: 15px;
}