/**
 * Created by The eXo Platform SARL
 * Modifile : Vu Duy Tu
 *           duytucntt@gmail.com
 * December 08, 2006
 * version: $Id$
 */

@import url("../../../icons/VistaStylesheet.css");
@import url("control/VistaStylesheet.css");
@import url("sidebar/VistaStylesheet.css");
@import url("UIPopupAction/VistaStylesheet.css");
@import url("UIDrivesBrowser/VistaStylesheet.css");
@import url("UIJCRExplorer/VistaStylesheet.css");

.UIJCRExplorerPortlet {
}

.UIWindow .UIJCRExplorerPortlet {
	border: none;
	margin: auto;
}

.UIJCRExplorerPortlet {
	background: white;
	border: 1px solid #b7b7b7;
	margin: 5px;
}

.UIJCRExplorerPortlet .UIFormGrid {
	width: 100%;
}

.UIJCRExplorerPortlet .UIPreferencesForm  {
  width: 500px;
  padding: 15px;
  border: none;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIPageIterator {
	width: auto;
	padding-right: 10px;
}