/**
 * Created by The eXo Platform SARL
 * Author : Dang Van Minh
 *          minhdv@exoplatform
 * Nov 2, 2006
 * version: $Id$
 */
/*############################## -- UINodeTypeManager-- ########################*/

.UIECMAdminPortlet .UINodeTypeManager {
  padding: 2px 0px 0px 0px;
  width: 98%;
}

.UIECMAdminPortlet .UINodeTypeManager .UIAction {
  width: 200px ;
  padding-left: 25px;
}

.UIECMAdminPortlet .UINodeTypeManager .nodeTypeDefinition .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeManager .nodeTypeDefinition .UIAction {
  width: 240px ;
}

.UIECMAdminPortlet .UINodeTypeManager .propertyDefinition .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeManager .childNodeDefinition .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane {
  width: 600px ;
  margin: 0px auto;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTableInputSet {
	padding: 2px;
}

.UIECMAdminPortlet .UINodeTypeImportPopup {
	margin: 10px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeImportPopup .UIAction {
	width: 260px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeUpload .UIAction {
	width: 160px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeUpload .ProgressBarFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeUpload .SelectFileFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeUpload .FileName {
	width: 230px;	
	overflow: hidden;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeExport {
	width: 95%;
	margin: 10px auto;	
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeExport .UIAction {
	width: 260px;	
}
/*############################## -- End UINodeTypeManager-- ########################*/