/**
 * Created by The eXo Platform SARL
 * Author : Dang Van Minh
 *          minhdv@exoplatform
 * Nov 2, 2006
 * version: $Id$
 */
/*############################## -- UINodeTypeManager-- ########################*/

.UIECMAdminPortlet .UIFormWithTitle {
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeExport {
  width: 440px;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeExport .UIFormWithTitle .UIAction {
  width: 250px;
  padding-left: 35px;
}

.UIECMAdminPortlet .UINodeTypeExport .UIFormWithTitle .HorizontalLayout {
  padding: 8px 12px 8px 0px;
}

.UIECMAdminPortlet .UINodeTypeExport .HorizontalLayout .FieldContainer {
  padding:  5px 2px 0px 8px;
}

.UIECMAdminPortlet .UINodeTypeUpload .UIFormWithTitle {
  width: 450px ;
  border: 1px solid white ;
  margin-left: auto;
}

.UIECMAdminPortlet .UINodeTypeUpload .UIFormWithTitle .UIAction {
  width: 160px;
  padding-left: 10px;
}

.UIECMAdminPortlet .UINodeTypeUpload .UIFormWithTitle .HorizontalLayout {
  padding: 20px 0px;
}

.UIECMAdminPortlet .UINodeTypeImport .UIFormWithTitle {
  border: 1px solid white ;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane {
  width: 600px ;
  margin: auto;
  margin-top: 10px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIAction {
  width: 240px ;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane .UIAction {
  width: 70px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane label {
  width: 130px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane input {
  border: solid 1px gray;
  padding-left: 3px; 
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane textarea {
  border: solid 1px gray;
  padding: 3px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane .UIAction {
  width: 70px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane .UIFormInputSet{
	padding-top: 5px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormInputSet .UIFormInputSetWithActions .checkbox {
  width: 15px;
}

/*############################## -- End UINodeTypeManager-- ########################*/