/**
 * Created by The eXo Platform SARL
 * Author : Dang Van Minh
 *          minhdv@exoplatform
 * Nov 2, 2006
 * version: $Id$
 */
/*############################## -- UINodeTypeManager-- ########################*/

.UIECMAdminPortlet .UINodeTypeManager {
  padding: 2px 0px 0px 0px;
  width: 98%;
}

.UIECMAdminPortlet .UINodeTypeManager .UIAction {
  width: 200px ;
  padding-left: 25px;
}

.UIECMAdminPortlet .UINodeTypeManager .nodeTypeDefinition .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeManager .nodeTypeDefinition .UIAction {
  width: 240px ;
}

.UIECMAdminPortlet .UINodeTypeManager .propertyDefinition .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeManager .childNodeDefinition .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane {
  width: 95%;
  margin: 10px auto;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTableInputSet {
	padding: 2px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeImportPopup {
	padding: 10px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeImportPopup .HorizontalLayout {
	padding-top: 10px;
	background: #f7f7f7;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeImportPopup .UIAction {
	width: 260px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeUpload .UIAction {
	width: 160px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeUpload .ProgressBarFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeUpload .SelectFileFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeUpload .FileNameLabel {
	width: auto;	
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeExport {
	width: 95%;
	margin: 10px auto;	
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeExport .UIForm .HorizontalLayout {
	border: none;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeExport .UIAction {
	width: 260px;	
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeExport .UIGrid .text {
	width: 100%;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeExport .UIGrid th {
	padding: 0px 5px;
}

/*############################## -- End UINodeTypeManager-- ########################*/