/**
 * Created by The eXo Platform SAS
 * Modifile : Vu Duy Tu
 *           duytucntt@gmail.com
 * January 03, 2006
 * version: $Id$
 */
/*############################## -- UINodeTypeManager-- ########################*/

.UIECMAdminPortlet .UIFormWithTitle {
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeExport {
  width: 440px;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeExport .UIFormWithTitle .HorizontalLayout {
  padding: 8px 12px 8px 0px;
}

.UIECMAdminPortlet .UINodeTypeExport .HorizontalLayout .FieldContainer {
  padding:  5px 2px 0px 7px;
}

.UIECMAdminPortlet .UINodeTypeExport .UIFormWithTitle .UIAction {
  width: 280px;
  padding-left: 30px;
}

.UIECMAdminPortlet .UINodeTypeUpload .UIFormWithTitle {
  width: 450px ;
  border: 1px solid #e1e1e1 ;
  margin-left: auto;
}

.UIECMAdminPortlet .UINodeTypeUpload .UIFormWithTitle .UIAction {
  width: 170px;
  padding: 0px 0px 8px 10px;
}

.UIECMAdminPortlet .UINodeTypeUpload .UIFormWithTitle .HorizontalLayout {
  padding: 20px 0px;
}

.UIECMAdminPortlet .UINodeTypeUpload .UIFormWithTitle label {
	line-height: 20px;
	width: 140px;
}

.UIECMAdminPortlet .UINodeTypeImport .UIFormWithTitle {
  width: 400px ;
}

.UIECMAdminPortlet .UINodeTypeExport .UIAction {
  width: 330px ;
}

.UIECMAdminPortlet .UINodeTypeExport {
  width: 440px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane {
  width: 600px ;
  margin: auto;
  margin-top: 10px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane .UIAction {
  width: 80px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane label {
  width: 130px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIAction {
  width: 250px ;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane input {
  border: solid 1px #b7b7b7;
  padding-left: 3px; 
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane textarea {
  border: solid 1px #b7b7b7;
  padding: 3px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane .UIFormInputSet{
	padding-top: 5px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane .UIGrid {
  width: 450px ;
  margin-left: 50px;
}

/*############################## -- End UINodeTypeManager-- ########################*/