/**
 * Created by The eXo Platform SAS
 * Modifile : Vu Duy Tu
 *           duytucntt@gmail.com
 * January 03, 2006
 * version: $Id$
 */
/*############################## -- UINodeTypeManager-- ########################*/

.UIECMAdminPortlet .UINodeTypeExport .UIFormWithTitle {
 width: 440px;
 margin-left: 10px;
}

.UIECMAdminPortlet .UINodeTypeExport .UIFormWithTitle .HorizontalLayout {
 padding: 8px;
}

.UIECMAdminPortlet .UINodeTypeExport .UIFormWithTitle .FieldContainer {
 	border-left: solid 1px #afaeae;
}

.UIECMAdminPortlet .UINodeTypeExport .UIFormWithTitle .UIAction {
	width: 200px;
}

.UIECMAdminPortlet .UINodeTypeExport .UIFormWithTitle .UIGrid {
  width: 100% ;
  border-right: 0px ;
  border-left: 0px ;
}

.UIECMAdminPortlet .UINodeTypeExport .UIGrid .text {
  width: 100% ;
}

.UIECMAdminPortlet .UINodeTypeUpload .UIFormWithTitle {
  width: 540px ;
  border: 1px solid #afaeae;
  margin-left: auto;
}

.UIECMAdminPortlet .UINodeTypeUpload .UIFormWithTitle label {
	line-height: 20px;
	padding-right: 10px;
}

.UIECMAdminPortlet .UINodeTypeUpload .UIFormWithTitle .UIAction{
  width: 200px ;
  padding: 9px 0px 14px 0px;
}

.UIECMAdminPortlet .UINodeTypeImport .UIFormWithTitle {
  width: 400px ;
  border: 1px solid #afaeae ;
  margin-left: 25px;
}

.UIECMAdminPortlet .UINodeTypeExport .UIAction {
  width: 330px ;
}

.UIECMAdminPortlet .UINodeTypeExport {
  width: 440px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormInputSet .UIAction{
  width: 400px;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeList .UIAction {
  width: 290px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane {
  width: 680px ;
  margin:auto;
  margin-top: 10px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane .UIFormInputSet{
	padding-top: 5px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormInputSet .UIGrid {
  width: 100% ;
  border-left: 0px ;
  border-right: 0px ;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormInputSet .UIGrid .text{
  width: 100% ;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane .UIGrid {
  width: 450px ;
  margin-left: 50px;
}

/*############################## -- End UINodeTypeManager-- ########################*/