/**
 * Created by The eXo Platform SAS
 * Modifile : Vu Duy Tu
 *           duytucntt@gmail.com
 * January 03, 2006
 * version: $Id$
 */
/*############################## -- UINodeTypeManager-- ########################*/

.UIECMAdminPortlet .ActionContainer {
  width: auto ;
  margin: auto ;
}

.UIECMAdminPortlet .ECMTempForm .UIForm .UIAction {
  width: 270px ;
}

.UIECMAdminPortlet .UINodeTypeExport .UIFormWithTitle {
  width: 440px;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeExport .UIFormWithTitle .HorizontalLayout {
  padding: 8px;
}

.UIECMAdminPortlet .UINodeTypeExport .UIForm .UIAction {
	width: 310px;
}

.UIECMAdminPortlet .UINodeTypeExport .UIFormWithTitle .UIGrid {
  border-right: 0px ; border-left: 0px ;
}

.UIECMAdminPortlet .UINodeTypeExport .HorizontalLayout .FieldContainer {
	margin-top: 5px;
	overflow: visible;
	width: 99.7%;
}

.UIECMAdminPortlet .UINodeTypeUpload .HorizontalLayout {
	border: none;
}

.UIECMAdminPortlet .UINodeTypeExport .UIGrid .text {
  width: 100% ;
}

.UIECMAdminPortlet .UINodeTypeUpload .UIFormWithTitle {
  width: 540px ;
  border: 1px solid #afaeae;
  margin-left: auto;
}

.UIECMAdminPortlet .UINodeTypeUpload .UIFormWithTitle label {
	line-height: 20px;
	padding-right: 10px;
}

.UIECMAdminPortlet .UINodeTypeUpload .UIFormWithTitle .UIAction{
  width: 200px ;
  padding: 10px 0px;
}

.UIECMAdminPortlet .UINodeTypeImport .UIFormWithTitle {
  width: 400px ;
  border: 1px solid #afaeae ;
  margin-left: 25px;
}

.UIECMAdminPortlet .UINodeTypeExport {
  width: 440px;
  margin: auto;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormInputSet .UIAction {
  width: 340px;
  margin: auto;	
  padding: 5px;;
}

.UIECMAdminPortlet .UINodeTypeManager .UINodeTypeList .UIAction {
  width: 270px;
  margin: auto;
  padding: 5px 0px; 
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane label {
  width: 135px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane {
  width: 680px ;
  margin:auto; margin-top: 10px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane .UIFormInputSet{
	padding-top: 5px;
}



.UIECMAdminPortlet .UINodeTypeManager .UIFormInputSet .UIGrid {
  width: 100% ;
  border-left: 0px ; border-right: 0px ;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormInputSet .UIGrid .text{
  width: 100% ;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormTabPane .UIGrid {
  width: 99.7% ;
  margin: 1px;
}

.UIECMAdminPortlet .UINodeTypeManager .UIFormInputSet .UIFormInputSetWithActions .checkbox {
  width: 45px;
}

/*############################## -- End UINodeTypeManager-- ########################*/