/**
 * Created by The eXo Platform SARL
 * Author : Dang Van Minh
 *          minhdv@exoplatform.com
 * Nov 02, 2006
 * version: $Id$
 */

/*############################## -- UIMetadataManager-- ########################*/

.UIECMAdminPortlet .UIMetadataManager  {
  padding: 2px 10px 0px 10px;
}

.UIECMAdminPortlet .UIMetadataManager .UITabPane {
  width: 95%;
  margin: auto;
}

.UIECMAdminPortlet .UIMetadataManager .UITabPane .UIAction {
  width: 160px;
}

.UIECMAdminPortlet .UIMetadataManager .UIForm .FieldLabel {
  width: 128px;
}

.UIECMAdminPortlet .UIMetadataManager .UIForm .textarea {
  width: 90%;
  height: 350px;
  padding: 3px;
}

.UIECMAdminPortlet .metadataTypeTab .FormContainer {
  width: 500px;
  margin: auto;
}

.UIECMAdminPortlet .UIMetadataList .UIPageIterator {
  float: right;
  width: 95%;
}

.UIECMAdminPortlet .UIMetadataManager .UIMetadataList .UIAction {
  width: 110px ;
}

.UIECMAdminPortlet .UIMetadataManager .metadataTypeTab .UIFormInputSet .FormContainer {
	width: 500px;
	margin: auto;
}

.UIECMAdminPortlet .MetadataInfoDetails {
}

.UIECMAdminPortlet .MetadataInfo .GridTitleBar {
  width: 220px;
  padding-top: 10px ;
}

.UIECMAdminPortlet .MetadataInfo .GridTitleBar .GridTitleLeftBar  {
  padding-left: 5px;
  line-height: 21px;
  background: url('DefaultSkin/background/InfoBarLeftBg5x21.gif') no-repeat left;
}

.UIECMAdminPortlet .MetadataInfo .GridTitleBar .GridTitleRightBar {
  padding-right: 21px;
  line-height: 21px;
  background: url('DefaultSkin/background/InfoBarRightBg22x21.gif') no-repeat right;
}

.UIECMAdminPortlet .MetadataInfo .GridTitleBar .GridTitleMiddleBar {
  line-height: 21px;
  vertical-align: middle;
  background: url('DefaultSkin/background/InfoBarCenterBg1x21.gif') repeat-x;
  padding: 0px 10px;
}

/*############################## -- End UIMetadataManager-- ########################*/