/**
 * Created by The eXo Platform SARL
 * Author : Dang Van Minh
 *          minhdv@exoplatform.com
 * Nov 02, 2006
 * version: $Id$
 */

/*############################## -- UIMetadataManager-- ########################*/

.UIECMAdminPortlet .UIMetadataManager .UITabPane {
  width: 97%;
  margin: auto;
}

.UIECMAdminPortlet .UIMetadataManager .UIForm .HorizontalLayout label {
	float:left;
  width: 120px ;
	text-align: right;
	margin: 0px 10px ;
}

.UIECMAdminPortlet .UIMetadataManager .UITabPane .UIAction {
  width: 160px;
}

.UIECMAdminPortlet .UIMetadataManager .UIFormInputSet {
  width: 550 px;
  margin: auto;
}

.UIECMAdminPortlet .UIMetadataManager .UIForm .textarea {
  width: 350px;
  height: 270px;
  padding: 3px;
}

.UIECMAdminPortlet .UIMetadataForm .UIFormWithTitle .UIAction {
  margin: 5px auto 15px auto;
  padding-bottom: 15px;
}

.UIECMAdminPortlet .UIMetadataManager {
  padding: 2px 0px 0px 5px;
}

.UIECMAdminPortlet .UIMetadataList .UIPageIterator {
  float: right;
  width: 95%;
}

.UIECMAdminPortlet .UIMetadataManager .UIMetadataList .UIAction {
  width: 110px ;
}

.UIECMAdminPortlet .MetadataInfoDetails {
  width: 550px;
}

.UIECMAdminPortlet .MetadataInfo .GridTitleBar {
  width: 220px;
  padding-top: 10px ;
}

.UIECMAdminPortlet .MetadataInfo .GridTitleBar .GridTitleLeftBar  {
  padding-left: 5px;
  line-height: 21px;
  background: url('DefaultSkin/background/InfoBarLeftBg5x21.gif') no-repeat left;
}

.UIECMAdminPortlet .MetadataInfo .GridTitleBar .GridTitleRightBar {
  padding-right: 21px;
  line-height: 21px;
  background: url('DefaultSkin/background/InfoBarRightBg22x21.gif') no-repeat right;
}

.UIECMAdminPortlet .MetadataInfo .GridTitleBar .GridTitleMiddleBar {
  line-height: 21px;
  vertical-align: middle;
  background: url('DefaultSkin/background/InfoBarCenterBg1x21.gif') repeat-x;
  padding: 0px 10px;
}

/*############################## -- End UIMetadataManager-- ########################*/