/**
 * Created by The eXo Platform SARL
 * Modif : Tran The Trong
 *          trongtt@gmail.com
 * March 14, 2007
 * version: $Id$
 */

.CBDefaultFolder16x16Icon {
	width: 20px; height:20px;
  background: url('VistaSkin/DefaultFolderIcon.png') no-repeat;
}

.CBDefaultDocument16x16Icon {
	width: 16px; height:16px;
  background: url('DefaultSkin/DefaultDocumentIcon.gif') no-repeat;
}

.SelectFolder16x16Icon  {
	width: 16px; height:16px;
  background: url('DefaultSkin/SmallSelectFolderIcon.gif') no-repeat;
}

.NormalFolder16x16Icon  {
	width: 16px; height:16px;
  background: url('DefaultSkin/SmallNormalFolderIcon.gif') no-repeat;
}

.default16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/default.gif') no-repeat;  
}

.dc_elementSet16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/dc-elementSet.gif') no-repeat;  
}

.exo_accessControllable16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-accessControllable.gif') no-repeat;  
}

.exo_action16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-action.gif') no-repeat;  
}

.exo_actionable16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-actionable.gif') no-repeat;  
}

.exo_article16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-article.gif') no-repeat;  
}

.exo_article_reference16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-article-reference.gif') no-repeat;  
}

.exo_backupAction16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-backupAction.gif') no-repeat;  
}

.exo_businessProcessAction16x16Icon {
  width: 16px ;	height: 16px ;
  background: url('DefaultSkin/exo-businessProcessAction.gif') no-repeat;  
}

.exo_categorized16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-categorized.gif') no-repeat;  
}

.exo_mockNodeType16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-mockNodeType.gif') no-repeat;  
}

.exo_move16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-move.gif') no-repeat;  
}

.exo_namespace16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-namespace.gif') no-repeat;  
}

.exo_published16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-published.gif') no-repeat;  
}

.exo_relationable16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-relationable.gif') no-repeat;  
}

.exo_ruleAction16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-ruleAction.gif') no-repeat;  
}

.exo_scriptAction16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-scriptAction.gif') no-repeat;  
}

.exo_sendMailAction16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-sendMailAction.gif') no-repeat;  
}

.exo_tab16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-tab.gif') no-repeat;  
}

.exo_taxonomy16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-taxonomy.gif') no-repeat;  
}

.exo_template16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-template.gif') no-repeat;  
}

.exo_versionStorage16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-versionStorage.gif') no-repeat;  
}

.exo_transformBinaryToTextAction16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-transformBinaryToTextAction.gif') no-repeat;  
}

.exo_view16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-view.gif') no-repeat;  
}

.exo_workflowAction16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-workflowAction.gif') no-repeat;  
}

.exo_createRSSFeedAction16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/exo-createRSSFeedAction.gif') no-repeat;  
}

.mix_lockable16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/mix-lockable.gif') no-repeat;  
}

.mix_referenceable16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/mix-referenceable.gif') no-repeat;  
}

.mix_versionable16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/mix-versionable.gif') no-repeat;  
}

.nt_base16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/nt-base.gif') no-repeat;  
}

.nt_childNodeDefinition16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/nt-childNodeDefinition.gif') no-repeat;  
}

.nt_file16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/nt-file.gif') no-repeat;  
}

.nt_folder16x16Icon {
  width: 21px; height: 24px;
  background: url('VistaSkin/nt-folder.png') no-repeat;  
  border: 1px soild red;
}

.nt_frozenNode16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/nt-frozenNode.gif') no-repeat;  
}

.nt_hierarchyNode16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/nt-hierarchyNode.gif') no-repeat;  
}

.nt_linkedFile16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/nt-linkedFile.gif') no-repeat;  
}

.nt_nodeType16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/nt-nodeType.gif') no-repeat;  
}

.nt_propertyDefinition16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/nt-propertyDefinition.gif') no-repeat;  
}

.nt_query16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/nt-query.gif') no-repeat;  
}

.nt_resource16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/nt-resource.gif') no-repeat;  
}

.nt_unstructured16x16Icon {
  width: 21px; height: 24px;
  background: url('VistaSkin/nt-unstructured.png') no-repeat;  
}

.nt_version16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/nt-version.gif') no-repeat;  
}

.nt_versionedChild16x16Icon {
  width: 16px; height: 16px;
  background: url('../DefaultSkin/nt-versionedChild.gif') no-repeat;  
}

.nt_versionHistory16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/nt-versionHistory.gif') no-repeat;  
}

.nt_query16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/nt-query.gif') no-repeat;  
}

.nt_versionLabels16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/nt-versionLabels.gif') no-repeat; 
}

.rma_filePlan16x16Icon {
  width: 16px;	height: 16px;
  background: url('DefaultSkin/rma-filePlan.gif') no-repeat; 
}

.kfx_document16x16Icon {
  width: 16px;	height: 16px;
  background: url('DefaultSkin/kfx-document.gif') no-repeat;  
}

/*############################## -- End NodeType Icon -- ########################*/
.application_msword16x16Icon {
  width: 16px;	height: 16px;
  background: url('DefaultSkin/doc.gif') no-repeat;  
}

.application_xls16x16Icon {
  width: 16px;	height: 16px;
  background: url('DefaultSkin/xls.gif') no-repeat;  
}

.application_ppt16x16Icon {
  width: 16px;	height: 16px;
  background: url('DefaultSkin/ppt.gif') no-repeat;  
}

.application_pdf16x16Icon {
  width: 16px;	height: 16px;
  background: url('DefaultSkin/pdf.gif') no-repeat;  
}

.application_vnd_oasis_opendocument_text16x16Icon {
  width: 16px;	height: 16px;
  background: url('DefaultSkin/odt.gif') no-repeat;
}

.application_vnd_oasis_opendocument_spreadsheet16x16Icon {
  width: 16px;	height: 16px;
  background: url('DefaultSkin/ods.gif') no-repeat;  
}

.application_vnd_oasis_opendocument_presentation16x16Icon {
  width: 16px;	height: 16px;
  background: url('DefaultSkin/odp.gif') no-repeat;  
}

.application_zip16x16Icon {
  width: 16px;	height: 16px;
  background: url('DefaultSkin/zip.gif') no-repeat;  
}

.application_rar16x16Icon {
  width: 16px;	height: 16px;
  background: url('DefaultSkin/rar.gif') no-repeat;  
}

.text_rtf16x16Icon {
  width: 16px;	height: 16px;
  background: url('DefaultSkin/rtf.gif') no-repeat;  
}

.text_plain16x16Icon {
  width: 16px;	height: 16px;
  background: url('DefaultSkin/txt.gif') no-repeat;  
}

.text_xml16x16Icon {
  width: 16px;	height: 16px;
  background: url('DefaultSkin/xml.gif') no-repeat;  
}

.image_jpeg16x16Icon {
  width: 16px;	height: 16px;
  background: url('DefaultSkin/jpg.gif') no-repeat;  
}

.image_png16x16Icon {
  width: 16px;	height: 16px;
  background: url('DefaultSkin/png.gif') no-repeat;  
}