/**
 * Created by The eXo Platform SAS
 * Modifier : Vu Duy Tu
 *           duytucntt@gmail.com
 * January 03, 2006
 * version: $Id$
 */


.UIECMAdminPortlet .UITaxonomyContainer {
  border: solid 1px #d9d8d8;
  padding: 5px;
  background-color: white;
}

.UIECMAdminPortlet .UITaxonomyManager .Icon16x16 {
  margin: 7px 7px 0px 0px;
  float: left;
  cursor: pointer;
}

.UIECMAdminPortlet .UITaxonomyManager .Icon24x24 {
  margin: 3px 3px;
  float: left;
}

.UIECMAdminPortlet .UITaxonomyManager .UIFormWithTitle .HorizontalLayout{
	width: 400px;
	margin: auto;
	border: none;
}

.UIECMAdminPortlet .UITaxonomyManager .SubTaxonomyContainer {
	border-top: solid 1px #d9d8d8;
	border-left: solid 1px #d9d8d8;
	border-right: solid 1px #d9d8d8;
}

.UIECMAdminPortlet .UITaxonomyManager .HomeNode {
  padding: 0px 7px;
  line-height: 30px;
  background-color: #eaeaea;
  border-bottom: solid 1px #d9d8d8;  
  font-weight: bold;
}

.UIECMAdminPortlet .UITaxonomyManager .Node {
  line-height: 29px;
  background-color: #eaeaea;
  border-bottom: solid 1px #d9d8d8;
}

.UIECMAdminPortlet .UITaxonomyManager .NodeEven {
  line-height: 29px;
  background-color: #f4f3f3;
  border-bottom: solid 1px #d9d8d8;
}

.UIECMAdminPortlet .UITaxonomyManager .NoneIcon {
  margin: 7px 2px;
  float: left;
  width: 16px;
  height: 16px;  
}

.UIECMAdminPortlet .UITaxonomyManager .ExpandIcon {
  margin: 7px 0px;
  float: left;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGrayMinus.gif') no-repeat ;
}

.UIECMAdminPortlet .UITaxonomyManager .ColapseIcon {
  margin: 7px 0px;
  float: left;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGrayPlus.gif') no-repeat ;
}

.UIECMAdminPortlet .UITaxonomyManager .NodeActionsContainer {
  float: right;
}

.UIECMAdminPortlet .UITaxonomyManager .UIFormWithTitle .UIAction {
  width: 170px;
  padding-left: 30px;
}

.UIECMAdminPortlet .TrueFalseContainer{
  width: 65px;
  margin: auto;
}

.UIECMAdminPortlet .UITaxonomyManager .UITaxonomyForm {
	padding: 10px;
}

.UIECMAdminPortlet .UITaxonomyManager .HorizontalLayout .FieldContainer {
  width: 450px;
  margin: auto;
}

.UIECMAdminPortlet .UITaxonomyManager .HorizontalLayout label {
  width: 120px;
}

.UIECMAdminPortlet .UITaxonomyManager .UIAction {
  width: 100px;
}

