/**
 * Created by The eXo Platform SARL
 * Modif : Vu Duy Tu
 *          duytucntt@gmail.com
 * DEC 20, 2006
 * version: $Id$
 */
@import url("NodeTypes/VistaStylesheet.css");

.AddIcon16x16 {
  float: left;
  width: 16px; height: 16px;
  background: url('VistaSkin/AddNodeIcon.gif') no-repeat;
  cursor: pointer;
}

.UIGrid .ViewIcon {
	width:16px; height: 16px;
	background: url('VistaSkin/YellowLight.png') no-repeat center;
	float: left;
}

.UIGrid .DeleteIcon {
	width: 18px; height: 20px;
	background: url('VistaSkin/Delete.png') no-repeat center;
}

.UIGrid .EditInfoIcon {
	width: 18px; height: 17px;
	background: url('VistaSkin/Edit.png') no-repeat center;
}

.AddPathIcon {
  float: left ;
	width: 17px;	height: 19px;
  background: url('VistaSkin/AddPath.png') no-repeat ;
  cursor: pointer;
}

.AddIconIcon {
  float: left ;
	width: 17px;	height: 18px;
  background:transparent url('VistaSkin/AddNodeIcon.png') no-repeat left center;
  cursor: pointer;
} 

.AddPermissionIcon {
  float: left;
	width: 16px; height: 17px;
  background: url('VistaSkin/SelectPermissionIcon.png') no-repeat; 
  cursor: pointer;
  margin: 2px 4px 0px 4px;
}
 
.PermissionIcon16x16 {
  float:left;
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat; 
  cursor: pointer;
  margin: 4px;
}
 
.Remove16x16Icon {
	width: 19px; height: 18px;
  background: url('VistaSkin/DustBin.png') no-repeat center; 
  cursor: pointer;
}

.SelectMemberIcon {
  width: 16px; height: 16px;
  background: url('VistaSkin/SmallMemberIcon.png') no-repeat;
  cursor: pointer;  
}

.ExecuteIcon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Execute.gif') no-repeat;  
  cursor: pointer;
}

.SelectGroupIcon {
	width: 24px; height: 20px;
  background: url('VistaSkin/SmallGroup.png') no-repeat;  
  cursor: pointer;
}

.AddAnyIcon {
	width: 20px; height: 16px;
  background: url('VistaSkin/SmallGroup.png') no-repeat;  
  cursor: pointer;
}
.SelectUserIcon {
	width: 16px; height: 16px;
  background: url('VistaSkin/SmallUserIcon.png') no-repeat;  
  cursor: pointer;
}
 
.ExpandIcon {
  width: 16px; height: 16px;
  background: url('VistaSkin/SmallGrayMinus.gif') no-repeat ;
  cursor: pointer;
}

.CollapseIcon  {
  width: 16px; height: 16px;
  background: url('VistaSkin/SmallGrayPlus.gif') no-repeat ;
  cursor: pointer;
}

.CompareVersion16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/CompareVersion.gif') no-repeat;
  cursor: pointer;
}

.RestoreVersion16x16Icon {
  width: 19px; height: 18px;
  background: url('VistaSkin/RestoreVersion.png') no-repeat ;
  cursor: pointer;
}

.BlueRoundedPlusPage16x16Icon {
  width: 19px; height: 18px;
  background: url('VistaSkin/BlueRoundedPlusPage.png') no-repeat ;
  cursor: pointer;
}

.RedRoundedPlusPage16x16Icon {
  width: 19px; height: 18px;
  background: url('VistaSkin/RedRoundedPlusPage.png') no-repeat ;
  cursor: pointer;
}

.Style1NextArrow16x16Icon {
  width: 16px; height: 16px;
  background: url('VistaSkin/BlueCircleNextArrow.png') no-repeat;
}

.Style1DownArrow16x16Icon {
  width: 15px; height:19px;
  background: url('VistaSkin/BlackBorderDownArrow.gif') no-repeat center;
}

.BlackClose16x16Icon {
  width: 16px; height: 16px;
  background: url('VistaSkin/BlackClose.gif') no-repeat center center;
}

.BlueDownArrow16x16Icon {
  width: 16px; height: 16px;
  background: url('VistaSkin/BlueDownArrow.png') no-repeat center;
}

.BlueUpArrow16x16Icon {
  width: 16px; height: 16px;
  background: url('VistaSkin/BlueUpArrow.png') no-repeat;
}

.AddType16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.Watch16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.Unwatch16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.Continue16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/GreenRightArrowPage.gif') no-repeat;  
}

.SaveDraft16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.AddTag16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.SetDefault16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.AddLanguage16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.UpdateStyle16x16Icon {
	width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.UpdateChild16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.UpdateProperty16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.AddProperty16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.AddQuery16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.AddConstraints16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/AddNodeIcon.gif') no-repeat;  
}

.AddValue16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.AddNamespace16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.AddChild16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat;  
}

.CancelTab16x16Icon {
  background: url('DefaultSkin/RedCrossCircle.gif') no-repeat;  
}

.CancelChild16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/RedCrossCircle.gif') no-repeat;  
}

.Close16x16Icon {
  width: 16px; height: 16px;
  background: url('VistaSkin/BlueCrossRect.gif') no-repeat;  
}

.CancelProperty16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/RedCrossCircle.gif') no-repeat;  
}

.CancelConstraints16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/RedCrossCircle.gif') no-repeat;  
}

.Upload16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/Save.gif') no-repeat;  
}

.View16x16Icon {
  width: 19px; height: 18px;
  background: url('VistaSkin/YellowLight.png') no-repeat center;  
}

.OpenFolder16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/OpenFolder.gif') no-repeat;  
}

.MetaView16x16Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/YellowLight.png') no-repeat;  
  cursor: pointer;
}

.DeleteIconInfo {
  width: 24px; height: 24px;
  background: url('VistaSkin/Delete.png') no-repeat ; 
  cursor: pointer;
  margin-left: 3px;
}

.EditStyleIcon {
  width: 24px ;  height: 24px ;
  background: url('VistaSkin/Edit.png') no-repeat ;
  cursor: pointer;
}

.EditIcon {
  width: 24px ;  height: 24px ;
  background: url('VistaSkin/Edit.png') no-repeat ;
  cursor: pointer;
}

.False16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('VistaSkin/False.png') no-repeat;  
}

.True16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('VistaSkin/True.png') no-repeat;  
}

.SelectPath16x16Icon {
  float: left;
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/SearchPage.gif') no-repeat;  
}

.SelectPermission16x16Icon {
  float: left;
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/SmallGroup.gif') no-repeat;  
}

/*############################## -- Action Icon  -- ##############################*/
.Add16x16Icon {
  float: left;
  width: 24px; height: 24px;
  background: url('VistaSkin/BlueCirclePlus.png') no-repeat;  
}

.Delete16x16Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/Delete.png') no-repeat ;   
}

.Locked16x16Icon {
  width: 16px; height: 16px;
  background: url('VistaSkin/Lock.gif') no-repeat ;
}

.Lock16x16Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/Lock.png') no-repeat center left;
}

.Unlock16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/UnLock.gif') no-repeat ;   
}

.DownLoad16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/DownLoadIcon.gif') no-repeat ;   
}

.CheckIn16x16Icon {
  width: 24px; height: 20px;
  background: url('VistaSkin/CheckIn.png') no-repeat ;   
}

.CheckOut16x16Icon {
  width: 24px; height: 20px;
  background: url('VistaSkin/CheckOut.png') no-repeat ;   
}

.WebDAV16x16Icon {
  height: 24px;
  background: url('VistaSkin/Webdav.png') no-repeat left center ; 
}

.Copy16x16Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/Copy.png') no-repeat left center ; 
}

.Cut16x16Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/Cut.png') no-repeat left center ; 
}

.Rename16x16Icon {
  height: 24px;
  background: url('VistaSkin/Rename.gif') no-repeat left center ; 
}

.Edit16x16Icon {
  float: left;
  width: 24px; height: 24px;
  background: url('VistaSkin/Edit.png') no-repeat left center ; 
  cursor: pointer;   
}

.EditDocument16x16Icon {
  width:24px; height:20px;
  background: url('VistaSkin/Edit.png') no-repeat left center ; 
  cursor: pointer;   
}

.Save16x16Icon {
  width: 24px; height: 20px;
  background: url('VistaSkin/Save.png') no-repeat left center ; 
}

.Search16x16Icon { 
  width: 16px ;  height: 16px ;
  background: url('DefaultSkin/SearchPage.gif') no-repeat left center ; 
}

.AddRule16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center ; 
}

.AddAction16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center ; 
}

.AddNameSpace16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center ; 
}

.AddNew16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center ; 
}

.AddDrive16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center ; 
}

.AddView16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/BlueCirclePlus.gif') no-repeat left center ; 
}

.Custom16x16Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/AddNodeIcon.png') no-repeat left center ; 
}

.Paste16x16Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/Paste.png') no-repeat left center ; 
}

.Select16x16Icon {
  width: 16px; height: 16px;
  background: url('VistaSkin/SelectIcon.gif') no-repeat ; 
  cursor: pointer;
}

.Export16x16Icon {
  background-image: url('DefaultSkin/Export.gif') no-repeat left center ; 
}

.Import16x16Icon {
  background-image: url('DefaultSkin/Import.gif') no-repeat left center ; 
}

.Active16x16Icon {
  width: 16px; height: 16px;
  background-image: url('DefaultSkin/SelectPage.gif') no-repeat left center ; 
}

.RemoveFile {
	width: 19px;
	height: 18px;
	background: url('VistaSkin/DustBin.png') no-repeat;
	margin-left: 10px;
}

/*############################## -- End Action Icon  -- ##############################*/

/*############################## -- Begin Properties Icon -- ########################*/
.Icon16x16 {
  float: left;
}

.dc_contributor16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/dc-contributor.gif') no-repeat;  
}

.dc_coverage16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/dc-coverage.gif') no-repeat;  
}

.dc_creator16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/dc-creator.gif') no-repeat;  
}

.dc_date16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/dc-date.gif') no-repeat;  
}

.dc_description16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/dc-description.gif') no-repeat;  
}

.dc_format16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/dc-format.gif') no-repeat;  
}

.dc_identifier16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/dc-identifier.gif') no-repeat;  
}

.dc_language16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/dc-language.gif') no-repeat;  
}

.dc_publisher16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/dc-publisher.gif') no-repeat;  
}

.dc_relation16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/dc-relation.gif') no-repeat;  
}

.dc_resourceType16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/dc-resourceType.gif') no-repeat;  
}

.dc_rights16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/dc-rights.gif') no-repeat;  
}

.dc_source16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/dc-source.gif') no-repeat;  
}

.dc_subject16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/dc-subject.gif') no-repeat;  
}

.dc_title16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/dc-title.gif') no-repeat;  
}

.exo_businessProcess16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-businessProcess.gif') no-repeat;  
}

.exo_buttons16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-buttons.gif') no-repeat;  
}

.exo_date16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-date.gif') no-repeat;  
}

.exo_datetime16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-datetime.gif') no-repeat;  
}

.exo_description16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-description.gif') no-repeat;  
}

.exo_destPath16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-destPath.gif') no-repeat;  
}

.exo_destWorkspace16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-destWorkspace.gif') no-repeat;  
}

.exo_image16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-image.gif') no-repeat;  
}

.exo_lifecyclePhase16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-lifecyclePhase.gif') no-repeat;
}

.exo_name16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-name.gif') no-repeat;  
}

.exo_owner16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-owner.gif') no-repeat;  
}

.exo_permissions16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-permissions.gif') no-repeat;  
}

.exo_prefix16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-prefix.gif') no-repeat;  
}

.exo_relation16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-relation.gif') no-repeat;  
}

.exo_roles16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-roles.gif') no-repeat;  
}

.exo_rule16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-rule.gif') no-repeat;  
}

.exo_script16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-script.gif') no-repeat;  
}

.exo_summary16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-summary.gif') no-repeat;  
}

.exo_template16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-template.gif') no-repeat;  
}

.exo_templateFile16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-templateFile.gif') no-repeat;  
}

.exo_text16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-text.gif') no-repeat;  
}

.exo_title16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-title.gif') no-repeat;  
}

.exo_uri16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-uri.gif') no-repeat;  
}

.exo_validator16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/exo-validator.gif') no-repeat;  
}

.jcr_autoCreated16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-autoCreated.gif') no-repeat;  
}

.jcr_baseVersion16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-baseVersion.gif') no-repeat;  
}

.jcr_childNodeDefinition16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-childNodeDefinition.gif') no-repeat;  
}

.jcr_content16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-content.gif') no-repeat;  
}

.jcr_created16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-created.gif') no-repeat;  
}

.jcr_data16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-data.gif') no-repeat;  
}

.jcr_defaultPrimaryType16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-defaultPrimaryType.gif') no-repeat;  
}

.jcr_defaultValues16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-defaultValues.gif') no-repeat;  
}

.jcr_encoding16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-encoding.gif') no-repeat;  
}

.jcr_frozenMixinTypes16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-frozenMixinTypes.gif') no-repeat;  
}

.jcr_frozenPrimaryType16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-frozenPrimaryType.gif') no-repeat;  
}

.jcr_frozenUuid16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-frozenUuid.gif') no-repeat;  
}

.jcr_hasOrderableChildNodes16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-hasOrderableChildNodes.gif') no-repeat;  
}

.jcr_isCheckedOut16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-isCheckedOut.gif') no-repeat;  
}

.jcr_isMixin16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-isMixin.gif') no-repeat;  
}

.jcr_language16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-language.gif') no-repeat;  
}

.jcr_lastModified16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-lastModified.gif') no-repeat;  
}

.jcr_lockIsDeep16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-lockIsDeep.gif') no-repeat;  
}

.jcr_lockOwner16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-lockOwner.gif') no-repeat;  
}

.jcr_mandatory16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-mandatory.gif') no-repeat;  
}

.jcr_mergeFailed16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-mergeFailed.gif') no-repeat;  
}

.jcr_mimeType16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-mimeType.gif') no-repeat;  
}

.jcr_mixinTypes16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-mixinTypes.gif') no-repeat;  
}

.jcr_multiple16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-multiple.gif') no-repeat;  
}

.jcr_name16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-name.gif') no-repeat;  
}

.jcr_nodeTypeName16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-nodeTypeName.gif') no-repeat;  
}

.jcr_onParentVersion16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-onParentVersion.gif') no-repeat;  
}

.jcr_predecessors16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-predecessors.gif') no-repeat;  
}

.jcr_primaryItemName16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-primaryItemName.gif') no-repeat;  
}

.jcr_primaryType16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-primaryType.gif') no-repeat;  
}

.jcr_propertyDefinition16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-propertyDefinition.gif') no-repeat;  
}

.jcr_protected16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-protected.gif') no-repeat;  
}

.jcr_requiredPrimaryTypes16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-requiredPrimaryTypes.gif') no-repeat;  
}

.jcr_requiredType16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-requiredType.gif') no-repeat;  
}

.jcr_rootVersion16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-rootVersion.gif') no-repeat;  
}

.jcr_sameNameSiblings16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-sameNameSiblings.gif') no-repeat;  
}

.jcr_statement16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-statement.gif') no-repeat;  
}

.jcr_successors16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-successors.gif') no-repeat;  
}

.jcr_supertypes16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-supertypes.gif') no-repeat;  
}

.jcr_uuid16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-uuid.gif') no-repeat;  
}

.jcr_valueConstraints16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-valueConstraints.gif') no-repeat;  
}

.jcr_versionableUuid16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-versionableUuid.gif') no-repeat;  
}

.jcr_versionHistory16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-versionHistory.gif') no-repeat;  
}

.jcr_versionLabels16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/properties/jcr-versionLabels.gif') no-repeat;  
}

/*############################## -- End UIPropertyTab Icon -- ########################*/

/*############################## -- Begin NodeType Icon -- ########################*/
.dc_elementSet16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/dc-elementSet.gif') no-repeat;  
}

.exo_accessControllable16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-accessControllable.gif') no-repeat;  
}

.exo_action16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-action.gif') no-repeat;  
}

.exo_actionable16x16Icon {
  width: 24px; height: 22px;
  background: url('VistaSkin/nodetype/exo-actionable.gif') no-repeat;  
}

.exo_article16x16Icon {
  width: 17px; height: 18px;
  background: url('VistaSkin/nodetype/exo-article.gif') no-repeat;  
}

.exo_article_reference16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-article-reference.gif') no-repeat;  
}

.exo_backupAction16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-backupAction.gif') no-repeat;  
}

.exo_businessProcessAction16x16Icon {
  width: 16px ;	height: 16px ;
  background: url('NodeTypes/DefaultSkin/exo-businessProcessAction.gif') no-repeat;  
}

.exo_categorized16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-categorized.gif') no-repeat;  
}

.exo_mockNodeType16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-mockNodeType.gif') no-repeat;  
}

.exo_move16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-move.gif') no-repeat;  
}

.exo_namespace16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-namespace.gif') no-repeat;  
}

.exo_published16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-published.gif') no-repeat;  
}

.exo_relationable16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-relationable.gif') no-repeat;  
}

.exo_ruleAction16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-ruleAction.gif') no-repeat;  
}

.exo_scriptAction16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-scriptAction.gif') no-repeat;  
}

.exo_tab16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-tab.gif') no-repeat;  
}

.exo_taxonomy16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-taxonomy.gif') no-repeat;  
}

.exo_template16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-template.gif') no-repeat;  
}

.exo_versionStorage16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-versionStorage.gif') no-repeat;  
}

.exo_transformBinaryToTextAction16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-transformBinaryToTextAction.gif') no-repeat;  
}

.exo_view16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-view.gif') no-repeat;  
}

.exo_workflowAction16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-workflowAction.gif') no-repeat;  
}

.exo_createRSSFeedAction16x16Icon {
  width: 16px; height: 16px;
  background: url('NodeTypes/DefaultSkin/exo-createRSSFeedAction.gif') no-repeat;  
}

.ExtendButton16x16Icon {
  width: 16px; height: 16px;
  background: url('VistaSkin/SmallSelect.gif') no-repeat;  
}

.Note16x16Icon{
  width: 16px; height: 16px;
  background: url('DefaultSkin/SmallNote.gif') no-repeat center;  
}

.RightArrow16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/SmallRightArrow.gif') no-repeat center;  
}

.DropDownArrow16x16Icon {
	width: 16px; height: 16px;
  background: url('VistaSkin/DropDownArrow.gif') no-repeat;
}

.S2RightArrow16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/SmallBlackNext.gif') no-repeat center;  
}

.S2LeftArrow16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/SmallBlackBack.gif') no-repeat center;  
}

.S2RightGrayArrow16x16Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/SmallGrayNext.gif') no-repeat top;  
}
/**/
.ScrollLeftBlackArrow16x16Icon {
  width: 16px; height: 16px;
  background: url('VistaSkin/S1DropLeftBlackArrow.gif') no-repeat;  
}

.ScrollRightBlackArrow16x16Icon {
  width: 16px;height:16px;
  background: url('DefaultSkin/S1DropRightBlackArrow.gif') no-repeat;  
}

.ScrollLeftGrayArrow16x16Icon {
  width: 16px; height:16px;
  background: url('DefaultSkin/S1DropLeftGrayArrow.gif') no-repeat;  
}

.ScrollRightGrayArrow16x16Icon {
  width: 24px;height:24px;
  background: url('VistaSkin/S1DropRightGrayArrow.png') no-repeat;  
}

.ScrollBackArrow16x16Icon {
  width: 16px; height:16px;
  background: url('VistaSkin/ScrollLeft14x15.png') no-repeat;
  padding-left: 16px; 
}

.ScrollNextArrow16x16Icon {
  width: 16px;height:16px;
  background: url('VistaSkin/ScrollRight14x15.png') no-repeat;  
}

.DisableBackArrow16x16Icon {
  width: 16px; height:16px;
  background: url('VistaSkin/DisableScrollLeft14x15.png') no-repeat;  
  padding-left: 16px;
}

.DisableNextArrow16x16Icon {
  width: 16px; height:16px;
  background: url('VistaSkin/DisableScrollRight14x15.png') no-repeat;  
}

.Documents16x16Icon {
	width: 16px;	height: 16px;
  background: url('DefaultSkin/Documents.gif') no-repeat ;
}

.CategoryArrow16x16Icon {
	width: 16px;	height: 16px;
  background: url('DefaultSkin/CategoryArrow.gif') no-repeat ;
}

.RedEmpty16x16Icon {
	width: 16px;	height: 16px;
  background: url('DefaultSkin/Empty.gif') no-repeat ;
}

.S2LeftGrayArrow16x16Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/SmallGrayBack.gif') no-repeat top; 
}

.CBDropDownArrow16x16Icon {
	width: 16px; height:16px;
  background: url('VistaSkin/BlueDownArrow.png') no-repeat;
}

.CBHome16x16Icon {
	width: 16px; height:16px;
  background: url('VistaSkin/CBHomeIcon.png') no-repeat;
}

/*====================================UIRightClickPopupMenu==================================*/

.UIRightClickPopupMenu .Copy16x16Icon {
  background: url('VistaSkin/Copy.png') no-repeat left center;
}

.UIRightClickPopupMenu .Cut16x16Icon {
  background: url('VistaSkin/Cut.png') no-repeat left center;
}

.UIRightClickPopupMenu .EditDocument16x16Icon {
  background: url('VistaSkin/Edit.png') no-repeat left center;
}

.UIRightClickPopupMenu .Delete16x16Icon {
  background: url('VistaSkin/DustBin.png') no-repeat left center;
}

.UIRightClickPopupMenu .Lock16x16Icon {
  background: url('VistaSkin/Lock.png') no-repeat left center;
}

.UIRightClickPopupMenu .Rename16x16Icon {
  background: url('VistaSkin/Rename.gif') no-repeat left center;
}

.UIRightClickPopupMenu .Paste16x16Icon {
  background: url('VistaSkin/Paste.png') no-repeat left center;
}

.UIRightClickPopupMenu .WebDAV16x16Icon {
  background: url('VistaSkin/Webdav.png') no-repeat left center;
}

.UIRightClickPopupMenu .exo_sendMailAction16x16Icon {
  background: url('VistaSkin/exo-sendMailAction.png') no-repeat left center;
}

.UIRightClickPopupMenu .Unlock16x16Icon {
  background: url('DefaultSkin/UnLock.gif') no-repeat left center;
}

.UIRightClickPopupMenu .CheckIn16x16Icon {
  background: url('VistaSkin/CheckIn.png') no-repeat left center;
}

.UIRightClickPopupMenu .CheckOut16x16Icon {
  background: url('VistaSkin/CheckOut.png') no-repeat left center;
}

.UIRightClickPopupMenu .Save16x16Icon {
  background: url('VistaSkin/Save.png') no-repeat left center;
}