/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

@import url("../../../icons/DefaultStylesheet.css");
@import url("UIMetadataManager/DefaultStylesheet.css");
@import url("UINodeTypeManager/DefaultStylesheet.css");
@import url("UITaxonomyManager/DefaultStylesheet.css");

.UIECMAdminPortlet .UIAction {
	width: 300px;
}

.UIECMAdminPortlet .UIPageIterator {
	margin-right: 0px;
}

.UIECMAdminPortlet .UIECMPortletLayout {
  border: 1px solid #737373;
  border-collapse: collapse ;
  font-size: 11px ;
  background: url('DefaultSkin/background/ECMAdminTitleBar.gif') repeat-x left top;
}

.UIECMAdminPortlet .ECMLayoutSeparator {
	width: 11px;
	background: url('DefaultSkin/background/LayoutSeparator.gif') repeat-y left center;
}

.UIECMAdminPortlet .CollapseSideBar {
	width: 11px; height: 27px;
	background: url('DefaultSkin/background/CollapseSideBar.gif') no-repeat;
	cursor: pointer;
}

.UIECMAdminPortlet .UIFormWithTitle .FieldContainer .UIFormInputSet {
  background: none ;
  border: none ;
}

.UIECMAdminPortlet .ExpandSideBar {
	width: 11px; height: 27px;
	background: url('DefaultSkin/background/ExpandSideBar.gif') no-repeat;
	cursor: pointer;
}

.UIECMAdminPortlet .ECMAdminTitleBar {
	font-weight: bold; 
  line-height: 25px;
	text-align: center;
	height: 30px;
}

.UIECMAdminPortlet .UIECMAdminFunctionTitle {
	font-weight: bold;
  line-height: 25px;
	height: 30px;
}

.UIECMAdminPortlet .UIResizableBlock {
	overflow: auto;
}


.UIECMAdminPortlet .UIECMAdminControlPanel .UIVerticalSlideTabs {
  margin: 10px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab {
  margin: 8px 0px;
  cursor: pointer;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab .TabIcon {
	float: left;
  margin: 1px 5px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent {
  margin: 1px 2px;
  border: solid 1px #b2b1b1;
  background: #ffffff;
  padding: 5px ;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a {
	color: black;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a:hover {
	color: orange;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem {
  clear: both;
  height: 25px;
  margin: 4px 2px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemIcon {
  float: left;
  margin-right: 6px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemLabel {
  line-height: 25px;
  cursor: pointer;
}

.UIECMAdminPortlet .UIECMAdminWorkingArea {
  margin: 10px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .ActionField {
  float: left ;
  margin-left: 5px ;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions input {
  width: 225px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .checkbox {
  width: 15px;
}

/*############################## -- UINamespaceManager -- ########################*/
.UIECMAdminPortlet .UINamespaceManager .UIFormWithTitle {
	margin: auto;
}

.UIECMAdminPortlet .UINamespaceManager .UIFormWithTitle .HorizontalLayout {
 	padding: 15px 0px;
}

.UIECMAdminPortlet .UINamespaceList {
  margin-top: 5px ;
}

.UIECMAdminPortlet .UINamespaceList .UIAction{
	width: 100px;
}

/*############################## -- UIDriveManager -- ########################*/
.UIECMAdminPortlet .UIDriveList {
  margin-top: 5px ;
}

.UIECMAdminPortlet .UIDriveList .UIAction{
  width: 100px ;
}

.UIECMAdminPortlet .UIDriveManager .UIForm .HorizontalLayout label {
	float:left;
  width: 120px ;
	text-align: right;
	margin: 0px 10px ;
}

.UIECMAdminPortlet .UIDriveManager .UIGrid .ActionContainer {
  width: 45px ;
  margin: auto ;
}

.UIECMAdminPortlet .UIDriveManager .UIFormTabPane {
  width: 500px ;
  margin: auto ; margin-top: 10px; margin-bottom: 10px;
}

.UIECMAdminPortlet .UIDriveManager .UIJCRBrowser {
  margin: auto ; 
  padding: 10px 7px;
}

/*############################## -- UIViewManager -- ########################*/
.UIECMAdminPortlet .UIViewFormTabPane {
}

.UIECMAdminPortlet .ECMTempForm .UIFormWithTitle .UIAction {
  width: 220px ;
}

.UIECMAdminPortlet .UIViewContainer .UIFormTabPane {
	width: 540px;
	margin: auto;
}

.UIECMAdminPortlet .UIViewContainer .UIFormTabPane .UIAction{
	padding-top: 10px;
}

.UIECMAdminPortlet .UIViewManager .UITabPane{
  padding: 10px;
}

.UIECMAdminPortlet .UIViewContainer .UIGrid .ActionContainer {
  margin: auto;
  width: 70px;
}

.UIECMAdminPortlet .UIECMScripts .UIGrid .ActionContainer {
  margin: auto;
  width: 60px;
}

.UIECMAdminPortlet .UICBScripts .UIGrid .ActionContainer {
  margin: auto;
  width: 60px;
}

.UIECMAdminPortlet .UIViewContainer .UIViewList {
  margin-top: 5px;
}

.UIECMAdminPortlet .UIViewContainer .UIViewList .UIAction {
  width: 100px ;
}

.UIECMAdminPortlet .UIECMTemplateList {
  margin-top: 5px;
}
.UIECMAdminPortlet .UIECMTemplateList .UIAction{
  width: 85px;
}

.UIECMAdminPortlet .UICBTemplateList {
  margin-top: 5px;
}
.UIECMAdminPortlet .UICBTemplateList .UIAction{
   width: 85px;
}

.ECMTempForm .UIFormWithTitle .UIForm .textarea {
  width: 450px;
  height: 300px;
  margin-left: 25px;
}

.ECMTempForm .UIFormWithTitle .UIAction {
	width: 380px;
	margin-left: 100px;
}

.CBTempForm .UIFormWithTitle .UIAction {
	width: 380px;
	margin-left: 100px;
}

.CBTempForm .UIFormWithTitle .UIForm .textarea {
  width: 450px;
  height: 300px;
  margin-left: 25px;
}

/*############################## -- UIActionManager -- ########################*/
.UIActionManager .UIActionTypeForm .UIFormWithTitle .HorizontalLayout {
	padding-top: 10px; padding-left: 30px;
}

.UIActionManager .UIActionTypeList .UIAction {
  width: 100px ;
}


/*############################## -- UIScriptManager  -- ########################*/
.UIECMScripts .UIBarStyle {
	margin-bottom: 2px;
}
.UIECMScripts .UIFormWithTitle .HorizontalLayout .UIAction{
  width: 380px;
  margin-left: 100px;
}

.UIECMScripts .ECMScriptList .UIAction{
  width: 100px;
}

.UIECMScripts .UIScriptFilterForm .UIForm {
   height: 30px; width: 100%;
   padding: 0px;
   margin: 0px;
}
.UIECMScripts .UIScriptFilterForm .FieldContainer {
  padding-left: 15px;
}
.UIECMScripts .UIScriptFilterForm .UIForm label {
  line-height: 16px;
}

.UIECMScripts .UIScriptFilterForm .UIForm .selectbox {
  margin-top: 7px;
}

.UIECMScripts .UIFormWithTitle .HorizontalLayout{
  padding: 10px;
}

.UIECMScripts .UIFormWithTitle .UIForm .textarea {
  width: 450px;
  height: 300px;
  margin-left: 10px;
}

.UICBScripts .UIFormWithTitle .HorizontalLayout .UIAction{
  width: 380px;
  margin-left: 100px;
}
.UICBScripts .CBScriptList .UIAction{
  width: 100px;
}
.UICBScripts .UIFormWithTitle .HorizontalLayout{
  padding: 10px;
}

.UICBScripts .UIFormWithTitle .UIForm .textarea {
  width: 450px;
  height: 300px;
  margin-left: 10px;
}

/*############################## --Begin UITemplatesManager --##############################*/


.UITemplatesManager .UIGrid .ActionContainer {
  width: 50px ;
  margin: auto;
}

.UITemplatesManager .UITabPane {
	padding: 10px;
}

.UITemplatesManager .UITabPane .UIDialogTab .UIAction{
	width: 380px;
	margin-left: 100px;
}

.UITemplatesManager .UITabPane .UIViewTab .UIAction{
	width: 380px;
	margin-left: 100px;
}

.UITemplatesManager .UITemplateList .UIAction {
  width: 100px ;
}

.UITemplatesManager .UIFormTabPane .UIForm .textarea {
  width: 430px; 
  height: 300px; 
  margin: 5px ;
}

.UITemplatesManager .UITemplateEditForm .UIFormWithTitle .HorizontalLayout {
	border: none;
	padding: 0px;
}

.UITemplatesManager .UIFormWithTitle .UIForm .textarea {
  width: 350px; 
  height: 250px; 
}

/*############################## -- UIQueriesManager  -- ########################*/

.UIQueriesManager .UIQueriesForm .UIFormWithTitle .HorizontalLayout {
	padding: 15px 0px;
}

.UIQueriesList .UIAction {
  width: 100px ;
}

.UIQueriesManager .UIQueriesForm .UIForm .textarea {
	height: 150px ;
	width: 300px ;
}

/*############################## -- UIFolksonomyManager  -- ########################*/
.UIFolksonomyManager .UITagStyleForm .UIAction{
	width: 200px ;
	padding: 12px 0px;
}

.UIFolksonomyManager .UITagStyleForm .UIForm .textarea{
	height: 290px ;
	width: 400px ;
	margin-left: 40px;
}

/*############################## -- MultiField  -- ########################*/
.UIECMAdminPortlet .HorizontalLayout .FieldContainer .MultiValueContainer {
  margin-bottom: 10px ;
  margin-left: 135px ;
}

.UIECMAdminPortlet .UITree .TreeContainer .NodeSelected {
  height: 20px ; line-height: 20px;
  font-weight: bold; font-size: 11px;
  background: #8eeaaf ;
}

.Explorer {
  margin-bottom: 10px;
  float: left ;
  width: 230px ;
}

.Explorer .ExplorerTree {
  margin-top: 1px;
  border: solid 1px #c6c6c9;
  background: #f3f3f3;
  padding: 1px;
}

.Explorer .InnerExplorerTree {
  border: solid 1px #b1b0b0;
  padding: 10px;
}

.Explorer .ExplorerTree .Node {
  line-height: 30px;
}

.UITreeList .UIGrid {
  width: 315px;
  margin-left: 10px ;
}