/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

@import url("../../../icons/DefaultStylesheet.css");
@import url("UIMetadataManager/DefaultStylesheet.css");
@import url("UINodeTypeManager/DefaultStylesheet.css");
@import url("UITaxonomyManager/DefaultStylesheet.css");

.UIPageDesktop .UIECMAdminPortlet {
  overflow: hidden;
}
.UIECMAdminPortlet .UIRepositoryControl {
	overflow: hidden;
}
.UIRepositoryControl .ControlLayout {
	font-size: 11px ;
  background: url('DefaultSkin/background/RepositoryBarBackground1x34.gif') repeat-x left top ; 
  margin: 0px;
}
.UIECMAdminPortlet .UIRepositoryControl .SelectorArea {
	 float: left;
	 margin: auto ;
}
.UIECMAdminPortlet .UIRepositoryControl .SelectorArea .RepoNameLabel {
	font-weight: bold ;
	float: left;
	margin-top: 4px;
	padding: 0px 10px;
}
.UIECMAdminPortlet .UIRepositoryControl .SelectorArea .UISelect {
	 width: 200px;
	 margin: 2px;
	 float: left;	 
}
.UIECMAdminPortlet .UIRepositoryControl .UISelect .SelectedItemLabel{
	
}

.UIECMAdminPortlet .UIRepositoryControl .ActionsArea {
  width: 200px;
  float: left; 
}
.UIECMAdminPortlet .UIRepositoryControl .ActionButton {
	width: 24px ; height: 24px;
	float: left ;
	margin-left: 5px;		
}

.UIECMAdminPortlet .UIRepositoryControl .SeparatorLine {
  width: 2px;
  height: 20px;
  margin-left: 5px;		
  margin-top: 2px;		
  background: url('DefaultSkin/background/SeparatorLine2x1.gif') repeat-y;
  float: left;
}


/*############################## --Begin UIRepositoryManager -- ########################*/
.UIECMAdminPortlet .UIRepositoryManager {

}

.UIECMAdminPortlet .UIRepositoryManager .UIRepositoryList .UIAction {
	width: 90px;
}

.UIECMAdminPortlet .UIRepositoryManager .UIRepositoryForm .UIAction {
	width: 350px;
}

.UIRepositoryManager .UIRepositoryForm .UIFormInputSet .UIFormInputSetWithAction .FieldContainer label{
	width: 100px;	
}

.UIRepositoryManager .UIWorkspaceForm .UIAction { 
	width: 280px;

}

.UIECMAdminPortlet .UIRepositoryManager .UIWorkspaceWizard {

}

.UIECMAdminPortlet .UIRepositoryManager .UIWorkspaceWizard .HiddenLabel {
	display: none  ;	
}

.UIECMAdminPortlet .UIRepositoryManager .UIWorkspaceWizard .SelectedLabel {
	display: block ;
	background: #F4F4F4 none repeat scroll 0%;
	border: 1px solid #B7B7B7 ;
	padding: 10px 0px;
	border-bottom: none ;
}
.UIECMAdminPortlet .UIRepositoryManager .UIWorkspaceWizard .WizardLabel {
	float: left;
 	vertical-align: middle;
  font-size: 11px; font-weight: bold; 
}
.UIECMAdminPortlet .UIRepositoryManager .UIWorkspaceWizard .UIWizardAction {
	background: #F4F4F4 none repeat scroll 0%;
	border: 1px solid #B7B7B7 ;
	border-top: none ;
}
.UIWorkspaceWizard .UIWizardAction .StepNavigationTitle {
  float: left;
  height: 33px; line-height: 33px; vertical-align: middle;
  font-size: 11px; font-weight: bold;
  margin: 0px 10px 0px 15px;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar {
  float: left;
  height: 34px; line-height: 34px; vertical-align: middle;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar a{
  float: left;
  width: 18px; height: 18px; 
  line-height: 18px; vertical-align: middle;
  font-size: 11px; font-weight: bold;
  text-align: center; text-decoration: none; color: black;
  margin: 7px 3px 0px 3px;
  border: solid 1px gray;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar a:hover {
  height: 18px; line-height: 18px; vertical-align: middle;
  color: orange;
  background: #f8f8f8;
  border: solid 1px #fdb913 ;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar a.SelectedStep {
  color: red;
}


.UIECMAdminPortlet .UIRepositoryManager .UIWorkspaceWizard .UIAction {
	float: right;
}

/*############################## --End UIRepositoryManager -- ########################*/

.UIECMAdminPortlet .UIMetadataList .UIPageIterator {
  float: right;
  width: 95%;
}

.UIECMAdminPortlet .UIECMPortletLayout {
  font-size: 11px ;
  background: url('DefaultSkin/background/ECMAdminTitleBar.gif') repeat-x left top;
}

.UIECMAdminPortlet .UIFormWithTitle {
  width: 95%;
  margin: 0px auto;
}

.UIECMAdminPortlet .UIFormWithTitle .FieldContainer textarea {
  border: solid 1px #b7b7b7;
  padding: 3px;
}

.UIECMAdminPortlet .UIFormWithTitle .FieldContainer input {
  border: solid 1px #b7b7b7;
  padding-left: 3px;
}

.UIECMAdminPortlet .UIFormWithTitle .FieldContainer select {
  border: solid 1px #b7b7b7;
  padding-left: 3px;
}

.UIECMAdminPortlet .ECMLayoutSeparator {
	width: 6px;
	background: url('DefaultSkin/background/LayoutSeparator.gif') repeat-y left center;
}

.UIECMAdminPortlet .CollapseSideBar {
	width: 6px; height: 49px;
	background: url('DefaultSkin/background/CollapseSideBar.gif') no-repeat;
	cursor: pointer;
}

.UIECMAdminPortlet .UIFormWithTitle .FieldContainer .UIFormInputSet {
  background: none ;
  border: none ;
}

.UIECMAdminPortlet .ExpandSideBar {
	width: 6px; height: 49px;
	background: url('DefaultSkin/background/ExpandSideBar.gif') no-repeat;
	cursor: pointer;
}

.UIECMAdminPortlet .ECMAdminTitleBar {
	font-weight: bold; 
  line-height: 25px;
	text-align: center;
	height: 30px;
}
.UIECMAdminPortlet .UIECMAdminFunctionTitle {

}
.UIECMAdminPortlet .UIECMAdminFunctionTitle .RightFunctionTitle {
	float: left;
}
.UIECMAdminPortlet .UIECMAdminFunctionTitle .RightFunctionTitle .FunctionTitle {
	font-weight: bold;
  line-height: 25px;
	height: 30px;
}

.UIECMAdminPortlet .UIECMAdminFunctionTitle .Icon {
  float: left;
  margin: 2px 10px;
  cursor: pointer;
}
.UIECMAdminPortlet .UIECMAdminFunctionTitle .BackToRepositoryButton {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/background/BackToMainDriveButton.gif') no-repeat center ;
}
.UIECMAdminPortlet .UIResizableBlock {
	overflow: auto;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVerticalSlideTabs {
  margin: 10px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab {
  margin: 8px 0px;
  cursor: pointer;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab .TabIcon {
	float: left;
  margin: 1px 5px 0px 5px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent {
  margin: 1px 2px 0px 2px;
  border: solid 1px #b2b1b1;
  background: #ffffff;
  padding: 5px ;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a {
	color: black;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a:hover {
	color: orange;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem {
  clear: both;
  height: 25px;
  margin: 4px 2px 0px 2px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemIcon {
  float: left;
  margin-right: 6px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemLabel {
  line-height: 25px;
  cursor: pointer;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithAction input {
  width: 225px;
}

.UIECMAdminPortlet .UIDriveManager .UIFormInputSet .UIFormInputSetWithAction .radio {
  width: 20px;
  margin-left: 0px;
}

.UIECMAdminPortlet .UIECMAdminWorkingArea {
  margin: 10px;
}

.UIECMAdminPortlet .UIForm .HorizontalLayout .UIFormInputSet  {
  margin: auto;
  width: 520px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithAction .FieldContainer {
  margin: auto;
  padding: 15px 6px 0px 6px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithAction .UIAction {
  width: 250px;
  padding-left: 85px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithAction .ActionField {
  float: left ;
  margin-left: 5px ;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithAction .checkbox {
  width: 15px;
}


/*############################## -- UINamespaceManager -- ########################*/
.UIECMAdminPortlet .UINamespaceManager .UIFormWithTitle {
	margin: auto;
}

.UIECMAdminPortlet .UINamespaceManager .UIFormWithTitle .HorizontalLayout {
 	padding: 15px 0px;
}

.UIECMAdminPortlet .UINamespaceManager .HorizontalLayout .FieldContainer {
 	width: 500px;
 	margin: auto;
}

.UIECMAdminPortlet .UINamespaceManager .FieldContainer label {
 	width: 120px;
}

.UIECMAdminPortlet .UINamespaceManager  .HorizontalLayout .UIAction {
 	width: 160px;
 	padding-left: 25px;
}

.UIECMAdminPortlet .UINamespaceList {
  margin-top: 5px ;
}

.UIECMAdminPortlet .UINamespaceList .UIAction {
	width: 100px;
}

/*############################## -- UIDriveManager -- ########################*/
.UIECMAdminPortlet .UIDriveList {
  margin-top: 5px ;
}

.UIECMAdminPortlet .UIDriveManager .UIFormTabPane .UIAction {
  width: 250px ;
  padding-left: 70px;
}

.UIECMAdminPortlet .MultiRadioInput {
	float: left;
}

.UIECMAdminPortlet .UIDriveList .UIAction {
  width: 100px ;
}

.UIECMAdminPortlet .UIDriveManager .UIForm .HorizontalLayout label {
	float:left;
  width: 120px ;
	text-align: right;
	margin: 0px 10px ;
}

.UIECMAdminPortlet .UIDriveManager .UIGrid .ActionContainer {
  width: 45px ;
  margin: auto ;
}

.UIECMAdminPortlet .UIDriveManager .UIForm .HorizontalLayout .UIFormInputSet {
  width: 450px ;
  margin: auto;
}

.UIECMAdminPortlet .UIDriveManager .UIFormTabPane {
  width: 95% ;
  margin: auto;
}

.UIECMAdminPortlet .UIDriveManager .UIJCRBrowser {
  margin: auto ; 
  padding: 10px 7px;
}

/*############################## -- UIViewManager -- ########################*/
UIECMAdminPortlet .UIViewManager {
  height: 300px;
}

.UIECMAdminPortlet .UIViewContainer .UIViewList {
  margin-top: 5px;
}
.UIECMAdminPortlet .UIViewContainer .UIGrid .ActionContainer {
  width: 70px;
}

.UIECMAdminPortlet .UIViewContainer .UIViewList .ActionContainer {
  width: 110px ;  
}

.UIECMAdminPortlet .UIViewContainer .UIViewList .ActionButton {
  width: 90px ;
}

.UIECMAdminPortlet .UIViewContainer .UIViewList .UIAction {
  width: 80px ;
}

.UIECMAdminPortlet .UIViewContainer .UIFormTabPane {
  width: 95%;
  margin: auto;
}

.UIECMAdminPortlet .UIViewManager .UIPopupWindow .WorkingArea {
	padding: 0px 10px;
}

.UIECMAdminPortlet .UIViewManager .UIFormTabPane {
	width: 550px ;
	margin-left: auto; margin-right: auto;
}

.UIECMAdminPortlet .UIViewContainer .UIFormTabPane .UIAction {
  width: 250px ;
  padding-left: 100px;
}

.UIECMAdminPortlet .ECMTemplate .UIECMTemplateList {
  width: 85px;
}
.UIECMAdminPortlet .ECMTemplate .UIGrid .ActionContainer{
	width: 60px;
}
.UIECMAdminPortlet .UIECMTemplateList .UIAction  {
  width: 50px;
}

.UIECMAdminPortlet .CBTemplate .UIGrid .ActionContainer {
  width: 50px;
}

.UIECMAdminPortlet .CBTemplate .UICBTemplateList {
  margin-top: 5px;
}

.UIECMAdminPortlet .CBTemplate .UICBTemplateList .UIAction {
   width: 85px;
}

.ECMTempForm .UIFormWithTitle .HorizontalLayout .FieldContainer {
  width: 500px;
  margin: auto;
}

.ECMTempForm .UIFormWithTitle label {
	width: 100px;
}

.ECMTempForm .UIFormWithTitle .UIForm .textarea {
  width: 320px;
  height: 300px;
}

.ECMTempForm .UIFormWithTitle .UIAction {
	width: 310px;
	padding-left: 90px;

}

.CBTempForm .UIFormWithTitle .HorizontalLayout .FieldContainer {
  width: 500px;
  margin: auto;
}

.CBTempForm .UIFormWithTitle .UIAction {
	width: 310px;
	padding-left: 90px;

}

.CBTempForm .UIFormWithTitle label {
	width: 100px;
}

.CBTempForm .UIFormWithTitle .UIForm .textarea {
  width: 350px;
  height: 300px;
}

/*############################## -- UIActionManager -- ########################*/

.UIECMAdminPortlet .UIActionTypeForm .HorizontalLayout .FieldContainer .MultiValueContainer {
  margin-left: 165px ;
}

.UIActionManager .UIActionTypeForm .UIFormWithTitle .HorizontalLayout {
	padding-top: 10px; 
}

.UIActionManager .UIActionTypeForm .HorizontalLayout .FieldContainer {
	width: 500px;
	margin: auto;
}

.UIActionManager .UIActionTypeForm .HorizontalLayout .UIAction {
	width: 160px;
	padding-left: 15px;
}

.UIActionManager .UIActionTypeForm .UIFormWithTitle label {
	width: 130px;
}

.UIActionManager .UIActionTypeList .UIAction {
  width: 100px ;
}

/*############################## -- UIScriptManager  -- ########################*/
.UIECMAdminPortlet .UIECMScripts .UIGrid .ActionContainer {
  margin: auto;
  width: 60px;
}

.UIECMAdminPortlet .UICBScripts .UIGrid .ActionContainer {
  margin: auto;
  width: 60px;
}

.UIECMScripts .UIBarStyle {
	margin-bottom: 2px;
}

.UIECMScripts .UIFormWithTitle .HorizontalLayout .FieldContainer {
  width: 520px;
  margin: auto;
}

.UIECMScripts .UIFormWithTitle .HorizontalLayout .UIAction {
  width: 250px;
  padding-right: 25px;
}

.UIECMScripts .ECMScriptList .UIAction {
  width: 100px;
}

.UIECMScripts .UIScriptFilterForm .UIForm {
   height: 30px; width: 100%;
   padding: 0px;
   margin: 0px;
}
.UIECMScripts .UIScriptFilterForm .FieldContainer {
  padding-left: 15px;
}

.UIECMScripts .UIScriptFilterForm .UIForm label {
  line-height: 16px;
}

.UIECMScripts .UIScriptFilterForm .UIForm .selectbox {
  margin-top: 7px;
}

.UIECMScripts .UIFormWithTitle .HorizontalLayout .FieldContainer {
  width: 500px;
  margin: auto;
}

.UIECMScripts .UIFormWithTitle .HorizontalLayout .UIAction {
  width: 330px;
  padding-left: 90px;
}

.UIECMScripts .UIFormWithTitle .UIForm textarea {
  width: 320px;
  height: 300px;
}

.UIECMScripts .UIFormWithTitle .UIForm label {
  width: 120px;
}

.UICBScripts .UIFormWithTitle .HorizontalLayout .FieldContainer {
  width: 520px;
  margin: auto;
}

.UICBScripts .UIFormWithTitle .HorizontalLayout .UIAction {
  width: 330px;
  padding-left: 95px;

}

.UICBScripts .UIFormWithTitle .UIForm textarea {
  width: 320px;
  height: 300px;
}

.UICBScripts .CBScriptList .UIAction {
  width: 100px;
}

.UICBScripts .UIFormWithTitle .UIForm label {
  width: 120px;
}


/*############################## -- UIQueriesManager  -- ########################*/

.UIQueriesManager .UIQueriesForm .HorizontalLayout .FieldContainer {
	width: 520px;
	margin: auto;
}

.UIQueriesManager .UIQueriesList .UIAction {
	width: 100px ;
}

.UIQueriesManager .UIQueriesForm .HorizontalLayout .UIFormInputSet {
	padding-bottom: 0px;
}

.UIQueriesManager .HorizontalLayout .FieldContainer .UIFormInputSet  {
	width: 100%;
}

.UIQueriesManager .HorizontalLayout .UIFormInputSet .FieldContainer {
	padding-top: 0px;
}

.UIQueriesList .UIAction {
  width: 100px ;
}

.UIQueriesManager .UIQueriesForm .UIAction {
	width: 160px ;
	padding: 15px 0px 15px 0px;
}

.UIQueriesManager .UIQueriesForm .UIForm .textarea {
	height: 150px ;
	width: 320px ;
}

.UIQueriesManager .UIQueriesForm .UIForm .FieldContainer label {
	width: 130px ;
}

/*############################## -- UIFolksonomyManager  -- ########################*/

.UIFolksonomyManager .HorizontalLayout .FieldContainer {
	width: 500px ;
	margin: auto;
}

.UIFolksonomyManager .UITagStyleForm .UIAction {
	width: 160px ;
	padding: 10px 0px 10px 30px;
}

.UIFolksonomyManager .UITagStyleForm .UIForm .textarea {
	height: 290px ;
	width: 350px ;
	margin: auto;
}

/*############################## -- MultiField  -- ########################*/
.UIECMAdminPortlet .HorizontalLayout .FieldContainer .MultiValueContainer {
  margin-bottom: 10px ;
  margin-left: 185px ;
}

.UIECMAdminPortlet .UITree .TreeContainer .NodeSelected {
  height: 20px ; line-height: 20px;
  font-weight: bold; font-size: 11px;
  background: #8eeaaf ;
}

.Explorer {
  margin-bottom: 10px;
  float: left ;
  width: 230px ;
}

.Explorer .ExplorerTree {
  margin-top: 1px;
  border: solid 1px #c6c6c9;
  background: #f3f3f3;
  padding: 1px;
}

.Explorer .InnerExplorerTree {
  border: solid 1px #b1b0b0;
  padding: 10px;
}

.Explorer .ExplorerTree .Node {
  line-height: 30px;
}

.UITreeList .UIGrid {
  width: 315px;
  margin-left: 10px ;
}

/*############################## --Begin UITemplatesManager --##############################*/

.UITemplatesManager .UIGrid .ActionContainer {
  width: 50px ;
}

.UITemplatesManager .UITabPane {
	width: 95%;
	padding: 10px 0px;
	margin: auto;
}

.UITemplatesManager .UIFormTabPane .UIAction {
 width: 300px; 
 margin: auto;
}

.UITemplatesManager .UIFormTabPane .UIForm .textarea {
  width: 320px; 
  height: 300px; 
  padding: 5px ;
}

.UITemplatesManager .UITemplateEditForm .UIFormWithTitle .HorizontalLayout {
	width: 500px;
	margin: auto;
}
.UIECMAdminPortlet .UITemplateEditForm .UIFormWithTitle .HorizontalLayout {
  width: 500px;
  margin: auto;
  border: none;
}

.UITemplatesManager .UITemplateEditForm .UIFormWithTitle .HorizontalLayout label {
  width: 150px;
}

.UITemplatesManager .UITemplateList .UIAction {
  width: 80px ;
}

.UITemplatesManager .UIViewTab .ViewForm .HorizontalLayout {
	width: 550px;
	margin: auto;
}

.UITemplatesManager .UIViewTab .ViewForm .HorizontalLayout .FieldContainer {
	width: 550px;
	margin: auto;
	border: none;
}

.UITemplatesManager .UIViewTab .ViewForm .HorizontalLayout label {
	width: 120px;
}

.UITemplatesManager .UIFormWithTitle .UIForm .textarea {
  width: 350px; 
  height: 250px; 
}

.UITemplatesManager .UITemplateEditForm .UIFormWithTitle .UIAction {
	padding-left: 110px;
}

.UIECMAdminPortlet .UITemplatesManager .UITabPane .HorizontalLayout .UIAction {
  width: 240px;
  padding-left: 100px;
}

.UITemplatesManager .UITabPane .UIViewTab .ViewForm {
	margin: 30px 0px 0px 0px;
}

.UITemplatesManager .UITabPane .UIDialogTab .UIPageIterator{
	margin-bottom: 15px;
}

.UITemplatesManager .UITabPane .UIDialogTab .UIAction {
	padding-right: 30px;
}

.UITemplatesManager .UITabPane .UIDialogTab .DialogForm {
	margin: 30px 0px 0px 0px;
}

.UITemplatesManager .UIDialogTab .DialogForm .HorizontalLayout label {
	width: 120px;
}

.UITemplatesManager .UIDialogTab .DialogForm .HorizontalLayout {
	width: 550px;
	margin: auto;
}

.UITemplatesManager .DialogForm .HorizontalLayout .UIFormInputSet {
	width: auto;
}

.UITemplatesManager .UITabPane .UIViewTab .UIAction {
	padding-right: 30px;
}

.UITemplatesManager .UITabPane .UIViewTab .ViewForm {
	margin: 30px 0px 0px 0px;
}

.UITemplatesManager .ViewForm .UIFormInputSet .FieldContainer {
	width: 100%;
}

.UITemplatesManager .ViewForm .HorizontalLayout .UIFormInputSet {
	width: auto;
}

.UITemplatesManager .ViewForm .UIFormInputSet .FieldContainer {
	width: 100%;
}
/*############################## -- End UITemplatesManager -- ########################*/

.UIECMAdminPortlet .UINodeTypeImportPopup .UINodeTypeImport .HorizontalLayout .UIAction {
  width: 260px;
}

.UIForm .HorizontalLayout .FieldContainer .UIFormMultiValueInputSet  {
	float: left ;
	margin: 2px 10px 0px 5px ;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithAction .ActionField {
  margin: 0px 0px 2px 0px ;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithAction .ActionField a {
  color: blue;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithAction .ActionField a:hover {
  color: orange;
}

