/**
 * Created by The eXo Platform SAS
 * Modifier : Vu Duy Tu
 *           duytucntt@gmail.com
 * January 05, 2006
 * version: $Id$
 */

@import url("../../../icons/MacStylesheet.css");
@import url("UIMetadataManager/MacStylesheet.css");
@import url("UINodeTypeManager/MacStylesheet.css");
@import url("UITaxonomyManager/MacStylesheet.css");
.UIECMAdminPortlet {}

.UIECMAdminPortlet .UIECMPortletLayout {
  border: 1px solid #737373;
  border-collapse: collapse ;
  font-size: 11px ; height: 31px;
  background: url('MacSkin/background/ECMAdminTitleBar1x31.gif') repeat-x left top;
}

.UIECMAdminPortlet .UIMetadataList .UIPageIterator  {
  float: right;
  width: 95%;
}

.UIECMAdminPortlet .UIAction {
	width: 320px;
}

.UIECMAdminPortlet .UIFormWithTitle {
  width: 95%;
  margin: 0px auto;
}

.UIECMAdminPortlet .UIFormWithTitle .FieldContainer textarea {
  border: solid 1px #b7b7b7;
  padding: 3px;
}

.UIECMAdminPortlet .UIFormWithTitle .FieldContainer input {
  border: solid 1px #b7b7b7;
  padding-left: 3px;
}

.UIECMAdminPortlet .ECMLayoutSeparator {
	width: 11px;
	background: url('DefaultSkin/background/LayoutSeparator.gif') repeat-y left center;
}

.UIECMAdminPortlet .CollapseSideBar {
	width: 11px; height: 30px;
	background: url('MacSkin/background/CollapseSideBar.png') no-repeat;
	cursor: pointer;
}

.UIECMAdminPortlet .ExpandSideBar {
	width: 11px; height: 30px;
	background: url('MacSkin/background/ExpandSideBar.png') no-repeat;
	cursor: pointer;
}

.UIECMAdminPortlet .ECMAdminTitleBar {
	font-weight: bold; 
  line-height: 25px;
	text-align: center;
	height: 30px;
}

.UIECMAdminPortlet .UIECMAdminFunctionTitle {
	font-weight: bold;
  line-height: 25px;
	height: 30px;
}

.UIECMAdminPortlet .UIResizableBlock {
	height: 400px;
	overflow: auto;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVerticalSlideTabs {
  margin: 10px;
  padding: 0px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab {
  margin: 8px 0px;
  cursor: pointer;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab .TabIcon {
	float: left;
  margin: 2px 5px 0px 5px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent {
  margin: 1px 2px;
  border: solid 1px #b2b1b1;
  background: #ffffff;
  padding: 5px ;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a {
	color: black;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a:hover {
	color: orange;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem {
  clear: both;
  height: 25px;
  margin: 4px 2px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemIcon {
  float: left;
  margin-right: 6px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemLabel {
  line-height: 25px;
  cursor: pointer;
}

.UIECMAdminPortlet .UIECMAdminWorkingArea {
  margin: 10px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .FieldContainer {
  margin: auto;
  padding: 15px 6px 0px 6px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .UIAction {
  width: 270px;
  padding-left: 25px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .ActionField {
  float: left ;
  margin-left: 5px ;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions input {
  width: 225px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions input.checkbox  {
  width: 15px;
}

/*############################## -- MultiField  -- ########################*/
.UIECMAdminPortlet .HorizontalLayout .FieldContainer .MultiValueContainer {
  margin-bottom: 10px ;
  margin-left: 135px ;
}

.UIECMAdminPortlet .UITree .TreeContainer .NodeSelected {
  height: 20px ; line-height: 20px;
  font-weight: bold; font-size: 11px;
  background: #8eeaaf ;
}

.Explorer {
  margin-bottom: 10px;
  float: left ;
  width: 230px ;
}

.Explorer .ExplorerTree {
  margin-top: 1px;
  border: solid 1px #c6c6c9;
  background: #f3f3f3;
  padding: 1px;
}

.Explorer .InnerExplorerTree {
  border: solid 1px #b1b0b0;
  padding: 10px;
}

.Explorer .ExplorerTree .Node {
  line-height: 30px;
}

.UITreeList .UIGrid {
  width: 315px;
  margin-left: 10px ;
}
/*############################## -- UINamespaceManager -- ########################*/

.UIECMAdminPortlet .UINamespaceList {
  margin-top: 5px ;
}

.UIECMAdminPortlet .UINamespaceForm .UIFormWithTitle .UIAction {
  width: 170px;
  padding-left: 25px;
}

.UIECMAdminPortlet .UINamespaceForm .UIFormWithTitle .FieldContainer {
	width: 500px;
	margin: auto;
}
/*############################## -- UIDriveManager -- ########################*/

.UIECMAdminPortlet .UIDriveList {
  margin-top: 5px ;
}

.UIECMAdminPortlet .UIDriveManager .UIFormTabPane {
  width: 95%;
  margin: auto;
}

.UIECMAdminPortlet .UIDriveManager .UIGrid .ActionContainer {
  width: 55px ;
  margin: auto ;
}

.UIECMAdminPortlet .UIDriveManager .UIForm .HorizontalLayout .UIFormInputSet {
  width: 450px ;
  margin: auto;
}

.UIECMAdminPortlet .UIDriveManager .UIFormTabPane .UIAction {
  width: 270px ;
  padding-left: 130px;
}

.UIECMAdminPortlet .UIDriveManager .UIJCRBrowser {
  margin: auto ; 
  padding: 10px 7px;
}

.UIECMAdminPortlet .UIDriveList .UIAction {
  width: 110px ;
}

/*############################## -- UIViewManager -- ########################*/

.UIECMAdminPortlet .UIViewManager {
  height: 300px;
}

.UIECMAdminPortlet .UIViewContainer .UIViewList {
  margin-top: 5px;
}

.UIECMAdminPortlet .UIViewContainer .UIFormTabPane {
  width: 95%;
  margin: auto;
}

.UIECMAdminPortlet .UIViewContainer .UIViewList .UIAction {
  width: 100px ;
}

.UIECMAdminPortlet .UIViewManager .UIPopupWindow .WorkingArea {
	padding: 0px 10px;
}

.UIECMAdminPortlet .UIViewManager .UIFormTabPane {
	width: 550px ;
	margin-left: auto; margin-right: auto;
}

.UIECMAdminPortlet .UIViewContainer .UIFormTabPane .UIAction {
  width: 250px ;
  padding-left: 80px;
}

.UIECMAdminPortlet .UIECMTemplateList {
  margin-top: 5px;
}

.UIECMAdminPortlet .UIECMTemplateList .UIAction {
  width: 100px ;
}

.UIECMAdminPortlet .UICBTemplateList {
  margin-top: 5px;
}

.UIECMAdminPortlet .UICBTemplateList .UIAction {
  width: 100px ;
}

.UIECMAdminPortlet .UIViewContainer .UIGrid .ActionContainer {
  width: 70px ;
  margin: auto ;
}

.UIECMAdminPortlet .CBTemplate .UIGrid .ActionContainer {
  width: 50px ;
  margin: auto ;
}

.UIECMAdminPortlet .ECMTemplate .UIGrid .ActionContainer {
  width: 50px ;
  margin: auto ;
}

.ECMTempForm .UIFormWithTitle .HorizontalLayout .FieldContainer {
  width: 500px;
  margin: auto;
  border: none;
}

.ECMTempForm .UIFormWithTitle label {
	width: 100px;
}

.CBTempForm .UIFormWithTitle .HorizontalLayout .FieldContainer {
  width: 500px;
  margin: auto;
  border: none;
}

.ECMTempForm .UIFormWithTitle .UIForm .textarea {
  width: 350px;
  height: 300px;
}

.ECMTempForm .UIFormWithTitle .UIAction {
	width: 330px;
	padding-left: 45px;
}

.CBTempForm .UIFormWithTitle .UIAction {
	width: 330px;
	padding-left: 45px;
}

.CBTempForm .UIFormWithTitle label {
	width: 100px;
}

.CBTempForm .UIFormWithTitle .UIForm .textarea {
  width: 350px;
  height: 300px;
}
/*############################## -- UIActionManager -- ########################*/

.UIActionManager .UIActionTypeList .UIAction {
	width: 95px ;
}

.UIActionManager .UIActionTypeForm .UIFormWithTitle .UIAction {
	width: 180px ;
	padding-left: 15px;
}

.UIActionManager .UIActionTypeForm .UIFormWithTitle .HorizontalLayout {
	padding-top: 5px; padding-left: 30px;
	
}

/*############################## -- UIScriptManager UIScriptFilterForm  -- ########################*/

.UIECMScripts .UIBarStyle {
	margin-bottom: 2px;
}

.UIECMScripts .UIGrid .ActionContainer {
	width: 45px ;
	margin: auto ;
}

.UIECMScripts .ECMScriptList .UIAction {
	width: 90px ;
}

.UIECMScripts .UIScriptFilterForm .UIForm  {
  height: 30px; width: 100%;
  padding: 0px;
  margin: 0px;
}

.UIECMScripts .UIScriptFilterForm .FieldContainer  {
  padding-left: 15px;
}

.UIECMScripts .UIScriptFilterForm .UIForm label {
  line-height: 16px;
}

.UIECMScripts .UIScriptFilterForm .UIForm .selectbox {
  margin-top: 7px;
}

.UIECMScripts .UIFormWithTitle .HorizontalLayout .FieldContainer {
  width: 500px;
  margin: auto;
  border: none;
}

.UIECMScripts .UIFormWithTitle .HorizontalLayout .UIAction {
  width: 270px;
  padding-left: 30px;
}

.UIECMScripts .UIFormWithTitle .UIForm textarea {
  width: 320px;
  height: 300px;
}

.UIECMScripts .UIFormWithTitle .UIForm label {
  width: 120px;
}
/*############################## -- UIScriptManager UIScriptForm  -- ########################*/

.UICBScripts .CBScriptList .UIAction {
	width: 95px ;
}

.UICBScripts .UIGrid .ActionContainer{
	width: 45px ;
	margin: auto ;
}

.UICBScripts .UIFormWithTitle .HorizontalLayout .FieldContainer {
  width: 500px;
  margin: auto;
  border: none;
}

.UICBScripts .UIFormWithTitle .HorizontalLayout .FieldContainer .MyEditor {
  padding-left: 7px;
  border: solid 1px red;
}

.UICBScripts .UIFormWithTitle .HorizontalLayout .UIAction {
  width: 340px;
  padding-left: 85px;
}

.UICBScripts .UIFormWithTitle .UIForm textarea {
  width: 320px;
  height: 300px;
}
.UICBScripts .UIFormWithTitle .UIForm label {
  width: 120px;
}

/*############################## --Begin UITemplatesManager --##############################*/

.UIECMAdminPortlet .UITemplatesManager .UIPageIterator {
  float: right;
  width: 95%;
}

.UIECMAdminPortlet .UITemplatesManager .UIAction {
  width: 80px;
  margin: auto;
}

.UIECMAdminPortlet .UITemplatesManager .UITabPane .HorizontalLayout .UIAction {
  width: 265px;
}

.UIECMAdminPortlet .UITemplatesManager .UIFormInputSet .UIFormInputSetWithActions {
  width: 500px;
  margin: auto;
}

.UITemplatesManager .UIGrid .ActionContainer {
  width: 50px ;
  margin: auto;
}

.UITemplatesManager .UIFormTabPane .UIForm .textarea {
  width: 350px; 
  height: 300px; 
  padding: 5px ;
}

.UITemplatesManager .UIFormTabPane .UIForm label {
  width: 120px; 
}

.UITemplatesManager .UINodeTypeList .UIAction {
  width: 90px ; 
}

.UITemplatesManager .UIFormWithTitle {
  padding-top: 7px;
  width: auto;
}

.UITemplatesManager .UITemplateEditForm .UIFormWithTitle .HorizontalLayout {
	width: 500px;
	margin: auto;
	border: none;
}

.UITemplatesManager .UITemplateEditForm .UIFormWithTitle .UIAction {
	padding-left: 85px;
}

.UITemplatesManager .UIFormWithTitle .UIForm .textarea {
  width: 350px; 
  height: 250px; 
}

/*############################## -- UINamespaceManager -- ########################*/
.UINamespaceManager .UIAction {
  width: 110px;
}

.UINamespaceManager .UIFormWithTitle .HorizontalLayout {
  padding-top: 15px;
}
/*############################## -- UIRuleManager  -- ########################*/
.UIRuleManager .UIAction {
  width: 110px;
}

.UIRuleManager .UIFormWithTitle .HorizontalLayout {
  padding-top: 10px;
}

.UIRuleManager .UIFormWithTitle .HorizontalLayout .UIAction {
  width: 100px;
}

.UIRuleManager .UIGrid .ActionContainer {
  width: 50px ;
  margin: auto;
}

.UIRuleManager .UIRuleList .UIAction{
  width: 110px ;
}

.UIRuleManager .UIFormWithTitle .HorizontalLayout .UIAction {
  width: 250px; 
}

.UIRuleManager .UIFormWithTitle .UIForm textarea {
  width: 450px;
  height: 300px;
  margin-left: 25px;
}

/*############################## -- UIQueriesManager  -- ########################*/

.UIECMAdminPortlet .UIQueriesManager .UIPageIterator  {
  float: right;
  width: 95%;
}

.UIQueriesManager .UIQueriesForm .HorizontalLayout .FieldContainer  {
	width: 500px;
	margin: auto;
}

.UIQueriesManager .UIQueriesForm .HorizontalLayout .UIFormInputSet {
	padding-bottom: 0px;
}

.UIQueriesManager .HorizontalLayout .UIFormInputSet .FieldContainer {
	padding-top: 0px;
}

.UIQueriesManager .UIQueriesList .UIAction {
	width: 110px ;
}

.UIQueriesManager .UIQueriesForm .UIAction {
	width: 170px ;
	padding: 15px 20px 15px 0px;
}

.UIQueriesManager .UIQueriesForm .UIForm .textarea {
	height: 150px ;
	width: 350px ;
}

.UIQueriesManager .UIQueriesForm .UIForm label {
	width: 120px ;
}

/*############################## -- UIFolksonomyManager  -- ########################*/

.UIFolksonomyManager .UITagStyleForm .UIForm .textarea {
	height: 250px ;
	width: 300px ;
	margin: auto;
	margin-left: 8px;
}

.UIFolksonomyManager .UITagStyleForm .UIAction {
	width: 170px ;
	padding: 10px 0px 10px 50px;
}

/*############################## -- MultiField  -- ########################*/
.UIECMAdminPortlet .HorizontalLayout .FieldContainer .MultiValueContainer {
  margin-bottom: 10px ;
  margin-left: 120px ;
}

.UIECMAdminPortlet .UINodeTypeManager .UIPageIterator  {
  float: right;
  width: 95%;
}

.UITemplatesManager .UITabPane {
	width: 95%;
	padding: 10px 0px;
	margin: auto;
}
/*############################## -- UIDialogTab -- ########################*/

.UITemplatesManager .UITabPane .UIDialogTab .UIPageIterator {
	margin-bottom: 15px;
}

.UITemplatesManager .UITabPane .UIDialogTab .DialogForm {
	margin: 30px 0px 0px 0px;
}

.UITemplatesManager .UIDialogTab .DialogForm .HorizontalLayout {
	width: 550px;
	margin: auto;
	border: none;
}
.UITemplatesManager .DialogForm .UIForm .HorizontalLayout .UIFormInputSet {
  width: 100%;
  padding: 0px;
}

.UITemplatesManager .UIDialogTab .DialogForm .HorizontalLayout label {
	width: 120px;
}

.UITemplatesManager .DialogForm .UIFormInputSet .UIFormInputSetWithActions {
	margin: 0px;
	padding: 0px;
}

.UITemplatesManager .DialogForm .UIFormInputSet .UIFormInputSetWithActions .FieldContainer {
	padding:  15px 0px 0px 0px;
}

.UITemplatesManager .UIDialogTab .UIFormWithTitle .UIAction {
  width: 270px; 
  padding-right: 15px;
}

/*############################## -- UIViewTab -- ########################*/

.UITemplatesManager .UIViewTab .UIFormWithTitle .UIAction {
  width: 270px;
  padding-right: 15px; 
}

.UITemplatesManager .UITabPane .UIViewTab .ViewForm {
	margin: 30px 0px 0px 0px;
}

.UITemplatesManager .UIViewTab .ViewForm .HorizontalLayout .FieldContainer {
	width: 550px;
	margin: auto;
	border: none;
}

.UITemplatesManager .UIViewTab .ViewForm .HorizontalLayout label {
	width: 120px;
}

.UITemplatesManager .ViewForm .UIFormInputSet .UIFormInputSetWithActions {
	margin: 0px;
	padding: 0px;
}

.UITemplatesManager .ViewForm .UIFormInputSet .UIFormInputSetWithActions .FieldContainer {
	padding:  15px 0px 0px 0px;
}

.UITemplatesManager .ViewForm .UIFormInputSet .FieldContainer {
	width: 100%;
}

.UIECMAdminPortlet .UIECMScripts .UIGrid .ActionContainer {
  width: 55px ;
  margin: auto ;
}

.UIECMAdminPortlet .UICBScripts .UIGrid .ActionContainer {
  width: 55px ;
  margin: auto ;
}