/**
 * Created by The eXo Platform SAS
 * Modifier : Vu Duy Tu
 *           duytucntt@gmail.com
 * January 05, 2006
 * version: $Id$
 */

@import url("../../../icons/MacStylesheet.css");
@import url("UIMetadataManager/MacStylesheet.css");
@import url("UINodeTypeManager/MacStylesheet.css");
@import url("UITaxonomyManager/MacStylesheet.css");
.UIECMAdminPortlet {}

.UIECMAdminPortlet .UIECMPortletLayout {
  border: 1px solid #737373;
  border-collapse: collapse ;
  font-size: 11px ; height: 31px;
  background: url('MacSkin/background/ECMAdminTitleBar1x31.gif') repeat-x left top;
}

.UIECMAdminPortlet .UIAction {
	width: 320px;
}

.UIECMAdminPortlet .UIFormWithTitle {
	width: 506px;
}

.UIECMAdminPortlet .ECMLayoutSeparator {
	width: 11px;
	background: url('DefaultSkin/background/LayoutSeparator.gif') repeat-y left center;
}

.UIECMAdminPortlet .CollapseSideBar {
	width: 11px; height: 30px;
	background: url('MacSkin/background/CollapseSideBar.png') no-repeat;
	cursor: pointer;
}

.UIECMAdminPortlet .ExpandSideBar {
	width: 11px; height: 30px;
	background: url('MacSkin/background/ExpandSideBar.png') no-repeat;
	cursor: pointer;
}

.UIECMAdminPortlet .ECMAdminTitleBar {
	font-weight: bold; 
  line-height: 25px;
	text-align: center;
	height: 30px;
}

.UIECMAdminPortlet .UIECMAdminFunctionTitle {
	font-weight: bold;
  line-height: 25px;
	height: 30px;
}

.UIECMAdminPortlet .UIResizableBlock {
	height: 400px;
	overflow: auto;
}


.UIECMAdminPortlet .UIECMAdminControlPanel .UIVerticalSlideTabs {
  margin: 10px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab {
  margin: 8px 0px;
  cursor: pointer;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab .TabIcon {
	float: left;
  margin: 3px 5px 0px 5px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent {
  margin: 1px 2px;
  border: solid 1px #b2b1b1;
  background: #ffffff;
  padding: 5px ;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a {
	color: black;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a:hover {
	color: orange;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem {
  clear: both;
  height: 25px;
  margin: 4px 2px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemIcon {
  float: left;
  margin-right: 6px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemLabel {
  line-height: 25px;
  cursor: pointer;
}

.UIECMAdminPortlet .UIECMAdminWorkingArea {
  margin: 10px;
}

.UIECMAdminPortlet .UIECMAdminWorkingArea .UIFormInputSet {
  margin: 0px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .ActionField {
  float: left ;
  margin-left: 5px ;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions input {
  width: 225px;
}

/*############################## -- UINamespaceManager -- ########################*/

.UIECMAdminPortlet .UINamespaceList {
  margin-top: 5px ;
}

.UIECMAdminPortlet .UINamespaceForm .UIFormWithTitle .UIAction{
  width: 200px;
}


.UIECMAdminPortlet .UINamespaceForm .UIFormWithTitle .HorizontalLayout{
	padding-top: 5px; padding-left: 30px;
}

.UIECMAdminPortlet .UINamespaceForm .UIFormWithTitle .FieldContainer {
	margin: 5px 0px;
}
/*############################## -- UIDriveManager -- ########################*/

.UIECMAdminPortlet .UIDriveList {
  margin-top: 5px ;
}

.UIECMAdminPortlet .UIDriveManager .UIGrid .ActionContainer {
  width: 45px ;
  margin: auto ;
}

.UIECMAdminPortlet .UIDriveManager .UIFormTabPane {
  width: 500px ;
  margin: auto ; margin-top: 10px; margin-bottom: 10px;
}

.UIECMAdminPortlet .UIDriveManager .UIFormTabPane .UIAction{
  width: 300px ;
}

.UIECMAdminPortlet .UIDriveManager .UIJCRBrowser{
  margin: auto ; 
  padding: 10px 7px;
}

.UIECMAdminPortlet .UIDriveManager .UIJCRBrowser .UIGrid{
  margin-left: 5px ; 
  width: 340px;
}

.UIECMAdminPortlet .UIDriveList .UIAction{
  width: 110px ;
}

/*############################## -- UIViewManager -- ########################*/

.UIECMAdminPortlet .UIViewManager {
  height: 300px;
}

.UIECMAdminPortlet .UIViewContainer .UIViewList {
  margin-top: 5px;
}

.UIECMAdminPortlet .UIViewContainer .UIViewList .UIAction {
  width: 110px ;
}

.UIECMAdminPortlet .UIViewManager .UIPopupWindow .WorkingArea {
	padding: 0px 10px;
}

.UIECMAdminPortlet .UIViewManager .UIFormTabPane {
	width: 550px ;
	margin-left: auto; margin-right: auto;
}

.UIECMAdminPortlet .UIViewContainer .UIFormTabPane .UIAction{
  width: 190px ;
}

.UIECMAdminPortlet .UIECMTemplateList {
  margin-top: 5px;
}

.UIECMAdminPortlet .UICBTemplateList {
  margin-top: 5px;
}

.UIECMAdminPortlet .UICBTemplateList .UIAction {
  width: 100px ;
}


.UIECMAdminPortlet .UIViewList .UIAction {
  width: 120px ;
}

.UIECMAdminPortlet .UIViewContainer .UIGrid .ActionContainer {
  width: 70px ;
  margin: auto ;
}

.UIECMAdminPortlet .CBTemplate .UIGrid .ActionContainer {
  width: 50px ;
  margin: auto ;
}

.UIECMAdminPortlet .ECMTemplate .UIGrid .ActionContainer {
  width: 50px ;
  margin: auto ;
}

.UIECMAdminPortlet .UIECMTemplateList .UIAction {
  width: 100px ;
}

.ECMTempForm .UIFormWithTitle .UIForm .textarea {
  width: 450px;
  height: 300px;
  margin-left: 25px;
}

.ECMTempForm .UIFormWithTitle .UIAction {
	width: 400px; margin: auto;
}

.CBTempForm .UIFormWithTitle .UIForm textarea {
  width: 450px;
  height: 300px;
  margin-left: 25px;
}
/*############################## -- UIActionManager -- ########################*/

.UIActionManager .UIActionTypeList .UIAction {
	width: 95px ;
}

.UIActionManager .UIActionTypeForm .UIFormWithTitle .UIAction {
	width: 180px ;
}

.UIActionManager .UIActionTypeForm .UIFormWithTitle .HorizontalLayout{
	padding-top: 5px; padding-left: 30px;
}

/*############################## -- UIScriptManager UIScriptFilterForm  -- ########################*/

.UIECMScripts .UIBarStyle{
	margin-bottom: 2px;
}

.UIECMScripts .UIGrid .ActionContainer{
	width: 45px ;
	margin: auto ;
}

.UIECMScripts .ECMScriptList .UIAction {
	width: 90px ;
}

.UIECMScripts .UIScriptFilterForm .UIForm  {
   height: 30px; width: 100%;
   padding: 0px;
   margin: 0px;
}
.UIECMScripts .UIScriptFilterForm .FieldContainer  {
  padding-left: 15px;
}
.UIECMScripts .UIScriptFilterForm .UIForm label {
  line-height: 16px;
}

.UIECMScripts .UIScriptFilterForm .UIForm .selectbox {
  margin-top: 7px;
}

.UIECMScripts .UIFormWithTitle .HorizontalLayout{
  padding-top: 7px;
}

.UIECMScripts .UIFormWithTitle .HorizontalLayout .UIAction{
  width: 400px;
}

.UIECMScripts .UIFormWithTitle .UIForm textarea {
  width: 450px;
  height: 300px;
  margin-left: 25px;
}

/*############################## -- UIScriptManager UIScriptForm  -- ########################*/

.UICBScripts .CBScriptList .UIAction {
	width: 95px ;
}

.UICBScripts .UIGrid .ActionContainer{
	width: 45px ;
	margin: auto ;
}

.UICBScripts .UIFormWithTitle .HorizontalLayout{
  padding-top: 7px;
}

.UICBScripts .UIFormWithTitle .HorizontalLayout .UIAction{
  width: 400px;
}

.UICBScripts .UIFormWithTitle .UIForm textarea {
  width: 450px;
  height: 300px;
  margin-left: 25px;
}

/*############################## --Begin UITemplatesManager --##############################*/

.UITemplatesManager .UIPopupWindow .WorkingArea {
	height: 350px ;
	overflow: auto ;
	padding:10px;
}

.UITemplatesManager .UIGrid .ActionContainer {
  width: 50px ;
  margin: auto;
}

.UITemplatesManager .UIFormTabPane .UIFormInputSet .UIAction{
  width: 320px;
}

.UITemplatesManager .UIFormTabPane .UIForm .textarea {
  width: 420px; 
  height: 300px; 
  margin: 5px ;
}

.UITemplatesManager .UINodeTypeList .UIAction {
  width: 90px ; 
}

.UITemplatesManager .UIFormWithTitle {
  padding-top: 7px;
  width:auto;
}

.UITemplatesManager .UITemplateEditForm .UIFormWithTitle .HorizontalLayout {
	border: none;
	padding: 0px;
}

.UITemplatesManager .UITemplateEditForm .UIFormWithTitle .UIAction {
	width: 200px;
}

.UITemplatesManager .UIFormWithTitle .UIForm .textarea {
  width: 350px; 
  height: 250px; 
}

.UITemplatesManager .UIDialogTab .UIFormWithTitle .UIAction{
  width: 400px; 
}

.UITemplatesManager .UIViewTab .UIFormWithTitle .UIAction{
  width: 320px; 
}

/*############################## -- UINamespaceManager -- ########################*/
.UINamespaceManager .UIAction {
  width: 110px;
}

.UINamespaceManager .UIFormWithTitle .HorizontalLayout {
  padding-top: 15px;
}
/*############################## -- UIRuleManager  -- ########################*/
.UIRuleManager .UIAction {
  width: 110px;
}

.UIRuleManager .UIFormWithTitle .HorizontalLayout {
  padding-top: 10px;
}

.UIRuleManager .UIFormWithTitle .HorizontalLayout .UIAction {
  width: 100px;
}

.UIRuleManager .UIGrid .ActionContainer {
  width: 50px ;
  margin: auto;
}

.UIRuleManager .UIRuleList .UIAction{
  width: 110px ;
}

.UIRuleManager .UIFormWithTitle .HorizontalLayout .UIAction{
  width: 320px;
}

.UIRuleManager .UIFormWithTitle .UIForm textarea {
  width: 450px;
  height: 300px;
  margin-left: 25px;
}

/*############################## -- UIQueriesManager  -- ########################*/

.UIQueriesManager .UIQueriesList .UIAction {
	width: 120px ;
}

.UIQueriesManager .UIQueriesForm .UIAction {
	width: 250px ;
	padding-bottom: 15px;
}

.UIQueriesManager .UIQueriesForm .UIForm .textarea{
	height: 150px ;
	width: 415px ;
	margin-left: 15px;
}

/*############################## -- UIFolksonomyManager  -- ########################*/

.UIFolksonomyManager .UITagStyleForm .UIForm .textarea{
	height: 250px ;
	width: 400px ;
}

/*############################## -- MultiField  -- ########################*/
.UIECMAdminPortlet .HorizontalLayout .FieldContainer .MultiValueContainer {
  margin-bottom: 10px ;
  margin-left: 120px ;
}

.UIECMAdminPortlet .UIECMAdminWorkingArea .UIPageIterator {
	width: 450px;
}