/**
 * Created by The eXo Platform SAS
 * Modifier : Vu Duy Tu
 *           duytucntt@gmail.com
 * January 05, 2006
 * version: $Id$
 */

@import url("../../../icons/MacStylesheet.css");
@import url("UIMetadataManager/MacStylesheet.css");
@import url("UINodeTypeManager/MacStylesheet.css");
@import url("UITaxonomyManager/MacStylesheet.css");
.UIECMAdminPortlet {
	overflow: hidden;
}

.UIECMAdminPortlet .UIRepositoryControl {
	overflow: hidden;
}

.UIECMAdminPortlet .UIRepositoryControl .ControlLayout {
	font-size: 11px ;
  background: url('DefaultSkin/background/RepositoryBarBG.gif') repeat-x left top ; 
  height: 34px;
}

.UIECMAdminPortlet .UIRepositoryControl .SelectorArea {
  float: left;
  margin: auto ;
  height: 34px;
	line-height: 34px;
}

.UIECMAdminPortlet .UIRepositoryControl .SelectorArea .RepoNameLabel {
	font-weight: bold ;
	float: left;
	padding: 0px 7px 0px 20px;
	line-height: 30px;
}

.UIECMAdminPortlet .UIRepositoryControl .SelectorArea .UISelect {
	 width: 190px;
	 float: left;	
	 height: 34px; 
}

.UIECMAdminPortlet .UIRepositoryControl .SelectorArea .UISelect .selectbox {
	 width: 180px;
	 float:left;
	 margin-top: 3px;
}

.UIECMAdminPortlet .UIRepositoryControl .ActionsArea {
  float: left; 
  height: 34px;
}

.UIECMAdminPortlet .UIRepositoryControl .ActionButton {
	width: 24px ; height: 24px;
	float: left ;
	margin: 5px 0px 0px 5px;		
}

.UIECMAdminPortlet .UIRepositoryControl .SeparatorLine {
  width: 2px;
  height: 30px;
  margin: 2px 2px 0px 8px;		
  background: url('DefaultSkin/background/SeparatorLine2x1.gif') repeat-y;
  float: left;
}

.UIECMAdminPortlet .UIECMPortletLayout {
  font-size: 11px ;
}

.UIECMAdminPortlet .ECMLayoutSeparator {
	width: 6px;
	background: url('MacSkin/background/LayoutSeparator.gif') repeat-y left center;
}

.UIECMAdminPortlet .CollapseSideBar {
	width: 6px; height: 100%;
	background: url('MacSkin/background/CollapseSideBar.gif') no-repeat center center;
	cursor: pointer;
}

.UIECMAdminPortlet .ExpandSideBar {
	width: 6px; height: 100%;
	background: url('MacSkin/background/ExpandSideBar.gif') no-repeat center center;
	cursor: pointer;
}

.UIECMAdminPortlet .ECMAdminTitleBar {
	font-weight: bold; 
  line-height: 18px;
  height: 18px;
	text-align: center;
	padding-top: 11px;
}

.UIECMAdminPortlet .UIECMAdminFunctionTitle {
	height: 25px;
	padding: 0px 0px 3px 10px;
}

.UIECMAdminPortlet .UIECMAdminFunctionTitle .RightFunctionTitle .FunctionTitle {
	font-weight: bold;
  line-height: 25px;
  height: 25px;
}

.UIECMAdminPortlet .UIECMAdminWorkingArea {
  margin: 10px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVerticalSlideTabs {
  margin: 10px;
  padding: 0px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab {
  margin: 8px 0px;
  cursor: pointer;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab .TabIcon {
	float: left;
  margin: 2px 5px 0px 5px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent {
  margin: 1px 2px;
  border: solid 1px #b2b1b1;
  background: #ffffff;
  padding: 5px ;
  overflow: hidden;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a {
	color: black;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a:hover {
	color: orange;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem {
  clear: both;
  height: 25px;
  margin: 4px 2px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemIcon {
  float: left;
  margin-right: 6px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemLabel {
  line-height: 25px;
  cursor: pointer;
}

/*--------------------------.UIFormWithTitle----------------------*/
.UIECMAdminPortlet .UIFormWithTitle {
  width: 95%;
  margin: 0px auto;
}

.UIECMAdminPortlet .UIFormGrid input {
  padding-left: 3px;
}

.UIECMAdminPortlet .UIFormGrid .FieldComponent .ActionIcon {
  margin: 0px 5px;
}

.UIECMAdminPortlet .UIFormGrid .FieldLabel {
  width: 128px;
}

.UIECMAdminPortlet .UIFormWithTitle .FieldContainer .MultiValueContainer .AddNewNodeIcon  {
  float: left;
  margin: 2px 5px 0px 5px;
}

/*--------------------------.UIFormInputSet----------------------*/

.UIECMAdminPortlet .UIForm .HorizontalLayout .UIFormInputSet .AddIcon16x16 {
	float: none;
	margin-left: 5px;
}

.UIECMAdminPortlet .HorizontalLayout .UIFormInputSet {
	width: 95%;
	margin: 0px auto;
	padding: 0px;
}

.UIECMAdminPortlet .UITabContentContainer .UIFormTableInputSet .UIGrid td {
 	padding: 4px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td {
 	padding: 4px 8px 4px 0px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithAction .ActionField {
  margin: 0px 0px 5px 0px ;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithAction .ActionField a {
  color: blue;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithAction .ActionField a:hover {
  color: orange;
}

/*----------------------------UIRepositoryForm -------------------------*/

.UIECMAdminPortlet .UIRepositoryForm  {
	width: 95%;
	margin: 10px auto;
}

.UIECMAdminPortlet .UIRepositoryForm .HorizontalLayout {
	background:  url(MacSkin/background/Background1x4.png) repeat 0%;
	padding-top: 10px;
}

.UIECMAdminPortlet .UIRepositoryForm .FormContainer {
	width: 510px;
	margin: auto;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .UIGrid{
	width: 95%;
	margin: 10px auto;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .HorizontalLayout .UIFormInputSet {
	width: 100%;
	padding: 0px;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .UIGrid .SelectIcon{
	background: url('MacSkin/background/SelectPage.png') no-repeat;
	width: 16px; 
	height: 16px;
}

.UIECMAdminPortlet .UIRepositoryForm .FormContainer .UIFormGrid .FieldLabel {
	width: 128px;
}

.UIECMAdminPortlet .UITabPane .WorkingAreaWithHelp .UITabContentContainer .UITabContent  {
	border: none;
	background: none;
}

.UIRepositoryManager .UIFormTabPane .UITabPane .TabPaneContent .UITabContentContainer {
	border: solid 1px #b7b7b7;
	border-top: none;
	border-bottom: none;
}

.UIRepositoryManager .UIRepositoryForm .UIFormInputSet .UIFormInputSetWithAction .FieldContainer label{
	width: 128px;	
}

.UIRepositoryFormContainer .UIWorkspaceWizard .UIAction {
	float: right;
	padding-right: 15px;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .UIWorkspaceWizardContainer {
	padding: 10px;
}

.UIECMAdminPortlet .UIGroupMembershipSelector .UITree .TreeContainer {
	width: auto;	
}

.UIECMAdminPortlet .UIWorkspaceWizard .HiddenLabel {
	display: none  ;	
}

.UIECMAdminPortlet .UIWorkspaceWizard .SelectedLabel {
	display: block ;
	background: #F4F4F4 none repeat scroll 0%;
	border: 1px solid #B7B7B7 ;
	padding: 15px 0px;
	line-height: 15px;
}

.UIECMAdminPortlet .UIWorkspaceWizard .WizardLabel {
	font-size: 11px; font-weight: bold; 
  margin: 0px 7px;
  width: 120px;
	float: left;
}

.UIECMAdminPortlet  .UIWorkspaceWizard .UIWizardAction {
	background: #F4F4F4 none repeat scroll 0%;
	border: none ;
	border-top: 1px solid #939393 ;
	border-bottom: 1px solid #B7B7B7 ;
	height: 34px;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationTitle {
  float: left;
  height: 33px; line-height: 33px; vertical-align: middle;
  font-size: 11px; font-weight: bold;
  margin: 0px 10px 0px 15px;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar {
  float: left;
  height: 34px; line-height: 34px; vertical-align: middle;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar a {
  float: left;
  width: 18px; height: 18px; 
  line-height: 18px; vertical-align: middle;
  font-size: 11px; font-weight: bold;
  text-align: center; text-decoration: none; color: black;
  margin: 7px 3px 0px 3px;
  border: solid 1px gray;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar a:hover {
  height: 18px; line-height: 18px; vertical-align: middle;
  color: blue;
  background: #f8f8f8;
  border: solid 1px #cdb9a0 ;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar a.SelectedStep {
  color: red;
}

.UIWorkspaceWizardContainer .UIWorkspaceWizard .UIFormTabPane {
	padding: 0px;
	margin: 0px;
}

.UIWorkspaceWizardContainer .UIWorkspaceWizard .UIFormTabPane .HorizontalLayout {
	padding: 0px;
	margin: 0px;
	border: solid 1px #b7b7b7;
	border-top: none;
	border-bottom: none;
}

.UIWorkspaceWizard .HorizontalLayout .UITabContentContainer .UITabContent .UIFormInputSet .FormContainer {
	width: 500px;
	margin: auto;
}

.UIWorkspaceWizard .HorizontalLayout .UITabContent .step1 .UIFormInputSet .AddPermissionIcon  {
	margin: 0px;
}

.UIWorkspaceWizardContainer .UIWorkspaceWizard .UIFormTabPane .TabPaneContent .UITabContentContainer {
	padding: 0px;
	margin: 0px;
	border: none;
}

.UIWorkspaceWizardContainer .UIWorkspaceWizard .UIFormTabPane .UITabContentContainer .UITabContent {
	padding: 0px;
	margin: 0px;
	border: none;
}

.UIWorkspaceWizard .HorizontalLayout .UITabContentContainer .UITabContent .UIFormInputSet {
	padding: 10px 0px;
	margin: 0px;
}

.UIPopupWizard .UIPermissionContainer .UIWorkspacePermissionForm {
  padding: 10px;
}

.UIPopupWizard .UIPermissionContainer .UIWorkspacePermissionForm .HorizontalLayout{
  background:  url(MacSkin/background/Background1x4.png) repeat 0%;
	padding-top: 10px;
}

.UIPopupWizard .UIPermissionContainer .UIWorkspacePermissionForm .UIFormGrid {
  width: 500px;
  margin: auto;
}

/*############################## -- MultiField  -- ########################*/

.UIECMAdminPortlet .UITree .TreeContainer .NodeSelected {
  height: 20px ; line-height: 20px;
  font-weight: bold; font-size: 11px;
}

.UIECMAdminPortlet .Explorer {
  margin: 0px 10px 10px 0px;
  float: left ;
  width: 220px ;
}

.UIECMAdminPortlet .UIJCRBrowser .ExplorerTree .UITree {
  border: solid 1px #ABBCCA;
  overflow: auto;
  background: white;
  width: 100%;
}

.UIECMAdminPortlet .UITree .TreeContainer .Node {
	white-space: nowrap;
}

.UIECMAdminPortlet .Explorer .ExplorerTree {
  margin-top: 1px;
  border: solid 1px #c6c6c9;
  background: #f3f3f3;
  padding: 1px;
}

.UIECMAdminPortlet .Explorer .InnerExplorerTree {
  border: solid 1px #b1b0b0;
  padding: 10px;
}

.UIECMAdminPortlet .Explorer .ExplorerTree .Node {
  line-height: 30px;
}

.UIECMAdminPortlet .UITreeList{
  width: 300px;
  float: left;
}

.UIECMAdminPortlet .UIJCRBrowser {
	width: 95%;
	margin: 10px auto;
}

.UIECMAdminPortlet .UIJCRBrowser .UIWorkspaceList {
	padding-bottom: 8px ;
}

.UIECMAdminPortlet .UITree .TreeContainer .NodeLabel a {
	float: none;
	height: 24px;
	line-height: 24px;
}

.UIECMAdminPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle {
	border: solid 1px #E1E1E1;
	margin: 0px;
	width: 530px;
}

.UIECMAdminPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .UIForm {
	padding: 1px;
	border: solid 1px #B1B0B0;
}

.UIECMAdminPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .HorizontalLayout {
	background: white;
	padding: 0px;
	margin: 0px;
}

.UIECMAdminPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .HorizontalLayout select{
	width: 100px;
}

.UIECMAdminPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .HorizontalLayout {
	background: #efefef;
	padding: 5px 0px;
}

.UIECMAdminPortlet .UIJCRBrowser .UIWorkspaceList .UIFormGrid select{
	width: 100px;
}

.UIECMAdminPortlet .UIJCRBrowser .UIWorkspaceList .FieldLabel{
	width: 100px;
}

/*############################## -- UINamespaceManager -- ########################*/

.UIECMAdminPortlet .UINamespaceList {
  margin-top: 5px ;
}

.UIECMAdminPortlet .UINamespaceForm {
  padding: 10px;
}

.UIECMAdminPortlet .UINamespaceForm .HorizontalLayout{
  background:  url(MacSkin/background/Background1x4.png) repeat 0%;
	padding-top: 10px;
}

.UIECMAdminPortlet .UINamespaceForm .FormContainer {
  width: 500px;
  margin: auto;
}

/*############################## -- UIDriveManager -- ########################*/

.UIECMAdminPortlet .UIDriveManager {
  padding: 2px 0px 0px 0px;
}

.UIECMAdminPortlet .UIDriveList {
  margin-top: 5px ;
}

.UIECMAdminPortlet .UIDriveManager .DriveInputSet .UIFormInputSetWithAction .FieldLabel {
  width: 140px;
}

.UIECMAdminPortlet .UIDriveManager .UIFormTabPane {
  width: 95%;
  margin: auto;
}

.UIECMAdminPortlet .UIDriveManager .UIGrid .ActionContainer {
  width: 55px ;
  margin: auto ;
}

.UIECMAdminPortlet .UIDriveManager .UIForm .HorizontalLayout .UIFormInputSet {
  width: 450px;
  margin: auto;
}

.UIECMAdminPortlet .UIDriveManager .UIFormInputSet .UIFormInputSetWithAction .radio {
  width: 20px;
  margin: 0px;
  float: none;
  border: none;
}

.UIECMAdminPortlet .UIDriveManager .UIFormInputSet .AddIcon16x16 {
  float: none;
  margin-left: 5px;
}

/*############################## -- UIViewManager -- ########################*/

.UIECMAdminPortlet .UIViewManager {
  height: 300px;
}

.UIECMAdminPortlet .UIViewContainer .UIViewList {
  margin-top: 5px;
}

.UIECMAdminPortlet .UIViewContainer .UIFormTabPane {
  width: 95%;
  margin: auto;
}

.UIECMAdminPortlet .UIViewContainer .UIViewForm .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UIViewContainer .UIGrid .ActionContainer {
  width: 70px ;
  margin: auto ;
}

.UIECMAdminPortlet .UIViewManager .UIPopupWindow .WorkingArea {
	padding: 0px 10px;
}

.UIECMAdminPortlet .UIViewManager .UIFormTabPane {
	width: 550px ;
	margin-left: auto; margin-right: auto;
}

.UIECMAdminPortlet .ECMTemplate .UIGrid .ActionContainer {
  width: 50px ;
  margin: auto ;
}

.UIECMAdminPortlet .UIViewContainer .UITabContent .FormContainer {
  width: 500px ;
  margin: auto;
}

.UIECMAdminPortlet .UIViewContainer .UITabForm .FormContainer {
  width: 500px ;
  margin: auto;
}

/*############################## -- ECMTemplate -- ########################*/

.UIECMAdminPortlet .ECMTemplate .UIECMTemplateList {
  width: 85px;
  margin: auto;
}

.UIECMAdminPortlet .ECMTemplate .ECMTempForm {
  width: 95%;
  margin: 10px auto;
}

.UIECMAdminPortlet .ECMTemplate .ECMTempForm .HorizontalLayout {
  background:  url(MacSkin/background/Background1x4.png) repeat 0%;
  padding-top: 10px;
}

.UIECMAdminPortlet .ECMTemplate .UIGrid .ActionContainer {
	width: 50px;
}

.ECMTempForm .HorizontalLayout .textarea {
  width: 95%;
  height: 300px;
  padding: 3px;
}

/*############################## -- CBTemplate -- ########################*/

.UIECMAdminPortlet .CBTemplate .UIGrid .ActionContainer {
  width: 50px;
}

.UIECMAdminPortlet .CBTemplate .CBTempForm {
  width: 95%;
  margin: 10px auto;
}

.UIECMAdminPortlet .CBTemplate .UICBTemplateList {
  width: 85px;
  margin: auto;
}

.CBTempForm .HorizontalLayout .textarea {
  width: 380px;
  height: 300px;
  padding: 3px;
  border: solid 1px #b7b7b7;
}

.UIECMAdminPortlet .CBTemplate .CBTempForm .HorizontalLayout {
  background:  url(MacSkin/background/Background1x4.png) repeat 0%;
  padding-top: 10px;
}
/*############################## -- UIScriptManager  -- ########################*/

/*------------------------------UICBScripts------------------------*/

.UIECMScripts .ECMScriptForm{
  width: 95%; 
  margin: 10px auto;
}

.UIECMScripts .ECMScriptForm .HorizontalLayout {
  background:  url(MacSkin/background/Background1x4.png) repeat 0%;
  padding-top: 10px;
}

/*------------------------------UICBScripts------------------------*/

.UICBScripts .CBScriptForm {
  width: 95%;
  margin: 10px auto;
}

.UICBScripts .CBScriptForm .HorizontalLayout {
  background:  url(MacSkin/background/Background1x4.png) repeat 0%;
  padding-top: 10px;
}

.UICBScripts .HorizontalLayout .FormContainer textarea {
  width: 360px;
  height: 350px;
  padding: 3px;
}

/*############################## -- UIActionManager -- ########################*/

.UIECMAdminPortlet .UIActionManager {
  width: 97%;
  padding: 2px 0px 0px 0px;
}

.UIActionManager .UIActionTypeForm  {
	padding: 10px; 
}

.UIActionManager .UIActionTypeForm .HorizontalLayout {
	background:  url(MacSkin/background/Background1x4.png) repeat ;
	padding-top: 10px;
}

.UIActionManager .UIActionTypeForm .FormContainer {
	width: 500px; 
	margin: auto; 
}

/*############################## -- UIScriptManager UIScriptFilterForm  -- ########################*/

.UIECMAdminPortlet .UIECMScripts  {
  width: 97%;
  margin: auto;
}

.UIECMAdminPortlet .UIECMScripts .UIGrid .ActionContainer {
  margin: auto;
  width: 60px;
}

.UIECMAdminPortlet .UIECMScripts .UIScriptFilterForm  {
  margin-bottom: 2px;
}

.UIECMAdminPortlet .UIECMScripts .UIScriptFilterForm .UIFormGrid .FieldLabel {
  width: 90px;
  padding-left: 10px;
}

.UIECMAdminPortlet .UIECMScripts .UIScriptFilterForm .UIFormGrid .FieldComponent select {
  margin: 10px 0px 0px 0px;
}

.UIECMAdminPortlet .UIECMScripts .UIGrid .ActionContainer .OverflowContainer {
  width: 75px;
}

.UIECMScripts .UIBarStyle {
	margin-bottom: 2px;
}

.UIECMScripts .UIGrid .ActionContainer {
	width: 45px ;
	margin: auto ;
}

.UIECMScripts .HorizontalLayout .FormContainer .FieldComponent textarea {
  height: 350px;
  width: 90%;
  padding: 3px;
}

/*############################## -- UIScriptManager UIScriptForm  -- ########################*/

.UIECMAdminPortlet .UICBScripts .UIGrid .ActionContainer {
  margin: auto;
  width: 60px;
}

.UICBScripts .UIGrid .ActionContainer {
	width: 45px ;
	margin: auto ;
}

.UICBScripts .UIFormWithTitle .HorizontalLayout .FieldContainer .MyEditor {
  padding-left: 7px;
}

.UICBScripts .HorizontalLayout .FormContainer .FieldComponent textarea {
  height: 350px;
  width: 90%;
  padding: 3px;
  float: left;
}

/*############################## --Begin UITemplatesManager --##############################*/

.UIECMAdminPortlet .UITemplatesManager .UITemplateEditForm .FormContainer{
  width: 550px ;
  margin: 10px auto;
}

.UIECMAdminPortlet .UITemplatesManager .template .FormContainer {
  width: 550px;
  margin: auto;
}

.UIECMAdminPortlet .UITemplatesManager .UIGrid .ActionContainer {
  width: 50px ;
}

.UIECMAdminPortlet .UITemplatesManager .UIForm .textarea {
  width: 95%;
  height: 350px;
  padding: 3px;
}

.UITemplatesManager .UITabPane {
	width: 95%;
	padding: 10px 0px;
	margin: auto;
}

/*----------------------------UIDialogTab-------------------------------*/

.UIECMAdminPortlet .UITemplatesManager   {
 	padding: 2px 0px 0px 0px;
 	width: 97%;
}

.UITemplatesManager .UITabPane .UIDialogTab .UIPageIterator{
	margin-bottom: 15px;
}

.UITemplatesManager .UITabPane .UIDialogTab .DialogForm {
	margin: 10px 0px 0px 0px;
}

.UITemplatesManager .UITabPane .UIDialogTab .DialogForm .FormContainer {
	padding-top: 10px;
}

.UITemplatesManager .DialogForm .HorizontalLayout .UIFormInputSet {
	width: 100%;
	padding: 0px;
}

/*----------------------------UIViewTab-------------------------------*/

.UITemplatesManager .UITabPane .UIViewTab .ViewForm {
	margin: 30px 0px 0px 0px;
}

.UITemplatesManager .UITabPane .UIViewTab .ViewForm {
	margin: 10px 0px 0px 0px;
}

.UITemplatesManager .UITabPane .UIViewTab .ViewForm .FormContainer {
	padding-top: 10px;
}

.UITemplatesManager .ViewForm .HorizontalLayout .UIFormInputSet {
	width: 100%;
	padding: 0px;
}

/*############################## -- UINamespaceManager -- ########################*/

.UIECMAdminPortlet .UINamespaceManager {
	padding: 2px 0px 0px 0px;
	width: 97%;
}

.UINamespaceManager .UIFormWithTitle .HorizontalLayout {
  padding-top: 15px;
}

/*############################## -- UIRuleManager  -- ########################*/

.UIRuleManager .UIFormWithTitle .HorizontalLayout {
  padding-top: 10px;
}

.UIRuleManager .UIFormWithTitle .UIForm textarea {
  width: 450px;
  height: 300px;
  margin-left: 25px;
}

.UIRuleManager .UIGrid .ActionContainer {
  width: 50px ;
  margin: auto;
}

/*############################## -- UIQueriesManager  -- ########################*/

.UIECMAdminPortlet .UIQueriesManager {
  padding: 2px 0px 0px 0px;
}

.UIQueriesManager .UIQueriesForm {
	width: 95%;
	margin: 10px auto;
}

.UIQueriesManager .UIQueriesForm .HorizontalLayout {
	background:  url(MacSkin/background/Background1x4.png) repeat 0%;
	padding-top: 10px;
}

.UIQueriesManager .UIQueriesForm .UIForm .textarea {
	height: 300px ;
	width: 95%;
	padding: 3px;
}

/*############################## -- UIFolksonomyManager  -- ########################*/

.UIECMAdminPortlet .UIFolksonomyManager {
  padding: 2px 0px 0px 0px;
}

.UIFolksonomyManager .UITagStyleForm {
	padding: 10px;
}

.UIFolksonomyManager .UITagStyleForm .HorizontalLayout {
	background:  url(MacSkin/background/Background1x4.png) repeat 0%;
	padding-top: 10px;
}

.UIFolksonomyManager .UITagStyleForm .UIForm .textarea {
	height: 300px ;
	width: 95% ;
	border: solid 1px #b7b7b7;
	padding: 3px;
}

.UIECMAdminPortlet .UIJCRBrowser .InnerExplorerTree .UITree .TreeContainer {
  border: none;
} 

.UIECMAdminPortlet .UIPopupWindow .Content {
  border: solid 1px #cdcdcd;
}
