/**
 * Created by The eXo Platform SAS
 * Modifier : Vu Duy Tu
 *           duytucntt@gmail.com
 * January 05, 2006
 * version: $Id$
 */

@import url("../../../icons/VistaStylesheet.css");
@import url("UIMetadataManager/VistaStylesheet.css");
@import url("UINodeTypeManager/VistaStylesheet.css");
@import url("UITaxonomyManager/VistaStylesheet.css");

.UIECMAdminPortlet {
  overflow: hidden;
}

.UIECMAdminPortlet .UIRepositoryControl {
	overflow: hidden;
}

.UIECMAdminPortlet .UIRepositoryControl .ControlLayout {
	font-size: 11px ;
  background: url('VistaSkin/background/ECMAdminTitleBar1x35.gif') repeat-x left top ; 
  height: 35px;
}

.UIECMAdminPortlet .UIRepositoryControl .SelectorArea {
  float: left;
  margin: auto ;
  height: 34px;
	line-height: 34px;
}

.UIECMAdminPortlet .UIRepositoryControl .SelectorArea .RepoNameLabel {
	font-weight: bold ;
	float: left;
	padding: 0px 7px 0px 20px;
	line-height: 34px;
}

.UIECMAdminPortlet .UIRepositoryControl .SelectorArea .UISelect {
	 width: 200px;
	 margin: 5px;
	 float: left;	 
}

.UIECMAdminPortlet .UIRepositoryControl .UISelect .SelectedItemLabel{
	
}

.UIECMAdminPortlet .UIRepositoryControl .ActionsArea {
  width: 200px;
  float: left; 
  height: 34px;
}

.UIECMAdminPortlet .UIRepositoryControl .ActionButton {
	width: 24px ; height: 24px;
	float: left ;
	margin: 5px 0px 0px 5px;		
}

.UIECMAdminPortlet .UIRepositoryControl .SeparatorLine {
  width: 2px;
  height: 25px;
  margin: 2px 2px 0px 8px;		
  background: url('VistaSkin/background/SeparatorLine2x1.png') repeat-y;
  float: left;
}

/*############################## --Begin UIRepositoryManager -- ########################*/

.UIPageBody .UIECMAdminPortlet {
  background: url('VistaSkin/background/ECMAdminbottom1x30.gif') repeat-x left bottom;
  background-color: white;
  padding-bottom: 30px;
}

.UIECMAdminPortlet .UIRepositoryManager .UIRepositoryList .UIAction {
	width: 90px;
}

.UIECMAdminPortlet .UIRepositoryManager .UIRepositoryForm .UIAction {
	width: 410px;
}

.UIRepositoryManager .UIRepositoryForm .UIFormInputSet .UIFormInputSetWithAction .FieldContainer label{
	width: 100px;	
}

.UIECMAdminPortlet .UIRepositoryManager .UIWorkspaceWizard .HiddenLabel {
	display: none  ;	
}

.UIECMAdminPortlet .UIRepositoryManager .UIWorkspaceWizard .SelectedLabel {
	display: block ;
	background: #F4F4F4 none repeat scroll 0%;
	border: 1px solid #B7B7B7 ;
	padding: 10px 0px;
	border-bottom: none ;
}

.UIECMAdminPortlet .UIRepositoryManager .UIWorkspaceWizard .WizardLabel {
	float: left;
 	vertical-align: middle;
  font-size: 11px; font-weight: bold; 
}

.UIECMAdminPortlet .UIRepositoryManager .UIWorkspaceWizard .UIWizardAction {
	background: #F4F4F4 none repeat scroll 0%;
	border: 1px solid #B7B7B7 ;
	border-top: none ;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationTitle {
  float: left;
  height: 33px; line-height: 33px; vertical-align: middle;
  font-size: 11px; font-weight: bold;
  margin: 0px 10px 0px 15px;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar {
  float: left;
  height: 34px; line-height: 34px; vertical-align: middle;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar a{
  float: left;
  width: 18px; height: 18px; 
  line-height: 18px; vertical-align: middle;
  font-size: 11px; font-weight: bold;
  text-align: center; text-decoration: none; color: black;
  margin: 7px 3px 0px 3px;
  border: solid 1px gray;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar a:hover {
  height: 18px; line-height: 18px; vertical-align: middle;
  color: orange;
  background: #f8f8f8;
  border: solid 1px #fdb913 ;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar a.SelectedStep {
  color: red;
}


.UIECMAdminPortlet .UIRepositoryManager .UIWorkspaceWizard .UIAction {
	float: right;
	width: auto;
}


.UIRepositoryManager .UIWorkspaceForm .UIAction{ 
	width: 280px;
}

.UIECMAdminPortlet .ActionButton {
  width: auto ;
}

.UIECMAdminPortlet .UIFormWithTitle {
  margin: auto;
  width: 95%;
}

.UIECMAdminPortlet .UIECMPortletLayout {
  background: url('VistaSkin/background/ECMAdminTitleBar1x33.gif') repeat-x left top;
  border-collapse: collapse ;
  font-size: 11px ;
}

.UIECMAdminPortlet .ECMLayoutSeparator {
	width: 8px;
	background: url('VistaSkin/background/LayoutSeparator.gif') repeat-y center;
}

.UIECMAdminPortlet .CollapseSideBar {
	width: 8px; height: 33px;
	background: url('VistaSkin/background/CollapseSideBar.gif') no-repeat;
	cursor: pointer;
}

.UIECMAdminPortlet .ExpandSideBar {
	width: 8px; height: 33px;
	background: url('VistaSkin/background/ExpandSideBar.gif') no-repeat;
	cursor: pointer;
}

.UIECMAdminPortlet .ECMAdminTitleBar {
	font-weight: bold; 
  line-height: 25px;
	text-align: center;
	height: 33px;
}

.UIECMAdminPortlet .UIECMAdminFunctionTitle {
	font-weight: bold;
  line-height: 25px;
	height: 43px;
	padding: 0px 0px 0px 7px;
}

.UIECMAdminPortlet .UIResizableBlock {
	overflow: auto;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVerticalSlideTabs {
  margin: 10px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab {
  margin: 8px 0px;
  cursor: pointer;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab .TabIcon {
	float: left;
  margin: 1px 5px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent {
  background: #ffffff;
  border: solid 1px #b2b1b1;
  margin: 1px 8px;
  padding: 5px ;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a {
	color: black;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a:hover {
	color: orange;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem {
  height: 25px;
  clear: both;
  margin: 4px 2px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemIcon {
  float: left;
  margin-right: 6px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemLabel {
  line-height: 25px;
  cursor: pointer;
}

.UIECMAdminPortlet .UIECMAdminWorkingArea {
  margin: 1px 10px 10px 10px;
}

.UIECMAdminPortlet .UIForm .HorizontalLayout .UIFormInputSet  {
  margin: auto;
  width: 520px;
}

.UIECMAdminPortlet .HorizontalLayout .FieldContainer {
	width: 450px;
	margin: auto;
}

.UIECMAdminPortlet .UIGrid .ActionContainer a {
	width: 24px; height: 24px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .ActionFieldContainer {
	padding-left: 170px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .ActionField {
  float: left ;
  margin-right: 5px ;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .ActionField a {
  color: blue;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .ActionField a:hover {
  color: orange;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .checkbox {
  width: 15px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions input {
  width: 225px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithAction .FieldContainer label {
  width: 150px;
}

/*############################## -- UINamespaceManager -- ########################*/

.UIECMAdminPortlet .UINamespaceList {
  margin-top: 5px ;
}

.UIECMAdminPortlet .UINamespaceList .UIAction {
  margin: auto ;
	padding: 3px 0px 7px 0px;
	width: 100px;
}

.UIECMAdminPortlet .UINamespaceForm .UIFormWithTitle .UIAction {
  width: 200px;
  margin: auto ;
}

.UIECMAdminPortlet .UINamespaceManager .FieldContainer label {
 	width: 120px;
}

/*############################## -- UIDriveManager -- ########################*/

.UIECMAdminPortlet .UIDriveList {
  margin-top: 5px ;
}

.UIECMAdminPortlet .UIDriveManager .UIFormTabPane {
  width: 500px ;
  margin: auto ; margin-top: 10px; margin-bottom: 10px;
}

.UIECMAdminPortlet .UIDriveManager .UIFormTabPane .UIAction {
  width: 285px ;
  margin: auto ; 
  padding-top: 10px;
}

.UIECMAdminPortlet .UIDriveManager .UIForm .HorizontalLayout label {
	float:left;
  width: 120px ;
	text-align: right;
	margin: 0px 10px ;
}


.UIECMAdminPortlet .UIDriveManager .UIJCRBrowser {
  margin: auto ; 
  padding: 10px 7px;
}

.UIECMAdminPortlet .UIDriveManager .UIJCRBrowser .Explorer{
  margin-right: 5px;
}

.UIECMAdminPortlet .UIDriveManager .UIGrid .ActionContainer {
  width: 65px ;
  margin: auto ;
}

.UIECMAdminPortlet .UIDriveList .UIAction {
  width: 120px ;
  padding-top: 5px;
  margin: auto ;
}

.UIECMAdminPortlet .MultiRadioInput {
	float: left;
}

/*############################## -- UIViewManager -- ########################*/

.UIECMAdminPortlet .UIViewManager {
  height: 300px;
}

.UIECMAdminPortlet .UIViewManager .UIForm .UIAction {
	margin: auto;
	width: 320px;
	padding: 10px;
}

.UIECMAdminPortlet .UIViewContainer .UIGrid .ActionContainer {
  width: 100px;
}

.UIECMAdminPortlet .UIFormInputSetWithActions {
	padding-top: 15px;
}

.UIECMAdminPortlet .UIViewContainer .UIViewList {
  margin-top: 5px;
}

.UIECMAdminPortlet .UIViewManager .UIPopupWindow .WorkingArea {
	padding: 0px 10px;
}

.UIECMAdminPortlet .UIViewManager .UIFormTabPane {
	width: 550px ;
	margin: 0px auto;
}

.UIECMAdminPortlet .UIViewContainer .UIFormTabPane {
  width: 95%;
  margin: auto;
}

.UIECMAdminPortlet .UIViewContainer .UIFormTabPane .UIAction {
  width: 270px ;
  padding: 7px 0px 0px 0px;
  margin: auto ;
}

.UIECMAdminPortlet .UICBTemplateList {
  margin-top: 5px;
}

.UIECMAdminPortlet .UICBTemplateList .UIAction {
  width: 120px ;
  margin: auto ;
  padding: 8px 0px 5px 0px;
}

.UIECMAdminPortlet .UIViewList .UIAction {
  width: 120px ;
  margin: auto ;
  padding: 8px 0px 5px 0px;
}


.UIECMAdminPortlet .UIECMTemplateList .UIAction {
  width: 120px ;
  margin: auto ;
  padding: 8px 0px 5px 0px;
}

.ECMTempForm .HorizontalLayout .FieldContainer {
  width: 500px;
  margin: auto;
}

.ECMTempForm .UIFormWithTitle label {
	width: 100px;
}

.ECMTempForm .UIFormWithTitle .UIForm .textarea {
  width: 320px;
  height: 300px;
}

.ECMTempForm .UIFormWithTitle .UIAction {
	width: 310px;
	padding-left: 90px;

}

.ECMTempForm .UIFormWithTitle .UIForm .textarea {
  width: 320px;
  height: 300px;
}

.CBTempForm .HorizontalLayout .FieldContainer {
  width: 500px;
  margin: auto;
}

.CBTempForm .UIFormWithTitle label {
	width: 100px;
}

.CBTempForm .UIFormWithTitle .UIForm textarea {
  width: 320px;
  height: 300px;
}

.CBTempForm .UIFormWithTitle .UIForm .UIAction {
  width: 270px;
}

/*############################## -- UIActionManager -- ########################*/

.UIActionManager .UIActionTypeList .UIAction {
	width: 80px ;
	margin: auto ;
}

.UIActionManager .UIActionTypeForm .UIFormWithTitle .UIAction {
	width: 185px ;
	margin: auto ;
}

.UIActionManager .UIActionTypeForm .UIFormWithTitle label {
	width: 140px;
}

.UIActionManager .UIActionTypeForm .UIFormWithTitle .HorizontalLayout {
	padding: 10px 0px 0px 30px; 
}

.UIActionManager .HorizontalLayout .FieldContainer {
	width: 500px;
	margin: auto;
}

/*############################## -- UIScriptManager UIScriptFilterForm  -- ########################*/

.UIECMScripts .UIBarStyle {
	margin-bottom: 2px;
}

.UIECMScripts .ECMScriptList .UIAction {
	width: 120px ;
	margin: auto ;
	padding-top: 5px;
}

.UIECMAdminPortlet .UIECMScripts .UIGrid .ActionContainer {
  margin: auto;
  width: 75px;
}

.UIECMScripts .UIScriptFilterForm .UIForm  {
   width: 100%; height: 30px; 
   padding: 0px;
   margin: 0px;
}
.UIECMScripts .UIScriptFilterForm .FieldContainer  {
  padding-left: 15px;
}

.UIECMScripts .UIScriptFilterForm .UIForm label {
  line-height: 16px;
}

.UIECMScripts .UIScriptFilterForm .UIForm .selectbox {
  margin-top: 7px;
}

.UIECMScripts .UIFormWithTitle .HorizontalLayout {
  padding-top: 7px;
}

.UIECMScripts .UIFormWithTitle .HorizontalLayout .UIAction {
  width: 290px;
  margin: auto;
}

.UIECMScripts .UIFormWithTitle .UIForm textarea {
  width: 320px;
  height: 300px;
}

/*############################## -- UIScriptManager UIScriptForm  -- ########################*/

.UICBScripts .CBScriptList .UIAction {
	width: 90px ;
	margin: auto ;
	padding-top: 5px;
}

.UICBScripts .UIFormWithTitle .HorizontalLayout {
  padding-top: 7px;
}

.UIECMScripts .HorizontalLayout .FieldContainer {
  width: 520px;
  margin: auto;
}

.UICBScripts .UIFormWithTitle .HorizontalLayout .UIAction {
  width: 290px;
  margin: auto;
}

.UICBScripts .UIFormWithTitle .UIForm textarea {
  width: 320px; height: 300px;
}

/*############################## --Begin UITemplatesManager --##############################*/

.UITemplatesManager .UIGrid .ActionContainer {
  width: 70px ;
}

.UITemplatesManager .UITabPane {
	width: 95%;
	padding: 10px 0px;
	margin: auto;
}

.UITemplatesManager .UIFormInputSetWithActions {
	padding-top: 15px;
}

.UITemplatesManager .UIFormTabPane .UIAction{
  width: 300px;
  margin: auto;
}

.UITemplatesManager .UITemplateList .UIAction {
  width: 80px ;
}

.UITemplatesManager .UIFormTabPane .UIForm .textarea {
  width: 320px;  height: 300px; 
  margin: 5px ;
}

.UITemplatesManager .UIFormWithTitle {
  width:auto;
  padding-top: 7px;
  border: none;
}

.UITemplatesManager .UITemplateEditForm .UIFormWithTitle .HorizontalLayout {
	border: none;
	padding: 0px;
}

.UITemplatesManager .UITemplateEditForm .UIFormWithTitle .UIAction {
	width: 200px;
	margin: auto;
	padding: 5px 0px 5px 0px;
}

.UITemplatesManager .UIFormWithTitle .UIForm .textarea {
  width: 350px;  height: 250px; 
}

.UITemplatesManager .UIDialogTab .UIFormWithTitle .UIAction {
  width: 290px; 
  padding: 0px 0px 10px 0px;
  margin: auto;
}

.UITemplatesManager .UIViewTab .UIFormWithTitle .UIAction {
  width: 290px; 
  margin: auto;
  padding: 0px 0px 10px 0px;
}

.UITemplatesManager .UIDialogTab .DialogForm .HorizontalLayout label {
	width: 100px;
}

.UITemplatesManager .UIViewTab .ViewForm .HorizontalLayout label {
	width: 100px;
}

/*############################## -- UINamespaceManager -- ########################*/

.UINamespaceManager .UIFormWithTitle .HorizontalLayout {
  padding-top: 15px;
}
/*############################## -- UIRuleManager  -- ########################*/

.UIRuleManager .UIFormWithTitle .HorizontalLayout {
  padding-top: 10px;
}

.UIRuleManager .UIFormWithTitle .HorizontalLayout .UIAction {
  width: 290px;
  padding-top: 15px;
  margin:auto;
}

.UIRuleManager .UIFormWithTitle .textarea {
  width: 446px;
  height: 300px;
  margin-left: 25px;
}

.UIRuleManager .ActionContainer {
  width: auto;
  margin: auto;
}

.UIRuleManager .UIRuleList .UIAction{
  width: 105px ;
  margin: auto ;
}

/*############################## -- UIQueriesManager  -- ########################*/

.UIQueriesManager .HorizontalLayout .FieldContainer {
	width: 520px;
	margin: auto;
}

.UIQueriesManager .UIQueriesForm .UIForm .textarea {
	width: 320px ; height: 150px ;
}

.UIQueriesManager .UIQueriesForm .UIForm .UIAction {
	margin: auto;
	width: 230px;
}

.UIQueriesManager .UIQueriesList .UIAction {
	width: 120px ;
}

.UIQueriesManager .UIQueriesForm .UIForm .HorizontalLayout {
	padding-top: 15px;
}

.UIQueriesManager .UIQueriesForm .UIForm .FieldContainer label {
	width: 130px ;
}

/*############################## -- UIFolksonomyManager  -- ########################*/

.UIFolksonomyManager .HorizontalLayout .FieldContainer {
	width: 500px;
	margin:auto;
}

.UIFolksonomyManager .UITagStyleForm .UIForm .textarea {
	height:250px;
	margin: 0px 0px 10px 0px;
	width:300px;
}

.UIFolksonomyManager .UITagStyleForm .UIForm .HorizontalLayout {
	padding-top: 10px;
}

.UIFolksonomyManager .UITagStyleForm .UIForm .UIAction {
	width: 190px;
}

/*############################## -- MultiField  -- ########################*/
.UIECMAdminPortlet .HorizontalLayout .FieldContainer .MultiValueContainer {
  margin: 0px 0px 4px 175px;
}

.Explorer {
  margin-bottom: 10px;
  float: left ;
  width: 230px ;
}

.UIECMAdminPortlet .UIFormWithTitle .FieldContainer .MultiValueContainer .AddNewNodeIcon  {
  float: left;
  margin: 3px 5px 0px 5px;
}