/**
 * Created by The eXo Platform SAS
 * Modifier : Vu Duy Tu
 *           duytucntt@gmail.com
 * January 05, 2006
 * version: $Id$
 */

@import url("../../../icons/VistaStylesheet.css");
@import url("UIMetadataManager/VistaStylesheet.css");
@import url("UINodeTypeManager/VistaStylesheet.css");

.UIWindow .UIECMAdminPortlet {
	border: none;
	margin: 0px;
}

.UIECMAdminPortlet {
	background: white;
	border: 1px solid #b7b7b7;
	margin: 5px;
	overflow: hidden;
}

.UIECMAdminPortlet .UIFormGrid {
	width: 100%;
}

.UIECMAdminPortlet .UITrees .Node  {
  line-height: 24px;
}

.UIECMAdminPortlet .UITaxonomyManager .UITaxonomyForm {
	padding: 10px;
}

/***********************UIRepositoryControl**************************/
.UIECMAdminPortlet .UIRepositoryControl .ControlLayout {
  background: url('VistaSkin/background/ECMAdminTitleBar1x35.gif') repeat-x left top ; 
  height: 35px;
}

.UIECMAdminPortlet .UIRepositoryControl .SelectorArea {
  float: left;
  margin: auto ;
  height: 34px;
}

.UIECMAdminPortlet .UIRepositoryControl .SelectorArea .RepoNameLabel {
	font-weight: bold ;
	float: left;
	padding: 0px 7px 0px 20px;
	line-height: 34px;
}

.UIECMAdminPortlet .UIRepositoryControl .SelectorArea .UISelect {
	 width: 190px;
	 margin: 0px;
	 float: left;	 
}

.UIECMAdminPortlet .UIRepositoryControl .UISelect .UIForm .HorizontalLayout select {
	 width: 170px;
	 margin-top: 3px;
}

.UIECMAdminPortlet .UIRepositoryControl .UISelect .UIForm .HorizontalLayout {
	 padding: 0px;
	 border: none;
}

.UIECMAdminPortlet .UIRepositoryControl .ActionsArea {
  float: left; 
  height: 34px;
}

.UIECMAdminPortlet .UIRepositoryControl .ActionButton {
  height: 24px;
	float: left ;
	margin: 5px 0px 0px 5px;		
}

.UIECMAdminPortlet .UIRepositoryControl .SeparatorLine {
  width: 2px;
  height: 25px;
  margin: 2px 2px 0px 8px;		
  background: url('VistaSkin/background/SeparatorLine2x1.png') repeat-y;
  float: left;
}

/********************************** End UIRepositoryControl************************/

.UIECMAdminPortlet .ProgressBarFrame {
	margin: 0px;
	width: 320px;
}

.UIECMAdminPortlet .SelectFileFrame {
	margin: 0px;
}

.UIECMAdminPortlet .FileNameLabel {
	width: auto;
}

/*############################## --Begin UIRepositoryManager -- ########################*/

.UIPageBody .UIECMAdminPortlet {
  background: url('VistaSkin/background/ECMAdminbottom1x30.gif') repeat-x left bottom;
  background-color: white;
  padding-bottom: 30px;
}

.UIECMAdminPortlet .UIRepositoryForm  {
	padding: 10px;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .wsInputSet .UIFormInputSet {
	padding: 0px;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .wsInputSet .FormContainer {
	width: auto;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .wsInputSet .UIFormGrid td {
	padding: 4px 4px 4px 0px;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .authInputSet .UIFormInputSet {
	padding: 0px;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .authInputSet .FormContainer {
	width: 528px;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .authInputSet .UIFormGrid td.FieldLabel {
  padding: 4px 0px 4px 4px;
}

.UIECMAdminPortlet .UIRepositoryForm .authInputSet .UIFormInputSetWithAction .AddIcon16x16 {
	margin-left: 5px;
	float: none;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .UIPageIterator {
	width: 90%;
	margin: auto;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .UIGrid {
	width: 95%;
	margin: 10px auto;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .UIGrid .SelectIcon{
	background: url('VistaSkin/background/SelectIcon.gif') no-repeat;
	width: 16px; 
	height: 16px;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .wsInputSet .UIFormGrid td.FieldComponent {
	padding-top: 0px; padding-left: 2px;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .FormContainer .FieldComponent a {
	line-height: 24px;
}

.UIECMAdminPortlet .UIRepositoryFormContainer .FormContainer .FieldComponent a:hover {
	color: #0183F1;
}

.UIWorkspaceWizard .HorizontalLayout .UITabContentContainer .UITabContent .UIFormInputSet {
	padding: 10px 0px;
}

.UIWorkspaceWizard .HorizontalLayout .UITabContentContainer .UITabContent .UIFormInputSet .FormContainer {
	width: 500px;
	margin: auto;
}

.UIECMAdminPortlet .UIWorkspaceWizard .UITabPane .TabPaneContent {
	padding: 0px;
}

.UIECMAdminPortlet .UIWorkspaceWizard .HiddenLabel {
	display: none  ;	
}

.UIECMAdminPortlet .UIWorkspaceWizard .SelectedLabel {
	display: block ;
	background: #F4F4F4 none repeat scroll 0%;
	border: 1px solid #B7B7B7 ;
	padding: 10px 0px 10px 10px;
	line-height: 15px;
}

.UIECMAdminPortlet .UIWorkspaceWizard .WizardLabel {
  font-weight: bold; 
  padding-right: 10px;
}

.UIECMAdminPortlet .UIWorkspaceWizard .UIWizardAction {
	background: #F4F4F4 none repeat scroll 0%;
	border: none ;
	border-top: 1px solid #939393 ;
	border-bottom: 1px solid #B7B7B7 ;
	height: 40px;
	line-height: 40px;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationTitle {
  float: left;
  font-weight: bold;
  margin: 0px 10px 0px 15px;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar {
  float: left;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar a{
  float: left;
  width: 18px; height: 18px; 
  line-height: 18px;
  font-weight: bold;
  text-align: center; 
  margin: 10px 3px 0px 3px;
  border: solid 1px gray;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar a:hover {
  height: 18px; line-height: 18px; vertical-align: middle;
  color: orange;
  background: #f8f8f8;
  border: solid 1px #fdb913 ;
}

.UIWorkspaceWizard .UIWizardAction .StepNavigationBar a.SelectedStep {
  color: red;
}

.UIECMAdminPortlet .UIWorkspaceWizard .UIWizardAction .UIAction {
	float: right;
	padding-right: 5px;
	width: 50%;
}

.UIECMAdminPortlet .UIWorkspaceWizard .UIWizardAction .ActionContainer {
  margin: 0px ;
}

.UIWorkspaceWizardContainer .UIWorkspaceWizard .UIFormTabPane {
	padding: 0px;
	margin: 0px;
}

.UIWorkspaceWizardContainer .UIWorkspaceWizard .UITabPane .UITabContentContainer {
	border: none;
}

.UIWorkspaceWizardContainer .UIWorkspaceWizard .UIFormTabPane .HorizontalLayout {
	padding: 0px;
	margin: 0px;
	border: solid 1px #b7b7b7;
	border-top: none;
	border-bottom: none;
}

.UIPopupWizard .UIPermissionContainer .UIWorkspacePermissionForm {
  margin: 5px 5px 10px 5px;
  border: 1px solid #b7b7b7;
}

.UIPopupWizard .UIPermissionContainer .UIWorkspacePermissionForm .UIFormGrid {
  width: 500px;
  margin: auto;
}

.UIECMAdminPortlet .UIFormGrid input {
  padding-left: 3px;
}

.UIECMAdminPortlet .UIFormGrid input.radio {
  float: none;
  margin-left: 0px;
}

.UIECMAdminPortlet .UIFormGrid .FieldLabel {
  width: 110px;
}

.UIECMAdminPortlet .UIECMPortletLayout {
  background: url('VistaSkin/background/ECMAdminTitleBar1x33.gif') repeat-x left top;
  border-collapse: collapse ;
}

.UIECMAdminPortlet .ECMLayoutSeparator {
	width: 8px;
	background: url('VistaSkin/background/LayoutSeparator.gif') repeat-y center;
}

.UIECMAdminPortlet .CollapseSideBar {
	width: 8px; height: 100%;
	background: url('VistaSkin/background/SideBar.gif') no-repeat left center;
	cursor: pointer;
}

.UIECMAdminPortlet .ExpandSideBar {
	width: 8px; height: 100%;
	background: url('VistaSkin/background/SideBar.gif') no-repeat right center;
	cursor: pointer;
}

.UIECMAdminPortlet .ECMAdminTitleBar {
	font-weight: bold; 
	text-align: center;
	padding: 10px 0px 4px 0px;
	line-height: 20px;
}

.UIECMAdminPortlet .UIECMAdminFunctionTitle {
	font-weight: bold;
}

.UIECMAdminPortlet .UIECMAdminFunctionTitle .RightFunctionTitle {
	height: 32px;
}

.UIECMAdminPortlet .UIECMAdminFunctionTitle .FunctionTitle {
	line-height: 20px;
}

.UIECMAdminPortlet .UIResizableBlock {
  height: 400px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVerticalSlideTabs {
  margin: 10px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab {
  margin: 8px 0px;
  cursor: pointer;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTab .TabIcon {
	float: left;
  margin: 1px 5px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent {
  background: #ffffff;
  border: solid 1px #b2b1b1;
  margin: 1px 3px;
  padding: 5px ;
  overflow: hidden;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a {
	color: black;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .UIVTabContent a:hover {
	color: orange;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem {
  height: 25px;
  clear: both;
  margin: 4px 2px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemIcon {
  float: left;
  margin-right: 6px;
}

.UIECMAdminPortlet .UIECMAdminControlPanel .FunctionItem .ItemLabel {
  line-height: 25px;
  cursor: pointer;
}

.UIECMAdminPortlet .UIECMAdminWorkingArea {
  margin: 10px;
}

.UIECMAdminPortlet .UIForm .HorizontalLayout .UIFormInputSet  {
  width: auto;
}

.UIECMAdminPortlet .UIGrid .ActionContainer a {
	width: 24px; height: 24px;
}

.UIECMAdminPortlet .UIFormInputSet .AddIcon16x16 {
	float: none;
	margin-left: 5px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .ActionFieldContainer {
	padding-left: 170px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .ActionField {
  float: left ;
  margin-right: 5px ;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .ActionField a {
  color: blue;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithActions .ActionField a:hover {
  color: orange;
}

.UIECMAdminPortlet .UIViewContainer .UIPopupWindow .UITabPane .FormContainer a:hover {
	color: #058EE6;
}

/*############################## -- UINamespaceManager -- ########################*/

.UIECMAdminPortlet .UINamespaceManager {
  width: 97.5%;
}

.UIECMAdminPortlet .UINamespaceList {
  margin-top: 5px ;
}

/*############################## -- UIFolksonomyManager -- ########################*/

.UIECMAdminPortlet .UIFolksonomyManager .UITagStyleForm {
	padding: 10px;
}

/*############################## -- UIDriveManager -- ########################*/

.UIECMAdminPortlet .UIDriveList {
  margin-top: 5px ;
}

.UIECMAdminPortlet .UIDriveManager .UIForm .HorizontalLayout .UIFormInputSet {
	padding: 10px;
}

.UIECMAdminPortlet .UIDriveManager .UIForm .HorizontalLayout .rootNodeInfo .UIFormInputSet {
	width: auto;
	padding: 0px;
}

.UIECMAdminPortlet .UIDriveManager .rootNodeInfo .FormContainer {
	padding: 0px;
}


.UIECMAdminPortlet .UIDriveManager .UIFormTabPane .UITabPane {
	width: 95%;
	margin: 10px auto;
}

.UIECMAdminPortlet .UIDriveManager .WorkingArea .UITabContentContainer .UITabContent {
	padding: 0px;
}

.UIECMAdminPortlet .UIDriveManager .DriveInputSet .UIFormInputSetWithAction .FieldLabel {
  width: 140px;
}

.UIECMAdminPortlet .MultiRadioInput {
	float: left;
}

.UIECMAdminPortlet .UIDriveManager .UIFormInputSet .AddIcon16x16 {
  float: none;
  margin-left: 5px;
}

/*############################## -- UIViewManager -- ########################*/

.UIECMAdminPortlet .UIFormInputSetWithActions {
	padding: 10px;
}

.UIECMAdminPortlet .ECMTemplate .ECMTempForm {
	padding: 10px;
}

.UIECMAdminPortlet .CBTemplate .CBTempForm {
	padding: 10px;
}

.UIECMAdminPortlet .ECMTemplate .UIForm .HorizontalLayout {
	border: 1px solid #b7b7b7;
	padding: 10px;
}

.UIECMAdminPortlet .CBTempForm .UIForm .HorizontalLayout {
	border: 1px solid #b7b7b7;
	padding: 10px;
}

.ECMTempForm .UIForm .textarea {
  width: 380px;
  height: 300px;
  padding: 3px;
}

.CBTempForm .UIForm textarea {
  width: 380px;
  height: 300px;
  padding: 3px;
}

/*############################## -- UIActionManager -- ########################*/

.UIECMAdminPortlet .UIActionManager .UIActionTypeForm {
	padding: 10px;
}

.UIActionManager .UIActionTypeForm .AddNewNodeIcon {
	margin: 0px 0px 0px 3px;
}

.UIActionManager .UIActionTypeForm label {
	width: 140px;
}

/*############################## -- UIScriptManager UIScriptFilterForm  -- ########################*/

.UIECMAdminPortlet .UIECMScripts .ECMScriptForm {
	padding: 10px;
}

.UIECMAdminPortlet .UIECMScripts .UIForm .HorizontalLayout {
	border: 1px solid #b7b7b7;
	padding: 10px;
}

.UIECMAdminPortlet .UICBScripts .CBScriptForm {
	padding: 10px;
}

.UIECMAdminPortlet .UICBScripts .UIForm .HorizontalLayout {
	border: 1px solid #b7b7b7;
	padding: 10px;
}

.UIECMAdminPortlet .UIECMScripts .UIScriptFilterForm .UIFormGrid {
	line-height: 30px;
}

.UIECMAdminPortlet .UIECMScripts .UIScriptFilterForm .UIFormGrid .FieldLabel {
  text-align: center;
  width: 100px;
}

.UIECMScripts .UIScriptFilterForm .UIForm .selectbox {
  margin-top: 7px;
}

.UIECMScripts .UIForm textarea {
  width: 350px;
  height: 300px;
  padding: 3px;
}

/*############################## -- UIScriptManager UIScriptForm  -- ########################*/

.UICBScripts .UIForm textarea {
  width: 350px; 
  height: 300px;
  padding: 3px;
}

/*############################## --Begin UITemplatesManager --##############################*/

.UIECMAdminPortlet .UITemplatesManager   {
 	padding: 10px;
}

.UITemplatesManager .UIFormTabPane .UIForm .textarea {
  width: 380px;  height: 300px; 
  padding: 3px;
}

.UITemplatesManager .UIDialogTab .UIForm .textarea {
  width: 450px;  
  height: 320px; 
  padding: 3px;
}

.UITemplatesManager .UIViewTab .UIForm .textarea {
  width: 450px;  
  height: 320px; 
  padding: 3px;
}

.UITemplatesManager .UIFormTabPane .HorizontalLayout .template { 
	height: 305px;
	padding-top: 15px;
}

.UITemplatesManager .UITemplateContent .UIForm .HorizontalLayout .UIFormInputSet { 
	padding: 0px;
}

.UITemplatesManager .UITemplateContent .UIFormInputSet { 
	padding: 0px;
}

.UITemplatesManager .UITemplateContent .UIFormInputSet .UIFormGrid td.FieldLabel { 
	padding: 4px 4px 4px 0px;
}

.UITemplatesManager .UITemplateContent .UIFormInputSet .UIFormInputSetWithAction .FormContainer { 
	padding: 10px 10px 10px 0px;
}

.UIECMAdminPortlet .UITemplateContent .UIFormInputSet .UIFormInputSetWithAction .FormContainer .UIFormGrid td.FieldLabel{
  width: 110px;
}


/*############################## -- UINamespaceManager -- ########################*/

.UINamespaceManager .HorizontalLayout {
  padding-top: 15px;
}

/*############################## -- UIRuleManager  -- ########################*/

.UIRuleManager .HorizontalLayout {
  padding-top: 10px;
}

.UIRuleManager .textarea {
  width: 446px;
  height: 300px;
  margin-left: 25px;
}

/*############################## -- UIQueriesManager  -- ########################*/

.UIQueriesManager .UIQueriesForm .UIForm .textarea {
	width: 350px; 
	height: 320px ;
	padding: 3px;
}

.UIQueriesManager .UIQueriesForm {
	padding: 10px;
}

.UIQueriesManager .UIQueriesForm .UIForm .HorizontalLayout .UIFormInputSet {
	padding: 10px 0px 0px 0px;
}

.UIQueriesManager .UIQueriesForm .UIForm .HorizontalLayout .UIFormGrid td {
	padding: 4px 2px;
}

/*############################## -- UIFolksonomyManager  -- ########################*/

.UIFolksonomyManager .UITagStyleForm .UIForm .textarea {
	height: 320px;
	padding: 3px;
	width: 95%;
}

.UIFolksonomyManager .UITagStyleForm .UIForm .HorizontalLayout {
	padding-top: 10px;
}

/************************* UIFormInputSet ***********************************/

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithAction input.radio {
  float: none;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithAction .ActionField {
  margin: 0px 0px 5px 0px ;
  line-height: 20px;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithAction .ActionField a {
  color: blue;
}

.UIECMAdminPortlet .UIFormInputSet .UIFormInputSetWithAction .ActionField a:hover {
  color: orange;
}

/*############################## -- MultiField  -- ########################*/

.UIECMAdminPortlet .HorizontalLayout .FieldContainer .MultiValueContainer {
  margin: 0px 0px 4px 175px;
}

.UIECMAdminPortlet .FieldContainer .MultiValueContainer .AddNewNodeIcon  {
  float: left;
  margin: 3px 5px 0px 5px;
}

/*############################## -- Any Permission -- ########################*/
.UIECMAdminPortlet .UIAnyPermission {
	border: 1px solid #B7B7B7;
	margin-bottom: 2px;
}

.UIECMAdminPortlet .UIAnyPermission .UIFormWithTitle {
	width: auto;
	margin: 0px;
}

.UIECMAdminPortlet .UIAnyPermission .UIForm .HorizontalLayout .UIFormInputSet {
	padding: 0px;
}

.UIECMAdminPortlet .UIAnyPermission .UIFormGrid {
	width: auto;
	margin: 0px;
}

.UIECMAdminPortlet .UIAnyPermission .UIFormWithTitle .HorizontalLayout {	
	padding: 0px;
}

.UIECMAdminPortlet .UIAnyPermission .UIFormWithTitle .UIFormGrid td {	
	vertical-align: middle;
	padding: 2px;
}