.UIJCRBrowser {
	padding: 10px;
}

.UIJCRBrowser .ExplorerTree {
  float: left ;
  width: 230px ;
  background: #f3f3f3;
}

.UIJCRBrowser .ExplorerTree .InnerExplorerTree {
  border: solid 1px #b1b0b0;
  padding: 10px;
}

.UIJCRBrowser .UITreeList {
  margin-left: 240px;
}

.UIJCRBrowser {
	border: 1px solid red;
}

.UIJCRBrowser table {
	*width: 94%;
}
