.UIJCRBrowser {
	padding: 10px;
}

.ExplorerTree {
  float: left ;
  width: 230px ;
  background: #f3f3f3;
}

.ExplorerTree .InnerExplorerTree {
  border: solid 1px #b1b0b0;
  padding: 10px;
}

.UITreeList {
  margin-left: 240px;
}

.UIJCRBrowser {
	border: 1px solid red;
}

.UITreeList table {
	*width: 94%;
}

.UITreeList table .Icon16x16{
	float: none;
	margin: 5px;
}
