/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */
 
.Relations24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/RelationsIcon.gif') no-repeat center center;
}

.SavedQueries {
  width: 24px; height: 24px;
  background: url('DefaultSkin/SavedQueries.gif') no-repeat center;
  cursor: pointer;
}

.SwitchSearch  {
  width: 24px; height: 24px;
  background: url('DefaultSkin/AdvancedSearch.gif') no-repeat center;
  cursor: pointer;
}

.JCRExplorer24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/JCRExplorerIcon.gif') no-repeat center center;
}

.TagExplorer24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/Tagging.gif') no-repeat center center;
}

.Clipboard24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/Clipboard.gif') no-repeat center center;
}

.CloseSidebar24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/CloseSidebarIcon.gif') no-repeat center center;
}

.CollapseFolder24x24Icon {
  background: url('DefaultSkin/BlueOpenFolder.gif') no-repeat center center;
  width: 24px; height: 24px;
}

.ExpandFolder24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/BlueClosedFolder.gif') no-repeat center center;
}

.Style1NextArrow24x24Icon  {
  width: 24px; height: 24px;
  background: url('DefaultSkin/BlueCircleRightArrow.gif') no-repeat center center;
}

.Style1BackArrow24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/BlueCircleLeftArrow.gif') no-repeat center center;
}

.EditDocumentIcon {
	width: 24px; height: 24px;
	background: url('DefaultSkin/EditDocument.gif') no-repeat;
}

.WatchDocumentIcon {
	width: 24px; height: 24px;
	background: url('DefaultSkin/WatchDocument.gif') no-repeat;
}

.ViewMetadatasIcon {
	width: 24px; height: 24px;
	background: url('DefaultSkin/ViewMatadata.gif') no-repeat;
}

.VoteIcon {
	width: 24px; height: 24px;
	background: url('DefaultSkin/VoteDocument.gif') no-repeat;
}

.CommentIcon {
	width: 24px; height: 24px;
	background: url('DefaultSkin/Comment.gif') no-repeat;
}

.TaggingDocumentIcon {
	width: 26px; height: 24px;
  background: url('DefaultSkin/Tagging.gif') no-repeat ;
}

.MultiLanguageIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/MultiLanguages.gif') no-repeat ;
}

.ManageVersionsIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/ManageVersions.gif') no-repeat ;
}

.ManageAuditingIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/ManageAuditing.gif') no-repeat ;
}

.ManagePublicationsIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/ManagerPuplication.gif') no-repeat ;
}

.ManageActionsIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/ManageActions.gif') no-repeat ;
}

.ManageCategoriesIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/ManageCategories.gif') no-repeat ;
}

.ManageRelationsIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/ManageRelations.gif') no-repeat ;
}

.ImportNodeIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/ImportNode.gif') no-repeat ;
}

.ExportNodeIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/ExportNode.gif') no-repeat ;
}

.SearchIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/Search.gif') no-repeat ;
}

.AddDocumentIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/AddDocument.gif') no-repeat ;
}

.CreateTicketIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/AddTicket.gif') no-repeat ;
}

.AddFolderIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/AddFolder.gif') no-repeat ;
}

.UploadIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/UploadFile.gif') no-repeat ;
}

.EnableThumbnailIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/ViewReferences.gif') no-repeat ;
}

.ViewReferencesIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/ViewReferences.gif') no-repeat ;
}

/* <ECM-1543>
	* minh.js.exo 
	* add to manage group icon 
	*/
	
.ArrowDownIcon {
	width: 24px;	height: 24px;
	background: url('/eXoResources/skin/PortletThemes/background/DefaultTheme.png') no-repeat center bottom;
}

a:hover .ArrowDownIcon {
	background: url('/eXoResources/skin/PortletThemes/background/DefaultTheme.png') no-repeat center -249px;
}

.ShowHideBoxContainer {
	display: none;
}

a:hover .ShowHideBoxContainer {
	display: block;
}

/* </ECM-1543> */

.ShowJCRStructureIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/ShowJCRStructure.gif') no-repeat ;
}

.ViewNodeTypeIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/ViewNodeType.gif') no-repeat ;
}

.ViewPropertiesIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/ViewProperties.gif') no-repeat ;
}

.ViewRelationsIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/ViewRelations.gif') no-repeat ;
}

.ViewPermissionsIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/ViewPermission.gif') no-repeat ;
}

.HardDisk24x24Icon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/HardDisk.gif') no-repeat ;
}

.BlueDiamond24x24Icon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/BlueDiamond.gif') no-repeat ;
}

.PermissionIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/PermissionIcon.gif') no-repeat ;
}

.Permission24x24Icon {
  float: left;
	width: 16px;	height: 16px;
  background: url('DefaultSkin/PermissionSetting.gif') no-repeat ;
}

.SelectPath24x24Icon {
  float: left;
	width: 16px;	height: 16px;
  background: url('DefaultSkin/MagnifierIconNews.png') no-repeat ;
}

.OntologiesIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/ManageOntologies.gif') no-repeat ;
}

.UITemplatesManagerIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/ManageTemplateIcon.gif') no-repeat ;
}

.UIViewManagerIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/ManageViewIcon.gif') no-repeat ;
}

.UIDriveManagerIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/ManageDriveIcon.gif') no-repeat ;
}

.UIQueriesManagerIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/ManageQueries.gif') no-repeat ;
}

.UIActionManagerIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/CreateActionTypeIcon.gif') no-repeat ;
}

.UIScriptManagerIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/ManageScriptIcon.gif') no-repeat ;
}

.UIRuleManagerIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/ManageRuleIcon.gif') no-repeat ;
}

.UIFolksonomyManagerIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/ManageFolksonomyIcon.gif') no-repeat ;
}

.UITaxonomyManagerIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/ManageTaxonomyIcon.gif') no-repeat ;
}

.UIMetadataManagerIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/ManageMetadataIcon.gif') no-repeat ;
}

.AddMetadataTypeIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/ManageMetadataIcon.gif') no-repeat ;
}

.UINamespaceManagerIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/NameSpaceRegistryIcon.gif') no-repeat ;
}

.UINodeTypeManagerIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/ManageNodeTypeIcon.gif') no-repeat ;
}

.AddNodeTypeIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/ManageNodeTypeIcon.gif') no-repeat ;
}

.TypesOfContentIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/CreateDocumentTypes.gif') no-repeat ;
}

.ContentPresentationIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/DisplayDocuments.gif') no-repeat ;
}

.AdvanceConfiguarationIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/ManageDynamicContent.gif') no-repeat ;
}

.RefreshSession24x24Icon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/MetalSync.gif') no-repeat ;
}

.HomeIcon {
  width: 24px;	height: 16px;
  background: url('DefaultSkin/HardDisk20x12.gif') no-repeat center center ;
}

.ViewPortlet24x24Icon {
  width: 24px;	height: 24px;
  background: url('DefaultSkin/DisplayDocuments.gif') no-repeat ;
}

.Switch24x24Icon {
  width: 24px;	height: 24px;
  background: url('DefaultSkin/DisplayDocuments.gif') no-repeat ;
}
.ConfigPortlet24x24Icon {
  width: 24px;	height: 24px;
  background: url('DefaultSkin/ManageActions.gif') no-repeat ;
}

.AddNewConfig24x24Icon {
  width: 24px;	height: 24px;
  background: url('DefaultSkin/AddDocument.gif') no-repeat ;
}

.SmallNote24x24Icon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/SmallNote.gif') no-repeat ;
}

.GreenLeftArrowFolder24x24Icon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/GreenLeftArrowFolder.gif') no-repeat ;
}

.GreenUpArrowFolder24x24Icon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/GreenUpArrowFolder.gif') no-repeat ;
}

.GreenLeftArrow24x24Icon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/GreenLeftArrow.gif') no-repeat ;
}

.GreenRightArrow24x24Icon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/GreenRightArrow.gif') no-repeat ;
}

.Categories24x24Icon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/Categories.gif') no-repeat ;
}

.BlackMonitor24x24Icon {
	width: 24px;	height: 19px;
  background: url('DefaultSkin/BlackMonitor.gif') no-repeat ;
}

.AddRepository24x24Icon {
	width: 24px;	height: 19px;
  background: url('DefaultSkin/AddRepositoryIcon.gif') no-repeat ;
}

.EditRepository24x24Icon {
	width: 24px;	height: 19px;
  background: url('DefaultSkin/EditRepositoryIcon.gif') no-repeat ;
}

.RemoveRepository24x24Icon {
	width: 24px;	height: 19px;
  background: url('DefaultSkin/RemoveRepositoryIcon.gif') no-repeat ;
}

/*############################## -- Begin NodeType Icon -- ########################*/

.dc_elementSet24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/dc-elementSet.gif') no-repeat;  
}

.default24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/default.gif') no-repeat;  
}

.exo_accessControllable24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-accessControllable.gif') no-repeat;  
}

.exo_action24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-action.gif') no-repeat;  
}

.exo_actionable24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-actionable.gif') no-repeat;  
}

.exo_article24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-article.gif') no-repeat;  
}

.exo_article_reference24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-article-reference.gif') no-repeat;  
}

.exo_backupAction24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-backupAction.gif') no-repeat;  
}

.exo_businessProcessAction24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-businessProcessAction.gif') no-repeat;  
}

.exo_categorized24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-categorized.gif') no-repeat;  
}

.exo_mockNodeType24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-mockNodeType.gif') no-repeat;  
}

.exo_move24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-move.gif') no-repeat;  
}

.exo_namespace24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-namespace.gif') no-repeat;  
}

.exo_published24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-published.gif') no-repeat;  
}

.exo_relationable24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-relationable.gif') no-repeat;  
}

.exo_ruleAction24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-ruleAction.gif') no-repeat;  
}

.exo_scriptAction24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-scriptAction.gif') no-repeat;  
}

.exo_sendMailAction24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-sendMailAction.gif') no-repeat;  
}

.exo_tab24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-tab.gif') no-repeat;  
}

.exo_taxonomy24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-taxonomy.gif') no-repeat;  
}

.exo_template24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-template.gif') no-repeat;  
}

.exo_versionStorage24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-versionStorage.gif') no-repeat;  
}

.exo_transformBinaryToTextAction24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-transformBinaryToTextAction.gif') no-repeat;  
}

.exo_view24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-view.gif') no-repeat;  
}

.exo_workflowAction24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-workflowAction.gif') no-repeat;  
}

.exo_createRSSFeedAction24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/exo-createRSSFeedAction.gif') no-repeat;  
}

.mix_lockable24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/mix-lockable.gif') no-repeat;  
}

.mix_referenceable24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/mix-referenceable.gif') no-repeat;  
}

.mix_versionable24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/mix-versionable.gif') no-repeat;  
}

.nt_base24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/nt-base.gif') no-repeat;  
}

.nt_childNodeDefinition24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/nt-childNodeDefinition.gif') no-repeat;  
}

.nt_file24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/nt-file.gif') no-repeat;  
}

.nt_folder24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/nt-folder.gif') no-repeat;  
}

.nt_frozenNode24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/nt-frozenNode.gif') no-repeat;  
}

.nt_hierarchyNode24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/nt-hierarchyNode.gif') no-repeat;  
}

.nt_linkedFile24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/nt-linkedFile.gif') no-repeat;  
}

.nt_nodeType24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/nt-nodeType.gif') no-repeat;  
}

.nt_propertyDefinition24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/nt-propertyDefinition.gif') no-repeat;  
}

.nt_query24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/nt-query.gif') no-repeat;  
}

.nt_resource24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/nt-resource.gif') no-repeat;  
}

.nt_unstructured24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/nt-unstructured.gif') no-repeat;  
}

.nt_version24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/nt-version.gif') no-repeat;  
}

.nt_versionedChild24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/nt-versionedChild.gif') no-repeat;  
}

.nt_versionHistory24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/nt-versionHistory.gif') no-repeat;  
}

.nt_query24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/nt-query.gif') no-repeat;  
}

.nt_versionLabels24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/nt-versionLabels.gif') no-repeat;  
}

.rma_filePlan24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/rma-filePlan.gif') no-repeat;  
}

.kfx_document24x24Icon {
  width: 24px; height: 24px;
  background: url('DefaultSkin/nodetype/kfx-document.gif') no-repeat;  
}

/*############################## -- End NodeType Icon -- ########################*/