/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */
 
.BlueFolderMagnifier24x24Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/BlueFolderMagnifier.gif') no-repeat center center;
}

.Relations24x24Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/RelationsIcon.png') no-repeat center center;
}

.SavedQueries {
  float: left;
  width: 24px; height: 24px;
  background: url('VistaSkin/SavedQueries.gif') no-repeat ;
  cursor: pointer;
  margin: 0px 0px 0px 5px;
}

.JCRExplorer24x24Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/JCRExplorerIcon.png') no-repeat center center;
}

.CloseSidebar24x24Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/CloseSidebarIcon.png') no-repeat center center;
}

.CollapseFolder24x24Icon {
  width: 30px; height: 30px;
  background: url('VistaSkin/BlueOpenFolder.png') no-repeat;
}

.AddNodeTypeIcon {
	width: 24px;	height: 24px;
  background: url('zSkin/ManageNodeTypeIcon.gif') no-repeat ;
}

.ExpandFolder24x24Icon {
  width: 28px; height: 28px;
  background: url('VistaSkin/BlueClosedFolder.png') no-repeat;
}

.Style1NextArrow24x24Icon  {
  width: 24px; height: 24px;
  background: url('VistaSkin/BlueCircleRightArrow.gif') no-repeat center;
}

.Style1BackArrow24x24Icon {
  width: 24px; height: 24px;
  background: url('VistaSkin/BlueCircleLeftArrow.png') no-repeat center;
}

.Clipboard24x24Icon {
  background: url('DefaultSkin/Clipboard.gif') no-repeat center;
  width: 24px; height: 24px;
}

.EditDocumentIcon {
	width: 32px; height: 30px;
	background: url('VistaSkin/EditDocument.png') no-repeat;
}

.WatchDocumentIcon {
	width: 32px; height: 28px;
	background: url('VistaSkin/PagePreview.png') no-repeat;
}

.ViewMetadatasIcon {
	width: 24px; height:22px;
	background: url('VistaSkin/ViewMetadatasIcon.png') no-repeat;
}

.VoteIcon {
	width: 32px; height: 28px;
	background: url('VistaSkin/VoteDocument.png') no-repeat  ;
}

.CommentIcon {
	width:24px; height: 24px;
	background: url('VistaSkin/Comment.png') no-repeat bottom;
}

.TaggingDocumentIcon {
	width: 26px; height: 26px;
  background: url('VistaSkin/TaggingDocumentIcon.png') no-repeat bottom;
}

.MultiLanguageIcon {
	width: 26px; height: 26px;
  background: url('VistaSkin/MultiLanguages.gif') no-repeat ;
}

.ManageVersionsIcon {
	width: 32px; height: 30px;
  background: url('VistaSkin/ManageVersionsIcon.png') no-repeat ;
}

.ManageAuditingIcon {
	width: 32px; height: 30px;
  background: url('VistaSkin/ManageAuditing.gif') no-repeat ;
}

.ManageActionsIcon {
	width: 32px; height: 31px;
  background: url('VistaSkin/HammerDataBox.png') no-repeat bottom;
}

.ManageCategoriesIcon {
	width: 32px; height: 30px;
  background: url('VistaSkin/ManageCategoriesIcon.png') no-repeat ;
}

.ManageRelationsIcon {
	width: 32px; height: 30px;
  background: url('VistaSkin/ManageRelationsIcon.png') no-repeat ;
}

.UnsubcribeLifecycleIcon {
	width: 24px; height: 24px;
  border: 1px solid #b7b7b7;
}

.ImportNodeIcon {
	width: 32px; height: 32px;
  background: url('VistaSkin/ImportNodeIcon.png') no-repeat ;
}

.ManageHiddenIcon {
  width: 24px; height: 24px;
  background: url('VistaSkin/AddRemoveHidden.gif') no-repeat ;
}

.ExportNodeIcon {
	width: 32px; height: 30px;
  background: url('VistaSkin/ExportNodeIcon.png') no-repeat ;
}

.SearchIcon {
	width: 32px; height: 28px;
  background: url('VistaSkin/BlackMagnifier.png') no-repeat ;
}

.SwitchSearch  {
  width: 24px; height: 24px;
  background: url('VistaSkin/AdvancedSearch.png') no-repeat ;
  cursor: pointer;
}

.AddDocumentIcon {
	width:24px; height:22px;
  background: url('VistaSkin/AddDocument.png') no-repeat top;
}

.CreateTicketIcon {
	width: 24px; height: 24px;
  background: url('VistaSkin/AddTicket.gif') no-repeat ;
}

.OverloadThumbnailIcon {
	width: 24px; height: 24px;
  background: url('VistaSkin/GreenRightArrowDoubleScreen.png') no-repeat ;
}

.AddFolderIcon {
	width: 24px; height: 26px;
  background: url('VistaSkin/AddFolder.png') no-repeat ;
}

.UploadIcon {
	width: 26px; height: 26px;
  background: url('VistaSkin/UploadFile.png') no-repeat ;
}

.ViewReferencesIcon {
	width: 32px; height: 30px;
  background: url('VistaSkin/ViewReferencesIcon.png') no-repeat ;
}

/* <ECM-1543>
	* minh.js.exo 
	* add to manage group icon 
	*/
	
.ArrowDownIcon {
	width: 24px;	height: 24px;
	background: url('/eXoResources/skin/PortletThemes/background/DefaultTheme.png') no-repeat center bottom;
}

a:hover .ArrowDownIcon {
	background: url('/eXoResources/skin/PortletThemes/background/DefaultTheme.png') no-repeat center -249px;
}

.ShowHideBoxContainer {
	display: none;
}

a:hover .ShowHideBoxContainer {
	display: block;
}

/* </ECM-1543> */

.ShowJCRStructureIcon {
	width: 27px; height: 20px;
  background: url('VistaSkin/ShowJCRStructure.png') no-repeat ;
}

.ViewNodeTypeIcon {
	width: 20px; height: 24px;
  background: url('VistaSkin/ViewNodeTypeIcon.png') no-repeat ;
}

.ViewPropertiesIcon {
	width: 32px; height: 30px;
  background: url('VistaSkin/SmallBallColorPlate.png') no-repeat ;
}

.ViewRelationsIcon {
	width: 32px; height: 30px;
  background: url('VistaSkin/ViewRelationsIcon.png') no-repeat ;
}

.ViewPermissionsIcon {
	width: 32px; height: 30px;
  background: url('VistaSkin/ViewPermissionsIcon.png') no-repeat ;
}

.HardDisk24x24Icon {
	width: 27px; height: 24px;
  background: url('VistaSkin/HardDisk.png') no-repeat ;
}

.BlueDiamond24x24Icon {
	width: 24px;	height: 24px;
  background: url('VistaSkin/BlueDiamond.gif') no-repeat ;
}

.PermissionIcon {
  float: left ;
	width: 24px;	height: 24px;
  background: url('VistaSkin/PermissionIcon.gif') no-repeat ;
}

.Permission24x24Icon {
  float: left ;
	width: 21px;	height: 23px;
  background: url('VistaSkin/PermissionSetting.png') no-repeat ;
}

.OntologiesIcon {
  float: left ;
	width: 24px;	height: 24px;
  background: url('VistaSkin/ManageOntologiesIcon.gif') no-repeat ;
}

.UITemplatesManagerIcon {
  float: left ;
	width: 32px;	height: 28px;
  background: url('VistaSkin/TemplatesManager.png') no-repeat ;
}

.UIViewManagerIcon {
  float: left ;
	width: 32px;	height: 28px;
  background: url('VistaSkin/ViewManager.png') no-repeat ;
}

.UIDriveManagerIcon {
  float: left ;
	width: 32px;	height: 28px;
  background: url('VistaSkin/DriveManager.png') no-repeat ;
}

.UIQueriesManagerIcon {
	width: 32px;	height: 28px;
  background: url('VistaSkin/ManageQueries.png') no-repeat ;
}

.UIActionManagerIcon {
  float: left ;
	width: 32px;	height: 28px;
  background: url('VistaSkin/ActionManager.png') no-repeat ;
}

.UIScriptManagerIcon {
  float: left ;
	width: 32px;	height: 28px;
  background: url('VistaSkin/ScriptManager.png') no-repeat ;
}

.UIRuleManagerIcon {
  float: left ;
	width: 32px;	height: 28px;
  background: url('VistaSkin/RuleManager.png') no-repeat ;
}

.UIFolksonomyManagerIcon {
	float: left ;
	width: 32px;	height: 28px;
  background: url('VistaSkin/ManageFolksonomyIcon.png') no-repeat ;
}

.UITaxonomyManagerIcon {
  float: left ;
	width: 32px;	height: 28px;
  background: url('VistaSkin/ManageTaxonomyIcon.png') no-repeat ;
}

.UIMetadataManagerIcon {
  float: left ;
	width: 32px;	height: 28px;
  background: url('VistaSkin/ManageMetadataIcon.png') no-repeat ;
}

.UINamespaceManagerIcon {
  float: left ;
	width: 32px;	height: 28px;
  background: url('VistaSkin/NamespaceManager.png') no-repeat ;
}

.UINodeTypeManagerIcon {
  float: left ;
	width: 32px;	height: 28px;
  background: url('VistaSkin/NodeTypeManager.png') no-repeat ;
}

.TypesOfContentIcon {
  float: left ;
	width: 24px;	height: 24px;
  background: url('VistaSkin/CreateDocumentTypes.gif') no-repeat ;
}

.ContentPresentationIcon {
  float: left ;
	width: 24px;	height: 24px;
  background: url('VistaSkin/DisplayDocuments.gif') no-repeat ;
}

.AdvanceConfiguarationIcon {
  float: left ;
	width: 24px;	height: 24px;
  background: url('VistaSkin/ManageDynamicContent.gif') no-repeat ;
}

.RefreshSession24x24Icon {
	width: 24px;	height: 24px;
  background: url('VistaSkin/MetalSync.gif') no-repeat ;
}

.HomeIcon {
  width: 26px;	height: 24px;
  background: url('VistaSkin/HardDisk.png') no-repeat ;
}

.ViewPortlet24x24Icon {
  width: 32px;	height: 28px;
  background: url('VistaSkin/DisplayDocuments.png') no-repeat ;
}

.ConfigPortlet24x24Icon {
  width: 32px;	height: 28px;
  background: url('VistaSkin/HammerDataBox.png') no-repeat bottom ;
}

.AddNewConfig24x24Icon {
  width: 32px;	height: 28px;
  background: url('VistaSkin/AddDocument.png') no-repeat ;
}

.SmallNote24x24Icon {
	width: 24px;	height: 24px;
  background: url('VistaSkin/SmallNote.gif') no-repeat ;
}

.GreenLeftArrowFolder24x24Icon {
	width: 24px;	height: 24px;
  background: url('VistaSkin/GreenLeftArrowFolder.gif') no-repeat ;
}

.GreenLeftArrow24x24Icon {
	width: 24px;	height: 24px;
  background: url('VistaSkin/GreenLeftArrow.gif') no-repeat ;
}

.GreenRightArrow24x24Icon {
	width: 24px;	height: 24px;
  background: url('VistaSkin/GreenRightArrow.gif') no-repeat ;
}

.Categories24x24Icon {
	width: 24px;	height: 24px;
  background: url('VistaSkin/Categories.gif') no-repeat ;
}

.BlackMonitor24x24Icon {
	width: 24px;	height: 19px;
  background: url('VistaSkin/BlackMonitor.gif') no-repeat ;
}

.AddRepository24x24Icon {
	width: 24px;	height: 19px;
  background: url('VistaSkin/AddRepositoryIcon.png') no-repeat ;
}

.EditRepository24x24Icon {
	width: 24px;	height: 19px;
  background: url('VistaSkin/EditRepositoryIcon.png') no-repeat ;
}

.RemoveRepository24x24Icon {
	width: 24px;	height: 19px;
  background: url('VistaSkin/RemoveRepositoryIcon.png') no-repeat ;
}

.TagExplorer24x24Icon {
	width: 26px; height: 26px;
  background: url('VistaSkin/TaggingDocumentIcon.png') no-repeat bottom;
}

.ManagePublicationsIcon {
	width: 24px; height: 24px;
  background: url('DefaultSkin/ManagerPuplication.gif') no-repeat ;
}

.AddNodeTypeIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/ManageNodeTypeIcon.gif') no-repeat ;
}

.SelectPath24x24Icon {
  float: left;
	width: 16px;	height: 16px;
  background: url('DefaultSkin/MagnifierIconNews.png') no-repeat ;
}

.AddMetadataTypeIcon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/ManageMetadataIcon.gif') no-repeat ;
}

.GreenUpArrowFolder24x24Icon {
	width: 24px;	height: 24px;
  background: url('DefaultSkin/GreenUpArrowFolder.gif') no-repeat ;
}
