
@import url("../../../icons/DefaultStylesheet.css");
@import url("UICategoryTree/DefaultStylesheet.css");
@import url("UIContentView/DefaultStylesheet.css");
@import url("UISubContent/DefaultStylesheet.css");
@import url("UINavigation/DefaultStylesheet.css");
@import url("UICBSearchForm/DefaultStylesheet.css");
@import url("UIEventViewer/DefaultStylesheet.css");

.UIWindow .UIBrowseContentPortlet {
  overflow: auto;
}

.UIWindow .UIBrowseContentPortlet .ContentHolder {
  padding: 5px;
}

.UIBrowseContentPortlet {
  overflow: auto;
}

.UIBrowseContentPortlet .UIFormWithTitle {
	margin: auto;
	width: 600px;
}

.UIBrowseContentPortlet .UIFormGrid .FieldLabel {
	width: 140px;
}

.UIBrowseContentPortlet .UINewConfigForm .UIAction{
	padding: 10px 0px 20px 25px;
	width: 200px;
}

.UIBrowseContentPortlet .UIJCRBrowser .ExplorerTree .UITree {
  border: solid 1px #ABBCCA;
}

.UIBrowseContentPortlet .UINewConfigForm .ActionButton {
	width: 80px; /*FIX BUG IE*/
}

.UIBrowseContentPortlet .UIConfigTabPane {
  padding: 15px 0px;
  background: #ffffff;
}

.UIBrowseContentPortlet .ViewActicle {
  margin: 9px 10px 0px 0px;
}

.UIBrowseContentPortlet .TagmapHolder {
	float: right ;  
  width: 200px;
  border: solid 1px #c4c4c4 ;	
	background: #ffffff;
	padding: 1px;
}

.UIBrowseContentPortlet .TagmapHolder .TagmapTitle{
	height: 19px; line-height: 19px;
	margin: 0px;
	background: url('DefaultSkin/background/TagmapTitleBG1x19.gif') repeat-x;
}

.UIBrowseContentPortlet .TagmapHolder .TagLabel {
	padding: 0px 8px;
	line-height: 19px;
	font-weight: bold;
}
	
.UIBrowseContentPortlet .TagmapHolder .TagmapContent {
   border: solid 1px #e1e1e1 ;	
   background: #ffffff;
   padding: 5px;
   text-align: justify ;
   line-height: 22px;
}

.UIBrowseContentPortlet .TagmapHolder .TagmapContent a:hover {
  background: #058eee;
}

.UIBrowseContentPortlet .TagmapHolder .Icon {
	float: left;
	width: 19px; height: 16px; 
	margin: 2px 5px 0px 5px;
	background: url('DefaultSkin/background/TagMapIcon19x16.gif') no-repeat; 
}

.UIBrowseContentPortlet .UIConfigContainer .HorizontalLayout .FormContainer .UIFormGrid {
	width: 500px;
	margin: auto;
}

.UIBrowseContentPortlet .UINewConfigForm .HorizontalLayout .FormContainer {
	width: 500px;
	margin: auto;
	background: #efefef;
	border: none;
	padding-top: 20px;
}

.UIBrowseContentPortlet .UIConfigContainer .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid input {
	float: left;
}

.UIBrowseContentPortlet .UIConfigContainer .FieldComponent .path {
	width: 500px;
	padding: 0px;
}

.UIBrowseContentPortlet .UIForm .HorizontalLayout .UIFormGrid td.FieldComponent {
  padding: 4px 0px;
}

.UIBrowseContentPortlet .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td.FieldLabel {
  padding: 0px 4px;
  vertical-align: middle;
}

.UIBrowseContentPortlet .UIConfigContainer .UIFormWithTitle .HorizontalLayout .FormContainer {
	padding: 3px 0px;
	border: none;
	background: #efefef;
}

.UIBrowseContentPortlet  .UIConfigContainer .HorizontalLayout .UIFormInputSet {
 	width: 100%;
 	padding-bottom: 0px;
 	margin: auto;
}

/*############################## -- Begin UIBrowseContainer -- ##############################*/
.UIBrowseContentPortlet .UIBrowseContainer {
  padding: 0px;
  background: #ffffff;
}

/*############################## -- Begin UIToolBar -- ##############################*/
.UIBrowseContentPortlet .UIToolBar {
  background: url('DefaultSkin/background/CBToolbarBG1x27.gif') repeat-x;
  height: 27px;
  margin-bottom: 5px;
}

.UIBrowseContentPortlet .UIToolBar .SeparatorLine {
  width: 2px;
  height: 20px;
  margin: 4px 5px 0px 0px;
  background: url('DefaultSkin/background/LineDecorator2x1.gif') repeat-y;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar {
  float: left;
  height: 27px;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .ShowHiddenIcon {
  float: left;
  height: 24px;
  cursor: pointer;
  margin: 2px 0px 2px 5px;
}

.UIBrowseContentPortlet .CategoryListIcon {
  float: left;
  height: 16px; width: 16px;
  background: url('DefaultSkin/background/CategoryListIcon.gif') no-repeat;
  margin: 6px 5px 0px 8px;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .PathLabel {
  float: left;
  height: 27px;
  font-weight: bold; font-size: 11px; color: #058ee6;
  line-height: 27px; vertical-align: middle;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .PathChildLabel {
  float: left;
  height: 27px;
	font-size: 11px; color: black;
  line-height: 27px; vertical-align: middle;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar a:hover {
	color: #f97c01;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .PathIcon {
  float: left;
  height: 16px; width: 16px;
  margin: 11px 0px 0px 5px;
  background: url('DefaultSkin/background/CBPathArrow8x7.gif') no-repeat;
}

.UIBrowseContentPortlet .UIToolBar .SelectViewLabel {
  float: left;
  line-height: 28px;
  padding-left: 10px;
}

.UIBrowseContentPortlet .UIToolBar .SelectBox {
  float: left;
  padding: 3px 15px;
  font-size: 11px;
}

.UIBrowseContentPortlet .UIToolBar .CBActionContainer {
  height: 27px;
  float: right;
}

.UIBrowseContentPortlet .UIToolBar .CBActionContainer .Icon {
  float: left;
  margin: 2px 6px;
  cursor: pointer;
}

.UIBrowseContentPortlet .UIToolBar .CBRefreshButton {
	width: 24px; height: 24px;
	background: url('DefaultSkin/background/CBRefreshButton.gif') no-repeat;
}

.UIBrowseContentPortlet .UIToolBar .CBSearchButton {
	width: 24px; height: 24px;
	background: url('DefaultSkin/background/CBSearchButton.gif') no-repeat;
}

.UIBrowseContentPortlet .UIToolBar .VoteDocumentButton{
	width: 24px; height: 24px;
	background: url('DefaultSkin/background/VoteDocumentButton.gif') no-repeat;
}

.UIBrowseContentPortlet .UIToolBar .WriteCommentButton {
	width: 24px; height: 24px;
	background:url('DefaultSkin/background/WriteCommentButton.gif') no-repeat;
}

.UIBrowseContainer .UIDocumentList {
	margin: 5px;
}

.UIBrowseContainer .DocNodeIcon{
	float: left;
	margin: 0px 3px 0px 0px;
}

.UIBrowseContainer .UIDocumentList .DocumentLabel{
	vertical-align: middle;
	line-height: 16px;
}

.UIBrowseContainer .UIDocumentList .TopSubContent {
  margin-top: 10px;
  font-weight: bold;
}

.UIBrowseContainer .UIDocumentList .UIPageIterator {
	background: none;
	border: none;
}

.UIBrowseContainer .CommentHolder {
}

.UIBrowseContainer .VoteHolder {
  width: 250px;
  float: right;
}

.UIBrowseContentPortlet .UISearchController {
	padding: 5px;
}

.UIBrowseContentPortlet .UISearchController .SearchResult{
	border: solid 1px #b7b7b7;
	padding: 5px;
}

.UIBrowseContentPortlet .UISearchController .UIPageIterator{
}

.UIBrowseContentPortlet .UISearchController .ResultInfo{
	line-height: 26px; vertical-align: middle;
	font-size: 11px;	
}

.UIBrowseContentPortlet .UISearchController .UIGrid .ActionContainer{
	width: 60px;
	margin: auto;
}

.UIBrowseContentPortlet .UISearchController .ViewIcon{
	width: 16px ;  height: 16px ;
	float: left;
}

.UIBrowseContentPortlet .UISearchController .GotoIcon{
	width: 16px ;  height: 16px ;
  background: url('DefaultSkin/background/DefaultFolderIcon.gif') no-repeat ;
}

.UIBrowseContentPortlet .UISearchController .UIAction{
	width: 70px; margin: auto;
	padding-bottom: 8px;
}

.UIBrowseContentPortlet .UISearchController .ActionButton{
	width: 70px; margin: auto;
}

/*############################## -- Begin UIVoteForm   -- ##############################*/

.UIBrowseContentPortlet .UIVoteForm {
  padding: 8px;
}

.UIBrowseContentPortlet .VoteFormContainer {
	padding-top: 8px;
  background: #f4f4f4 ;
  border: 1px solid #e1e1e1 ;
  padding: 15px 0px 0px 0px;
}

.UIBrowseContentPortlet .VoteFormContainer .UIRatingInfoContainer {
  background: white ;
  width: 145px;
  padding: 2px 15px;
}

.UIBrowseContentPortlet .UIVoteForm .NormalVote {
  cursor: pointer;
}

.UIBrowseContentPortlet .UIVoteForm .VoteFormContainer .UIAction {
  width: 80px;
  padding-left: 13px;
}

.UIVoteForm .UIRatingInfoContainer {
	width: 150px; padding: 5px 12px;
	margin: auto;
	background: white;
	border: solid 1px #b7b7b7;
}

.UIVoteForm .OptionsContainer {
	margin: auto;
	width: 120px; height: 20px;
}

.UIVoteForm .OptionsContainer .NormalVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('/ecm/skin/images/vote/GrayStar.gif');
}

.UIVoteForm .OptionsContainer .RatedVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('/ecm/skin/images/vote/YellowStar.gif');
}

.UIVoteForm .OptionsContainer .OverVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('/ecm/skin/images/vote/OverStar.gif');
}
/*############################## -- End UIVoteForm   -- ##############################*/


/*############################## -- Begin ExplorerTree   -- ##############################*/

.UIBrowseContentPortlet .Explorer {
  margin-right: 10px;
  float: left ;
  width: 230px ;
    overflow: hidden;
}

.UIBrowseContentPortlet .Explorer .ExplorerTree {
  border: solid 1px #c6c6c9;
  background: #f3f3f3;
  padding: 1px;
}

.UIBrowseContentPortlet .Explorer .InnerExplorerTree {
  border: solid 1px #b1b0b0;
  padding: 10px;
}

.UIBrowseContentPortlet .Explorer .ExplorerTree .Node {
  line-height: 30px;
}

.UIBrowseContentPortlet .UITreeList .UIGrid {
  width: 315px;
  margin-left: 10px ;
}

.UIBrowseContentPortlet .Explorer .ExplorerTree .UITree {
  overflow: auto;
  background: white;
  width: 100%;
}

.UIBrowseContentPortlet .UITree .TreeContainer .Node {
	white-space: nowrap;
}

.UIBrowseContentPortlet .UITree .TreeContainer .NodeLabel a {
	float: none;
	height: 24px;
	line-height: 24px;
}

.UIBrowseContentPortlet .UIConfigContainer {
  padding-top: 10px;
}

.UIBrowseContentPortlet .UIConfigContainer .UIFormWithTitle .UIForm .UIAction  {
  padding: 15px 0px 15px 45px;
}

.UIBrowseContentPortlet .UIJCRBrowser {
  padding: 10px 0px 15px 5px;
}

.UIBrowseContentPortlet .UICBPopupAction .UICBCommentForm {
  padding: 10px;
}

.UIBrowseContentPortlet .UICBPopupAction .UICBCommentForm .HorizontalLayout {
  padding-top: 10px;
  background: #efefef;
}

.UIBrowseContentPortlet .UICBPopupAction .UICBCommentForm .UIAction {
  width: 160px;
}

.UIBrowseContentPortlet .UITabContent .WorkKofax .UIGrid {
	border-top: none;
}

.UIBrowseContentPortlet .UITabContent .WorkKofax .UIGrid td{
	border-top: solid 1px #cccccc;
	line-height: 26px;
}

.UIBrowseContentPortlet .UIJCRBrowser .UIWorkspaceList {
	padding-bottom: 8px ;
	margin: 10px 0px 0px 0px;
}

.UIBrowseContentPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle {
	width: 563px;
	margin: 0px;
	border: 1px solid #E1E1E1;
}

.UIBrowseContentPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .UIForm {
	padding: 1px;
	border: solid 1px #B1B0B0;
}

.UIBrowseContentPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .HorizontalLayout {
	background: white;
	padding: 0px;
	margin: 0px;
}

.UIBrowseContentPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .HorizontalLayout .FieldLabel{
	width: 100px;
}

.UIBrowseContentPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .HorizontalLayout select{
	width: 100px;
}
