
@import url("../../../icons/DefaultStylesheet.css");
@import url("UICategoryTree/DefaultStylesheet.css");
@import url("UIContentView/DefaultStylesheet.css");
@import url("UISubContent/DefaultStylesheet.css");
@import url("UINavigation/DefaultStylesheet.css");
@import url("UICBSearchForm/DefaultStylesheet.css");
@import url("UIEventViewer/DefaultStylesheet.css");
@import url("../UIVoteForm/DefaultStylesheet.css");

.UIWindow .UIBrowseContentPortlet {
  overflow: auto;
}

.UIBrowseContentPortlet {
  overflow: auto;
  border: solid 1px #b7b7b7;
}

.UIBrowseContentPortlet .UIAction{
   width: auto;
}

.UIBrowseContentPortlet .UIAction .ActionContainer{
   width: 300px;
   margin:auto;
}

.UIBrowseContentPortlet .ActionButton {
 width:110px; /*FIX BUG IE*/
}

.UIBrowseContentPortlet .UINewConfigForm .ActionButton {
   width:80px; /*FIX BUG IE*/
}

.UIBrowseContentPortlet .UIFormWithTitle {
  border: solid 1px #b7b7b7;
  padding: 1px;
}

.UIBrowseContentPortlet .UIFormWithTitle .HorizontalLayout {
  border: none;
  background: #ffffff;
}

.UIBrowseContentPortlet .UIFormWithTitle .HorizontalLayout label {
  width: 150px;
}

.UIBrowseContentPortlet .UINewConfigForm .HorizontalLayout {
  padding: 0px;
}

.UIBrowseContentPortlet .UIPageIterator {  
  margin: 5px;
}
.UIBrowseContentPortlet .UIConfigTabPane {
  border: 1px solid #b7b7b7;
  padding: 5px;
}

.UIBrowseContentPortlet .ViewActicle {
  margin: 9px 10px 0px 0px;
}


.UIBrowseContentPortlet .TagmapHolder {
  padding: 5px;
}

.UIBrowseContentPortlet .TagmapHolder .TagLabel {
	padding: 0px 8px;
	line-height: 19px;
	font-weight: bold;
}
	
.UIBrowseContentPortlet .TagmapHolder .TagmapContent {
  border: solid 1px #6699cc ;
	margin-top: 1px;
	background: #ffffff;
	padding-top : 5px;
	padding-bottom: 5px;
}
.UIBrowseContentPortlet .TagmapHolder .TagmapContentTitle{
  border: solid 1px #6699cc ;
	height: 20px;
	background: url('DefaultSkin/background/TitleBackgroud3x20.gif') repeat-x;
}

.UIBrowseContentPortlet .TagmapHolder .TagmapContent .Tag {
  margin: 5px; 0px;
  float: left;
}


/*############################## -- Begin UIBrowseContainer -- ##############################*/
.UIBrowseContentPortlet .UIBrowseContainer {
  padding: 0px;
  background: white;
}

.UIBrowseContentPortlet .UIBrowseContainer .ActionContainer {
  width: 200px;
  margin: auto;
}

/*############################## -- Begin UIHeaderBar -- ##############################*/
.UIBrowseContentPortlet .UIHeaderBar {
  border-top: solid 1px #b7b7b7;
  margin-top: 10px;
  background: url('DefaultSkin/background/LineDecorator1x28.gif') repeat-x center center;
  height: 29px;
}

.UIBrowseContentPortlet .UIHeaderBar .Separator {
  width: 2px;
  background: url('DefaultSkin/background/LineDecorator2x1.gif') repeat-y center center;
}


.UIBrowseContentPortlet .UIHeaderBar .SelectViewLabel {
  float: left;
  line-height: 28px;
  padding-left: 10px;
}

.UIBrowseContentPortlet .UIHeaderBar .SelectBox {
  float: left;
  padding: 3px 15px;
  font-size: 11px;
}

.UIBrowseContentPortlet .UIHeaderBar .IconFrame {
  float: right;
  width: 180px;
  padding: 0px 10px;
}

.UIBrowseContentPortlet .UIHeaderBar .HeaderBarSeparator {
  float: right;
  height: 27px;
}

.UIBrowseContentPortlet .UIHeaderBar .IconFrame .Icon {
  float: right;
  margin: 2px 10px;
  cursor: pointer;
}

/*############################## -- Begin UIToolBar -- ##############################*/
.UIBrowseContentPortlet .UIToolBar {
  border-bottom: solid 1px #b7b7b7;
  background: url('DefaultSkin/background/LineDecorator1x28.gif') repeat-x center center;
  height: 29px;
  margin-bottom: 5px;
}

.UIBrowseContentPortlet .UIToolBar .Separator {
  width: 2px;
  background: url('DefaultSkin/background/LineDecorator2x1.gif') repeat-y center center;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar {
  float: left;
  height: 29px;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .SeparatorBarLeft {
  float: left;
  padding: 0px 8px;
  height: 29px;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .BlueBarIcon {
  float: left;
  height: 29px;
  cursor: pointer;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .ImageNote {
  float: left;
  height: 29px;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .TextRoot {
  float: left;
  height: 29px;
  font-weight: bold;
  color: blue;
  margin: 0px 2px; 
  line-height: 26px;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .LeftArrowIcon {
  float: left;
  height: 29px;
}

.UIBrowseContentPortlet .UIToolBar .SelectViewLabel {
  float: left;
  line-height: 28px;
  padding-left: 10px;
}

.UIBrowseContentPortlet .UIToolBar .SelectBox {
  float: left;
  padding: 3px 15px;
  font-size: 11px;
}

.UIBrowseContentPortlet .UIToolBar .IconFrame {
  float: right;
  width: 180px;
  padding: 0px 10px;
}

.UIBrowseContentPortlet .UIToolBar .ToolBarSeparator {
  float: right;
  height: 27px;
}

.UIBrowseContentPortlet .UIToolBar .IconFrame .Icon {
  float: right;
  margin: 2px 10px;
  cursor: pointer;
}

/*############################## -- Begin UIDocumentList -- ##############################*/
.UIBrowseContainer .UIDocumentList .UIGrid{
	border: none;
}

.UIBrowseContainer .UIDocumentList .UIGrid td{
	border: none;
}

.UIBrowseContainer .UIDocumentList {
	padding-top: 10px;
}

.UIBrowseContainer .UIDocumentList .DocumentIcon{
	width: 16px; height: 16px;
	float: left;
}

.UIBrowseContainer .UIDocumentList .DocumentLabel{
	vertical-align: middle;
	line-height: 16px;
}

.UIBrowseContainer .UIDocumentList .TopSubContent {
  margin-top: 10px;
  font-weight: bold;
}

.UIBrowseContainer .UIDocumentList .UIPageIterator {
	background: none;
	border: none;
}

.UIBrowseContainer .CommentHolder {
}

.UIBrowseContainer .VoteHolder {
  width: 250px;
  float: right;
}

/*############################## -- FIX BUG POPUP  -- ##############################*/
.UIBrowseContentPortlet .UIPopupWindow .UITree{
  float: left;
  width: 200px;
}

.UIBrowseContentPortlet .UIPopupWindow .UIGrid{
  width: 350px;
  margin-left: 10px;
}


.UIBrowseContentPortlet .UIPopupWindow .NodeIcon{
  margin-left: 5px;
  float: left;
}

.UIBrowseContentPortlet .UISearchController {
	padding: 5px;
}

.UIBrowseContentPortlet .UISearchController .SearchResult{
	border: solid 1px #b7b7b7;
}

.UIBrowseContentPortlet .UISearchController .Text{
	line-height: 28px;
	height: 28px;
	margin-left: 5px;
}

.UIBrowseContentPortlet .UISearchController .IconFrame{
	background: url('DefaultSkin/background/LineDecorator1x28.gif') repeat-x center center;
	height: 28px;	
}

/*############################## -- Begin UIVoteForm   -- ##############################*/
.UIBrowseContentPortlet .UIVoteForm {
	padding: 10px;
}

.UIBrowseContentPortlet .UIVoteForm .UIRatingInfoContainer {
	width: 150px; padding: 5px 12px;
	margin: auto;
	background: white;
	border: solid 1px #b7b7b7;
}

.UIBrowseContentPortlet .UIVoteForm .OptionsContainer {
	margin: auto;
	width: 120px; height: 20px;
}

.UIBrowseContentPortlet .UIVoteForm .OptionsContainer .NormalVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('DefaultSkin/background/GrayStar.gif');
}

.UIBrowseContentPortlet .UIVoteForm .OptionsContainer .RatedVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('DefaultSkin/background/YellowStar.gif');
}

.UIBrowseContentPortlet .UIVoteForm .OptionsContainer .OverVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('DefaultSkin/background/OverStar.gif');
}
.UIBrowseContentPortlet .UIVoteForm .UIAction .ActionButton {
	width: 85px;
}
.UIBrowseContentPortlet .UIVoteForm .UIAction {
	width: auto;
}
.UIBrowseContentPortlet .UIVoteForm .UIAction .ActionContainer{
	width: 100px;
	margin: auto; 
}

/*############################## -- End UIVoteForm   -- ##############################*/

