
@import url("../../../icons/MacStylesheet.css");
@import url("UICategoryTree/MacStylesheet.css");
@import url("UIContentView/MacStylesheet.css");
@import url("UISubContent/MacStylesheet.css");
@import url("UINavigation/MacStylesheet.css");
@import url("UICBSearchForm/MacStylesheet.css");
@import url("UIEventViewer/MacStylesheet.css");

.UIWindow .UIBrowseContentPortlet {
	border: none;
	margin: 0px auto;
  min-width: 400px;
}

.UIBrowseContentPortlet {
	background: white;
	border: 1px solid #b7b7b7;
	margin: 5px;
  overflow: auto;
}

.UIBrowseContentPortlet .UIFormGrid {
	width: 100%;
}

.UIBrowseContentPortlet .ContentHolder {
  padding: 5px;
}

.UIBrowseContentPortlet .UIFormWithTitle {
	margin: 10px auto;
	width: 650px;
}

.UIBrowseContentPortlet .UIConfigTabPane {
  padding: 5px;
}

.UIBrowseContentPortlet .ViewActicle {
  margin: 9px 10px 0px 0px;
}

.UIBrowseContentPortlet .TagmapHolder {
	float: right ;  
  width: 200px;
	background: #ffffff;
	padding: 1px;
}

.UIBrowseContentPortlet .TagmapHolder .TagmapTitle{
	height: 19px; line-height: 19px;
	margin: 0px;
	background: url('DefaultSkin/background/TagmapTitleBG1x19.gif') repeat-x;
	border: solid 1px #e1e1e1;
	border-bottom: none;
}

.UIBrowseContentPortlet .TagmapHolder .TagLabel {
	padding: 0px 8px;
	line-height: 19px;
	font-weight: bold;
}
	
.UIBrowseContentPortlet .TagmapHolder .TagmapContent {
   border: solid 1px #e1e1e1 ;	
   border-top: solid 1px #cdcdcd;
   background: #ffffff;
   padding: 5px;
   text-align: left ;
   line-height: 22px;
}

.UIBrowseContentPortlet .TagmapHolder .TagmapContent a {
   color: red;
   padding: 3px 7px 3px 0px;
}

.UIBrowseContentPortlet .TagmapHolder .TagmapContent a:hover {
   color: yellow;
   padding: 3px 7px 3px 0px;
}

.UIBrowseContentPortlet .TagmapHolder .Icon {
	float: left;
	width: 19px; height: 16px; 
	margin: 2px 5px 0px 5px;
	background: url('DefaultSkin/background/TagMapIcon19x16.gif') no-repeat; 
}

.UIBrowseContentPortlet .UIFormGrid .FieldLabel {
	width: 128px;
}

.UIBrowseContentPortlet .UIFormGrid .FieldLabel:first-letter {
	text-transform: capitalize;
}

.UIBrowseContentPortlet .UICBCommentForm .UIFormGrid .FieldLabel {
	width: auto;
}

.UIBrowseContentPortlet .UIConfigContainer .HorizontalLayout .UIFormGrid {
	margin: auto;
}

.UIBrowseContentPortlet .UINewConfigForm .HorizontalLayout .UIFormGrid {
	margin: auto;
}

.UIBrowseContentPortlet .UIForm .HorizontalLayout td.FieldComponent {
  padding: 4px 0px;
}

.UIBrowseContentPortlet .UIConfigContainer .FieldComponent .path {
	padding: 0px;
	width: 500px;
}

.UIBrowseContentPortlet .UIConfigContainer .path .UIFormInputSet .AddIcon16x16 {
	float: none;
	margin-left: 5px;
	*height: 20px;
}

.UIBrowseContentPortlet .UIFormInputSet .UIFormInputSetWithAction td.FieldLabel {
  padding: 0px 4px;
  vertical-align: middle;
}

.UIBrowseContentPortlet .UIConfigContainer .HorizontalLayout .FormContainer {
	padding: 3px 0px;
	border: none;
}

.UIBrowseContentPortlet .UIForm .HorizontalLayout .UIFormInputSet {
  width: 100%;
  padding: 0px;
  margin: auto;
}

/*############################## -- Begin UIBrowseContainer -- ##############################*/
.UIBrowseContentPortlet .UIBrowseContainer {
  padding: 0px;
  background: white;
  _border: 1px solid white;
  _width: 99%;
  margin: auto;
}

/*############################## -- Begin UIToolBar -- ##############################*/
.UIBrowseContentPortlet .UIToolBar {
  background: url('DefaultSkin/background/CBToolbarBG1x27.gif') repeat-x;
  height: 27px;
  margin-bottom: 5px;
}

.UIBrowseContentPortlet .UIToolBar .SeparatorLine {
  width: 2px;
  height: 20px;
  margin: 4px 5px 0px 0px;
  background: url('DefaultSkin/background/LineDecorator2x1.gif') repeat-y;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar {
  float: left;
  height: 27px;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .ShowHiddenIcon {
  float: left;
  height: 24px;
  cursor: pointer;
  margin: 2px 0px 2px 5px;
}

.UIBrowseContentPortlet .CategoryListIcon {
  float: left;
  height: 16px; width: 16px;
  background: url('DefaultSkin/background/CategoryListIcon.gif') no-repeat;
  margin: 6px 5px 0px 8px;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .PathLabel {
  float: left;
  height: 27px;
  font-weight: bold; font-size: 11px; color: #058ee6;
  line-height: 27px; vertical-align: middle;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .PathChildLabel {
  float: left;
  height: 27px;
	font-size: 11px; color: black;
  line-height: 27px; vertical-align: middle;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar a:hover {
	color: #f97c01;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .PathIcon {
  float: left;
  height: 16px; width: 16px;
  margin: 11px 0px 0px 5px;
  background: url('DefaultSkin/background/CBPathArrow8x7.gif') no-repeat;
}

.UIBrowseContentPortlet .UIToolBar .SelectViewLabel {
  float: left;
  line-height: 28px;
  padding-left: 10px;
}

.UIBrowseContentPortlet .UIToolBar .SelectBox {
  float: left;
  padding: 3px 15px;
  font-size: 11px;
}

.UIBrowseContentPortlet .UIToolBar .CBActionContainer {
  height: 27px;
  float: right;
}

.UIBrowseContentPortlet .UIToolBar .CBActionContainer .Icon {
  float: left;
  margin: 2px 6px;
  cursor: pointer;
}

.UIBrowseContentPortlet .UIToolBar .CBRefreshButton {
	width: 24px; height: 24px;
	background: url('DefaultSkin/background/CBRefreshButton.gif') no-repeat;
}

.UIBrowseContentPortlet .UIToolBar .CBSearchButton {
	width: 24px; height: 24px;
	background: url('MacSkin/background/CBSearchButton.gif') no-repeat;
}

.UIBrowseContentPortlet .UIToolBar .VoteDocumentButton{
	width: 24px; height: 24px;
	background: url('DefaultSkin/background/VoteDocumentButton.gif') no-repeat;
}

.UIBrowseContentPortlet .UIToolBar .WriteCommentButton {
	width: 24px; height: 24px;
	background:url('DefaultSkin/background/WriteCommentButton.gif') no-repeat;
}

.UIBrowseContainer .UIDocumentList {
	width: 97%;
	margin: auto;
}

.UIBrowseContainer .DocNodeIcon{
	float: left;
	margin: 2px 3px 0px 10px;
}

.UIBrowseContainer .UIDocumentList .DocumentLabel{
	vertical-align: middle;
	line-height: 16px;
}

.UIBrowseContainer .UIDocumentList .TopSubContent {
  margin-top: 10px;
  font-weight: bold;
}

.UIBrowseContainer .UIDocumentList .UIPageIterator {
	background: none;
	border: none;
}

.UIBrowseContainer .CommentHolder {
}

.UIBrowseContainer .VoteHolder {
  width: 250px;
  float: right;
}

.UIBrowseContentPortlet .UIBrowseContainer .UIArticle{
  width: 97%;
}

.UIBrowseContentPortlet .UIBrowseContainer .UIDivInfo {
	width: 97%;
	margin: 10px 0px;
	padding: 0px;
}

/*############################## -- FIX BUG POPUP  -- ##############################*/
.UIBrowseContentPortlet .UIPopupWindow .NodeIcon {
	padding-left: 25px;
}

.UIBrowseContentPortlet .UIJCRBrowser {
  padding: 10px;
}

.UIBrowseContentPortlet .Explorer {
  float: left;
  width: 200px;
  overflow: hidden;
}

.UIBrowseContentPortlet .UIJCRBrowser .UITreeList {
	margin-left: 210px;
}

.UIBrowseContentPortlet .UIJCRBrowser table {
	*width: 94%;
}

/*############################## -- FIX BUG POPUP phai bo di  -- ##############################*/

.UIBrowseContentPortlet .UISearchController {
	padding: 5px;
}

.UIBrowseContentPortlet .UISearchController .SearchResult{
	border: solid 1px #b7b7b7;
	padding: 5px;
}

.UIBrowseContentPortlet .UISearchController .HorizontalLayout .UIForm input {
  width: auto;
}

.UIBrowseContentPortlet .UISearchController .HorizontalLayout .UIForm select {
  width: auto;
}

.UIBrowseContentPortlet .UISearchController .UIPageIterator{
	margin-right: 0px;
}

.UIBrowseContentPortlet .UISearchController .ResultInfo{
	line-height: 26px; vertical-align: middle;
	font-size: 11px;	
}

.UIBrowseContentPortlet .UISearchController .GotoIcon{
	width: 16px ;  height: 16px ;
  background: url('DefaultSkin/background/DefaultFolderIcon.gif') no-repeat ;
}

/*############################## -- Begin UIVoteForm   -- ##############################*/

.UIBrowseContentPortlet .UIVoteForm {
  border: solid 1px #b7b7b7;
  padding: 10px;
}

.UIBrowseContentPortlet .VoteFormContainer {
	padding-top: 8px;
  background: url('MacSkin/background/Background1x4.png') repeat;
  border: solid 1px #aeaeae;
}

.UIBrowseContentPortlet .VoteFormContainer .UIRatingInfoContainer {
  background: white;
  width: 150px; padding: 5px 12px;
	margin: auto;
  border: solid 1px #b7b7b7;
}

.UIBrowseContentPortlet .UIVoteForm .NormalVote {
  cursor: pointer;
}

.UIBrowseContentPortlet .UIVoteForm .OptionsContainer {
	margin: auto;
	width: 120px; height: 20px;
}

.UIBrowseContentPortlet .UIVoteForm .OptionsContainer .NormalVote {
	float: left;
	margin: 2px 3px 0px 3px;
	width: 16px; height: 16px;
  background: url('/ecm/skin/images/vote/SmallGreyStar.gif');
}

.UIBrowseContentPortlet .UIVoteForm .OptionsContainer .RatedVote {
	float: left;
	margin: 2px 3px 0px 3px;
	width: 16px; height: 16px;
  background: url('/ecm/skin/images/vote/SmallGreyStar.gif');
}

.UIBrowseContentPortlet .UIVoteForm .OptionsContainer .OverVote {
	float: left;
	margin: 2px 3px 0px 3px;
	width: 16px; height: 16px;
  background: url('/ecm/skin/images/vote/SmallYellowStar.gif');
}

/*############################## -- End UIVoteForm   -- ##############################*/

.UIBrowseContentPortlet .UICBPopupAction .UICBCommentForm {
  padding: 10px;
}

.UIBrowseContentPortlet .UICBCommentForm .UIFormGrid .FieldLabel {
	width: auto;
}

.UIBrowseContentPortlet .UICBPopupAction .UICBCommentForm .HorizontalLayout {
  padding-top: 10px;
  background: #efefef;
}

.UIBrowseContentPortlet .UITabPane .WorkKofax .UIGrid {
	border-top: none;
}

.UIBrowseContentPortlet .UITabPane .WorkKofax .UIGrid td{
	border-top: solid 1px #cccccc;
	line-height: 26px;
}

.UIBrowseContentPortlet .UIJCRBrowser .UIWorkspaceList {
	padding-bottom: 8px ;
	margin: 10px 0px 0px 0px;
}

.UIBrowseContentPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle {
	width: 547px;
	margin: 0px;
	border: 1px solid #E1E1E1;
}

.UIBrowseContentPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .UIForm {
	padding: 1px;
	border: solid 1px #B1B0B0;
}

.UIBrowseContentPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .HorizontalLayout {
	background: white;
	padding: 5px 0px;
	margin: 0px;
}

.UIBrowseContentPortlet .UIJCRBrowser .UIWorkspaceList .FieldLabel{
	width: 100px;
}

.UIBrowseContentPortlet .UIJCRBrowser .UIWorkspaceList select{
	width: 100px;
}

.UIBrowseContentPortlet .UIJCRBrowser .rootNodeInfo .FormContainer {
	padding: 0px;
	background: white;
}

.UIBrowseContentPortlet .UIForm .HorizontalLayout .rootNodeInfo td.FieldComponent {
	padding: 0px;
}


/*********************************Template Style - Fix for IE*************************************/
	
/********************* File plan ***********************/
.UIBrowseContentPortlet .UIDivInfo {
	margin: auto; padding: 10px;
}
	
.UIBrowseContentPortlet .UIDivInfo .Title {
	font-size: 13px; font-weight: bold;
	padding-bottom: 3px;
	height: 20px;
	overflow: hidden;
}	
	
.UIBrowseContentPortlet .UIDivInfo .FilePlanContentTable {
	width: 96%;
	border-collapse: collapse;
	border-top: 1px solid #dbdbdb;
  font-size:11px;
  margin: auto;
}
	
.UIBrowseContentPortlet .UIDivInfo .FilePlanContentTable td {
	border: 1px solid #dbdbdb;
	border-top: none;
	height: 25px;
	padding-left: 7px;
	background: white;
	line-height: 25px;
}
	
.UIBrowseContentPortlet .UIDivInfo .UIHorizontalTabs .TabsContainer {
	overflow-y: hidden;
}
  
.UIBrowseContentPortlet .UIDivInfo .NavigationButtonContainer {
  cursor: pointer;  	
  display: none;
  float: right;
	height: 20px;
	padding-top: 4px;
	z-index: 1;
}
  
.UIBrowseContentPortlet .LabelFielPlan {
 	padding-left: 5px;
 	font-weight: normal;
}
      	
.UIBrowseContentPortlet .UIDivInfo a:hover {		 
	color: blue;
}  
	
/************** Article ***************/
.UIBrowseContentPortlet .UIArticle {
	background: white;
	padding: 8px;
}
			
.UIBrowseContentPortlet .UIArticle .ArticleTLDecorator {
	background: url('/ecm/skin/images/article/TopLeftArticle51x100.gif') no-repeat left;
	padding-left: 51px;
	height: 100px;
}
		
.UIBrowseContentPortlet .UIArticle .ArticleTRDecorator {
	background: url('/ecm/skin/images/article/TopRightArticle154x100.gif') no-repeat right ;
	padding-right:154px;
	height: 100px;
}
			
.UIBrowseContentPortlet .UIArticle .ArticleTCDecorator {
	background: url('/ecm/skin/images/article/TopCentertArticle1x100.gif') repeat-x ;
	height: 100px;
}
	
.UIBrowseContentPortlet .UIArticle .ArticleTCDecorator .TitleLabel {
	padding-top: 38px;
	font: normal bold 16px Arial;
	color: #0467e2;
}
	
.UIBrowseContentPortlet .UIArticle .ArticleMLDecorator {
	background: url('/ecm/skin/images/article/MiddleLeftArticle3x1.gif') repeat-y left;
	padding-left: 3px ;	
}
	
.UIBrowseContentPortlet .UIArticle .ArticleMCDecorator {
	background: #fcfcfc;
}
	
.UIBrowseContentPortlet .UIArticle .ArticleMRDecorator {
	background: url('/ecm/skin/images/article/MiddleRightArticle10x1.gif') repeat-y right;
	padding-right: 10px ;	
}
	
.UIBrowseContentPortlet .UIArticle .ArticleBLDecorator {
	background: url('/ecm/skin/images/article/BottomLeftArticle3x8.gif') no-repeat left;
	padding-left: 3px;
	height: 8px;
	line-height: 8px;
}

.UIBrowseContentPortlet .UIArticle .ArticleBCDecorator {
	background: url('/ecm/skin/images/article/BottomCentertArticle1x8.gif') repeat-x left;
	height: 8px;
	line-height: 8px;
}
	
.UIBrowseContentPortlet .UIArticle .ArticleBRDecorator {
	background: url('/ecm/skin/images/article/BottomRightArticle10x8.gif') no-repeat right;
	padding-right: 10px ;	
	height: 8px;
	line-height: 8px;
}
	
.UIBrowseContentPortlet .UIArticle .ArticleFrame {
	background: white;
	padding: 0px 10px;
}
		
.UIBrowseContentPortlet .UIArticle .ArticleFrame .TopLeftArticleFrame {
	background: url('/ecm/skin/images/article/TopLeftArticleFrame9x16.gif') no-repeat left;
	padding-left: 9px;
	height: 16px;
}
	
.UIBrowseContentPortlet .UIArticle .ArticleFrame .TopRightArtictleFrame {
	background: url('/ecm/skin/images/article/TopRightArticleFrame2x16.gif') no-repeat right;
	padding-right: 2px;
	height: 16px;
}
	
.UIBrowseContentPortlet .UIArticle .ArticleFrame .TopCenterArticleFrame {
	background: url('/ecm/skin/images/article/TopCenterArticleFrame1x16.gif') repeat-x left;
	height: 16px;
}
	
.UIBrowseContentPortlet .UIArticle .ArticleFrame .ArticleFrameContainer {
	border: solid 1px #e0e0e0;
	border-top: none;
}
	
.UIBrowseContentPortlet .UIArticle .TopCenterArticleFrame .ArticleField {
	padding: 0px 0px 0px 5px;
	width: 120px;
	background: white;
}
	
.UIBrowseContentPortlet .UIArticle .MidlleLeftArticleFrame	{
	background: white;
}
	
.UIBrowseContentPortlet .UIArticle .FieldLabel {
	float: left;
	font-weight: bold;
}
	
.UIBrowseContentPortlet .UIArticle	.FieldIcon {
	float: left; 
	margin-right: 5px;
	width: 16px; height: 16px;
}
	
.UIBrowseContentPortlet .UIArticle .SummaryIcon {
	background: url('/ecm/skin/images/article/Artitcle.gif') no-repeat left top;
}
	
.UIBrowseContentPortlet .UIArticle .AttachmentsIcon {
	background: url('/ecm/skin/images/article/Artitcle.gif') no-repeat left -48px;
}
	
.UIBrowseContentPortlet .UIArticle .RatingIcon {
	background: url('/ecm/skin/images/article/Artitcle.gif') no-repeat left -64px;
}
	
.UIBrowseContentPortlet .UIArticle .AttachmentsContaienr .AttachmentsContentIcon {
	background: url('/ecm/skin/images/article/Artitcle.gif') no-repeat left -48px;
	width: 16px;
	height: 16px;
	margin: 0px 5px 0px 3px;
	float: left;
}
	
.UIBrowseContentPortlet .UIArticle .ContentIcon {
	background: url('/ecm/skin/images/article/Artitcle.gif') no-repeat left -16px;
}
	
.UIBrowseContentPortlet .UIArticle .LinksIcon {
	background: url('/ecm/skin/images/article/Artitcle.gif') no-repeat left -32px;
}
	
.UIBrowseContentPortlet .UIArticle .FieldContent {
	padding: 1px 8px 5px 0px;
	width: 90%;
}
	
.UIBrowseContentPortlet .UIArticle .FieldContent .FieldContainerContent {
	font: normal 11px Verdana;
	background: white;
	margin: 5px 2px 3px 5px;
}
	
.UIBrowseContentPortlet .UIArticle .FieldContent .LabelContent{
 	padding: 5px 0px 0px 5px;
 	overflow: auto;
}
	
.UIBrowseContentPortlet .UIArticle .DocumentRating {
	margin-left: 150px;
	width: 300px;
} 
	
.UIBrowseContentPortlet .UIArticle .ContainerLinks {
 	border-top: dotted 1px #dcdcdc;
 	margin: 12px	10px 0px 10px;
 	padding: 5px;
}
	
.UIBrowseContentPortlet .UIArticle .ContentLinks {
	float: left;
	width: 75px;
}

.UIBrowseContentPortlet .UIArticle .WorkContentLinks {
	float: left;
	padding-left: 5px;
}

.UIBrowseContentPortlet .UIArticle .Links div {
	padding-bottom: 3px;
}

.UIBrowseContentPortlet .UIArticle .Links a {
	text-decortaion: none;
	color: #058ee6;
}
	
 .UIBrowseContentPortlet .UIArticle .Links a:hover {
	text-decortaion: underline;
		color: orange;
	}
	
.UIBrowseContentPortlet .UIArticle .ArticleTCDecorator .Language {
	text-align: left;
	color: #7d7d7d;
	padding: 12px 0px 0px 10px;
	font-weight: bold;
}
	
.UIBrowseContentPortlet .UIArticle	.Language a.LanguageTitle {
	text-align: left;
	color: #058ee6;
	font-weight: normal;
}
	
.UIBrowseContentPortlet .UIArticle	.Language a:hover.LanguageTitle {
	text-align: left;
	color: #ffa21d;
	font-weight: normal;
}
	
.UIBrowseContentPortlet .UIArticle	.Language a:hover.DefaultLanguageTitle {
	text-align: left;
	color: #ffa21d;
	font-weight: bold;
}		
	
.UIVoteForm .RatingInfo {
	color: #0489d5;
}
	
.UIBrowseContentPortlet .UIArticle .UIRatingInfoContainer {
	margin: 0px 0px 0px auto;
}
	
.UIBrowseContentPortlet .UIArticle .FieldContent .AttachmentsContaienr {
	margin: 0px 6px 1px 0px;
	float: left;
}
	
.UIBrowseContentPortlet .UIArticle .AttachmentsContaienr a {
	text-decortaion: none;
	color: #058ee6;
	float: left;
}
	
.UIBrowseContentPortlet .UIArticle .AttachmentsContaienr a:hover {
	text-decortaion: underline;
	color: orange;
}
		
/***************** File ******************/

a {behavior: url(#default#AnchorClick);} 
	
.UIBrowseContentPortlet .FileContent {	
	padding: 10px;
	color: #0e396c;
}

.UIBrowseContentPortlet .FileContent .NavigationContainer {	
	padding-bottom: 5px;
	background: url('/ecm/skin/images/file/TitleBG1x21.gif') repeat-x top;
	border: 1px solid #cbcbcb;
}

.UIBrowseContentPortlet .FileContent .TopTitle {	
	padding-left: 10px;
	height: 22px; line-height: 22px;
	color: #058ee6; font-weight: bold; 
}

.UIBrowseContentPortlet .FileContent .ECMIframe {
 	border: 1px solid #cbcbcb; 
	height: 100% ;
	overflow: auto;
	width: 93%;
	margin: 5px;
	background: white;
}

.UIBrowseContentPortlet .FileContent .Content {	
 	white-space: normal;
 	padding: 10px;
}

 .UIBrowseContentPortlet .FileContent .Content .TextContent {	
 	overflow: auto;
 	height: 300px;
	margin: auto;
	width: 90%;
 	padding: 10px;
 	border: 1px solid #b7b7b7;
}

.UIBrowseContentPortlet .FileContent .Content .TextContent pre {	
	white-space: normal;
}

.UIBrowseContentPortlet .FileContent .ContentDetail {	
	text-align: center;
	overflow: visible;
	padding: 15px 0px;
}
	
.UIBrowseContentPortlet .FileContent .UIVoteForm {
	padding: 0px;
}

.UIBrowseContentPortlet .FileContent .UIRatingInfoContainer {
	margin:0px 0px 0px auto;
}

/******************* Kofax *******************/
.UIBrowseContentPortlet .WorkKofax {
	margin: 10px;
}
	
.UIBrowseContentPortlet .WorkKofax .UIGrid {
	width: 97%;
}

/******************* Podcast ********************/
.UIBrowseContentPortlet .ContentPodcast {
	border-bottom: 1px solid #bdbdbd; 
	height: 25px;
	line-height: 25px;
}
		
.UIBrowseContentPortlet .TitleBG span.text { 
	line-height: 20px;
}
		
.UIBrowseContentPortlet .ContentPodcast .text  { 
	vertical-align:bottom; 
	text-align: left ;
	font-weight: bold;
}
		
.UIBrowseContentPortlet .ContentPodcast .text span  { 
	font-weight: normal;
}
		
.UIBrowseContentPortlet div.summary { 
	height: 160px ; 
	padding: 5px 5px 5px 10px; 
	font-weight: normal;
	overflow: auto;
} 
		
.UIBrowseContentPortlet div.content { 
	font-size: 11px; 
	padding: 5px; 
	overflow: auto;
}

/******************* Sample ********************/

.UIBrowseContentPortlet .WorkSample {
	padding: 8px;
}
		
.UIBrowseContentPortlet label.text { 
	font: normal bold 11px Verdana;
	color: black; 
	line-height: 18px;
}
		
.UIBrowseContentPortlet span.text  { 
	font-size: 11px; 
	vertical-align:bottom; 
	color: #00000; 
}
		
.UIBrowseContentPortlet div.summary { 
	width: 96%; 
	height: 160px ; 
	font-size: 11px; 
	padding: 5px 5px 5px 10px; 
	color: black ; 
	font-weight: normal;
	overflow: auto;
} 
		
.UIBrowseContentPortlet div.content { 
	width: 96%; 
	height: 160px ; 
	font-size: 11px; 
	padding: 5px 5px 5px 10px; 
	color: black ; 
	font-weight: normal;
	overflow: auto;
}
		
.UIBrowseContentPortlet .HeaderSampleBG {
	background: url('/ecm/skin/images/event/EventFrameBG.gif') repeat-x; 
	margin-bottom: 2px;
	padding: 0px 5px 0px 5px; 
	height: 18px;
	border: solid 1px #bdbdbd;
	border-bottom: none;
	line-height: 18px;
}
	  
.UIBrowseContentPortlet .SampleBG {
  height: 25px;
  line-height: 25px;
  border-bottom: solid 1px #BDBDBD;
}