
@import url("../../../icons/VistaStylesheet.css");
@import url("UICategoryTree/VistaStylesheet.css");
@import url("UIContentView/VistaStylesheet.css");
@import url("UISubContent/VistaStylesheet.css");
@import url("UINavigation/VistaStylesheet.css");
@import url("UICBSearchForm/VistaStylesheet.css");
@import url("UIEventViewer/VistaStylesheet.css");

.UIWindow .UIBrowseContentPortlet {
  overflow: auto;
}

.UIWindow .UIBrowseContentPortlet .ContentHolder {
  padding: 5px 0px;
  width: 98.5%;
  /*
  minh.js.exo
  */
  min-width: 400px;
}

.UIBrowseContentPortlet {
  overflow: auto;
  border: solid 1px #b7b7b7;
}

.UIBrowseContentPortlet .UIFormWithTitle {
	margin: 10px auto;
	width: 600px;
}

.UIBrowseContentPortlet .UIConfigTabPane {
  padding: 5px;
}

.UIBrowseContentPortlet .ViewActicle {
  margin: 9px 10px 0px 0px;
}

.UIBrowseContentPortlet .TagmapHolder {
	float: right ;  
  width: 200px;
  border: solid 1px #c4c4c4 ;	
	background: #ffffff;
	padding: 1px;
}

.UIBrowseContentPortlet .TagmapHolder .TagmapTitle{
	height: 24px; line-height: 24px;
	margin: 0px;
	background: url('VistaSkin/background/TagmapTitleBG1x24.png') repeat-x;
}

.UIBrowseContentPortlet .TagmapHolder .TagLabel {
	padding: 0px 8px;
	line-height: 19px;
	font-weight: bold;
}
	
.UIBrowseContentPortlet .TagmapHolder .TagmapContent {
   border: solid 1px #e1e1e1 ;	
   background: #ffffff;
   padding: 5px;
   text-align: justify ;
   line-height: 22px;
}

.UIBrowseContentPortlet .TagmapHolder .Icon{
	float: left;
	width: 24px; height: 24px; 
	margin: 0px 5px;
	background: url('VistaSkin/background/TagMapIcon24x24.png') no-repeat; 
}

.UIBrowseContentPortlet .UIFormGrid .FieldLabel {
	width: 138px;
}

.UIBrowseContentPortlet .UIConfigContainer .HorizontalLayout .UIFormGrid {
	width: 500px;
	margin: auto;
}

.UIBrowseContentPortlet .UINewConfigForm .HorizontalLayout .UIFormGrid {
	width: 500px;
	margin: auto;
}

.UIBrowseContentPortlet .UIForm .HorizontalLayout td.FieldComponent {
  padding: 4px 0px;
}

.UIBrowseContentPortlet .UIConfigContainer .FieldComponent .path {
	width: 500px;
	padding: 0px;
}

.UIBrowseContentPortlet .UIConfigContainer .path .UIFormInputSet .AddIcon16x16 {
	float:none;
	margin-left: 5px;
}

.UIBrowseContentPortlet .UIFormInputSet .UIFormInputSetWithAction td.FieldLabel {
  padding: 0px 4px;
  vertical-align: middle;
}

.UIBrowseContentPortlet .UIConfigContainer .UIFormWithTitle .FormContainer {
	padding: 3px 0px;
	border: none;
}

.UIBrowseContentPortlet .UIForm .HorizontalLayout .UIFormInputSet {
  width: 100%;
  padding: 0px;
  margin: auto;
}

/*############################## -- Begin UIBrowseContainer -- ##############################*/
.UIBrowseContentPortlet .UIBrowseContainer {
  padding: 0px;
  background: white;
}

/*############################## -- Begin UIToolBar -- ##############################*/

.UIBrowseContentPortlet .UIToolBar {
  background: url('VistaSkin/background/CBToolbarBG1x31.png') repeat-x;
  height: 31px;
  margin-bottom: 5px;
}

.UIBrowseContentPortlet .UIToolBar .SeparatorLine {
  width: 2px;
  height: 20px;
  margin: 4px 5px 0px 0px;
  background: url('DefaultSkin/background/LineDecorator2x1.gif') repeat-y;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar {
  float: left;
  height: 27px;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .ShowHiddenIcon {
  float: left;
  height: 24px;
  cursor: pointer;
  margin: 2px 0px 2px 5px;
}

.UIBrowseContentPortlet .CategoryListIcon {
  float: left;
  height: 24px; width: 24px;
  background: url('VistaSkin/background/CategoryListIcon.png') no-repeat;
  margin: 4px 5px 0px 8px;
  
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .PathLabel {
  float: left;
  height: 27px;
  font-weight: bold; font-size: 11px; color: #058ee6;
  line-height: 27px; vertical-align: middle;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .PathChildLabel {
  float: left;
  height: 27px;
	font-size: 11px; color: black;
  line-height: 27px; vertical-align: middle;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar a:hover {
	color: #f97c01;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .PathIcon {
  float: left;
  height: 16px; width: 16px;
  margin: 11px 0px 0px 5px;
  background: url('DefaultSkin/background/CBPathArrow8x7.gif') no-repeat;
}

.UIBrowseContentPortlet .UIToolBar .SelectViewLabel {
  float: left;
  line-height: 28px;
  padding-left: 10px;
}

.UIBrowseContentPortlet .UIToolBar .SelectBox {
  float: left;
  padding: 3px 15px;
  font-size: 11px;
}

.UIBrowseContentPortlet .UIToolBar .CBActionContainer {
  height: 27px;
  float: right;
}

.UIBrowseContentPortlet .UIToolBar .CBActionContainer .Icon {
  float: left;
  margin: 2px 6px;
  cursor: pointer;
}

.UIBrowseContentPortlet .UIToolBar .CBRefreshButton {
	width: 28px; height: 28px;
	background: url('VistaSkin/background/CBRefreshButton.png') no-repeat;
}

.UIBrowseContentPortlet .UIToolBar .CBSearchButton {
	width: 28px; height: 28px;
	background: url('VistaSkin/background/CBSearchButton.png') no-repeat;
}

.UIBrowseContentPortlet .UIToolBar .VoteDocumentButton{
	width: 28px; height: 28px;
	background: url('VistaSkin/background/VoteDocumentButton.png') no-repeat;
}

.UIBrowseContentPortlet .UIToolBar .WriteCommentButton {
	width: 28px; height: 28px;
	background:url('VistaSkin/background/WriteCommentButton.png') no-repeat;
}

.UIBrowseContainer .UIDocumentList {
	margin: 5px;
}

.UIBrowseContainer .DocNodeIcon{
	float: left;
	margin: 2px 3px 0px 10px;
}

.UIBrowseContainer .UIDocumentList .DocumentLabel{
	vertical-align: middle;
	line-height: 16px;
}

.UIBrowseContainer .UIDocumentList .TopSubContent {
  margin-top: 10px;
  font-weight: bold;
}

.UIBrowseContainer .UIDocumentList .UIPageIterator {
	background: none;
	border: none;
}

.UIBrowseContainer .CommentHolder {
}

.UIBrowseContainer .VoteHolder {
  width: 250px;
  float: right;
}

.UIBrowseContentPortlet .UIBrowseContainer .UIArticle{
  width: 97%;
}

.UIBrowseContentPortlet .UIBrowseContainer .UIDivInfo {
	width: 97%;
	margin: 10px 0px;
	padding: 0px;
}

/*############################## -- FIX BUG POPUP  -- ##############################*/
.UIBrowseContentPortlet .UIPopupWindow .UITree{
  width: 190px;
}

.UIBrowseContentPortlet .UIPopupWindow .UIGrid{
  width: 350px;
  margin-left: 10px;
}

.UIBrowseContentPortlet .UIPopupWindow .NodeIcon{
  margin-left: 5px;
  float: left;
}

.UIBrowseContentPortlet .UIJCRBrowser {
  padding: 10px 0px 0px 10px;
}

.UIBrowseContentPortlet .Explorer {
  margin-right: 10px;
  float: left ;
  width: 220px ;
}

UIBrowseContentPortlet .Explorer {
  margin-right: 10px;
  float: left ;
  width: 230px ;
  overflow: hidden;
}

.UIBrowseContentPortlet .Explorer .ExplorerTree {
  border: solid 1px #c6c6c9;
  background: #f3f3f3;
  padding: 1px;
}

.UIBrowseContentPortlet .Explorer .InnerExplorerTree {
  border: solid 1px #b1b0b0;
  padding: 10px;
}

.UIBrowseContentPortlet .Explorer .ExplorerTree .Node {
  line-height: 30px;
}

.UIBrowseContentPortlet .UITreeList .UIGrid {
  width: 310px;
}

.UIBrowseContentPortlet .Explorer .ExplorerTree .UITree {
  overflow: auto;
  background: white;
  width: 100%;
}

.UIBrowseContentPortlet .UITree .TreeContainer .Node {
	white-space: nowrap;
}

.UIBrowseContentPortlet .UITree .TreeContainer .NodeLabel a {
	float: none;
	height: 24px;
	line-height: 24px;
}

.UIBrowseContentPortlet .UITree .TreeContainer{
	border: none;
}
/*############################## -- FIX BUG POPUP phai bo di  -- ##############################*/

.UIBrowseContentPortlet .UISearchController {
	padding: 5px;
}

.UIBrowseContentPortlet .UISearchController .SearchResult{
	border: solid 1px #b7b7b7;
	padding: 5px;
}

.UIBrowseContentPortlet .UISearchController .UIPageIterator{
	margin-right: 0px;
}

.UIBrowseContentPortlet .UISearchController .ResultInfo{
	line-height: 26px; vertical-align: middle;
	font-size: 11px;	
}

.UIBrowseContentPortlet .UISearchController .UIGrid .ActionContainer{
	width: 50px; 
}

.UIBrowseContentPortlet .UISearchController .GotoIcon{
	width: 16px ;  height: 16px ;
  background: url('DefaultSkin/background/DefaultFolderIcon.gif') no-repeat ;
}

/*############################## -- Begin UIVoteForm   -- ##############################*/

./*############################## -- Begin UIVoteForm   -- ##############################*/

.UIBrowseContentPortlet .UIVoteForm {
  padding: 10px;
}

.UIBrowseContentPortlet .VoteFormContainer {
	padding-top: 8px;
  border: solid 1px #aeaeae;
}

.UIBrowseContentPortlet .VoteFormContainer .UIRatingInfoContainer {
  background: white;
  width: 150px; padding: 5px 12px;
	margin: auto;
  border: solid 1px #b7b7b7;
}

.UIBrowseContentPortlet .UIVoteForm .NormalVote {
  cursor: pointer;
}

.UIBrowseContentPortlet .UIVoteForm .OptionsContainer {
	margin: auto;
	width: 120px; height: 20px;
}

.UIBrowseContentPortlet .UIVoteForm .OptionsContainer .NormalVote {
	float: left;
	margin: 2px 3px 0px 3px;
	width: 16px; height: 16px;
  background: url('/ecm/skin/images/vote/SmallGreyStar.gif');
}

.UIBrowseContentPortlet .UIVoteForm .OptionsContainer .RatedVote {
	float: left;
	margin: 2px 3px 0px 3px;
	width: 16px; height: 16px;
  background: url('/ecm/skin/images/vote/SmallGreyStar.gif');
}

.UIBrowseContentPortlet .UIVoteForm .OptionsContainer .OverVote {
	float: left;
	margin: 2px 3px 0px 3px;
	width: 16px; height: 16px;
  background: url('/ecm/skin/images/vote/SmallYellowStar.gif');
}

/*############################## -- End UIVoteForm   -- ##############################*/

.UIBrowseContentPortlet .UICBPopupAction .UICBCommentForm {
  padding: 10px;
}

.UIBrowseContentPortlet .UICBPopupAction .UICBCommentForm .HorizontalLayout {
  padding-top: 10px;
  background: url('MacSkin/background/Background1x4.png') repeat;
}

.UIBrowseContentPortlet .UITabPane .WorkKofax .UIGrid {
	border-top: none;
}

.UIBrowseContentPortlet .UITabPane .WorkKofax .UIGrid td{
	border-top: solid 1px #cccccc;
	line-height: 26px;
}

.UIBrowseContentPortlet .UIJCRBrowser .UIWorkspaceList {
	padding-bottom: 8px ;
	margin: 10px 0px 0px 0px;
}

.UIBrowseContentPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle {
	width: 547px;
	margin: 0px;
	border: 1px solid #E1E1E1;
}

.UIBrowseContentPortlet .UIJCRBrowser .UIWorkspaceList .HorizontalLayout {
	background: white;
	padding: 5px 0px;
	margin: 0px;
}

.UIBrowseContentPortlet .UIJCRBrowser .UIWorkspaceList .FieldLabel{
	width: 100px;
}

.UIBrowseContentPortlet .UIJCRBrowser .UIWorkspaceList select{
	width: 100px;
}
