
@import url("../../../icons/VistaStylesheet.css");
@import url("UICategoryTree/VistaStylesheet.css");
@import url("UIContentView/VistaStylesheet.css");
@import url("UISubContent/VistaStylesheet.css");
@import url("UINavigation/VistaStylesheet.css");
@import url("UICBSearchForm/VistaStylesheet.css");
@import url("UIEventViewer/VistaStylesheet.css");

.UIWindow .UIBrowseContentPortlet {
  overflow: auto;
  border: none;
}

.UIWindow .UIBrowseContentPortlet .ContentHolder {
  padding: 5px;
}

.UIBrowseContentPortlet {
  overflow: auto;
  border: solid 1px #b7b7b7;
}

.UIBrowseContentPortlet .ActionContainer{
   width: auto;
   margin:auto;
}

.UIBrowseContentPortlet .UIFormWithTitle {
  width: 570px;
	margin: auto;
}

.UIBrowseContentPortlet .UIFormWithTitle .HorizontalLayout {
  background: #ffffff;
}

.UIBrowseContentPortlet .UINewConfigForm .HorizontalLayout {
  padding: 0px;
}

.UIBrowseContentPortlet .UIConfigTabPane {
  padding: 15px 0px;
}

.UIBrowseContentPortlet .ViewActicle {
  margin: 9px 10px 0px 0px;
}

.UIBrowseContentPortlet .TagmapHolder {
	float: right ;  
  width: 200px;
  border: solid 1px #c4c4c4 ;	
	background: #ffffff;
	padding: 1px;
}

.UIBrowseContentPortlet .TagmapHolder .TagmapTitle{
	height: 24px; line-height: 24px;
	margin: 0px;
	background: url('VistaSkin/background/TagmapTitleBG1x24.png') repeat-x;
}

.UIBrowseContentPortlet .TagmapHolder .TagLabel {
	padding: 0px 8px;
	line-height: 19px;
	font-weight: bold;
}
	
.UIBrowseContentPortlet .TagmapHolder .TagmapContent {
   border: solid 1px #e1e1e1 ;	
   background: #ffffff;
   padding: 5px;
   text-align: justify ;
   line-height: 22px;
}

.UIBrowseContentPortlet .TagmapHolder .Icon{
	float: left;
	width: 24px; height: 24px; 
	margin: 0px 5px;
	background: url('VistaSkin/background/TagMapIcon24x24.png') no-repeat; 
}


.UIBrowseContentPortlet .TagmapHolder .TagmapContent .Tag {
	margin: 3px 5px;
}


/*############################## -- Begin UIBrowseContainer -- ##############################*/
.UIBrowseContentPortlet .UIBrowseContainer {
  padding: 0px;
  background: white;
}

.UIBrowseContentPortlet .UIFormGrid .FieldLabel {
	width: 140px;
}

.UIBrowseContentPortlet .UIConfigContainer .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid input {
	float: left;
}

.UIBrowseContentPortlet .UIConfigContainer .HorizontalLayout .FormContainer .UIFormGrid {
	width: 500px;
	margin: auto;
}

.UIBrowseContentPortlet .UINewConfigForm .HorizontalLayout .FormContainer .UIFormGrid {
	width: 500px;
	margin: auto;
	border: none;
	padding-top: 20px;
}

.UIBrowseContentPortlet .UIForm .HorizontalLayout .UIFormGrid td.FieldComponent {
  padding: 4px 0px;
}

.UIBrowseContentPortlet .UIConfigContainer .FieldComponent .path {
	width: 500px;
	padding: 0px;
}

.UIBrowseContentPortlet .UIForm .HorizontalLayout .UIFormInputSet {
  width: 100%;
  padding-bottom: 0px;
}

.UIBrowseContentPortlet .UIFormWithTitle .HorizontalLayout .FormContainer {
  border: none;
  padding: 10px 0px 6px 0px;
}

.UIBrowseContentPortlet .path .UIFormInputSet .FormContainer {
  border: none;
  padding: 0px;
}

.UIBrowseContentPortlet .doc .UIFormInputSet .FormContainer {
  border: none;
  padding: 0px;
}

/*############################## -- Begin UIToolBar -- ##############################*/
.UIBrowseContentPortlet .UIToolBar {
  background: url('VistaSkin/background/CBToolbarBG1x31.png') repeat-x;
  height: 31px;
  margin-bottom: 5px;
}

.UIBrowseContentPortlet .UIToolBar .SeparatorLine {
  width: 2px;
  height: 20px;
  margin: 4px 5px 0px 0px;
  background: url('DefaultSkin/background/LineDecorator2x1.gif') repeat-y;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar {
  float: left;
  height: 27px;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .ShowHiddenIcon {
  float: left;
  height: 24px;
  cursor: pointer;
  margin: 2px 0px 2px 5px;
}

.UIBrowseContentPortlet .CategoryListIcon {
  float: left;
  height: 24px; width: 24px;
  background: url('VistaSkin/background/CategoryListIcon.png') no-repeat;
  margin: 4px 5px 0px 8px;
  
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .PathLabel {
  float: left;
  height: 27px;
  font-weight: bold; font-size: 11px; color: #058ee6;
  line-height: 27px; vertical-align: middle;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .PathChildLabel {
  float: left;
  height: 27px;
	font-size: 11px; color: black;
  line-height: 27px; vertical-align: middle;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar a:hover {
	color: #f97c01;
}

.UIBrowseContentPortlet .UIToolBar .LeftToolBar .PathIcon {
  float: left;
  height: 16px; width: 16px;
  margin: 11px 0px 0px 5px;
  background: url('DefaultSkin/background/CBPathArrow8x7.gif') no-repeat;
}

.UIBrowseContentPortlet .UIToolBar .SelectViewLabel {
  float: left;
  line-height: 28px;
  padding-left: 10px;
}

.UIBrowseContentPortlet .UIToolBar .SelectBox {
  float: left;
  padding: 3px 15px;
  font-size: 11px;
}

.UIBrowseContentPortlet .UIToolBar .CBActionContainer {
  height: 27px;
  float: right;
}

.UIBrowseContentPortlet .UIToolBar .CBActionContainer .Icon {
  float: left;
  margin: 2px 5px;
  cursor: pointer;
}

.UIBrowseContentPortlet .UIToolBar .CBRefreshButton {
	width: 28px; height: 28px;
	background: url('VistaSkin/background/CBRefreshButton.png') no-repeat;
}

.UIBrowseContentPortlet .UIToolBar .CBSearchButton {
	width: 28px; height: 28px;
	background: url('VistaSkin/background/CBSearchButton.png') no-repeat;
}

.UIBrowseContentPortlet .UIToolBar .VoteDocumentButton{
	width: 28px; height: 28px;
	background: url('VistaSkin/background/VoteDocumentButton.png') no-repeat;
}

.UIBrowseContentPortlet .UIToolBar .WriteCommentButton {
	width: 28px; height: 28px;
	background:url('VistaSkin/background/WriteCommentButton.png') no-repeat;
}

/*############################## -- Begin UIDocumentList -- ##############################*/
.UIBrowseContainer .UIDocumentList .UIGrid{
	border: none;
}

.UIBrowseContainer .UIDocumentList .UIGrid td{
	border: none;
}

.UIBrowseContainer .UIDocumentList {
	padding-top: 10px;
}

.UIBrowseContainer .DocNodeIcon{
	float: left;
	margin: 0px 3px 0px 0px;
}

.UIBrowseContainer .UIDocumentList .DocumentLabel{
	vertical-align: middle;
	line-height: 16px;
}

.UIBrowseContainer .UIDocumentList .TopSubContent {
  margin-top: 10px;
  font-weight: bold;
}

.UIBrowseContainer .UIDocumentList .UIPageIterator {
	background: none;
	border: none;
}

.UIBrowseContainer .CommentHolder {
}

.UIBrowseContainer .VoteHolder {
  width: 250px;
  float: right;
}

/*############################## -- FIX BUG POPUP  -- ##############################*/
.UIBrowseContentPortlet .UIPopupWindow .UITree{
  width: 200px;
}

.UIBrowseContentPortlet .UIPopupWindow .UIGrid{
  width: 350px;
  margin-left: 10px;
}

.UIBrowseContentPortlet .UIPopupWindow .NodeIcon{
  margin-left: 5px;
  float: left;
}

.UIBrowseContentPortlet .UISearchController .UIGrid .ActionContainer{
	width: 80px;
	margin: auto;
}

.UIBrowseContentPortlet .UISearchController {
	padding: 5px;
}

.UIBrowseContentPortlet .UISearchController .SearchResult{
	border: solid 1px #b7b7b7;
	padding: 5px;
}

.UIBrowseContentPortlet .UISearchController .UIPageIterator{
	margin-right: 0px;
}

.UIBrowseContentPortlet .UISearchController .ResultInfo{
	line-height: 26px; vertical-align: middle;
	font-size: 11px;	
}

.UIBrowseContentPortlet .UISearchController .UIAction{
	width: 70px; margin: auto;
	padding-bottom:8px;
}

.UIBrowseContentPortlet .UISearchController .GotoIcon{
	width: 16px ;  height: 16px ;
  background: url('DefaultSkin/background/DefaultFolderIcon.gif') no-repeat ;
}

/*############################## -- Begin UIVoteForm   -- ##############################*/

.UIBrowseContentPortlet .UIVoteForm .UIAction {
	width: 90px;
}

.UIBrowseContentPortlet .UIVoteForm {
  padding: 8px;
}

.UIBrowseContentPortlet .VoteFormContainer {
	padding-top: 8px;
  background: #f4f4f4 ;
  border: 1px solid #e1e1e1 ;
  padding: 15px 0px 0px 0px;
}

.UIBrowseContentPortlet .VoteFormContainer .UIRatingInfoContainer {
  background: white ;
  width: 145px;
  padding: 2px 15px;
}

.UIBrowseContentPortlet .UIVoteForm .NormalVote {
  cursor: pointer;
}

.UIBrowseContentPortlet .UIVoteForm .VoteFormContainer .UIAction {
  width: 80px;
  padding-left: 13px;
}

.UIVoteForm .UIRatingInfoContainer {
	width: 150px; padding: 5px 12px;
	margin: auto;
	background: white;
	border: solid 1px #b7b7b7;
}

.UIVoteForm .OptionsContainer {
	margin: auto;
	width: 120px; height: 20px;
}

.UIVoteForm .OptionsContainer .NormalVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('/ecm/skin/images/vote/GrayStar.gif');
}

.UIVoteForm .OptionsContainer .RatedVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('/ecm/skin/images/vote/YellowStar.gif');
}

.UIVoteForm .OptionsContainer .OverVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('/ecm/skin/images/vote/OverStar.gif');
}

/*############################## -- End UIVoteForm   -- ##############################*/
/*############################## -- Begin ExplorerTree   -- ##############################*/

.UIBrowseContentPortlet .UIJCRBrowser {
	width: 560px;
	margin: 10px auto 0px auto;
}

.Explorer {
  margin-bottom: 10px;
  float: left ;
  width: 220px ;
}

.Explorer .ExplorerTree {
  background: #f3f3f3;
  border: solid 1px #c6c6c9;
  padding: 1px;
  margin-top: 1px;
}

.Explorer .InnerExplorerTree {
  padding: 10px;
}

.Explorer .ExplorerTree .Node {
  line-height: 32px;
}

.Explorer .ExplorerTree .NodeLevel1 {
  height: 30px; line-height: 30px;
  padding-left: 15px;
}

.Explorer .ExplorerTree .NodeLevel2 {
  height: 30px; line-height: 30px;
  padding-left: 30px;
}

.Explorer .ExplorerTree .ExpandIcon {
  float: left;
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGrayMinus.gif') no-repeat ;
  cursor: pointer;
  margin: 1px 0px;
}

.Explorer .ExplorerTree .ColapseIcon {
  float: left;
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGrayPlus.gif') no-repeat ;
  cursor: pointer;
  margin: 3px 0px;
}

.Explorer .ExplorerTree .NodeIcon {
  float: left;
}

.Explorer .ExplorerTree .NodeLabel {
  float: left;
  color: #01060d;
  padding: 0px 10px;
}

.Explorer .ExplorerTree .NodeLabelSelected {
  float: left;
  color: #0848c1;
  padding: 0px 10px;
}

.UITreeList .UIGrid {
  width: 310px;
  margin-left: 5px ;
}

.UIBrowseContentPortlet .UICBPopupAction .UICBCommentForm {
  padding: 10px;
}

.UIBrowseContentPortlet .UICBPopupAction .UICBCommentForm .UIAction {
  width: 190px;
}

.UIBrowseContentPortlet .UITabPane .WorkKofax .UIGrid {
	border-top: none;
}

.UIBrowseContentPortlet .UITabPane .WorkKofax .UIGrid td{
	border-top: solid 1px #cccccc;
	line-height: 26px;
}
