.MyEditor {
	background: white;
	border: 1px solid #CCCCCC;
	overflow: hidden;
}

.MyEditor .MyEditorToolbar {
	background: #d1d3b0;
	border-bottom: solid 1px #CCCCCC;
}

.MyEditor .MyEditorToolbar a.MyButtonNormal img {
	vertical-align: middle;
	border: 1px solid #d1d3b0;
	margin: 1px 0px 0px 1px;
}

.MyEditor .MyEditorToolbar a.MyButtonNormal img:hover {
	background-color: #B6BDD2;
	border: 1px solid #0A246A;
}

* html .MyEditor .MyEditorToolbar a.MyButtonNormal {
	border: 1px solid #d1d3b0;
}

* html .MyEditor .MyEditorToolbar a.MyButtonNormal img {
	margin: 2px 0px 1px 1px;
	border: 0px;
}

* html .MyEditor .MyEditorToolbar a.MyButtonNormal:hover {
	background-color: #B6BDD2;
	border: 1px solid #0A246A;
}

.MyEditor .MyEditorToolbar .MySelectList {
	width: auto;
	font-family: 'MS Sans Serif', sans-serif, Verdana, Arial;
	font-size: 7pt; font-weight: normal;
	background-color: #d1d3b0;
	vertical-align: top;
	margin: 3px 0px 0px 1px;
}

.MyEditor textarea {
	width: 100%; border: 0px;
}
z