/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

@import url("../../../icons/DefaultStylesheet.css");

.UIPageDesktop .UIDialogPortlet {
  overflow: hidden;
}

.UIWindow .UIFastContentCreatorPortlet {
	border: none;
	margin: 0px;
	border: none;
}

.UIFastContentCreatorPortlet {
	background: white;
	border: 1px solid #b7b7b7;
	margin: 5px;
}

.UIFastContentCreatorPortlet .UIFormGrid {
	width: 100%;
}

.UIFastContentCreatorPortlet .MsgLable {
	text-align: center;
	line-height: 60px;
	color: #E80C00;
}

.UIFastContentCreatorPortlet .UIFormGrid .FieldLabel {
	width: 160px;
}

.UIFastContentCreatorPortlet .UIFormWithTitle {
  border: 1px solid #939393;
  width: 598px;
  margin: 15px auto;
  background: url('MacSkin/background/Background1x4.png') repeat;
}

.UIFastContentCreatorPortlet .MultiValueContainer a  {
  margin: 0px 5px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput .ProgressBarFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput .SelectFileFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput  .FileNameLabel {
	padding: 0px;
	width: auto;
}

.UIFastContentCreatorPortlet .UIFormUploadInput  .ProgressBar {
	margin: 0px;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration {
  margin: 15px auto;
  width: 600px;
  background: url('MacSkin/background/Background1x4.png') repeat;
  border: 1px solid red;
}

.UIFastContentCreatorPortlet .UIOneNodePathSelector {
  padding: 10px;
}