/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

@import url("../../../icons/DefaultStylesheet.css");
@import url("../../../ExoEditor/MyEditor.css");

.UIPageDesktop .UIDialogPortlet {
  overflow: hidden;
}

.UIFastContentCreatorPortlet .UIFormGrid .FieldLabel {
	width: 128px;
}

.UIFastContentCreatorPortlet .UIFormWithTitle {
  border: 1px solid #e1e1e1;
  width: 650px;
  margin: 15px auto;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .HorizontalLayout .FormContainer {
	width: 500px;
	margin: auto;
}

.UIFastContentCreatorPortlet .UIForm .HorizontalLayout .UIFormGrid td.FieldComponent {
  padding: 4px 0px;
}

.UIFastContentCreatorPortlet .UIFormWithTitle .FieldContainer select {
  border: solid 1px #b7b7b7;
  padding-left: 3px;
}

.UIFastContentCreatorPortlet .UIFormWithTitle .FieldContainer textarea {
  border: solid 1px #b7b7b7;
  padding: 3px;
}

.UIFastContentCreatorPortlet .UIFormWithTitle .FieldContainer input {
  padding-left: 3px;
  border: solid 1px #b7b7b7;
}

.UIFastContentCreatorPortlet .UIFormInputSet .UIFormInputSetWithAction input {
  float: left;
}

.UIFastContentCreatorPortlet .UITree .TreeContainer .NodeSelected {
  height: 20px ; line-height: 20px;
  font-weight: bold; font-size: 11px;
}

.UIFastContentCreatorPortlet .MultiValueContainer a  {
  margin: 0px 5px;
}

.UIFastContentCreatorPortlet .UITabPane .TabPaneContent .WorkingAreaWithHelp .UITabContentContainer {
  border: solid 1px #939393;
  border-top: none;
}

.UIFastContentCreatorPortlet .UIFormUploadInput .ProgressBarFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput .SelectFileFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput  .FileName {
	width: 230px;	
	overflow: hidden;
}

.UIFastContentCreatorPortlet .UIFormUploadInput  .FileNameLabel {
	padding: 0px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput  .ProgressBar {
	margin: 0px;
}

.UIFastContentCreatorPortlet .UIAction {
	width: 165px;
	padding-left: 20px;
}

.UIFastContentCreatorPortlet .UITabPane .TabPaneContent {
  width: 600px;
  margin: auto;
  padding-top: 10px;
}

.UIFastContentCreatorPortlet .TabPaneContent .UITabContentContainer {
  border: none;
}

.UIFastContentCreatorPortlet .UIFormWithTitle .FieldContainer .MyEditor{
  margin-left: 7px;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration {
  padding: 10px;
  margin: auto;
  width: 600px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser {
  padding: 0px 0px 0px 10px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .InnerExplorerTree .UITree .TreeContainer {
  border: none;
} 

.UIFastContentCreatorPortlet .UIEditModeDocumentType {
  padding-bottom: 3px; 
}

.UIFastContentCreatorPortlet .UIFormWithTitle .UIAction {
  padding: 12px 0px 0px 0px;
}

.UIFastContentCreatorPortlet .TabPaneContent {
  margin: 5px;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .HorizontalLayout .UIFormInputSet {
	margin: auto;
	padding-bottom: 0px;
	width: 100%;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .FieldComponent .actionInput {
	width: 500px;
	padding: 0px;
}

.UIFastContentCreatorPortlet .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td.FieldLabel {
  padding: 0px 4px;
  vertical-align: middle;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .InnerExplorerTree .UITree .TreeContainer {
	border: none;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .ExplorerTree .UITree {
  border: solid 1px #B1B0B0;
}

.UIFastContentCreatorPortlet .Explorer {
  margin-right: 10px;
  float: left ;
  width: 220px ;
}

.UIFastContentCreatorPortlet .Explorer .ExplorerTree {
  border: solid 1px #c6c6c9;
  background: #f3f3f3;
  padding: 1px;
}

.UIFastContentCreatorPortlet .Explorer .InnerExplorerTree {
  border: solid 1px #b1b0b0;
  padding: 10px;
}

.UIFastContentCreatorPortlet .Explorer .ExplorerTree .Node {
  line-height: 30px;
}

.UIFastContentCreatorPortlet .UITreeList .UIGrid {
  width: 315px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UIWorkspaceList {
	padding: 0px;
	margin: 0px;
	width: 540px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle {
	border: solid 1px #B1B0B0;
	width: 540px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .UIForm {
	padding: 1px;
	border: solid 1px white;
	width: 536px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .HorizontalLayout {
	background: #efefef;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UIWorkspaceList .UIFormGrid select{
	width: 100px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UIWorkspaceList .FieldLabel{
	width: 100px;
}

