/**
 * Created by The eXo Platform SARL
 * Author : Luong Trung Hieu
 *          hieu2b1@yahoo.com
 * May 14, 2007
 * version: $Id$
 */

@import url("../../../icons/VistaStylesheet.css");

.UIPageDesktop .UIDialogPortlet {
  overflow: hidden;
}

.UIWindow .UIFastContentCreatorPortlet {
	border: none;
	margin: auto;
	border: none;
}

.UIFastContentCreatorPortlet {
	background: white;
	border: 1px solid #b7b7b7;
	margin: 5px;
}

.UIFastContentCreatorPortlet .UIFormGrid {
	width: 100%;
}

.UIFastContentCreatorPortlet .MsgLable {
	text-align: center;
	line-height: 60px;
	color: #E80C00;
}

.UIFastContentCreatorPortlet .UITabPane .TabPaneContent {
  width: 600px;
  margin: auto;
}

.UIFastContentCreatorPortlet .UITabPane {
  padding: 10px 0px 20px 0px;
}

.UIFastContentCreatorPortlet .UIFormWithTitle {
  border: 1px solid #e1e1e1;
  width: 650px;
  margin: 10px auto ;
}

.UIFastContentCreatorPortlet .UIFormWithTitle .HorizontalLayout {
  padding-bottom: 10px;
}

.UIFastContentCreatorPortlet .UIFormGrid .FieldLabel {
	width: 160px;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .UIFormWithTitle  {
  border: none;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .UIFormWithTitle .HorizontalLayout {
  width: 500px;
  margin: auto;
  padding-top: 10px;
}

.UIFastContentCreatorPortlet .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td.FieldLabel {
  padding: 0px 4px;
  vertical-align: middle;
}

.UIFastContentCreatorPortlet .UIForm .HorizontalLayout .UIFormGrid td.FieldComponent {
  padding: 4px 0px;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration {
  margin: 10px auto;
  width: 600px;
  border: solid 1px #e1e1e1;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .UIFormWithTitle  {
  border: none;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .HorizontalLayout .FormContainer {
	width: 550px;
	margin: auto;
}

.UIFastContentCreatorPortlet .UIForm .HorizontalLayout {
  padding-top: 10px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UIFormWithTitle {
	padding: 0px;
	width: auto;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UITrees .Node {
  line-height: 24px;
}

.UIFastContentCreatorPortlet .UIEditModeDocumentType {
  padding-bottom: 3px; 
}

.UIFastContentCreatorPortlet .TabPaneContent .UIFormWithTitle {
  width: auto;
  border: solid 1px #939393;
  border-top: none;
}

.UIFastContentCreatorPortlet .TabPaneContent {
  margin: 5px;
}

.UIFastContentCreatorPortlet .FieldContainer .MultiValueContainer .AddNewNodeIcon  {
  float: left;
  margin: 3px 5px 0px 5px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput .ProgressBarFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput .SelectFileFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput  .FileNameLabel {
	padding: 0px;
	width: auto;
}

.UIFastContentCreatorPortlet .UIFormUploadInput  .ProgressBar {
	margin: 0px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser {
	width: 95%;
	margin: 10px auto;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UIWorkspaceList {
	padding-bottom: 8px ;
	margin: 10px 0px 0px 0px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle {
	width: 98%;
	margin: 0px;
	border: 1px solid #E1E1E1;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .HorizontalLayout {
	background: white;
	padding: 5px 0px;
	margin: 0px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .HorizontalLayout .FieldLabel{
	width: 100px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UIWorkspaceList .UIFormWithTitle .HorizontalLayout select{
	width: 100px;
}

/*############################## -- UITreeJCRExplorer   -- ##############################*/

.UIFastContentCreatorPortlet .Explorer {
  float: left ;
  width: 230px ;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UITreeList {
  margin-left: 240px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UITreeList .UIGrid {
  width: 97%;
  margin: 0px;
}

.UIFastContentCreatorPortlet .Explorer .ExplorerTree {
  margin-top: 1px;
  border: solid 1px #c6c6c9;
  background: #f3f3f3;
  padding: 1px;
}

.UIFastContentCreatorPortlet .Explorer .InnerExplorerTree {
  border: solid 1px #b1b0b0;
  padding: 10px;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .HorizontalLayout .UIFormInputSet .AddIcon16x16 {
	margin-left: 5px;
	float: none;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .rootNodeInfo .FormContainer {
	padding: 0px;
}

.UIFastContentCreatorPortlet .UIForm .HorizontalLayout .rootNodeInfo td.FieldComponent {
	padding: 0px;
}