/**
 * Created by The eXo Platform SARL
 * Author : Luong Trung Hieu
 *          hieu2b1@yahoo.com
 * May 14, 2007
 * version: $Id$
 */

@import url("../../../icons/VistaStylesheet.css");
@import url("../../../ExoEditor/MyEditor.css");

.UIPageDesktop .UIDialogPortlet {
  overflow: hidden;
}

.UIFastContentCreatorPortlet .UITabPane .TabPaneContent {
  width: 600px;
  margin: auto;
}

.UIFastContentCreatorPortlet .UITabPane {
  padding: 10px 0px 20px 0px;
}

.UIFastContentCreatorPortlet .UITabPane .TabPaneContent .WorkingAreaWithHelp .UITabContentContainer  {
  border: none;
}

.UIFastContentCreatorPortlet .UITree .TreeContainer .NodeSelected {
  height: 20px ; line-height: 20px;
  font-weight: bold; font-size: 11px;
  background: #8eeaaf ;
}

.UIPopupMessages .UIAction {
  width: 100px;
}

.UIFastContentCreatorPortlet .UIAction {
	width: 165px;
	padding-left: 20px;
}

.UIFastContentCreatorPortlet .TabPaneContent .UITabContentContainer {
  border: none;
}

.UIFastContentCreatorPortlet .UIFormWithTitle {
  border: 1px solid #e1e1e1;
  width: 550px;
  margin: 15px auto;
  padding: 20px;
}

.UIFastContentCreatorPortlet .UIFormWithTitle .HorizontalLayout {
  padding-bottom: 10px;
}

.UIFastContentCreatorPortlet .UIFormGrid .FieldLabel {
	width: 160px;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .UIFormWithTitle  {
  border: none;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .UIFormWithTitle .HorizontalLayout {
  width: 500px;
  margin: auto;
  padding-top: 10px;
}

.UIFastContentCreatorPortlet .UIFormInputSet .UIFormInputSetWithAction .UIFormGrid td.FieldLabel {
  padding: 0px 4px;
  vertical-align: middle;
}

.UIFastContentCreatorPortlet .UIForm .HorizontalLayout .UIFormGrid td.FieldComponent {
  padding: 4px 0px;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .HorizontalLayout {
	width: 600px;
	margin: 20px auto;
	border: 1px solid #b7b7b7;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .HorizontalLayout .FormContainer {
	width: 500px;
	margin: auto;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .UIForm .HorizontalLayout .UIFormInputSet {
	padding-bottom: 0px;
	width: 100%;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .UIFormWithTitle .HorizontalLayout .UIAction {
  padding-top: 10px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser {
  width: 560px;
	margin: 10px auto 0px auto;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UIFormWithTitle {
	padding: 0px;
	width: auto;
}

.UIFastContentCreatorPortlet .UIEditModeDocumentType {
  padding-bottom: 3px; 
}

.UIFastContentCreatorPortlet .UIFormWithTitle .UIAction {
  padding: 12px 0px 0px 65px;
}

.UIFastContentCreatorPortlet .TabPaneContent .UIFormWithTitle {
  width: auto;
  border: solid 1px #939393;
  border-top: none;
}

.UIFastContentCreatorPortlet .TabPaneContent {
  margin: 5px;
}

.UIFastContentCreatorPortlet .UIFormWithTitle .FieldContainer .MultiValueContainer .AddNewNodeIcon  {
  float: left;
  margin: 3px 5px 0px 5px;
  border: solid 1px red;
}

.UIFastContentCreatorPortlet .UIFormUploadInput .ProgressBarFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput .SelectFileFrame { 
	width: 330px;
	overflow: hidden;
	margin: 0px;
}

.UIFastContentCreatorPortlet .UIFormUploadInput  .FileNameLabel {
	padding: 0px;
	width: auto;
}

.UIFastContentCreatorPortlet .UIFormUploadInput  .ProgressBar {
	margin: 0px;
}

.UIFastContentCreatorPortlet  .UIJCRBrowser {
	width: 560px;
	margin: 10px auto 0px auto;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UITreeList {
	padding-top: 2px;
	margin-left: 240px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UITreeList {
	padding-top: 2px;
	margin-left: 240px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .ExplorerTree .UITree {
  border: solid 1px #c9c9c9;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .Explorer {
  margin-bottom: 10px;
  float: left ;
  width: 230px ;
}


.UIFastContentCreatorPortlet .UIJCRBrowser .Explorer .ExplorerTree {
  background: #f3f3f3;
  border: solid 1px #c6c6c9;
  padding: 1px;
  margin-top: 1px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .Explorer .InnerExplorerTree {
  padding: 10px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .Explorer .ExplorerTree .Node {
  line-height: 32px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .Explorer .ExplorerTree .NodeLevel1 {
  height: 30px; line-height: 30px;
  padding-left: 15px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .Explorer .ExplorerTree .NodeLevel2 {
  height: 30px; line-height: 30px;
  padding-left: 30px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .Explorer .ExplorerTree .ExpandIcon {
  float: left;
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGrayMinus.gif') no-repeat ;
  cursor: pointer;
  margin: 1px 0px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .Explorer .ExplorerTree .ColapseIcon {
  float: left;
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGrayPlus.gif') no-repeat ;
  cursor: pointer;
  margin: 3px 0px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .Explorer .ExplorerTree .NodeIcon {
  float: left;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .Explorer .ExplorerTree .NodeLabel {
  float: left;
  color: #01060d;
  padding: 0px 10px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .Explorer .ExplorerTree .NodeLabelSelected {
  float: left;
  color: #0848c1;
  padding: 0px 10px;
}

.UIFastContentCreatorPortlet .UIJCRBrowser .UITreeList .UIGrid {
  width: 310px;
  margin-left: 5px ;
}

.UIFastContentCreatorPortlet .UIEditModeConfiguration .HorizontalLayout .UIFormInputSet .AddIcon16x16{
	margin: -18px 5px 0px 240px;
	float: none;
}
