/**
 * Created by The eXo Platform SARL
 * Author : pham tuan
 *          phamtuanchip@gmail.com
 * DEC 14, 2006
 * version: $Id$
 */

/*###########################-- Begin UIContextMenu --############################*/
.UICBNavigation .UIContextMenu {
  border: solid 1px #5d5d5d;
  position: absolute;
  padding:1px;
  display: none;
}

.UIContextMenu .SubContextMenu {
  border: solid 1px #d1d1d1;  
  background: #ffffff;
}

.UIContextMenu .NodeHistoryContainer {
	padding: 2px;
	background: #ffffff;
}

.UIContextMenu .NodeHistoryContainer .NodeNavigationIcon {
	float: left ;
	height: 24px;
	padding-left: 25px;
	background: url('VistaSkin/background/NodeNavigationIcon.png') no-repeat left;	
}

.UIContextMenu .NodeHistoryContainer .NodeItemIcon {
	float: left;
	margin-left: 10px;
	padding-left: 17px;
	background: url('DefaultSkin/background/SmallSelect.gif') no-repeat left;
	line-height: 16px;
	width: 16px; height: 16px;
}

.UIContextMenu .NodeHistoryContainer .BackButtonLabel {
  white-space: nowrap ;
  cursor: pointer;
  margin-left: 2px;
}

.UIContextMenu .NodeHistoryContainer .NodeLabel {
	white-space: nowrap ;
  line-height: 16px;
  margin-left: 3px;
}

.UIContextMenu .NodeHistoryContainer .NodeLabelSelected {
	white-space: nowrap ;
  line-height: 16px;
  margin-left: 3px;
  color: #058ee6;
  font: normal bold 11px Verdana;
}

.UIContextMenu .NodeHistoryContainer a {
	text-decoration: none;
	color: #515151;
}

.UIContextMenu .NodeHistoryContainer a:hover { 
	text-decoration: none;
	color: blue;
}

/*###########################-- End UIContextMenu --############################*/
.UICBNavigation {
}

.UICBNavigation .CBLeftNavigation {
	height: 52px;
  background: url('VistaSkin/background/LeftHorizontalTabBG3x25.jpg') no-repeat left bottom;
  padding-left: 3px;
}

.UICBNavigation .CBRightNavigation {
	height: 52px;
  background: url('VistaSkin/background/RightHorizontalTabBG3x25.jpg') no-repeat right bottom;
  padding-right: 3px;
}

.UICBNavigation .CBMiddleNavigation {
	height: 52px;
  background: url('VistaSkin/background/CenterHorizontalTabBG1x25.jpg') repeat-x bottom;
}

.UICBNavigation .UICBMainNavigation {
	height: 28px;
  overflow: hidden;
}

.UICBNavigation .UICBMainNavigation .HomeTab {
	height: 25px; line-height: 25px;
  float: left;
  width: 106px;
}

.UICBNavigation .HomeTab .LeftHomeTab {
	height: 25px; line-height: 25px;
	padding-left: 16px;
  background: url('VistaSkin/background/LeftCBHomeTab16x25.png') no-repeat left;
}

.UICBNavigation .HomeTab .RightHomeTab {
	height: 25px; line-height: 25px;
  padding-right: 15px;
  background: url('VistaSkin/background/RightCBHomeTab15x25.png') no-repeat right;
}

.UICBNavigation .HomeTab .MiddleHomeTab {
	height: 25px; line-height: 25px;
  background: url('VistaSkin/background/CenterCBHomeTab1x25.png') repeat-x;
}

.UICBNavigation .HomeTab a {
	line-height: 25px; vertical-align: middle;
	float: left;
	margin-left: 5px;
	font-weight: bold;
	color: #333333;
}

.UICBNavigation .HomeTab a:hover {
	color: #058ee6;
}

.UICBNavigation .HomeTab .LeftIcon {
	float: left;
	margin: 4px 0px 0px 0px;
	cursor: pointer;
}

.UICBNavigation .HomeTab .RightIcon {
  float: right;
  margin: 6px 0px 0px 0px;
  cursor: pointer;
}

.UICBNavigation .UIHorizontalTabs {
	float: left;
	height: 23px;
	margin-top: 4px;
}

.UICBNavigation .UIHorizontalTabs .TabsContainer {
	width: 99.5%;
}

.UICBNavigation .UIHorizontalTabs .UITab {
	float: left;
	height: 23px;
	padding-left: 2px;
}

.UICBNavigation .UIHorizontalTabs .TabIcon {
	width: 16px;
	height: 16px;
}

.UICBNavigation .UIHorizontalTabs .UITab .CBNormalTab {
	margin-top: 1px;
}

.UICBNavigation .UIHorizontalTabs .UITab .CBNormalTab .LeftTab {
  padding-left: 4px;
  line-height: 22px;
  background: url('DefaultSkin/background/LeftCBTab4x22.gif') no-repeat left;
}

.UICBNavigation .UIHorizontalTabs .UITab .CBNormalTab .RightTab {
  padding-right: 4px;
  line-height: 22px;
  background: url('DefaultSkin/background/RightCBTab4x22.gif') no-repeat right;
}

.UICBNavigation .UIHorizontalTabs .UITab .CBNormalTab .MiddleTab {
  background: url('DefaultSkin/background/CenterCBTab1x22.gif') repeat-x;
  line-height: 22px;
}

.UICBNavigation .UIHorizontalTabs .UITab .CBNormalTab .Icon {
  float: left;
  width: 16px; height: 16px;
  margin: 3px 5px 0px 2px;
}

.UICBNavigation .UIHorizontalTabs .UITab .CBNormalTab .LabelButton {
  line-height: 22px;
  font-weight: bold;
  vertical-align: middle;
  padding: 0px 5px ;
  color: black;
}

.UICBNavigation .UIHorizontalTabs .UITab .CBNormalTab .LabelButton a { 
	text-decoration: none;
  color: #333333;
}

.UICBNavigation .UIHorizontalTabs .UITab .CBNormalTab .LabelButton a:hover { 
	text-decoration: none;
	color: #ff9314;
}
/*###########################-- Selected Tabs --############################*/

.UICBNavigation .UIHorizontalTabs .UITab .CBSelectedTab {
	margin-top: 1px;
}

.UICBNavigation .UIHorizontalTabs .UITab .CBSelectedTab .LeftTab {
  padding-left: 4px ;
  background: url('DefaultSkin/background/LeftSelectedCBTab4x23.gif') no-repeat left;
}

.UICBNavigation .UIHorizontalTabs .UITab .CBSelectedTab .RightTab {
	line-height: 23px;
  padding-right: 4px ;
  background: url('DefaultSkin/background/RightSelectedCBTab4x23.gif') no-repeat right ;
}

.UICBNavigation .UIHorizontalTabs .UITab .CBSelectedTab .MiddleTab {
	line-height: 23px;
  background: url('DefaultSkin/background/CenterSelectedCBTab1x23.gif') repeat-x ;
}

.UICBNavigation .UIHorizontalTabs .UITab .CBSelectedTab .Icon {
  float: left;
  width: 16px; height: 16px;
  margin: 3px 0px 0px 2px;
}

.UICBNavigation .UIHorizontalTabs .UITab .CBSelectedTab .LabelButton {
	float: left;
  line-height: 23px;
  font-weight: bold;
  vertical-align: middle;
 	padding: 0px 5px;
}

.UICBNavigation .UIHorizontalTabs .UITab .CBSelectedTab .LabelButton a { 
	text-decoration: none;
  color: #058ee6;
}

.UICBNavigation .UIHorizontalTabs .UITab .CBSelectedTab .LabelButton a:hover { 
  color: #ff9314;
}

/*###########################-- End Selected Tabs --############################*/

.UICBNavigation .NavigationButtonContainer {
	float: right;
	padding: 3px 5px;
}

.UICBNavigation .NavigationButtonContainer .NavigationIcon {
	float: left;
	cursor: pointer;
}

.UICBNavigation .CBMiddleNavigation .UICBSubNavigation { 
	padding-left: 4px;
	height: 19px;
	line-height: 19px;
}

.UICBNavigation .UICBSubNavigation .ItemContainer { 
	float: left;
}

.UICBNavigation .UICBSubNavigation .ChildNodeItem { 
	float: left;
	height: 23px;
	lineheight: 23px;
	padding: 1px 5px 0px 5px;
}

.UICBNavigation .UICBSubNavigation .ChildNodeItem .ItemIcon {
  float:left;
  margin-top: 2px;
}

.UICBNavigation .UICBSubNavigation .ChildNodeItem a { 
	text-decoration: none;
	color: #515151; font-size: 10px; font-weight: bold;
}

.UICBNavigation .UICBSubNavigation .ChildNodeItem a:hover { 
	text-decoration: none;
	color: #058ee6;
}

.UICBNavigation .UICBSubNavigation .NodeLabel { 
	float: left;
	line-height: 22px;
	text-decoration: none;
}

.SeparatorLine { 
	float: left;
	background: url('VistaSkin/background/SeparatorLine2x1.png') repeat-y ;  
	margin: 0px 3px;
	height: 23px; width: 2px;
}

.UICBNavigation .UICBSubNavigation .RightIcon { 
	float: right;
	cursor: pointer;
	margin: 2px 3px 0px 0px;
}

/*###########################-- End UITabs --############################*/