/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */
 
/*############################## -- Begin UISideBar   -- ##############################*/

.UIJCRExplorerPortlet .UISideBar {
  padding-right: 4px;
  background: url('DefaultSkin/background/LineDecorator4x1.gif') repeat-y top right;
}


.UIJCRExplorerPortlet .UISideBar .UISideBarControl {
  height: 20px;
  background: url('DefaultSkin/background/SideBarControlBG1x20.gif') repeat-x center center;
}

.UIJCRExplorerPortlet .UISideBar .UISideBarControl .DropSelectButton {
  float: left;
  width: 36px;
}

.UIJCRExplorerPortlet .UISideBar .UISideBarControl .DropDownButton {
  cursor: pointer;
  width: 24px; height: 20px;
  background: url('DefaultSkin/background/DropDownButton24x20.gif') no-repeat center;
}

.UIJCRExplorerPortlet .UISideBar .UISideBarControl .ControlBody {
  line-height: 20px;
}

.UIJCRExplorerPortlet .UISideBar .UISideBarControl .Icon24x24 {
  float: left;
  margin: 0px 5px;
}

.UIJCRExplorerPortlet .UISideBar .UISideBarControl .Label {
  float: left;
  font-weight: bold;
  font-size: 11px;
}

.UIJCRExplorerPortlet .UISideBar .UISideBarControl .CloseButton {
  float: right;
  margin: 2px 7px 0px 7px;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UISideBar .UISelectContent {
  border: solid 1px gray;
  background-color: white;
  width: 140px;
  position: absolute;
  display: none;
}

.UIJCRExplorerPortlet .UISideBar .UISelectContent .SelectContentContainer {
  border: solid 1px #ffffff;
  background-color: #f4f4f4;
}

.UIJCRExplorerPortlet .UISideBar .UISelectContent .NormalItem {
  clear: both;
  line-height: 26px;
  cursor: pointer;
  margin-bottom: 2px;
}

.UIJCRExplorerPortlet .UISideBar .UISelectContent .SelectedItem {
  clear: both;
  line-height: 26px;
  cursor: pointer;
  margin-bottom: 2px;
  background: #d6ddef;
}

.UIJCRExplorerPortlet .UISideBar .UISelectContent .ItemIcon {
  float: left;
  margin: 3px 3px 0px 3px;
}

.UIJCRExplorerPortlet .UISideBar .UISelectContent .ItemLabel {
  font-size:11px;
}

.UIJCRExplorerPortlet .UISideBar .UISelectContent .SeparatorLine {
  margin: 0px auto 0px 4px;
  background: url('DefaultSkin/background/SidebarSeparatorLine.gif') repeat-x;
  height: 2px;
  width: 90%;
}

.UIJCRExplorerPortlet .UISideBar .UISideBarContainer {
  width: 100%;
}

.UIJCRExplorerPortlet .UISideBar .UIViewRelationList .FrameContent {
  padding: 5px 3px 5px 15px;
}

.UIJCRExplorerPortlet .UISideBar .UIViewRelationList .TitleLabel {
  padding: 5px 0px 5px 8px;
  font: normal bold 11px Verdana;
}

/*############################## -- UIViewRelationList   -- ##############################*/

.UIJCRExplorerPortlet .UISideBar .UIViewRelationList {
 width:auto;
}
.UIJCRExplorerPortlet .UISideBar .UIViewRelationList .RelationFrame {
  margin-top: 2px;
  border: solid 1px #bdbdbd;
}

.UIJCRExplorerPortlet .UISideBar .UIViewRelationList .RelationFrame .TitleLabel {
  height: 18px;
  padding: 2px 0px 0px 15px;
  font: normal bold 11px Verdana;
  background: url('/ecm/skin/images/article/EventFrameBG.gif') repeat-x;
}

.UIJCRExplorerPortlet .UISideBar .UIViewRelationList .RelationFrame .FrameContent {
  padding: 10px;
}

/*############################## -- End UISideBar   -- ##############################*/
/*############################## -- Begin UITreeExplorer   -- ##############################*/
.UIJCRExplorerPortlet .UITreeExplorer {
}

.UIJCRExplorerPortlet .UITreeExplorer .Icon16x16 {
  float: left;
  cursor: pointer;
  margin: 0px 3px;
}

.UIJCRExplorerPortlet .UITreeExplorer .HomeNode {
  line-height: 25px; vertical-align: middle;
  font-weight: bold;
  font-size: 11px;
}

.UIJCRExplorerPortlet .UITreeExplorer .NodeGroup {
  margin-left: 15px;
}

.UIJCRExplorerPortlet .UITreeExplorer .Node {
  clear: both; margin-bottom: 5px;
  line-height: 16px;
  font-size: 11px;
}

.UIJCRExplorerPortlet .UITreeExplorer .NodeLabel {
  color: black;
  line-height: 18px;
  padding-bottom: 5px;
}

.UIJCRExplorerPortlet .UITreeExplorer .ExpandIcon {
  float: left;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UITreeExplorer .CollapseIcon {
  float: left;
  width: 16px; height: 16px;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UITreeExplorer a {
  color: black;
	text-decoration: none;
	margin-left: 2px;
}

.UIJCRExplorerPortlet .UITreeExplorer a:hover {
  font-size: 11px;
  color: blue;
}
/*############################## -- End UITreeExplorer   -- ##############################*/

/*############################## -- UITreeNodePageIterator   -- ##############################*/

.UITreeNodePageIterator {
	padding: 0px 0px 0px 3px;
}

.UITreeNodePageIterator .NodePageIterator {
	float: left;
	background: #ededed;
	border-right: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
}

.UITreeNodePageIterator .Icon {
	float: left;
}

.UITreeNodePageIterator .DisablePage {
	filter:alpha(opacity=40); -moz-opacity:.40; opacity:.40;
	cursor: normal;
}

.UITreeNodePageIterator .Number {
	float: left;
}

.UITreeNodePageIterator .Number a {
	color: #2f7bc9;
	padding: 0px 4px;
}

.UITreeNodePageIterator .Number a.PageSelected {
	color: #fd2020;
}


