/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */
 
/*############################## -- Begin UIDrivesBrowser -- ##############################*/

.UIWindow .UIJCRExplorerPortlet .UIDrivesBrowser {
  overflow: auto;
  width: 100%;
  height: 330px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DrivesTitle {
  padding: 10px 0px 6px 0px ;
  text-align: center;
  color: #f9a606;
  font-weight: bold;
  font-size: 17px;
  font-family: arial;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .BrowserDecorator {
  margin: auto;
  width: 480px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .BrowserDecorator .DecoratorTopLeftCorner {
  height: 8px; line-height: 8px;
  background: url('DefaultSkin/background/GrayRoundedCornerLT8x8.gif') no-repeat left ;
  padding-left: 8px;
}


.UIJCRExplorerPortlet .UIDrivesBrowser .BrowserDecorator .DecoratorTopCenterCorner {
  background: url('DefaultSkin/background/GrayRoundedCornerTM1x8.gif') repeat-x ;
  height: 8px; line-height: 8px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .BrowserDecorator .DecoratorTopRightCorner {
  background: url('DefaultSkin/background/GrayRoundedCornerRT8x8.gif') no-repeat right ;
  padding-right: 8px;
  height: 8px; line-height: 8px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .BrowserDecorator .DecoratorMiddleRight{
  background: url('DefaultSkin/background/GrayRoundedCornerMR8x1.gif') repeat-y right ;
  padding-right: 8px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .BrowserDecorator .DecoratorMiddleLeft{
  background: url('DefaultSkin/background/GrayRoundedCornerML8x1.gif') repeat-y left ;
  padding-left: 8px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .BrowserDecorator .DecoratorMiddle {
  background: #efefef;
  padding: 5px 10px 5px 15px;
  height: 100%;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .BrowserDecorator .DecoratorBottomLeftCorner {
  height: 8px; line-height: 8px;
  background: url('DefaultSkin/background/GrayRoundedCornerLB8x8.gif') no-repeat left ;
  padding-left: 8px;
}


.UIJCRExplorerPortlet .UIDrivesBrowser .BrowserDecorator .DecoratorBottomCenterCorner {
  background: url('DefaultSkin/background/GrayRoundedCornerBM1x8.gif') repeat-x;
  height: 8px; line-height: 8px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .BrowserDecorator .DecoratorBottomRightCorner {
  height: 8px; line-height: 8px;
  background: url('DefaultSkin/background/GrayRoundedCornerRB8x8.gif') no-repeat right ;
  padding-right: 8px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DriveRow {
  padding-bottom: 10px;
  overflow: hidden;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .LeftCol {
  float: left;
  width: 210px;
  padding: 8px 0px 8px 0px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .RightCol {
  float: right;
  width: 210px;
  padding: 8px 0px 8px 0px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .Icon {
  cursor: pointer;
  margin: auto;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .TitleBar {
  height: 20px;
  width: 185px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .TitleBar a {
  color: #0442b6;
  text-decoration: none;
  font-weight: bold; font-size: 11px;
  text-align: center;
  float: right;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .TitleBar a:hover {
  color: orange;
  text-decoration: none;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .TitleBar .LeftBar {
  height: 20px;
  background: url('DefaultSkin/background/TitleBarL9x20.gif') no-repeat left;
  padding-left: 9px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .TitleBar .RightBar {
  height: 20px;
  background: url('DefaultSkin/background/TitleBarR9x20.gif') no-repeat right;
  padding-right: 9px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .TitleBar .MiddleBar {
  height: 20px; line-height: 19px; vertical-align: middle;
  background: url('DefaultSkin/background/TitleBarM1x20.gif') repeat-x ;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .TitleBar .TitleBarLabel {
  
}

/*############################## -- Begin Icon51x51-- ######################*/
.UIJCRExplorerPortlet .UIDrivesBrowser .AdminproductionIcon {
  width: 48px;
  height: 44px;
  background: url('DefaultSkin/background/AdminProduction.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .AdmindraftIcon {
  width: 48px;
  height: 44px;
  background: url('DefaultSkin/background/AdminDraft.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .AdminbackupIcon {
  width: 48px;
  height: 44px;
  background: url('DefaultSkin/background/AdminBackup.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .AdmintaxonomyIcon {
  width: 48px;
  height: 44px;
  background: url('DefaultSkin/background/AdminTaxonomy.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .Admindigital-assetsIcon {
  width: 48px;
  height: 44px;
  background: url('DefaultSkin/background/AdminDigitalAssets.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UserproductionIcon {
  width: 48px;
  height: 44px;
  background: url('DefaultSkin/background/UserProduction.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UserdraftIcon {
  width: 48px;
  height: 44px;
  background: url('DefaultSkin/background/UserDraft.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UserbackupIcon {
  width: 48px;
  height: 44px;
  background: url('DefaultSkin/background/UserBackup.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UsertaxonomyIcon {
  width: 48px;
  height: 44px;
  background: url('DefaultSkin/background/UserTaxonomy.gif') no-repeat;
}
/*############################## -- End UIDrivesBrowser -- ##############################*/