/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */
 
/*############################## -- Begin UIDrivesBrowser -- ##############################*/

.UIWindow .UIJCRExplorerPortlet .UIDrivesBrowser {
  overflow: auto;
  padding: 10px;
}

.UIWindow .UIJCRExplorerPortlet .UIRepository {
  float: left;
  width: 230px;
  border: solid 1px #d9d9d9;
}

.UIWindow .UIJCRExplorerPortlet .UIRepository .RepositoryContainer {
  border: solid 1px #f3f3f3;
}

.UIWindow .UIJCRExplorerPortlet .UIRepository .RepositoryTitle {
  background: url('DefaultSkin/background/RepositoryTitle228x23.gif') no-repeat center center;
  height: 23px;
  line-height: 23px;
  color: white;
  font-weight: bold;
  padding-left: 10px;
  font-size: 14px;
  font-family: Arial;
}

.UIWindow .UIJCRExplorerPortlet .UIRepository .RepositoryList {
  width: 222px;
  border: solid 1px #e3e3e3;
  margin: 3px auto 1px auto;
  padding: 1px 1px 125px 1px;
  background: #f5f5f5 url('DefaultSkin/background/BottomRepositoryList1x10.gif') repeat-x bottom;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DrivesTitle {
  padding: 10px 0px 6px 0px ;
  text-align: center;
  color: #f9a606;
  font-weight: bold;
  font-size: 17px;
  font-family: arial;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UIDrivesList  {
  margin: 0px 0px 0px 240px; 
  border: 1px solid #d9d9d9; 
  padding: 1px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DrivesListTitle {
  background: #d3e3f1 url('DefaultSkin/background/DrivesTitle338x23.gif') no-repeat left;
  height: 23px;
  line-height: 23px;
  color: white;
  font-weight: bold;
  padding-left: 10px;
  font-size: 14px;
  font-family: Arial;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DrivesListContainer {
  border: 1px solid #d9d9d9; 
  background: #f3f3f3;
  margin: 3px 1px 1px 1px;
  padding:5px 0px 5px 10px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .Drive {
  float: left;
  border: solid 1px #ffffff;
  margin: 7px 10px 8px 5px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DriveContainer {
  float: left;
  width: 194px;
  border: solid 1px #d1d1d1;
  background: white;
  padding: 10px 0px 5px 0px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DecoratorMiddle {
}

.UIJCRExplorerPortlet .UIDrivesBrowser .Icon {
  cursor: pointer;
  width: 48px; height: 41px;
  margin: 2px auto;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DriveLabel {
  height: 20px;
  line-height: 20px;
  margin: auto;
  text-align: center;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DriveLabel a {
  color: #116eaa;
  text-decoration: none;
  font-weight: bold; font-size: 11px;
  padding-top: 8px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DriveLabel a:hover {
  color: orange;
  text-decoration: none;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .AdminproductionIcon {
  background: url('DefaultSkin/background/AdminProduction.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .AdmindraftIcon {
  background: url('DefaultSkin/background/AdminDraft.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .AdminbackupIcon {
  background: url('DefaultSkin/background/AdminBackup.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .AdmintaxonomyIcon {
  background: url('DefaultSkin/background/AdminTaxonomy.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .Admindigital-assetsIcon {
  background: url('DefaultSkin/background/AdminDigitalAssets.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UserproductionIcon {
  background: url('DefaultSkin/background/UserProduction.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UserdraftIcon {
  background: url('DefaultSkin/background/UserDraft.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UserbackupIcon {
  background: url('DefaultSkin/background/UserBackup.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UsertaxonomyIcon {
  background: url('DefaultSkin/background/UserTaxonomy.gif') no-repeat;
}
/*############################## -- End UIDrivesBrowser -- ##############################*/