/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */
 
/*############################## -- Begin UIDrivesBrowser -- ##############################*/

.UIWindow .UIJCRExplorerPortlet .UIDrivesBrowser {
  overflow: auto;
  padding: 10px;
}

.UIWindow .UIJCRExplorerPortlet .UIRepository {
  float: left;
  width: 234px;
  border: solid 1px #d7d7d7;
}

.UIWindow .UIJCRExplorerPortlet .UIRepository .RepositoryContainer {
  border: solid 1px #ffffff;
  background: url('MacSkin/background/BGRepositoryList1x3.gif') repeat;
  width: 232px;
}

.UIWindow .UIJCRExplorerPortlet .UIRepository .RepositoryTitle {
  background: url('MacSkin/background/RepositoryTitle232x31.gif') no-repeat ;
  height: 31px;
  line-height: 31px;
  color: #333333;
  font-weight: bold;
  padding-left: 10px;
  font-size: 12px;
}

.UIWindow .UIJCRExplorerPortlet .UIRepository .RepositoryList {
  width: 230px;
  margin: 3px auto 1px auto;
}

.UIWindow .UIJCRExplorerPortlet .UIRepository .RepositoryList .RepositoryDecorater {
  background:  url('MacSkin/background/BottomRepositoryList232x30.gif') no-repeat ;
  height: 30px;
  line-height: 30px;
  margin: 70px 0px 1px 0px;
}

.UIWindow .UIJCRExplorerPortlet .UIRepository .RepositoryList .UIVerticalSlideTabs {
  padding: 5px 7px 0px 7px;
  margin: 0px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DrivesTitle {
  padding: 10px 0px 6px 0px ;
  text-align: center;
  color: #f9a606;
  font-size: 12px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UIDrivesList  {
  margin: 0px 0px 0px 245px; 
  padding: 1px;
  border: solid 1px #dfdfdf;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UIDrivesList .EmptyDrives {
  float: left;
  width: 95%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  padding: 8px 0px;
  color: #ef5604;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DrivesListTitle {
  background: #c8e0f2 url('MacSkin/background/DrivesListTitle195x28.gif') no-repeat left center;
  height: 28px;
  line-height: 28px;
  color: #333333;
  font-weight: bold;
  padding-left: 10px;
  font-size: 12px;
  white-space: nowrap;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DrivesListContainer {
  background: #f3f3f3;
  margin: 3px 1px 1px 1px;
  padding: 5px 0px 5px 10px;
  background: url('MacSkin/background/BGRepositoryList1x3.gif') repeat;
}


.UIJCRExplorerPortlet .UIDrivesBrowser .DrivesListContainer {
  border: 1px solid #d9d9d9; 
  background: #f3f3f3;
  margin: 3px 1px 1px 1px;
  padding:7px 0px 5px 10px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .Drive {
  float: left;
  border: solid 1px #ffffff;
  margin: 6px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DriveContainer {
  float: left;
  width: 95px; height: 85px;
  border: solid 1px #d1d1d1;
  background: white;
  padding: 8px 0px 5px 0px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .Icon {
  cursor: pointer;
  width: 58px; height: 50px;
  margin: 2px auto;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DriveLabel {
  line-height: 14px;
  text-align: center;
  width: 80px;
  margin: 3px auto 0px auto;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DriveLabel a {
  color: #116eaa;
  text-decoration: none;
  font-size: 11px;
  padding-top: 8px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DriveLabel a:hover {
  color: orange;
  text-decoration: none;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DefaultDriveIcon {
  background: url('MacSkin/background/MacDefaultDrive.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .AdminproductionIcon {
  background: url('MacSkin/background/AdminProduction.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .AdmindraftIcon {
  background: url('MacSkin/background/AdminDraft.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .AdminbackupIcon {
  background: url('MacSkin/background/AdminBackup.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .AdmintaxonomyIcon {
  background: url('MacSkin/background/AdminTaxonomy.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .Admindigital-assetsIcon {
  background: url('MacSkin/background/AdminDigitalAssets.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UserproductionIcon {
  background: url('MacSkin/background/UserProduction.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UserdraftIcon {
  background: url('MacSkin/background/UserDraft.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UserbackupIcon {
  background: url('MacSkin/background/UserBackup.gif') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UsertaxonomyIcon {
  background: url('DefaultSkin/background/UserTaxonomy.gif') no-repeat;
}

/*############################## -- End UIDrivesBrowser -- ##############################*/

