/**
 * Created by The eXo Platform SARL
 * Modifile : Luong Trung Hieu
 *           hieu2b1@yahoo.com
 * May 10, 2007
 * version: $Id$
 */
 
 
.UIWindow .UIJCRExplorerPortlet .UIDrivesBrowser {
  padding: 15px;
}

.UIWindow .UIJCRExplorerPortlet .UIRepository {
  float: left;
  width: 217px;
  border: solid 1px #b7b7b7;
}

.UIWindow .UIJCRExplorerPortlet .UIRepository .RepositoryTitle {
  background: url('VistaSkin/background/RepositoryTitle217x26.gif') no-repeat center center;
  height: 26px;
  line-height: 26px;
  font-weight: bold;
  padding-left: 10px;
  font-family: Verdana;
  font-size:11px;
}

.UIWindow .UIJCRExplorerPortlet .UIRepository .RepositoryList {
  margin: 10px auto 1px auto;
}

.UIWindow .UIJCRExplorerPortlet .UIRepository .RepositoryList .RepositoryDecorater {
  background: #f5f5f5 url('VistaSkin/background/ItemListBg1x13.png') repeat-x ;
  height: 13px;
  line-height: 13px;
  margin: 80px 0px 1px 0px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DrivesTitle {
  padding: 10px 0px 6px 0px ;
  text-align: center;
  color: #f9a606;
  font-weight: bold;
  font-size: 17px;
  font-family: arial;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UIDrivesList  {
  margin: 0px 0px 0px 230px; 
  border: 1px solid #b7b7b7; 
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DrivesListTitleBG {
  background: url('VistaSkin/background/DrivesListTitleBG1x26.gif') repeat-x ;
  height: 26px;
  line-height: 26px;
	width: auto;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DrivesListTitleBGRight {
  background: url('VistaSkin/background/DrivesListTitleBGRight31x26.gif') no-repeat right;
  height: 26px;
  line-height: 26px;
  padding-right: 31px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DrivesListTitle {
  background: url('VistaSkin/background/DrivesListTitle161x26.gif') no-repeat left;
  height: 26px;
  line-height: 26px;
  font-weight: bold;
  padding-left: 10px;
  font-family: Verdana;
  font-size:11px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DrivesListContainer {
  margin: 3px 1px 1px 1px;
  padding: 5px 0px 5px 10px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .Drive {
  float: left;
  margin: 7px ;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DecoratorMiddle {
	background: white;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DriveContainer {
  float: left;
  width: 115px; height:83px;
  border: solid 1px #e4e4e4;
  background: white url('VistaSkin/background/DriverContainerBG1x20.gif') repeat-x bottom;
  padding: 10px 5px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DecoratorMiddle {
}

.UIJCRExplorerPortlet .UIDrivesBrowser .Icon {
  cursor: pointer;
  width: 65px; height: 48px;
  margin: 2px auto;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DriveLabel {
  height: 20px;
  margin: auto;
  text-align: center;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DriveLabel a {
  color: #116eaa;
  text-decoration: none;
  font-weight: bold; font-size: 11px;
  padding-top: 8px;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .DriveLabel a:hover {
  color: orange;
  text-decoration: none;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .AdminproductionIcon {
  background: url('VistaSkin/background/AdminProduction.png') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .AdmindraftIcon {
  background: url('VistaSkin/background/AdminDraft.png') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .AdminbackupIcon {
  background: url('VistaSkin/background/AdminBackup.png') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .AdmintaxonomyIcon {
  background: url('VistaSkin/background/AdminProduction.png') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .Admindigital-assetsIcon {
  background: url('VistaSkin/background/AdminDigitalAssets.png') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UserproductionIcon {
  background: url('VistaSkin/background/AdminProduction.png') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UserdraftIcon {
  background: url('VistaSkin/background/AdminProduction.png') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UserbackupIcon {
  background: url('VistatSkin/background/AdminProduction.png') no-repeat;
}

.UIJCRExplorerPortlet .UIDrivesBrowser .UsertaxonomyIcon {
  background: url('DefaultSkin/background/UserTaxonomy.gif') no-repeat;
}

/*############################## -- End UIDrivesBrowser -- ##############################*/