/**
  RTL skin for exo:podcast template
*/
.PostCast {
  padding: 8px;
}

.ContentPodcast {
	border-bottom: 1px solid #bdbdbd; 
	height: 25px;
	line-height: 25px;
	
}

.PostCast .TitleBG span.text { 
	line-height: 20px;
	padding-right: 5px;
}

.ContentPodcast .text  { 
	vertical-align:bottom; 
	text-align: right;
	font-weight: bold;
}
.ContentPodcast .TextDetail{
	text-align: right;
	vertical-align:bottom;
}

.ContentPodcast .text span  { 
	font-weight: normal;
}

.PostCast .summary { 
	height: 160px ; 
	padding: 5px 10px 5px 5px;
	font-weight: normal;
	overflow: auto;
} 

.PostCast .content { 
	font-size: 11px; 
	padding: 5px; 
	overflow: auto;
}
/**
  Stylesheet for comment component
*/
.Comments {
	padding: 10px;
}

.Comments .CommentBar .LeftCommentBar {
	height: 54px;
	padding-right: 5px;
	background: url('/eXoDMSResources/skin/images/article/CommentBar.gif') no-repeat right top;
}

.Comments .CommentBar .RightCommentBar {
	padding-right: 5px;
	height: 54px;    	
	background: url('/eXoDMSResources/skin/images/article/CommentBar.gif') no-repeat left top;
}

.Comments .CommentBar .MiddleCommentBar {    	
	height: 54px;
	background: url('/eXoDMSResources/skin/images/article/CommentBar.gif') repeat-x left -54px ;
	padding: 0px 3px;
}

.Comments .CommentBar .MiddleCommentBar .LabelPostedComment {    	
	font: italic normal 12px Arial; 
	padding: 8px 3px 3px 3px; 
}

.Comments .CommentBar .MiddleCommentBar .ShowComment {    	
	color: #0489d5; 
	font: normal bold 11px verdana;
	padding-top: 3px;
}

.Comments .CommentBar .MiddleCommentBar .ShowComment a {    	
	color: #0489d5; 
	text-decoration: underline;
	cursor: pointer;
}

.Comments .CommentBar .MiddleCommentBar .ShowComment a:hover {    	
	color: orange; 
	text-decoration: none;
	cursor: pointer;
}

.Comments .CommentInfo {
	font-style: italic;  
	margin: 15px 5px 5px 5px;
}

 .Comments .CommentInfo a {
	color: #0489D5;   	
	font-weight: bold; font-style:normal ;
	cursor:pointer;
	padding-right: 5px;
}

.Comments .CommentInfo a:hover {     	
	color: blue;
	text-decoration:underline;
	padding-right: 5px;
}

.Comments .CommentBox {
	margin-right: auto;
}

.Comments .CommentBox .CommentBoxTopLeft {
	height: 12px;
	padding-right: 27px;
	background: url('/eXoDMSResources/skin/images/article/CommentBox.gif') no-repeat right top;
}

.Comments .CommentBox .CommentBoxTopRight {
	height: 12px;
	padding-left: 3px;
	background: url('/eXoDMSResources/skin/images/article/CommentBox.gif') no-repeat left -30px;
}

.Comments .CommentBox .CommentBoxTopCenter {
	height: 12px;
	background: url('/eXoDMSResources/skin/images/article/CommentBox.gif') repeat-x left -12px;
}

.Comments .CommentBox .CommentBoxMiddleLeft {
	padding-left: 3px;
	background: url('/eXoDMSResources/skin/images/article/MiddleCommentBox.gif') repeat-y right top;
}

.Comments .CommentBox .CommentBoxMiddleRight {
	padding-right:3px;
  background: url('/eXoDMSResources/skin/images/article/MiddleCommentBox.gif') repeat-y left top;
}

.Comments .CommentBox .CommentBoxCenterBG {
	padding: 8px; 
	background: white;
}

.Comments .CommentBox .CommentBoxBottomLeft {
	height: 3px;
	padding-right: 3px;
	background: url('/eXoDMSResources/skin/images/article/CommentBox.gif') no-repeat right -24px;
}

.Comments .CommentBox .CommentBoxBottomRight {
	height: 3px;
	padding-left: 3px;
	background: url('/eXoDMSResources/skin/images/article/CommentBox.gif') no-repeat left -24px;
}

.Comments .CommentBox .CommentBoxBottomCenter {    	
	height: 3px;
	background: url('/eXoDMSResources/skin/images/article/CommentBox.gif') repeat-x left -27px;
}

.Comments p a {
	color: #058EE6;
	text-decoration: underline;
}

.CommentInfo .EditComment {
	background: url('/ecm/skin/icons/16x16/DefaultSkin/EditDocument.gif') no-repeat right top;
	margin: auto;
	padding: 2px;
	height: 16px;
	cursor: pointer;
}

.CommentInfo .RemoveAttachments {
	background: url('/eXoDMSResources/skin/images/article/DustBin.gif') no-repeat right top;
	margin: auto;
	padding: 2px;
	height: 16px;
	cursor: pointer;
}

/**
  Stylesheet for vote component
*/
.UIVote {
	padding: 5px 2px 2px 2px;
}

.UIVote .VoteResultContainer {
	margin-left: auto;
	padding-left: 8px;
	width: 370px;
	height: 26px;
}

.UIVote .LeftVoteBar {
	background: url('/eXoDMSResources/skin/images/vote/ImageVote.gif') no-repeat left -32px;
	padding-left: 5px;
	height: 26px;
}

.UIVote .RightVoteBar {
	background: url('/eXoDMSResources/skin/images/vote/ImageVote.gif') no-repeat right -32px;
	padding-right: 5px;
	height: 26px;
}

.UIVote .CenterVoteBar {
	height: 26px; 
	line-height: 26px;
	background: url('/eXoDMSResources/skin/images/vote/ImageVote.gif') repeat-x left -58px;
}

 .UIVote .VoteResultContainer .RatingInfoContainer {
	float: left;
}

.UIVote .VoteResultContainer .AvgRatingImages {
	width: 100px; 
	overflow: hidden;
	margin-right: 15px;
}

.UIVote .AvgRatingImages .Voted {
	float: right;
	width: 16px;
	height: 16px;
	background: url('/eXoDMSResources/skin/images/vote/ImageVote.gif') no-repeat right top;
	margin: 5px 1px;
}

.UIVote .AvgRatingImages .Unvoted {
	float: right;
	width: 16px;
	height: 16px;
	background: url('/eXoDMSResources/skin/images/vote/ImageVote.gif') no-repeat right -16px;
	margin: 5px 1px;
}

.UIVote .VoteRatingInfo {
	font: normal normal 11px verdana;
	float: right;
	vertical-align: middle;
	padding: 0px 5px;
	margin-top: 5px;
}

.UIVote .VoteRatingInfo .VoteRatingLabel {
	margin: 0px 5px;
	float: right;
}

.UIVote .VoteRatingInfo .VotedInfo {
	color: #058ee6;
	float: right;
}