/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

.UIPageBody .UIJCRExplorerPortlet {
  border: none;
  background: url('VistaSkin/background/ECMAdminbottom1x30.gif') repeat-x left bottom;
  background-color: white;
}

/*############################## -- Begin UIViewBar -- ##############################*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIViewBar {
  height: 30px;
  border-bottom: solid 1px #c5c9d2;
  line-height: 30px;
  font-size:11px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIViewBar .SelectViewLabel {
  float: left;
  line-height: 28px; font-weight: bold;
  padding-left: 23px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIViewBar .SelectViewBox {
  float: left;
  height: 28px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIViewBar .SelectBox {
  float: left;
  padding: 3px 15px 3px 25px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIViewBar .IconFrame {
  float: right;
  padding: 0px 10px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIViewBar .IconFrame .WorkspaceName {
	float: left;
	padding: 0px 5px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIViewBar .ViewBarSeparator {
  float: left;
  height: 29px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIViewBar .IconFrame .Icon {
  float: left;
  margin: 2px 6px;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIViewBar .BackToMainDriveButton {
	width: 32px;	height: 26px;
  background: url('VistaSkin/background/BackToMainDriveButton.png') no-repeat center ;
}

.UIJCRExplorerPortlet .UIViewBar .SetupPreferencesButton {
  width: 32px;	height: 28px;
  background: url('VistaSkin/background/SetupPreferencesButton.png') no-repeat bottom;
}

.UIJCRExplorerPortlet .UIViewBar .RefreshSessionButton  {
  width: 30px;	height: 26px;
  background: url('VistaSkin/background/RefreshSessionButton.png') no-repeat bottom;
}

/*############################## -- End UIViewBar -- ##############################*/
/*############################## -- Begin UIViewBar -- ##############################*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar {
  height: 31px;
  background: url('VistaSkin/background/LineDecorator1x31.gif') repeat-x center center;
  border-top: solid 1px #fdfdfd; border-bottom: solid 1px #b7b7b7;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .AddressBarSeparator {
  float: left;
  height: 27px;
  padding: 2px 6px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .BlockLeft {
  float: left;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .AddressLabel {
  float: left;
  line-height: 30px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .BlockRight {
  float: right;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .BackButton {
  float: left;
  margin: 3px 3px;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .GoButton {
  float: left;
  margin: 8px 3px 0px 3px;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .GoText {
  float: left;
  height: 16px;
  margin-top: 8px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .BlockMiddle {
  height: 21px; line-height: 21px;
  background: white;
  border: solid 1px #aaaaaa;
  margin: 4px 58px 0px 100px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .HardDisk {
  float: left;
  width: 21px; height: 11px;
  background: url('VistaSkin/background/HardDisk21x11.png') repeat-x center center;
  margin: 4px 0px 0px 2px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .InputContainer {
  margin: 0px 25px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar input {
  float: left;
  width: 100%;
  border: solid 1px white;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .DropDownButtonBox {
  float: right;
  width: 18px;  height: 18px;
  background-color: white;
  border: solid 1px white;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .DropDownButton {
  cursor: pointer;
  margin: auto;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .UISelectContent {
  width: 100%; height: 150px;
  background: white;
  border: solid 1px #716f64; border-top:none;
  position: absolute;
  overflow: auto;
  display: none;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .UISelectContent .AddressItem {
  line-height: 18px;
  margin: 2px;
  cursor: pointer;
}
.UIJCRExplorerPortlet .UIJCRExplorer .UIAddressBar .UISelectContent .SelectedAddressItem {
  background-color: #316ac5;
  line-height: 18px;
  color: white;
  margin: 2px;
  cursor: pointer;
}

/*############################## -- End UIAddressBar -- ##############################*/
/*############################## -- Begin UIActionBar -- ##############################*/

.UIJCRExplorerPortlet .UIJCRExplorer .UIFormGrid input.checkbox {
  border: none;
  margin: 3px 0px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar {
  height: 32px;
  background: url('VistaSkin/background/LineDecorator1x32.png') repeat-x center center;
  border-top: solid 1px #fdfdfd; border-bottom: solid 1px #b7b7b7;  
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .ActionLabel {
  float: left;
  width: 76px;
  line-height: 32px; text-align: center;
  color: #2e61b6;
}
.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .ActionBarSeparator {
  float: left;
  height: 32px;
  padding: 0px 6px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .ActionComboBox {
  float: left;
  padding: 6px 2px 0px 2px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .ActionComboBox select{
  width: 107px; height: 19px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .ActionIconContainer {
  margin-left: 230px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .ActionBg {
  float: left;
  margin: 1px 5px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .ActionBg .Icon {
	width: 28px;
	height: 28px;
	background-position: center;
  margin: 0px 0px 0px 2px;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .SwitchSearch {
  float: left;
  cursor: pointer;
  margin: 2px 0px 0px 5px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .SearchIcon {
  float: left;
  margin-left: 5px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UISimpleSearch {
  padding: 4px 5px 0px 0px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UISimpleSearch  .SeparatorLine{
  float: left;
  height: 22px;
  padding: 0px 10px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UISimpleSearch input {
  float: left;
  width: 270px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UIAdvanceSearch select {
  float: left;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UIAdvanceSearch {
  padding: 4px 5px 0px 0px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UIAdvanceSearch .AdvanceSearchContainer {
  float: left;
  width: 300px; height: 20px;
  margin-left: 5px;
  background: white;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UIAdvanceSearch input {
  width: 270px;
  border: solid 1px white;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UIAdvanceSearch .DropDownButtonBox {
  float: right;
  width: 18px;  height: 18px;
  background-color: white;
  border: solid 1px white;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UIAdvanceSearch .DropDownButton {
  cursor: pointer;
  margin: auto;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UIAdvanceSearch .UISelectContent {
  height: 100px;
  background: white;
  border: solid 1px #716f64;
  overflow: auto;
  position: absolute;
  display: none;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIActionBar .UIAdvanceSearch .UISelectContent .Item {
  white-space: nowrap;
  cursor: pointer;
  margin: 2px 0px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIFormGrid .FieldLabel {
  width: 130px;
  line-height: 20px;
}