/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */
 
/*############################## -- Begin UISideBar   -- ##############################*/
.UIJCRExplorerPortlet .UISideBar {
	padding-right: 4px; /* orientation=lt */
	padding-left: 4px; /* orientation=rt */
  background: url('DefaultSkin/background/LineDecorator4x1.gif') repeat-y top right; /* orientation=lt */
  background: url('DefaultSkin/background/LineDecorator4x1-rt.gif') repeat-y top left; /* orientation=rt */
}

.UIJCRExplorerPortlet .UISideBar .UISideBarControl {
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #bec1c7;
  height: 24px;
  background: url('VistaSkin/background/LineDecorator1x24.gif') repeat-x center center;
}

.UIJCRExplorerPortlet .UISideBar .UISideBarControl .DropSelectButton {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 36px;
}

.UIJCRExplorerPortlet .UISideBar .UISideBarControl .DropDownButton {
  cursor: pointer;
  width: 24px; height: 24px;
  background: url('VistaSkin/background/DropDownButton24x24.png') no-repeat center;
}

.UIJCRExplorerPortlet .UISideBar .UISideBarControl .SideBarSeparator {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  height: 23px;
  padding: 0px 8px;
}

.UIJCRExplorerPortlet .UISideBar .UISideBarControl .ControlBody {
  line-height: 22px;
}

.UIJCRExplorerPortlet .UISideBar .UISideBarControl .Icon24x24 {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin: 0px 5px;
}

.UIJCRExplorerPortlet .UISideBar .UISideBarControl .Label {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  font-weight: bold;
  padding-left: 5px; /* orientation=lt */
  padding-right: 5px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UISideBar .UISideBarControl .CloseButton {
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */
  margin: 4px;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UISideBar .UISelectContent {
  border: solid 1px #e4e4e4;
  background-color: white;
  width: 140px;
  position: absolute;
  display: none;
}

.UIJCRExplorerPortlet .UISideBar .UISelectContent .SelectContentContainer {
  background: url('VistaSkin/background/SelectContentContainerBG1x20.png') repeat-x bottom;
}

.UIJCRExplorerPortlet .UISideBar .UISelectContent .NormalItem {
  clear: both;
  line-height: 30px;
  cursor: pointer;
  margin-bottom: 2px;
}

.UIJCRExplorerPortlet .UISideBar .UISelectContent .SelectedItem {
  clear: both;
  line-height: 30px;
  cursor: pointer;
  margin-bottom: 2px;
  background: #d6ddef;
}

.UIJCRExplorerPortlet .UISideBar .UISelectContent .ItemIcon {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin: 5px 3px 3px 3px;
}

.UIJCRExplorerPortlet .UISideBar .UISelectContent .ItemLabel {
  font-size:11px;
}

.UIJCRExplorerPortlet .UISideBar .UISelectContent .SeparatorLine {
  margin: 5px;
  background: #dadada;
  height: 1px;
}

.UIJCRExplorerPortlet .UISideBar .UISideBarContainer {
  width: 100%;
  height: 475px;
  overflow: auto;
  /*
  * minh.js.exo
  */
}

/*############################## -- UIViewRelationList   -- ##############################*/
.UIJCRExplorerPortlet .UISideBar .UIViewRelationList {
	width: auto;
}
.UIJCRExplorerPortlet .UISideBar .UIViewRelationList .RelationFrame {
  margin-top: 2px;
  border: solid 1px #bdbdbd;
}

.UIJCRExplorerPortlet .UISideBar .UIViewRelationList .TitleLabel {
  height: 18px;
  padding: 2px 0px 0px 10px; /* orientation=lt */
  padding: 2px 10px 0px 0px; /* orientation=rt */
  font: normal bold 11px Verdana;
  background: url('/ecm/skin/images/article/EventFrameBG.gif') repeat-x;
}

.UIJCRExplorerPortlet .UISideBar .UIViewRelationList .FrameContent {
  padding: 8px 0px 0px 15px; /* orientation=lt */
  padding: 8px 15px 0px 0px; /* orientation=rt */
}

/*############################## -- End UISideBar   -- ##############################*/
/*############################## -- Begin UITreeExplorer   -- ##############################*/
.UIJCRExplorerPortlet .UITreeExplorer {
}

.UIJCRExplorerPortlet .UITreeExplorer .Icon16x16 {
  float: none;
  cursor: pointer;
  height: 24px; width: auto;
  background-position: left center; /* orientation=lt */
  background-position: right center; /* orientation=rt */
  padding-left: 24px; /* orientation=lt */
  padding-right: 24px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UITreeExplorer .Icon24x24 {
  margin: 3px 5px 0px 0px; /* orientation=lt */
  margin: 3px 0px 0px 5px; /* orientation=rt */
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  cursor: pointer;
}

.UIJCRExplorerPortlet .UITreeExplorer .NodeGroup {
  margin-left: 15px; /* orientation=lt */
  margin-right: 15px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UITreeExplorer .HomeNode .HardDisk24x24Icon {
	width: 27px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIJCRExplorerPortlet .UITreeExplorer .HomeNode .NodeLabel {
	line-height: 25px;
}

.UIJCRExplorerPortlet .UITreeExplorer .HomeNode {
  line-height: 25px;
  font-weight: bold;
  padding-left: 10px; /* orientation=lt */
  padding-right: 10px; /* orientation=rt */
}

.UIJCRExplorerPortlet .UITreeExplorer .Node {
  clear: both;
  line-height: 30px;
  background: url('DefaultSkin/background/Dotted.gif') repeat-y left ; /* orientation=lt */
  background: url('DefaultSkin/background/Dotted-rt.gif') repeat-y right ; /* orientation=rt */
  padding: 2px 0px;
}

.UIJCRExplorerPortlet .UITreeExplorer .LastNode {
  background: url('DefaultSkin/background/Dotted.gif') no-repeat left 1px ; /* orientation=lt */
  background: url('DefaultSkin/background/Dotted-rt.gif') no-repeat right 1px ; /* orientation=rt */
}

.UIJCRExplorerPortlet .UITreeExplorer .NodeGroup .PageIterator {
	padding: 0px;
}

.UIJCRExplorerPortlet .UITreeExplorer .NoneIcon {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 16px;
  height: 16px;  
}

.UIJCRExplorerPortlet .UITreeExplorer .ExpandIcon {
  float: none;
  cursor: pointer;
  padding-left: 18px; /* orientation=lt */
  padding-right: 18px; /* orientation=rt */
  background-position: left center; /* orientation=lt */
  background-position: right center; /* orientation=rt */
  width: auto; height: auto;
}

.UIJCRExplorerPortlet .UITreeExplorer .CollapseIcon {
  float: none;
  cursor: pointer;
  padding-left: 18px; /* orientation=lt */
  padding-right: 18px; /* orientation=rt */
  background-position: left center; /* orientation=lt */
  background-position: right center; /* orientation=rt */
  width: auto; height: auto;
}

.UIJCRExplorerPortlet .UITreeExplorer a:hover {
  color: #2e61b6;
}
/*############################## -- End UITreeExplorer   -- ##############################*/

/*############################## -- UITreeNodePageIterator   -- ##############################*/

.UITreeNodePageIterator {
	margin: 0px 0px 0px 9px; /* orientation=lt */
	margin: 0px 9px 0px 0px; /* orientation=rt */
	padding: 9px 0px 0px 0px;
}

.UITreeNodePageIterator .NodePageIterator {
	background: #ededed;
	border-right: 1px solid #d7d7d7; /* orientation=lt */
	border-left: 1px solid #d7d7d7; /* orientation=rt */
	border-bottom: 1px solid #d7d7d7;
	padding-left: 1px; /* orientation=lt */
	padding-right: 1px; /* orientation=rt */
	width: auto;
}

.UITreeNodePageIterator .DisablePage {
	filter:alpha(opacity=40); -moz-opacity:.40; opacity:.40;
	cursor: normal;
}

.UITreeNodePageIterator .Icon {
	margin: 0px 4px;
	padding: 0px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UITreeNodePageIterator a {
	color: #2f7bc9;
	padding: 0px 3px;
	display: block;
	line-height: 18px;
}

.UITreeNodePageIterator a.PageSelected {
	color: #fd2020;
}