/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

/*############################## -- Begin UIFormWithTitle -- ##############################*/
.UIJCRExplorerPortlet .UIFormWithTitle .FieldContainer .UIFormInputSet {
  background: none ;
  border: none ;
}
/*############################## -- End UIFormWithTitle -- ##############################*/

/*############################## -- Begin UIVersionInfo -- ##############################*/

.UIJCRExplorerPortlet .UIVersionInfo  {  
  padding: 10px;
}

.UIJCRExplorerPortlet .UIVersionInfo .FormContainer .UIFormGrid {
  width: 500px;
  margin: auto;
}

.UIJCRExplorerPortlet .UIVersionInfo .UILabelForm .HorizontalLayout {
  padding: 1px;
}

.UIJCRExplorerPortlet .UIVersionInfo .UILabelForm .HorizontalLayout .FormContainer {
  border: none;
}

.UIJCRExplorerPortlet .UIVersionInfo .UIRemoveLabelForm .HorizontalLayout {
  padding: 1px;
}

.UIJCRExplorerPortlet .UIVersionInfo .UIRemoveLabelForm .HorizontalLayout .FormContainer {
  border: none;
}

.UIJCRExplorerPortlet .UIVersionInfo .Icon16x16 {
  margin: 7px 5px 0px 5px;
  float: left;
  width: 16px; height: 16px;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIVersionInfo .Icon24x24 {
  margin: 2px 3px 2px 0px;
  float: left;
  width: 24px; height: 24px;
}

.UIJCRExplorerPortlet .UIVersionInfo .HomeNode {
  padding: 0px 10px;
  line-height: 30px;
  background-color: #eaedf6;
  margin-bottom: 1px;
  font-weight: bold;
}

.UIJCRExplorerPortlet .UIVersionInfo .Node {
  height: 30px;
  line-height: 30px;
  background-color: #eaedf6;
  margin-bottom: 1px;
}

.UIJCRExplorerPortlet .UIVersionInfo .NodeEven {
  line-height: 30px;
  background-color: #e4e7f3;
  margin-bottom: 1px;
}

.UIJCRExplorerPortlet .UIVersionInfo .NoneIcon {
  margin: 7px 0px;
  float: left;
  width: 16px; height: 16px;  
}

.UIJCRExplorerPortlet .UIVersionInfo .ExpandIcon {
  margin: 7px 0px;
  float: left;
  width: 16px; height: 16px;
  cursor: pointer;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGrayMinus.gif') no-repeat ;
}

.UIJCRExplorerPortlet .UIVersionInfo .ColapseIcon {
  margin: 7px 5px 0px 5px;
  width: 16px; height: 16px;
  float: left;
  cursor: pointer;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGrayPlus.gif') no-repeat ;
}

.UIJCRExplorerPortlet .UIVersionInfo .NodeActionsContainer {
  float: right;
}

.UIJCRExplorerPortlet .UIVersionInfo .UIAction {
	width: 360px;
}

.UIJCRExplorerPortlet .UIVersionInfo .HorizontalLayout .FormContainer .UIAction {
	width: 160px;
}

.UIJCRExplorerPortlet .UIVersionInfo .UIFormWithTitle {
	border: none;
	padding: 10px 0px;
	margin: 0px auto;
}

/*############################## -- Begin UIDiff -- ##############################*/

.UIJCRExplorerPortlet .UIDiff .FileContent {  	  
  font-family: Verdana;
  color: #0e396c; font-size: 11px;
  text-align: left;
  padding: 10px;
}
	
.UIJCRExplorerPortlet .UIDiff .FileContent .NavigationContainer{  
  padding-bottom: 5px;
}
	
.UIJCRExplorerPortlet .UIDiff .FileContent .TopTitle{  
  padding-left: 10px;
  height: 21px; line-height: 21px;
  font-family: Verdana;
  color: #058ee6; font-weight: bold; 
  background: url('/ecm/skin/images/file/TitleBG1x21.gif') repeat-x;
  border: 1px solid #cbcbcb;
}
	
.UIJCRExplorerPortlet .UIDiff .FileContent .Content {  
  padding: 10px;
  border: 1px solid #cbcbcb; 
  border-top: none;
}

.UIJCRExplorerPortlet .UIDiff .FileContent .ContentDetail {
	text-align: center;
	border:none ;
}

.UIJCRExplorerPortlet .UIDiff .FileContent .ContentDetailLeft {  
  width: 45%;
  border: 1px solid #e1e1e1; 	  
 	float:left;
  margin:0px 10px;
}
	
.UIJCRExplorerPortlet .UIDiff .FileContent .ContentDetailLeft label{		
	font-family: Verdana;
  color: #058ee6; font-weight: bold; 
  font-size: 11px;	
} 

.UIJCRExplorerPortlet .UIDiff .FileContent .VersionInfo{
	border: 1px dotted #e1e1e1; 	  
  margin: 2px;
  padding: 3px 2px;
}	

.UIJCRExplorerPortlet .UIDiff .FileContent .ContentDetailRight label{		
	font-family: Verdana;
  color: #058ee6; font-weight: bold; 
  font-size: 11px;	
} 

.UIJCRExplorerPortlet .UIDiff .FileContent .ContentDetailRight {  
  width: 45%;
  border: 1px solid #e1e1e1; 	  
 	float: right;
  margin: 0px 10px;
}
	
.UIJCRExplorerPortlet .UIDiff .FileContent .UIAction {
	width: 300px;
	margin-top: 10px;
}
	
.UIJCRExplorerPortlet .UIDiff .FileContent .UIVoteForm {
		padding: 0px;
}
	
.UIJCRExplorerPortlet .UIDiff .FileContent .UIRatingInfoContainer {
		margin:0px 0px 0px auto;
}

/*############################## -- Begin UINodeTypeInfo -- ##############################*/
.UIJCRExplorerPortlet .UINodeTypeInfo {
  padding: 10px;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .Icon16x16 {
  width: 16px;
  height: 16px;
  float: left;
  margin: 0px 3px 0px 0px;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .HorizontalLayout {
  border: solid 1px #939393; border-top: none;
  padding: 10px 0px 10px 4px;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .HorizontalLayout .UITabContentContainer {
  width: 97%;
  margin: auto;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .UIAction {
  width: 105px;
}

.UIJCRExplorerPortlet .GridTitleBar {
  width: 220px;
  margin-top: 15px;
  font-size: 11px; font-weight: bold;
}

.UIJCRExplorerPortlet .GridTitleBar .GridTitleLeftBar  {
  padding-left: 5px;
  line-height: 21px;
  background: url('DefaultSkin/background/InfoBarLeftBg5x21.gif') no-repeat left;
}

.UIJCRExplorerPortlet .GridTitleBar .GridTitleRightBar {
  padding-right: 21px;
  line-height: 21px;
  background: url('DefaultSkin/background/InfoBarRightBg22x21.gif') no-repeat right;
}

.UIJCRExplorerPortlet .GridTitleBar .GridTitleMiddleBar {
  line-height: 21px;
  vertical-align: middle;
  background: url('DefaultSkin/background/InfoBarCenterBg1x21.gif') repeat-x;
  padding: 0px 10px;
}

/*############################## -- UITreeJCRExplorer   -- ##############################*/
.UIJCRExplorerPortlet .Explorer {
  float: left ;
  width: 230px ;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIJCRBrowser .UITreeList {
  margin-left: 240px;
}

.UIJCRExplorerPortlet .UIJCRExplorer .UIJCRBrowser .ExplorerTree .UITree {
  border: solid 1px #ABBCCA;
  overflow: auto;
  background: white;
  width: 100%;
}

.UIJCRExplorerPortlet .Explorer .ExplorerTree {
  margin-top: 1px;
  border: solid 1px #c6c6c9;
  background: #f3f3f3;
  padding: 1px;
}

.UIJCRExplorerPortlet .Explorer .InnerExplorerTree {
  border: solid 1px #b1b0b0;
  padding: 10px;
}

.UIJCRExplorerPortlet .UITree .TreeContainer .Node {
  white-space: nowrap;
}

.UIJCRExplorerPortlet .UITree .TreeContainer .NodeLabel a {
	float: none;
	line-height: 24px;
	height: 24px;
}

.UIJCRExplorerPortlet .UICategoriesAddedList .OverflowContainer {
  width: 30px;
}

.UIJCRExplorerPortlet .UIRelationsAddedList .OverflowContainer {
  width: 30px;
}

/*############################## -- UIActionManager   -- ##############################*/

.UIJCRExplorerPortlet .UIPopupWindow .UIWindowContent .Content .UITabPane {
  width: 95%;
  margin: auto;
  padding: 10px 0px;
}

.UIJCRExplorerPortlet .UIPopupWindow .UITabPane .UIFormWithTitle td.FieldLabel {
  width: 160px;
}

.UIJCRExplorerPortlet .UIPopupWindow .UITabPane .UIFormWithTitle .UIAction {
  width: 160px;
  padding-left: 30px;
}

/*############################## -- End UIActionManager   -- ##############################*/

/*############################## -- UIMultiLanguageForm   -- ##############################*/
.UIJCRExplorerPortlet .UILanguageTypeForm .UIBarStyle {
	height: 70px ;
}

/*############################## -- Begin UIVoteForm   -- ##############################*/
.UIJCRExplorerPortlet .UIVoteForm {
	padding: 10px;
}

.UIJCRExplorerPortlet .UIVoteForm .UIAction {
  width: 100px ;
}

.UIVoteForm .UIRatingInfoContainer {
	width: 150px; padding: 5px 12px;
	margin: auto;
	background: white;
	border: solid 1px #b7b7b7;
}

.UIVoteForm .OptionsContainer {
	margin: auto;
	width: 120px; height: 20px;
}

.UIVoteForm .OptionsContainer .NormalVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('/ecm/skin/images/vote/GrayStar.gif');
}

.UIVoteForm .OptionsContainer .RatedVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('/ecm/skin/images/vote/YellowStar.gif');
}

.UIVoteForm .OptionsContainer .OverVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('/ecm/skin/images/vote/OverStar.gif');
}
/*############################## -- End UIVoteForm   -- ##############################*/

.UIJCRExplorerPortlet .UIPopupAction .FieldContainer .MultiRadioInput{
	float: left;
}

/*############################## -- UISearch   -- ##############################*/

.UIJCRExplorerPortlet .UISearchContainer .UITabPane .WorkingAreaWithHelp {
	width: 99%;
	margin: auto;
}

.UIJCRExplorerPortlet .UISearchContainer .ConstraintOption {
  margin: 10px 0px 10px 5px;
}

.UIJCRExplorerPortlet .UISearchContainer .ConstraintOption .Label {
  line-height: 18px;
}

.UIJCRExplorerPortlet .UISearchContainer .ConstraintOption input.checkbox {
 	margin: 5px 3px 0px 0px;
}

.UIJCRExplorerPortlet .UISearchContainer .UICompareExactlyForm select {
  width: 500px;
  vertical-align: baseline;
}

.UIJCRExplorerPortlet .UISearchContainer .UIGrid .ActionContainer .OverflowContainer {
	width: 50px;
	margin: auto ;
}

.UIJCRExplorerPortlet .UISelectPropertyForm .UIFormWithTitle .HorizontalLayout {
  margin: auto;
}

.UIJCRExplorerPortlet .UISearchContainer .UINodeTypeSelectForm .UIFormWithTitle .HorizontalLayout {
  margin: auto;
  border: 1px solid #939393;
  width: 350px ;
}

.UIJCRExplorerPortlet .UISearchContainer .UIFormWithTitle .HorizontalLayout {
  width: 500px;
  border: none;
  margin: auto;
}

.UIJCRExplorerPortlet .UISimpleSearch .UIFormGrid .ActionField {
  float: left ;
}

.UIJCRExplorerPortlet .UISimpleSearch .UIFormWithTitle .DeleteIconInfo {
  padding-top: 5px;
}

.UIJCRExplorerPortlet .UISimpleSearch .UIFormWithTitle .InforArea {
  padding-left: 185px ;
}

.UIJCRExplorerPortlet .UIPopupWindow .UIWindowContent .UISearch {
  height: 350px ;
}

/*############################## -- End UISearch   -- ##############################*/

/*############################## -- Others   -- ##############################*/

.UIJCRExplorerPortlet .UIPopupAction .MultiRadioInput {
	float: left;
}

.UIJCRExplorerPortlet .UIPopupAction .MultiRadioInput input.radio {
	margin-left: 0px;
}

.UIJCRExplorerPortlet .UIUploadManager {
  padding: 10px;
}

.UIJCRExplorer .UIPopupWindow .Content .WorkWorkFlow .UIGrid {
	border-top: none;
}

.UIJCRExplorer .UIPopupWindow .Content .WorkWorkFlow .UIGrid td{
	border-top: solid 1px #cccccc;
	line-height: 26px;
}

.UIJCRExplorer .UISelectPropertyForm .UIAction {
  width: 140px;
}

.UIJCRExplorer .UISaveQueryForm .UIAction {
  width: 140px ;
}

.UIPopupWindow .UIWindowContent .UISaveQueryForm .UIFormGrid td.FieldLabel {
  width:68px;
}