/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

.UIJCRExplorerPortlet .UIPopupAction .ActionButton {
  width: 85px;
}

.UIJCRExplorerPortlet .UIPopupAction .MultiRadioInput {
	float: left;
}

/*############################## -- Begin UIVersionInfo -- ##############################*/
.UIJCRExplorerPortlet .UIVersionInfo {
  border: solid 1px #bdbdbd;
  padding: 7px;
  background-color: white;
}

.UIJCRExplorerPortlet .UIVersionInfo .Icon16x16 {
  margin: 7px 5px;
  float: left;
  width: 16px; height: 16px;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIVersionInfo .Icon24x24 {
  margin: 2px 3px;
  float: left;
  width: 24px; height: 24px;
}

.UIJCRExplorerPortlet .UIVersionInfo .HomeNode {
  padding: 0px 10px;
  line-height: 30px;
  background-color: #eaedf6;
  margin-bottom: 1px;
  font-weight: bold;
}

.UIJCRExplorerPortlet .UIVersionInfo .Node {
  line-height: 30px;
  background-color: #eaedf6;
  margin-bottom: 1px;
}

.UIJCRExplorerPortlet .UIVersionInfo .NodeEven {
  line-height: 30px;
  background-color: #e4e7f3;
  margin-bottom: 1px;
}
.UIJCRExplorerPortlet .UIVersionInfo .NoneIcon {
  margin: 7px 0px;
  float: left;
  width: 16px; height: 16px;  
}

.UIJCRExplorerPortlet .UIVersionInfo .ExpandIcon {
  margin: 7px 0px;
  float: left;
  width: 16px; height: 16px;
  cursor: pointer;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGrayMinus.gif') no-repeat ;
}

.UIJCRExplorerPortlet .UIVersionInfo .ColapseIcon {
  margin: 7px 0px;
  float: left;
  width: 16px; height: 16px;
  cursor: pointer;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGrayPlus.gif') no-repeat ;
}

.UIJCRExplorerPortlet .UIVersionInfo .NodeActionsContainer {
  float: right;
}

/*############################## -- Begin UINodeTypeInfo -- ##############################*/
.UIJCRExplorerPortlet .UINodeTypeInfo {
  padding: 5px 0px;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .Icon16x16 {
  width: 16px;
  height: 16px;
  float: left;
  margin: 0px 5px;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .HorizontalLayout {
  border: solid 1px #5f90ba;
  background-color: #dee7f5;
  padding: 10px;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .UITabContentContainer {
  border: solid 1px #b7b7b7;
  background-color: #ffffff;
  padding: 10px;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .UITabContentContainer .UITabContent {
}

.UIJCRExplorerPortlet .UIGrid td {
  border: solid 1px #acc6dc;
}

.UIJCRExplorerPortlet .GridTitleBar {
  width: 220px;
  margin-top: 15px;
}

.UIJCRExplorerPortlet .GridTitleBar .GridTitleLeftBar  {
  padding-left: 5px;
  line-height: 21px;
  background: url('DefaultSkin/background/InfoBarLeftBg5x21.gif') no-repeat left;
}

.UIJCRExplorerPortlet .GridTitleBar .GridTitleRightBar {
  padding-right: 21px;
  line-height: 21px;
  background: url('DefaultSkin/background/InfoBarRightBg22x21.gif') no-repeat right;
}

.UIJCRExplorerPortlet .GridTitleBar .GridTitleMiddleBar {
  line-height: 21px;
  vertical-align: middle;
  background: url('DefaultSkin/background/InfoBarCenterBg1x21.gif') repeat-x;
  padding: 0px 10px;
}

/*############################## -- UITreeJCRExplorer   -- ##############################*/
.Explorer {
  margin-bottom: 10px;
  float: left ;
  width: 230px ;
}

.Explorer .ExplorerTree {
  margin-top: 1px;
  border: solid 1px #c6c6c9;
  background: #f3f3f3;
  padding: 1px;
}

.Explorer .InnerExplorerTree {
  border: solid 1px #b1b0b0;
  padding: 10px;
}

.Explorer .ExplorerTree .Node {
  line-height: 30px;
}

.Explorer .ExplorerTree .NodeLevel1 {
  height: 30px;
  line-height: 30px;
  padding-left: 15px;

}

.Explorer .ExplorerTree .NodeLevel2 {
  height: 30px;
  line-height: 30px;
  padding-left: 30px;
}

.Explorer .ExplorerTree .ExpandIcon {
  margin: 3px 0px;
  float: left;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGrayMinus.gif') no-repeat ;
}

.Explorer .ExplorerTree .ColapseIcon {
  float: left;
  margin: 3px 0px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGrayPlus.gif') no-repeat ;
}

.Explorer .ExplorerTree .NodeIcon {
  float: left;
}

.Explorer .ExplorerTree .NodeLabel {
  float: left;
  color: #01060d;
  padding: 0px 10px;
}

.Explorer .ExplorerTree .NodeLabelSelected {
  float: left;
  color: #0848c1;
  padding: 0px 10px;
}

.UITreeList .UIGrid {
  width: 315px;
  margin-left: 10px ;
}

.UIJCRExplorerPortlet .UICategoriesAddedList .DeleteIcon {
  margin-left: 15px ;
}

.UIJCRExplorerPortlet .UIRelationsAddedList .DeleteIcon {
  margin-left: 15px ;
}

/*############################## -- UIActionManager   -- ##############################*/
.UIJCRExplorerPortlet .UIActionContainer .ActionContainer {
  width: 200px;
}

.UIJCRExplorerPortlet .UIPropertyTab .UIAction {
  width: 100px; 
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
}
.UIJCRExplorerPortlet .UIPropertyForm .ActionContainer{
  width: 200px; 
  margin:auto;
}

.UIJCRExplorerPortlet .UIMetadataTab .ActionContainer{
  width: 200px; 
  margin:auto;
}

.UIJCRExplorerPortlet .UIPopupWindow .UIWindowContent .Content .UITabPane {
  padding: 10px;
}

.UIJCRExplorerPortlet .UIPopupWindow .UIWindowContent .UISearch {
  height: 350px ;
}

/*############################## -- End UIActionManager   -- ##############################*/

.UIJCRExplorerPortlet .UIPopupWindow .UIWindowContent .UISearchContainer label {
	line-height: 16px ;
}

/*############################## -- UITaggingForm   -- ##############################*/
.UIJCRExplorerPortlet .UITaggingForm .ActionField {
	float: left ;
	padding-left: 5px ;
}

/*############################## -- UIMultiLanguageForm   -- ##############################*/

.UIJCRExplorerPortlet .UIMultiLanguageForm .ActionButton {
	width: 100px ;
}

.UIJCRExplorerPortlet .UIMultiLanguageForm .ActionContainer {
	width: 360px ;
}

.UIJCRExplorerPortlet .UILanguageTypeForm .UIBarStyle {
	height: 70px ;
}

/*############################## -- Begin UIViewMetadataForm   -- ##############################*/
.UIJCRExplorerPortlet .UIFormWithTitle .FieldContainer .MultiValueContainer {}
/*############################## -- End UIViewMetadataForm   -- ##############################*/
/*############################## -- Begin UIVoteForm   -- ##############################*/
.UIJCRExplorerPortlet .UIVoteForm {
	padding: 10px;
}

.UIJCRExplorerPortlet .UIVoteForm .UIRatingInfoContainer {
	width: 150px; padding: 5px 12px;
	margin: auto;
	background: white;
	border: solid 1px #b7b7b7;
}

.UIJCRExplorerPortlet .UIVoteForm .OptionsContainer {
	margin: auto;
	width: 120px; height: 20px;
}

.UIJCRExplorerPortlet .UIVoteForm .OptionsContainer .NormalVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('DefaultSkin/background/GrayStar.gif');
}

.UIJCRExplorerPortlet .UIVoteForm .OptionsContainer .RatedVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('DefaultSkin/background/YellowStar.gif');
}

.UIJCRExplorerPortlet .UIVoteForm .OptionsContainer .OverVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('DefaultSkin/background/OverStar.gif');
}

.UIJCRExplorerPortlet .UIVoteForm .UIAction {
	margin: 10px auto;
	width: 90px;
}

/*############################## -- End UIVoteForm   -- ##############################*/

.UIJCRExplorerPortlet .UIFolderForm .UIFormWithTitle .ActionContainer {
  margin: auto;    
  width: 300px ;
}

.UIJCRExplorerPortlet .UIDocumentFormController .UIFormWithTitle .ActionContainer {
	margin:auto;
	width:300px;
}
