/**
 * Created by The eXo Platform SARL
 * Author : Tran The Trong
 *          trongtt@gmail.com
 * August 01, 2006
 * version: $Id$
 */

/*############################## -- Begin UIFormWithTitle -- ##############################*/
.UIJCRExplorerPortlet .UIFormWithTitle .FieldContainer .UIFormInputSet {
  background: none ;
  border: none ;
}
/*############################## -- End UIFormWithTitle -- ##############################*/

/*############################## -- Begin UIVersionInfo -- ##############################*/
.UIJCRExplorerPortlet .UIVersionInfo {
  border: solid 1px #bdbdbd;
  padding: 7px;
  background-color: white;
}

.UIJCRExplorerPortlet .UIVersionInfo .UILabelForm {  
  padding-top: 10px;
}

.UIJCRExplorerPortlet .UIVersionInfo .UILabelForm .FieldContainer{  
  width: 500px;
  margin: 0px auto;
}

.UIJCRExplorerPortlet .UIVersionInfo .UILabelForm .FieldLabel{  
  float: left;
  width: 120px;
  text-align: right;
  margin-right: 5px;
}

.UIJCRExplorerPortlet .UIVersionInfo .Icon16x16 {
  margin: 7px 5px;
  float: left;
  width: 16px; height: 16px;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIVersionInfo .Icon24x24 {
  margin: 2px 3px;
  float: left;
  width: 24px; height: 24px;
}

.UIJCRExplorerPortlet .UIVersionInfo .HomeNode {
  padding: 0px 10px;
  line-height: 30px;
  background-color: #eaedf6;
  margin-bottom: 1px;
  font-weight: bold;
}

.UIJCRExplorerPortlet .UIVersionInfo .Node {
  line-height: 30px;
  background-color: #eaedf6;
  margin-bottom: 1px;
}

.UIJCRExplorerPortlet .UIVersionInfo .NodeEven {
  line-height: 30px;
  background-color: #e4e7f3;
  margin-bottom: 1px;
}
.UIJCRExplorerPortlet .UIVersionInfo .NoneIcon {
  margin: 7px 0px;
  float: left;
  width: 16px; height: 16px;  
}

.UIJCRExplorerPortlet .UIVersionInfo .ExpandIcon {
  margin: 7px 0px;
  float: left;
  width: 16px; height: 16px;
  cursor: pointer;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGrayMinus.gif') no-repeat ;
}

.UIJCRExplorerPortlet .UIVersionInfo .ColapseIcon {
  margin: 7px 0px;
  float: left;
  width: 16px; height: 16px;
  cursor: pointer;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGrayPlus.gif') no-repeat ;
}

.UIJCRExplorerPortlet .UIVersionInfo .NodeActionsContainer {
  float: right;
}

/*############################## -- Begin UINodeTypeInfo -- ##############################*/
.UIJCRExplorerPortlet .UINodeTypeInfo {
  padding: 8px;
  width: 96%;
  margin: auto;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .Icon16x16 {
  width: 16px;
  height: 16px;
  float: left;
  margin: 0px 5px;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .HorizontalLayout {
  border: solid 1px #b7b7b7;
  padding: 10px;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .UIAction{
  width: 70px;
}

.UIJCRExplorerPortlet .GridTitleBar {
  width: 220px;
  margin-top: 15px;
}

.UIJCRExplorerPortlet .GridTitleBar .GridTitleLeftBar  {
  padding-left: 5px;
  line-height: 21px;
  background: url('DefaultSkin/background/InfoBarLeftBg5x21.gif') no-repeat left;
}

.UIJCRExplorerPortlet .GridTitleBar .GridTitleRightBar {
  padding-right: 21px;
  line-height: 21px;
  background: url('DefaultSkin/background/InfoBarRightBg22x21.gif') no-repeat right;
}

.UIJCRExplorerPortlet .GridTitleBar .GridTitleMiddleBar {
  line-height: 21px;
  vertical-align: middle;
  background: url('DefaultSkin/background/InfoBarCenterBg1x21.gif') repeat-x;
  padding: 0px 10px;
}

/*############################## -- UITreeJCRExplorer   -- ##############################*/
.Explorer {
  margin-bottom: 10px;
  float: left ;
  width: 230px ;
}

.Explorer .ExplorerTree {
  margin-top: 1px;
  border: solid 1px #c6c6c9;
  background: #f3f3f3;
  padding: 1px;
}

.Explorer .InnerExplorerTree {
  border: solid 1px #b1b0b0;
  padding: 10px;
}

.Explorer .ExplorerTree .Node {
  line-height: 30px;
}

.UITreeList .UIGrid {
  width: 315px;
  margin-left: 10px ;
}

.UIJCRExplorerPortlet .UICategoriesAddedList .DeleteIcon {
  margin-left: 15px ;
}

.UIJCRExplorerPortlet .UIRelationsAddedList .DeleteIcon {
  margin-left: 15px ;
}

/*############################## -- UIActionManager   -- ##############################*/

.UIJCRExplorerPortlet .UIPopupWindow .UIWindowContent .Content .UITabPane {
  width: 95%;
  margin: auto;
  padding: 10px 0px;
}

.UIJCRExplorerPortlet .UIPopupWindow .HorizontalLayout .UploadIframe {
  margin-left: 5px;
}

.UIJCRExplorerPortlet .UIPopupWindow .FieldContainer .SelectFileFrame {
  width: 100%;
}

.UIJCRExplorerPortlet .UIPopupWindow .FieldContainer .SelectFileFrame .SelectFileLabel {
  width: 155px;
}

.UIJCRExplorerPortlet .UIPopupWindow .FieldContainer .SelectFileFrame .FileNameLabel{
  width: 180px;
  padding: 0px;
}

.UIJCRExplorerPortlet .UIPopupWindow .FieldContainer .ProgressBarFrame {
  width: 100%;
}

.UIJCRExplorerPortlet .UIPopupWindow .FieldContainer .ProgressBarFrame .SelectFileLabel {
  width: 155px;
}
/*############################## -- End UIActionManager   -- ##############################*/

.UIJCRExplorerPortlet .UIPopupWindow .UIWindowContent .UISearchContainer label {
	line-height: 16px ;
}

/*############################## -- UITaggingForm   -- ##############################*/
.UIJCRExplorerPortlet .UITaggingForm .ActionField {
	float: left ;
	padding-left: 5px ;
}

.UIJCRExplorerPortlet .UITaggingForm .UIFormWithTitle .UIAction {
  width: 220px ;
}

/*############################## -- UIMultiLanguageForm   -- ##############################*/
.UIJCRExplorerPortlet .UILanguageTypeForm .UIBarStyle {
	height: 70px ;
}

.UIJCRExplorerPortlet .UIMultiLanguageForm .UIAction {
  width: 300px ;
}

/*############################## -- Begin UIViewMetadataForm   -- ##############################*/
.UIJCRExplorerPortlet .UIFormWithTitle .FieldContainer .MultiValueContainer {}
/*############################## -- End UIViewMetadataForm   -- ##############################*/
/*############################## -- Begin UIVoteForm   -- ##############################*/
.UIJCRExplorerPortlet .UIVoteForm {
	padding: 10px;
}

.UIJCRExplorerPortlet .UIVoteForm .UIAction {
  width: 100px ;
}

.UIVoteForm .UIRatingInfoContainer {
	width: 150px; padding: 5px 12px;
	margin: auto;
	background: white;
	border: solid 1px #b7b7b7;
}

.UIVoteForm .OptionsContainer {
	margin: auto;
	width: 120px; height: 20px;
}

.UIVoteForm .OptionsContainer .NormalVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('/ecm/skin/images/vote/GrayStar.gif');
}

.UIVoteForm .OptionsContainer .RatedVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('/ecm/skin/images/vote/YellowStar.gif');
}

.UIVoteForm .OptionsContainer .OverVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('/ecm/skin/images/vote/OverStar.gif');
}

/*############################## -- End UIVoteForm   -- ##############################*/

/*############################## -- UISearch   -- ##############################*/
.UIJCRExplorerPortlet .UISearchContainer .UIFormWithTitle {
	width: 700px;
	margin: auto ;
}

.UIJCRExplorerPortlet .UISearchContainer .UIFormWithTitle .UIAction {
	width: 280px ;
}

.UIJCRExplorerPortlet .UIJCRAdvancedSearch .UIFormWithTitle .UIAction {
	width: 250px ;
}

.UIJCRExplorerPortlet .UISearchContainer .UIGrid .ActionContainer .OverflowContainer {
	width:50px;
	margin: auto ;
}

.UIJCRExplorerPortlet .UISearchContainer .UIFormWithTitle .HorizontalLayout {
  border: none ;
}

.UIJCRExplorerPortlet .UISimpleSearch .UIFormWithTitle .ActionField {
  float: left ;
  width: 300px ;
  padding-top: 5px;
}

.UIJCRExplorerPortlet .UISimpleSearch .UIFormWithTitle .DeleteIconInfo {
  padding-top: 5px;
}

.UIJCRExplorerPortlet .UISimpleSearch .UIFormWithTitle .InforArea {
  padding-left: 135px ;
}

.UIJCRExplorerPortlet .UIPopupWindow .UIWindowContent .UISearch {
  height: 350px ;
}

/*############################## -- End UISearch   -- ##############################*/

/*############################## -- Others   -- ##############################*/

.UIJCRExplorerPortlet .UIPopupAction .MultiRadioInput {
	float: left;
}

.UIJCRExplorerPortlet .UIViewMetadataManager .UIAction {
  width: 150px ;
}

.UIJCRExplorerPortlet .UIPropertyTab .UIAction {
  width: 100px ;
}

.UIJCRExplorerPortlet .UISearchContainer .ConstraintOption {
  margin: 10px 0px;
  padding: 0px 5px;
}

.UIJCRExplorerPortlet .UISearchContainer .ConstraintOption select.selectbox {
  width: 90px;
  margin-left: 0px;
}


.UIJCRExplorerPortlet .UISearchContainer .ConstraintOption input {
  width: 110px;
}

.UIJCRExplorerPortlet .UISearchContainer .ConstraintOption img {
  vertical-align: bottom;
}

.UIJCRExplorerPortlet .UISearchContainer .ConstraintOption input.radio {
  width: 15px;
}
/*############################## -- End Others   -- ##############################*/