/**
 * Created by The eXo Platform SARL
 * Modifile : Vu Duy Tu
 *           duytucntt@gmail.com
 * December 08, 2006
 * version: $Id$
 */


.UIJCRExplorerPortlet .UIVersionInfo {
  background-color: white;
  padding: 7px;
}

.UIJCRExplorerPortlet .UIVersionInfo .Icon16x16 {
  float: left;
  width: 20px; height: 20px;
  margin: 7px 5px;
  cursor: pointer;
}

.UIJCRExplorerPortlet .UIVersionInfo .View16x16Icon {
  background:transparent url('/eXoResources/icons/16x16/VistaSkin/View16x16Icon.png') no-repeat;
  width:17px; height:18px;
}

.UIJCRExplorerPortlet .UIVersionInfo .Icon24x24 {
  float: left;
  width: 24px; height: 24px;
  margin: 2px 3px;
}

.UIJCRExplorerPortlet .UIVersionInfo .HomeNode {
  background-color: #eaedf6;
  line-height: 30px; font-weight: bold;
  padding: 0px 10px;
  margin-bottom: 1px;
}

.UIJCRExplorerPortlet .UIVersionInfo .Node {
  line-height: 30px;
  background-color: #eaedf6;
  margin-bottom: 1px;
}

.UIJCRExplorerPortlet .UIVersionInfo .NodeEven {
  line-height: 30px;
  background-color: #f1f1f1;
  margin-bottom: 1px;
}
.UIJCRExplorerPortlet .UIVersionInfo .NoneIcon {
  float: left;
  width: 16px; height: 16px;  
  margin: 7px 0px;
}

.UIJCRExplorerPortlet .UIVersionInfo .ExpandIcon {
  float: left;
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGrayMinus.gif') no-repeat ;
  cursor: pointer;
  margin: 7px 0px;
}

.UIJCRExplorerPortlet .UIVersionInfo .ColapseIcon {
  float: left;
  width: 16px; height: 16px;
  cursor: pointer;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGrayPlus.gif') no-repeat ;
  margin: 7px 0px;
}

.UIJCRExplorerPortlet .UIVersionInfo .NodeActionsContainer {
  float: right;
}
/*############################## -- Begin UINodeTypeInfo -- ##############################*/
.UIJCRExplorerPortlet .UINodeTypeInfo {
  padding: 5px 0px;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .Icon16x16 {
  float: left;
  width: 16px; height:16px;
  margin: 0px 5px;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .default16x16Icon {
  float: left;
  background: url('VistaSkin/background/default.gif') no-repeat;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .HorizontalLayout {
  border: solid 1px #bbbbbb;
  background-color: #f2f2f2;
  padding: 10px;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .UITabContentContainer {
}

.UIJCRExplorerPortlet .UINodeTypeInfo .UIAction {
  width: 105px;
}

.UIJCRExplorerPortlet .UINodeTypeInfo .UITabContentContainer .UITabContent {
}

.UIJCRExplorerPortlet .UINodeTypeInfo .UIGrid td {
	padding-left: 2px;
}

.UIJCRExplorerPortlet .UIGrid td {
  border: solid 1px #a4a4a4;
}

.UIJCRExplorerPortlet .GridTitleBar {
  width: 240px;
  margin-top: 15px;font-size:11px;
}

.UIJCRExplorerPortlet .GridTitleBar .GridTitleLeftBar  {
  line-height: 24px;
  background: url('VistaSkin/background/InfoBarLeftBg30x24.png') no-repeat left;
  padding-left:30px;
}

.UIJCRExplorerPortlet .GridTitleBar .GridTitleRightBar {
  line-height: 24px;
  background: url('VistaSkin/background/InfoBarRightBg35x24.png') no-repeat right;
  padding-right: 35px;
}

.UIJCRExplorerPortlet .GridTitleBar .GridTitleMiddleBar {
  line-height: 24px; vertical-align: middle;
  background: url('VistaSkin/background/InfoBarCenterBg1x24.png') repeat-x;
  padding: 0px 10px;
}
/*############################## -- End UINodeTypeInfo -- ##############################*/

/*############################## -- Begin UIVoteForm   -- ##############################*/
.UIJCRExplorerPortlet .UIVoteForm {
	padding: 10px;
}

.UIJCRExplorerPortlet .UIVoteForm .UIAction {
  width: 100px ;
}

.UIVoteForm .UIRatingInfoContainer {
	width: 150px; padding: 5px 12px;
	margin: auto;
	background: white;
	border: solid 1px #b7b7b7;
}

.UIVoteForm .OptionsContainer {
	margin: auto;
	width: 120px; height: 20px;
}

.UIVoteForm .OptionsContainer .NormalVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('/ecm/skin/images/vote/GrayStar.gif');
}

.UIVoteForm .OptionsContainer .RatedVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('/ecm/skin/images/vote/YellowStar.gif');
}

.UIVoteForm .OptionsContainer .OverVote {
	float: left;
	margin: 0px 2px;
	width: 19px; height: 18px;
  background: url('/ecm/skin/images/vote/OverStar.gif');
}
/*############################## -- End UIVoteForm   -- ##############################*/

/*############################## -- UIExport    -- ##############################*/
.UIJCRExplorerPortlet .UIFormWithTitle .ExportImportNode {
	margin-left: 160px;
}

.UIJCRExplorerPortlet .UIFormWithTitle .ExportImportNode input {
	float:left;
  width: 20px ;
}

/*############################## -- End UIExport   -- ##############################*/
/*############################## -- UITreeJCRExplorer   -- ##############################*/
.Explorer {
  margin-bottom: 10px;
  float: left ;
  width: 230px ;
}


.Explorer .ExplorerTree {
  background: #f3f3f3;
  border: solid 1px #c6c6c9;
  padding: 1px;
  margin-top: 1px;
}

.Explorer .InnerExplorerTree {
  padding: 10px;
}

.Explorer .ExplorerTree .Node {
  line-height: 32px;
}

.Explorer .ExplorerTree .NodeLevel1 {
  height: 30px; line-height: 30px;
  padding-left: 15px;
}

.Explorer .ExplorerTree .NodeLevel2 {
  height: 30px; line-height: 30px;
  padding-left: 30px;
}

.Explorer .ExplorerTree .ExpandIcon {
  float: left;
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGrayMinus.gif') no-repeat ;
  cursor: pointer;
  margin: 1px 0px;
}

.Explorer .ExplorerTree .ColapseIcon {
  float: left;
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGrayPlus.gif') no-repeat ;
  cursor: pointer;
  margin: 3px 0px;
}

.Explorer .ExplorerTree .NodeIcon {
  float: left;
}

.Explorer .ExplorerTree .NodeLabel {
  float: left;
  color: #01060d;
  padding: 0px 10px;
}

.Explorer .ExplorerTree .NodeLabelSelected {
  float: left;
  color: #0848c1;
  padding: 0px 10px;
}

.UITreeList .UIGrid {
  width: 310px;
  margin-left: 5px ;
}

.UIJCRExplorerPortlet .UICategoriesAddedList .DeleteIcon {
  margin-left: 15px ;
}

.UIJCRExplorerPortlet .UIRelationsAddedList .DeleteIcon {
  margin-left: 15px ;
}

/*############################## --End UITreeJCRExplorer   -- ##############################*/

/*############################## -- UISearch   -- ##############################*/

.UIJCRExplorerPortlet .UISearchContainer .UITabPane .WorkingAreaWithHelp {
	width: 99%;
	margin: auto;
}

.UIJCRExplorerPortlet .UISearchContainer .ConstraintOption {
  margin: 10px 0px;
}

.UIJCRExplorerPortlet .UISearchContainer .UICompareExactlyForm select {
  width: 500px;
  vertical-align: baseline;
}

.UIJCRExplorerPortlet .UISearchContainer .UIGrid .ActionContainer .OverflowContainer {
	width: 50px;
	margin: auto ;
}

.UIJCRExplorerPortlet .UISelectPropertyForm .UIFormWithTitle .HorizontalLayout {
  margin: auto;
}

.UIJCRExplorerPortlet .UISearchContainer .UINodeTypeSelectForm .UIFormWithTitle .HorizontalLayout {
  margin: auto;
  border: 1px solid #939393;
  width: 350px ;
}

.UIJCRExplorerPortlet .UISearchContainer .UIFormWithTitle .HorizontalLayout {
  width: 500px;
  border: none;
  margin: auto;
}

.UIJCRExplorerPortlet .UISimpleSearch .UIFormWithTitle .ActionField {
  float: left ;
}

.UIJCRExplorerPortlet .UISimpleSearch .UIFormWithTitle .DeleteIconInfo {
  padding-top: 5px;
}

.UIJCRExplorerPortlet .UISimpleSearch .UIFormWithTitle .InforArea {
  padding-left: 185px ;
}

.UIJCRExplorerPortlet .UIPopupWindow .UIWindowContent .UISearch {
  height: 350px ;
}

/*############################## -- End UISearch   -- ##############################*/

/*############################## -- Others   -- ##############################*/

.UIJCRExplorerPortlet .UIPopupAction .MultiRadioInput {
	float: left;
}

.UIJCRExplorerPortlet .UIViewMetadataManager .UIAction {
  width: 170px ;
}

/*############################## -- End Others   -- ##############################*/
.UIJCRExplorerPortlet .UIUploadManager .UIAction {
  width: 200px;
}
/*############################## -- End UISearch   -- ##############################*/

/*############################## -- UIActionManager   -- ##############################*/

.UIJCRExplorerPortlet .ActionContainer {
  width: auto;
  margin: auto;
}

.UIJCRExplorerPortlet .UIPopupWindow .UIWindowContent .Content .UITabPane {
  margin: auto;
  padding: 15px;
}

.UIJCRExplorerPortlet .UIDocumentFormController .FieldContainer .SelectFileFrame .SelectFileLabel {
  width: 160px;
  margin: 0px 5px 0px 25px;
}

.UIJCRExplorerPortlet .UIPopupAction .MultiRadioInput {
	float: left;
}

.UIJCRExplorerPortlet .UIPropertyTab .UIAction {
  width: 100px; 
  margin: 20px auto 0px auto;
}

.UIJCRExplorerPortlet .UIPopupWindow .UIWindowContent .Content{
  background: #ffffff;
}

/*############################## -- End UIActionManager   -- ##############################*/
